@charset "utf-8";
/* CSS Document */

*{ margin:0px; padding:0px;}
li{ list-style-type:none;}
img,input{ border:0px;}
a{ text-decoration:none;}
a:hover{ text-decoration:none;}
body{ background:#e6e6e6;}

#top{margin: 0px auto; max-width:1020px;height:25px; background:#a3a4a5;background-image: none;color: white;}
ul.middle  li.text{height:23px;line-height:23px;}

.kfbz{ width:379px; height:148px; background:url(../img/att543_03.png) no-repeat; position:absolute; right:-20px; top:22px; display:none;z-index:999;padding-top: 10px;}
.kfbb:hover .kfbz{ display:block;}
.kfbb{ position:relative;}
.kftu{ width:379px; height:148px; position:relative;}
.kf-1{ position:absolute; left:77px; top:38px;}
.kf-2{ position:absolute; left:193px; top:38px;}
.kf-3{ position:absolute; left:77px; top:75px;}
.kf-4{ position:absolute; left:128px; bottom:44px;}
.kf-5{ position:absolute; left:70px; bottom:20px;}

.kfbz h2{font:100 11px/18px "微软雅黑"; color:#00509f;}
.kfbz span{font:100 11px/16px "微软雅黑"; color:#fff;}
.xsbz{font:100 11px/16px "微软雅黑"; color:#00509f;}
hr{ border-bottom:1px solid #b8b9b9; margin-bottom:5px;}
.xsbz span{font:100 11px/16px "微软雅黑"; color:#fff;}
.xsbz a{ color:#00509f;}
.xsbz a:hover{ color:#fff;}

.kfbz h3{font:100 11px/16px "微软雅黑"; color:#00509f;}
.kfbz span{font:100 11px/16px "微软雅黑"; color:#fff;}
.kfbz h3 a{font:"微软雅黑"; color:#00509f;}
.kfbz h3 a:hover{ color:#FFF;}
hr{ border-bottom:1px solid #b8b9b9;}
.kfbz h4{font:100 11px/16px "微软雅黑"; color:#00509f;}
.kfbz span{font:100 11px/16px "微软雅黑"; color:#fff;}
.kfbz h4 a{font:"微软雅黑"; color:#00509f;}
.kfbz h4 a:hover{ color:#FFF;}
.kfbz h5{font:100 11px/16px "微软雅黑"; color:#fff; float:left;　margin-top:20px;}
.kfbz span{font:100 11px/16px "微软雅黑"; color:#fff;}
.kfbz h5 a{font:"微软雅黑"; color:#fff;}
.kfbz h5 a:hover{ color:#FFF;}
.kfbz em{font:100 11px/25px "微软雅黑"; color:#fff; padding-left:10px; }


#head{ width:100%; height:104px; background:url(../img/att_03.jpg) repeat-x; margin-bottom:6px;}
.head-mid{ width:1024px; min-height:100px; margin:auto;}
.logo{ margin-left:17px; float:left; margin-top:30px;}
.dh{ margin-right:17px; float:right; margin-top:30px;}

#nav{ width:100%; height:39px; background:url(../img/att_15.jpg) repeat-x; margin-bottom:12px;}
.nav-mid{ width:1024px; height:39px; margin:auto;}
.nav-mid ul{ width:988px; height:39px; margin-left:17px;}
.nav-mid li{ width:86px; height:39px; float:left; font:900 14px/39px "微软雅黑"; margin:0px 11px;}
.nav-mid a{font:900 14px/39px "微软雅黑"; color:#545454; display:block; text-align:center; width:86px; height:39px;}
.nav-mid a.active{color:#FFF; background:#3eafd7}
.nav-mid a:hover{ color:#FFF; background:#3eafd7}
.nav-mid .sy{ margin:0px 5px 0px 5px;}
.nav-mid .yy{ margin:0px 30px 0px 10px;}
.nav-mid .yy em{ font-style:normal; color:#fdaf3b;}
#nav .sy a{ background:url(../img/att_17.png) no-repeat;}
#nav .sy a:hover{ background:url(../img/att_17.png) no-repeat;}
#nav .yy a{ width:120px;}

#banner{ width:100%; height:351px; background:#75abb3; margin-bottom:16px; }
.banner-mid{ width:1024px; height:351px;background:url(../img/att_22.jpg) no-repeat; margin:auto; position:relative;}
.sht{ width:1024px; height:30px; background:url(../img/att_10.png) no-repeat; position:absolute; bottom:0px; left:0px;}
.fg{ width:50px; float:right; margin-top:5px;}
.sht-1:hover{ background:url(../img/att_12.png) no-repeat;}
.sht-2:hover{ background:url(../img/att_12.png) no-repeat;}
.sht-3:hover{ background:url(../img/att_12.png) no-repeat;}
.zck{ width:292px; min-height:200px; background:url(../img/att_25.png) repeat; position:absolute; bottom:9px; left:102px;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;/* filter:alpha(opacity=20);opacity: 0.9;
-moz-opacity: 0.5;*/
filter:alpha(opacity=80);}
.zck h2{font:100 16px/40px "微软雅黑"; color:#fff; width:274px; height:40px; background:#349dc2; text-align:center; margin:10px auto; }
.form1{ width:274px; height:38px; /*background:url(../img/att_02.jpg) no-repeat;*/ margin:auto;}
.form1 .yhm{ width:201px; height:28px; background:#eae9e9; float:right;font:100 14px/38px "微软雅黑"; color:#545454; text-indent:10px;}
.zck i{font-size: 30px;padding-left: 15px;}
.zck .form2{ width:274px; min-height:38px; /*background:url(../img/att_04.jpg) no-repeat; */margin:10px auto;}
.form2 .mm{ width:201px; height:28px; background:#eae9e9; float:right;font:100 14px/38px "微软雅黑"; color:#545454; text-indent:10px;}
.form2 select.select{ width:215px; height:35px; background:#eae9e9; float:right;font:100 14px/38px "微软雅黑"; color:#545454; text-indent:10px;}
.form3{ width:205px; height:33px; float:left;margin:5px 10px;}
.form3 .dlx{ width:205px; height:30px; background:#349dc2;font:100 14px/33px "微软雅黑"; color:#fff; text-align:center;}
.dlx:hover{ background:#297c99;}
.zck p{font:100 12px/33px "微软雅黑"; color:#fff;}
.zck a{font-family: "微软雅黑"，sans-serif; color:#fff;font-size: 12px;}
.zck a:hover{ color:#ff5a00;}

#main-top{ width:1024px; overflow:hidden; background:#f4f5f5; margin:auto;}
.rwdt{ width:320px; overflow:hidden; background:url(../img/att_11.png) no-repeat right top; margin:12px 12px 14px 17px; float:left;}
.rwdttu{ float:left;}
.rwdt h2{ font:100 26px/43px "微软雅黑"; color:#3eafd7;width:210px; height:43px;background:#e1f5f9; margin-left:96px; text-align:center}
.wrhd{ width:210px; overflow:hidden; background:#c5ecf4;}
.wrhd:hover{ background:#dddddd;}
.wrhd p{font:100 14px/20px "微软雅黑"; color:#b5490d; text-align:center; margin-top:16px;}
.wrhd p a{color:#b5490d;}
.wrhd h3{ color:#3eafd7;font:100 16px/20px "微软雅黑"; text-align:center; margin:14px 0px;}
.wrhd h3 a{color:#3eafd7; padding:3px 20px; background:#d6f2f8;}
.wrhd h3 a:hover{ background:#b5effb;}
.yyzd{ width:342px; height:148px;; background:url(../img/att_11.png) no-repeat right top; margin:12px 12px 14px 0px; float:left;}
.yyzd h2{ background:#e1f5f9 url(../img/att_13.png) no-repeat 30px 0px;font:100 26px/43px "微软雅黑"; color:#3eafd7; width:328px; height:43px; text-align:center;}
.yyzd-l{ width:191px; height:104px; background:#3eafd7; float:left;}
.yyzd-l:hover{ background:#b0aeae;}
.yyzd-l p{font:100 12px/18px "微软雅黑"; color:#fff; text-align:center; padding-top:8px;}
.yyzd-l p a{color:#fff;font:100 12px/18px "微软雅黑";}
.yyzd-l span{font:100 18px/18px "微软雅黑"; color:#545454;}
.yyzd-l em{ font-style:normal;font:100 14px/18px "微软雅黑"; color:#545454;}
.yyzd-l h3{font:100 14px/18px "微软雅黑"; color:#fff; text-align:center; margin:5px 0px;}
.yyzd-l h3 a{font:100 14px/18px "微软雅黑"; color:#fff;}
.yyzd-l h3 a:hover{color:#C30;}
.zxjd{ display:block; margin:auto;}
.yyzd-y{ width:137px; height:104px; background:#d1d0d0; float:left;}
.spjx{ display:block; margin:40px auto ;}

.wdtg{ width:298px; overflow:hidden; background:url(../img/att_11.png) no-repeat right top; margin:12px 17px 14px 0px; float:right;}
.wdtu{ float:left;}
.wdtg h2{ font:100 26px/43px "微软雅黑"; color:#fff;width:188px; height:43px;background:#75abb3; margin-left:96px; text-align:center}
.bhg{ width:188px; overflow:hidden; background:#e2e1e1;}
.bhg:hover{ background:#3eafd7;}
.hg{ margin:8px 0px 0px 60px;}
.bhg p{font:100 14px/20px "微软雅黑"; color:#545454; text-align:center;}
.bhg p a{color:#545454;}
.bhg span{font:100 18px/20px "微软雅黑"; color:#b5490d;}
.bhg h3{ color:#3eafd7;font:100 14px/20px "微软雅黑"; text-align:center; margin:17px 0px;}
.bhg h3 a{color:#3eafd7; padding:3px 6px; background:#ebeaea;}
.bhg h3 a:hover{ background:#b5effb;}

.gaod{ width:990px; height:202px; background:url(../img/att_39.png) no-repeat; margin:auto; clear:both; margin-bottom:12px; position:relative;}
.xxjt{ position:absolute; right:193px; bottom:73px;}
.jjfa{  position:absolute; right:170px; bottom:30px;}

#main-m{ width:1024px; height:296px;background:url(../img/att_46.png) no-repeat;;margin:auto; margin-top:12px; margin-bottom:3 px;}
.fb{ width:379px; overflow:hidden; margin:17px 0px 0px 57px; float:left;}
.fb h2{ width:379px; height:57px;font:100 16px/57px "微软雅黑"; color:#fff; background:url(../img/att_49.png) no-repeat; text-align:center; }
.fbnr{ background:#FFF; width:379px; margin:auto; padding:25px 0px 9px 0px; margin-bottom:25px;}
.ltu-1{ margin-left:8px;}
.j1,.j2{ vertical-align:top; margin-top:20px;}
.shang{ display:block;margin:auto; padding-top:30px;}
.js{ width:379px; overflow:hidden; margin:17px 57px 0px 0px; float:right;}
.js h2{ width:379px; height:57px;font:100 16px/57px "微软雅黑"; color:#fff; background:url(../img/att_49.png) no-repeat; text-align:center; }
.jsnr{ background:#FFF; width:379px; margin:auto; padding:25px 0px 9px 0px; margin-bottom:25px;}
.rtu-1{ margin-left:8px;}
.j1,.j2{ vertical-align:top; margin-top:20px;}
.zuo{ display:block;margin:auto; padding-top:30px;}
#ty{ width:1024px; height:285px;margin:auto; margin-bottom:15px;}
.zqtg{ background:url(../img/att_96.jpg) no-repeat; width:352px; height:285px; position:relative; float:left;}
.wytg{ width:216px; height:110px;}
.zqtg h2{ width:216; height:110px; font:100 30px/110px "微软雅黑"; color:#ffa200; position:absolute; left:85px; bottom:10px; text-align:center;}
.zqtg a{color:#ffa200; display:block; width:216px; height:110px;}
.zqtg a:hover{color:#545454;}

.ys{ width:672px; height:285px; float:left; background:#C8C8C8; position:relative;}
.ys-z{ position:absolute; left:208px; bottom:15px;}
.ys-1{ position:absolute; left:36px; bottom:67px;}
.ys-2{ position:absolute; left:117px; bottom:75px;}
.ys-3{ position:absolute; right:217px; top:20px;}
.ys-4{ position:absolute; right:119px; top:96px;}
.ys-5{ position:absolute; right:48px; bottom:45px;}



#main-f{ width:1024px; overflow:hidden; margin:auto; margin-bottom:12px;}
.shipin{ width:306px; float:left;text-align:center;}
.sp{  margin-bottom:8px;}
.shipin a{font:100 14px/20px "微软雅黑"; color:#545454;}
.shipin a:hover{ color:#848484;}
.bugao{ width:698px; height:266px;background:#E1DFE0; margin-left:20px; float:left;}
.bugaox{ width:650px; height:245px; background:url(../img/att_103_103.png) no-repeat center center; margin:auto; margin-top:10px; position:relative;}
.bg{ width:278px; height:165px; position:absolute; left:43px; bottom:35px;}
.bg li{font:100 14px/27px "微软雅黑"; color:#545454; }
.bg li a{font:100 14px/27px "微软雅黑"; color:#545454;}
.bg li a:hover{ color:#848484;}

.fs{ width:280px; height:165px; position:absolute; right:29px; bottom:26px;}
.fs li{font:100 14px/27px "微软雅黑"; color:#545454; }
.fs li a{font:100 14px/27px "微软雅黑"; color:#545454;margin: 0px 5px;}
.fs li span{margin: 0px 5px;}
.fs li a:hover{ color:#848484;}


#footer{ width:100%; height:110px; background:#C8C8C8; }
.footer-mid{ width:1024px; height:80px; margin:auto; padding-top:30px;text-align: left;}
.logo2{ margin:0px 20px 0px 46px; display:block; float:left;}
.gy{font:100 14px/22px "微软雅黑"; color:#545454;}
.gy a{color:#545454;}
.gy a:hover{ color:#848484;}
.footer-mid p{font:100 14px/22px "微软雅黑"; color:#545454;}

/*
更改bootstrap导航栏颜色
*/

.navbar-inverse .navbar-inner{background-color: #a3a4a5;background-image: none;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#a3a4a5',endColorstr='#a3a4a5',GradientType=0);min-height:23px;border: 1px solid #000;font-size:12px;
}
.navbar .nav>li>a{padding:1px 5px;color: white; font-weight: normal;}
ul.dropdown-menu{min-width:80px;}
.nav-collapse ul li.img{padding: 0px 0px;}
.navbar-inverse .nav li.dropdown>.dropdown-toggle .caret{border-top-color: #000;}
.navbar .nav > li .dropdown-menu {
	margin: 0;
}
.navbar .nav > li:hover .dropdown-menu {
	display: block;
}
.navbar .nav>li{font-size: 12px;}

/*验证安全码页面样式纠正*/
.aqm_bk table td .aqm_szcg2{float: left;width:100px;}
.aqm_bk table td a.aqm_szcg3{float: left;}
.aqm_bk table td STRONG{display: block;min-width:100px}

/* 淘宝大厅导航栏下方信息块样式纠正 */
#content ul.rwdt_info  li{line-height:18px;}
#content ul.rwdt_info  li p.fd{margin:0 0 10px}


/* 会员中心列表样式修正*/
.left_lan ul{margin:0px}

/*修正发布任务页面样式*/
div.name{float: left;}
.fabu_box2 .add .value{float: left;max-width:460px;}
p.taskbutton input.taskadd{width:162px;}
.fabu_box2 ul.cont{margin:0px;}
.fabu_box2 LABEL{font-size: 12px;}

/*修正 任务列表页 背景*/
.tlisttable{background-color: white;}
.lst_info{background:white;padding:5px 10px;}

#content{padding:5px 10px;}
.white{background-color: white;}

/*论坛修正*/
#ImageUrl,#vcode{border:1px solid #c5c5c5;}
input.luntan_inp{margin:0px;min-height:23px;}