.user-job {
	background: rgb(251, 251, 251); border: 1px solid rgb(209, 209, 209); height: 135px;
}
.user-job .ujob-nce h1 {
	color: rgb(64, 143, 203); font-size: 12px; margin-bottom: 10px;
}
.ujob-nce ul {
	
}
.ujob-nce ul li {
	background: url("/img/msg_bg.gif") no-repeat 0px -1370px; line-height: 22px; text-indent: 18px;
}
.ujob-nce ul li span {
	color: rgb(255, 0, 0);
}
.member-job1 {
	background: 0px 0px rgb(255, 254, 249); border: 1px solid rgb(254, 219, 159);
}
.member-job1 h1 {
	background: url("/img/admin_mbg.jpg") no-repeat right 0px; height: 35px; line-height: 35px; overflow: hidden; font-size: 12px; font-weight: bolder;
}
.member-job1 h1 span {
	background: url("/img/admin_biao.gif") no-repeat 0px -5px; height: 35px; color: rgb(64, 143, 203); line-height: 35px; text-indent: 70px; font-size: 14px; margin-right: 10px; margin-left: 5px; float: left; display: block;
}
.member-job1 ul {
	background: url("/img/admin_biao.gif") no-repeat 0px -80px; width: 730px; overflow: hidden; margin-top: 15px; margin-bottom: 15px; margin-left: 10px; position: relative;
}
span.li0 {
	color: rgb(64, 143, 203); font-weight: bolder;
}
.member-job1 ul li {
	height: 20px; line-height: 20px; text-indent: 45px;
}
span.li1 {
	color: rgb(255, 0, 0);
}
.member-job1 ul li.to1 .a {
	background: url("/img/admin_an.gif") no-repeat 0px -126px; left: 438px; width: 80px; height: 32px; text-align: center; line-height: 32px; float: left; position: absolute;
}
.member-job1 p {
	border-bottom-color: rgb(212, 212, 212); border-bottom-width: 1px; border-bottom-style: dashed;
}
.member-job2 p {
	border-bottom-color: rgb(212, 212, 212); border-bottom-width: 1px; border-bottom-style: dashed;
}
.member-job2 {
	background: rgb(255, 249, 249); border: 1px solid rgb(254, 159, 180); margin-top: 10px;
}
.member-job2 h1 {
	background: url("/img/admin_mbg_02.gif") no-repeat 495px 0px; height: 35px; line-height: 35px; overflow: hidden; font-size: 12px; font-weight: normal;
}
.member-job2 h1 strong {
	margin-right: 15px;
}
.member-job2 h1 span {
	background: url("/img/admin_biao.gif") no-repeat 0px -5px; height: 35px; color: rgb(64, 143, 203); line-height: 35px; text-indent: 70px; font-size: 14px; margin-right: 10px; margin-left: 5px; float: left; display: block;
}
.member-job2 ul {
	background: url("/img/admin_biao.gif") no-repeat 0px -202px; width: 730px; overflow: hidden; margin-top: 15px; margin-bottom: 15px; margin-left: 10px; position: relative;
}
input.fu {
	margin-bottom: -3px; margin-left: 3px;
}
.member-job2 ul li {
	width: 700px; height: 20px; line-height: 20px; text-indent: 45px;
}
a.a {
	background: url("/img/admin_an.gif") no-repeat 0px -126px; left: 438px; width: 80px; height: 32px; text-align: center; line-height: 32px; float: left; position: absolute;
}
a.aa {
	background: url("/img/admin_an.gif") no-repeat 0px -83px; left: 438px; width: 80px; height: 32px; text-align: center; line-height: 32px; float: left; position: absolute;
}
a.aa03 {
	background: url("/img/admin_an.gif") no-repeat 0px -39px; left: 549px; width: 80px; height: 32px; text-align: center; line-height: 32px; float: left; position: absolute;
}
a.aa04 {
	background: url("/img/admin_an.gif") no-repeat 0px -211px; left: 549px; width: 125px; height: 32px; text-align: center; line-height: 32px; float: left; position: absolute;
}
a.aa05 {
	background: url("/img/admin_an.gif") no-repeat 0px -168px; left: 438px; width: 80px; height: 32px; text-align: center; line-height: 32px; float: left; position: absolute;
}
a.aa06 {
	background: url("/img/admin_an.gif") no-repeat 0px -495px; left: 438px; width: 80px; height: 32px; text-align: center; line-height: 32px; float: left; position: absolute;
}
.tiebuy_t {
	border: 1px solid rgb(244, 233, 212); height: 75px; background-color: rgb(255, 254, 234);
}
.tiebuy h1 {
	background: url("/img/tiebuy01.jpg") no-repeat; height: 33px; color: rgb(255, 102, 0); text-indent: 32px; letter-spacing: -1px; font-family: "ÐÂËÎÌå"; font-size: 15px; font-weight: bolder;
}
.bold {
	font-weight: bold;
}
.block {
	display: block;
}
.fleft {
	float: left;
}
.fright {
	float: right;
}
.ml10 {
	margin-left: 10px;
}
.mr10 {
	margin-right: 10px;
}
.mt10 {
	margin-top: 10px;
}
.mb10 {
	margin-bottom: 10px;
}
.space15 {
	height: 15px; line-height: 15px; clear: both; font-size: 0px;
}
.space10 {
	height: 10px; line-height: 10px; clear: both; font-size: 0px;
}
.clear {
	height: 0px; line-height: 0px; clear: both; font-size: 0px;
}
.yred1 a {
	color: rgb(255, 108, 0); letter-spacing: 1px; font-size: 13px; font-weight: bold;
}
.tieb-tab h1 {
	border-width: 1px 1px medium; border-style: solid solid none; border-color: rgb(131, 219, 0) rgb(131, 219, 0) currentColor; height: 34px; background-color: rgb(237, 252, 205);
}
.tieb-tab h1 span {
	margin: 0px 3px 0px 20px; width: 114px; height: 34px; text-align: center; line-height: 34px; font-family: Î¢ÈíÑÅºÚ; font-size: 14px; float: left; display: block; position: relative;
}
ul.user-cont {
	border-width: medium 1px 1px; border-style: none solid solid; border-color: currentColor rgb(131, 219, 0) rgb(131, 219, 0); width: 756px; display: table;
}
ul.user-cont li {
	width: 740px; margin-top: 20px; margin-left: 9px;
}
.tieb-tab h1 span.current {
	background: url("/img/tiebuy06.jpg") no-repeat;
}
.tieb-tab h1 span a {
	top: 4px; width: 114px; height: 28px; color: rgb(51, 153, 0); display: block; position: relative;
}
.tieb-buy {
	border-width: medium 1px 1px; border-style: none solid solid; border-color: currentColor rgb(221, 221, 221) rgb(221, 221, 221); height: 225px;
}
.tieb-buy p {
	margin-left: 20px;
}
.tieb-buyi {
	background: url("/img/tiebuy04.jpg") no-repeat 0px 25px; width: 720px; height: 47px; color: rgb(34, 34, 34); padding-top: 80px; font-size: 13px; font-weight: bold; margin-left: 20px;
}
.tieb-buyii {
	background: url("/img/tiebuy07.jpg") no-repeat 0px 25px; width: 720px; height: 47px; color: rgb(34, 34, 34); padding-top: 80px; font-size: 13px; font-weight: bold; margin-left: 20px;
}
.tieb-buyi a {
	color: rgb(0, 131, 199);
}
.tieb-buyt {
	width: 600px; height: 50px; padding-left: 120px; margin-left: 20px; border-bottom-color: rgb(223, 223, 223); border-bottom-width: 1px; border-bottom-style: dashed;
}
.tieb-buyc {
	height: 44px; color: rgb(102, 102, 102); line-height: 44px; letter-spacing: 1px; font-weight: bold; margin-left: 20px;
}
tr.header1 {
	background-color: rgb(251, 251, 251);
}
.tieinput1 {
	padding: 20px 0px 0px 130px; width: 125px; height: 36px;
}
.tieb-buy2 {
	border-width: medium 1px 1px; border-style: none solid solid; border-color: currentColor rgb(221, 221, 221) rgb(221, 221, 221); height: 205px;
}
.tan_lei01 {
	width: 412px; display: table;
}
.tan_lei02 {
	width: 412px; display: table;
}
.tan_lei01 ul {
	padding: 10px 0px 10px 25px;
}
.tan_lei02 ul {
	padding: 10px 0px 10px 25px;
}
.tan_lei01 ul li {
	height: 26px; line-height: 26px;
}
.tan_lei02 ul li {
	height: 26px; line-height: 26px;
}
.tan_lei01 ul span {
	color: rgb(255, 0, 0);
}
.tan_lei02 ul span {
	color: rgb(255, 0, 0);
}
.tan_lei01 ul .li {
	margin-bottom: 20px;
}
.tan_lei02 ul a {
	background: rgb(58, 110, 165); padding: 2px 3px 1px; color: rgb(255, 255, 255);
}
.tan_lei01 table {
	width: 387px; margin-left: 25px;
}
.tan_lei01 table td {
	line-height: 26px;
}
.tan_lei02 table td {
	line-height: 26px;
}
.tan_lei01 table .sj {
	width: 78px; color: rgb(102, 102, 102);
}
.tan_lei01 table .fa {
	width: 88px;
}
.tan_lei01 table .jie {
	width: 88px;
}
.tan_lei01 table .fa span {
	color: rgb(255, 0, 0);
}
.tan_lei01 table .jie span {
	color: rgb(255, 0, 0);
}
.tan_lei01 table .zu {
	background: url("/images/ture.gif") no-repeat 0px 2px; color: rgb(255, 85, 0); text-indent: 23px;
}
.tan_lei01 table .wei {
	background: url("/images/flase.gif") no-repeat 0px 2px; text-indent: 23px;
}
.tan_lei02 table {
	width: 320px; margin-left: 25px;
}
.tan_lei02 table span {
	color: rgb(255, 0, 0);
}
.tan_lei02 table .min {
	width: 100px;
}
.tan_lei02 table .ji {
	width: 70px;
}
.tan_lei02 table .sj {
	width: 150px;
}
.dis {
	display: none;
}
.nodis {
	display: block;
}
.ui_dialog {
	font-family: "Î¢ÈíÑÅºÚ";
}
.ui_border {
	filter: alpha(opacity=5); opacity: 0.05; background-color: rgb(0, 0, 0);
}
.ui_overlay div {
	background: rgb(0, 0, 0); height: 100%; filter: alpha(opacity=70); opacity: 0.7;
}
.ui_lock .ui_border {
	filter: alpha(opacity=80); opacity: 0.8;
}
* html .ui_ie6_select_mask {
	display: none !important;
}
.r0d0 {
	width: 3px; height: 3px;
}
.r0d2 {
	width: 3px; height: 3px;
}
.r2d0 {
	width: 3px; height: 3px;
}
.r2d2 {
	width: 3px; height: 3px;
}
.ui_move .ui_title_text {
	color: rgb(255, 255, 255);
}
.ui_move .ui_border {
	filter: alpha(opacity=15); opacity: 0.2;
}
.ui_dialog_main {
	border: 8px solid rgb(153, 153, 153) !important; background-color: rgb(255, 255, 255);
}
.ui_title {
	height: 100%; position: relative;
}
.ui_title_text {
	padding: 0px 30px 3px 10px; height: 25px; color: rgb(235, 235, 235); line-height: 25px; font-weight: 700; background-color: rgb(153, 153, 153);
}
.ui_close {
	top: -1px; right: 8px; color: rgb(255, 255, 255); font-size: 20px; text-decoration: none;
}
.ui_close:hover {
	
}
.ui_resize {
	width: 8px; height: 18px;
}
.ui_btns {
	height: 45px; background-color: rgb(249, 249, 249);
}
.ui_btns button {
	border-width: 1px; border-style: solid; border-color: rgb(255, 255, 255) rgb(132, 132, 132) rgb(132, 132, 132) rgb(255, 255, 255); padding: 0px 5px; height: 2em; text-align: center; color: rgb(0, 0, 0); line-height: 2em; letter-spacing: 2px; background-color: rgb(248, 248, 248);
}
.ui_btns .ui_yes button {
	border-color: rgb(132, 166, 230) rgb(18, 43, 88) rgb(18, 43, 88) rgb(132, 166, 230); color: rgb(255, 255, 255); cursor: pointer; background-color: rgb(58, 110, 165);
}
.ui_btns .ui_yes:hover button {
	background-color: rgb(34, 81, 168);
}
.ui_dialog_icon {
	
}
.alert .ui_dialog_icon {
	
}
.confirm .ui_dialog_icon {
	
}
.error .ui_dialog_icon {
	
}
.succeed .ui_dialog_icon {
	
}
.noRadius .ui_border {
	background: rgb(0, 0, 0);
}
.noBorder .ui_border {
	display: none;
}
.noTitleBar .ui_title_wrap {
	height: 0px; visibility: hidden; _display: none;
}
.noTitle .ui_title_text {
	height: 15px; overflow: hidden; visibility: hidden;
}
.noTitle .ui_close {
	top: 1px; right: 3px; color: rgb(204, 204, 204);
}
.noTitle .ui_content {
	margin-top: 0px;
}
.noClose .ui_close {
	display: none;
}
.noSkin .ui_border {
	display: none;
}
.noSkin .ui_title_wrap {
	display: none;
}
.noSkin .ui_dialog_icon {
	display: none;
}
.noSkin .ui_bottom_wrap {
	overflow: hidden; display: none;
}
* html .noSkin .ui_btns {
	left: -99999em; height: 0px; overflow: hidden; position: absolute;
}
.noSkin .ui_content {
	margin: 0px;
}
.noSkin .ui_dialog_main {
	
}
.ui_btns .ui_no button {
	border-color: rgb(255, 255, 255) rgb(102, 102, 102) rgb(102, 102, 102) rgb(255, 255, 255); color: rgb(0, 0, 0); cursor: pointer; background-color: rgb(225, 225, 225);
}
.complane_h {
	background: url("/images/complain.jpg") no-repeat 20px 11px; border: 1px solid rgb(254, 182, 0); height: 65px; color: rgb(0, 0, 0); line-height: 23px; padding-top: 21px; padding-right: 43px; padding-left: 100px; font-family: ËÎÌå; font-size: 13px; margin-bottom: 8px;
}
.spread_h {
	background: url("/images/complain.jpg") no-repeat 30px 35px; border: 1px solid rgb(254, 182, 0); height: 135px; color: rgb(69, 69, 69); line-height: 22px; padding-top: 8px; padding-right: 18px; padding-left: 110px; font-family: ËÎÌå; font-size: 13px; margin-bottom: 8px;
}
.complanena {
	border-width: 1px 1px medium; border-style: solid solid none; border-color: rgb(131, 219, 0) rgb(131, 219, 0) currentColor; height: 34px; background-color: rgb(237, 252, 205);
}
.complanena span {
	margin: 0px 3px 0px 20px; width: 114px; height: 34px; text-align: center; line-height: 34px; font-family: Î¢ÈíÑÅºÚ; font-size: 14px; float: left; display: block; position: relative;
}
.complanena span.current {
	background: url("/img/tiebuy06.jpg") no-repeat;
}
.complanena span a {
	top: 4px; width: 114px; height: 28px; color: rgb(51, 153, 0); display: block; position: relative;
}
.space10 {
	height: 10px; line-height: 10px; clear: both; font-size: 0px;
}
.space25 {
	height: 25px; line-height: 25px; clear: both; font-size: 0px;
}
.space125 {
	height: 24px; line-height: 24px; clear: both; font-size: 0px; border-top-color: rgb(197, 197, 197); border-top-width: 1px; border-top-style: dashed;
}
.space7 {
	height: 7px; line-height: 7px; clear: both; font-size: 0px;
}
.payup-kj {
	padding: 38px 0px 38px 35px; border: 1px solid rgb(221, 221, 221);
}
.payup-ct {
	width: 710px;
}
.payup-ct h1.pyc {
	background: url("/img/pay03.jpg") no-repeat left 3px; height: 25px; color: rgb(255, 136, 17); text-indent: 31px; font-size: 15px; font-weight: bold; border-bottom-color: rgb(197, 197, 197); border-bottom-width: 1px; border-bottom-style: dashed;
}
.pay12 {
	background: url("/img/pay04.jpg") no-repeat 30px 15px; border: 1px solid rgb(142, 201, 52); height: 58px; text-indent: 120px; padding-top: 27px;
}
.payp {
	line-height: 23px;
}
.yellow {
	color: rgb(255, 136, 17);
}
.pay13 {
	background: url("/img/pay07.jpg") no-repeat 25px 30px; border: 1px solid rgb(142, 201, 52); height: 58px; text-indent: 165px; padding-top: 27px;
}
.pay12put {
	border-width: 1px medium 1px 1px; border-style: solid none solid solid; border-color: rgb(191, 190, 190) currentColor rgb(191, 190, 190) rgb(191, 190, 190); width: 365px; height: 30px; text-indent: 5px; font-size: 14px;
}
.pay12 span {
	color: rgb(0, 0, 0); font-size: 14px; font-weight: bold; vertical-align: middle;
}
.pay12sub {
	background: url("/img/pay05.png") no-repeat; border: currentColor; width: 104px; height: 33px; font-size: 0px; cursor: pointer;
}
.pay13sub {
	background: url("/img/pay06.jpg") no-repeat; border: currentColor; width: 135px; height: 33px; font-size: 0px; cursor: pointer;
}
.payp2 {
	
}
.pay15 {
	background: url("/img/pay01.jpg") no-repeat 25px 30px; border: 1px solid rgb(142, 201, 52); height: 90px; padding-top: 22px; padding-left: 165px;
}
.pay15-l {
	width: 330px; float: left; display: inline;
}
.pay15-l p {
	height: 32px; padding-bottom: 10px;
}
.pay15-l p span {
	width: 105px; height: 15px; letter-spacing: -1px; padding-top: 5px; font-family: ÐÂËÎÌå; font-size: 13px; font-weight: bold; float: left;
}
.pay13put {
	border: 1px solid rgb(191, 190, 190); width: 198px; height: 26px; text-indent: 5px; font-size: 14px; float: left;
}
.pay15-r {
	width: 135px; height: 33px; float: left;
}
.pay15sub {
	background: url("/img/pay06.jpg") no-repeat; border: currentColor; width: 135px; height: 33px; font-size: 0px; margin-top: 30px; cursor: pointer;
}
.byntce {
	background: url("/images/buy01.jpg") no-repeat 3px 0px; margin: 0px; width: 700px; height: 25px; padding-left: 30px; border-bottom-color: rgb(197, 197, 197); border-bottom-width: 1px; border-bottom-style: dashed;
}
.pay16 {
	background: url("/images/buy02.jpg") no-repeat 45px 20px; border: 1px solid rgb(142, 201, 52); width: 595px; height: 60px; color: rgb(0, 0, 0); padding-top: 28px; padding-left: 135px; font-size: 14px; font-weight: bold; vertical-align: middle;
}
.pay16 span {
	
}
.pay16sub {
	background: url("/images/buy03.jpg") no-repeat; border: currentColor; width: 91px; height: 29px; font-size: 0px; cursor: pointer;
}
.pay16put {
	border: 1px solid rgb(221, 221, 221); width: 220px; height: 25px; text-indent: 5px;
}
.pay17 {
	background: url("/images/buy04.jpg") no-repeat 45px 30px; border: 1px solid rgb(142, 201, 52); width: 605px; height: 92px; color: rgb(0, 0, 0); padding-top: 28px; padding-left: 125px; font-size: 14px; font-weight: bold; vertical-align: middle;
}
.pay17 .p17div {
	height: 32px;
}
.pay17put {
	border: 1px solid rgb(127, 157, 185); width: 155px; height: 21px; text-indent: 5px;
}
.pay17sub {
	background: url("/images/buy05.jpg") no-repeat; border: currentColor; top: -5px; width: 90px; height: 27px; font-size: 0px; margin-left: 12px; position: relative; cursor: pointer;
}
.pay16sub {
	line-height: 0px; text-indent: -999px;
}
.pay17sub {
	line-height: 0px; text-indent: -999px;
}
.pay12sub {
	line-height: 0px; text-indent: -999px;
}
.pay13sub {
	line-height: 0px; text-indent: -999px;
}
.ensure-tab h1 {
	background: url("/images/ensure.jpg") repeat-x; border-width: medium 1px; border-style: none solid; border-color: currentColor rgb(42, 194, 185); height: 37px;
}
.ensure-tab h1 span {
	margin: 0px 3px 0px 20px; width: 141px; height: 37px; text-align: center; line-height: 37px; font-family: Î¢ÈíÑÅºÚ; font-size: 14px; float: left; display: block;
}
.ensure-tab h1 span.current {
	background: url("/images/ensure02.jpg") no-repeat;
}
.ensure-tab h1 span a {
	top: 2px; width: 141px; height: 28px; color: rgb(17, 17, 17); display: block; position: relative;
}
.tbl_lst1 {
	border-width: medium 1px 1px; border-style: none solid solid; border-color: currentColor rgb(213, 213, 213) rgb(213, 213, 213); padding: 0px 15px;
}
.remit_tip h3 {
	margin: 0px; padding: 0px 10px; color: rgb(102, 102, 102); line-height: 26px; font-size: 14px;
}
.tip_remit {
	padding: 15px 10px 10px; border: 1px solid rgb(137, 194, 51); height: 220px; color: rgb(87, 87, 87); line-height: 22px; font-family: ËÎÌå; font-weight: bold;
}
.gred {
	color: rgb(254, 50, 50);
}
.spread-link {
	height: 23px; font-size: 14px; font-weight: bold; float: right;
}
.spread-txt {
	border-width: 1px medium 1px 1px; border-style: solid none solid solid; border-color: rgb(221, 221, 221) currentColor rgb(221, 221, 221) rgb(221, 221, 221); width: 403px; height: 20px; text-indent: 5px;
}
.spread-btn {
	background: url("/images/pay04.jpg") no-repeat; border: currentColor; top: -2px; width: 144px; height: 22px; font-size: 0px; vertical-align: middle; position: relative;
}
.vip-tab {
	width: 565px; float: left;
}
.vip-tab h1 {
	border-width: 1px; border-style: solid; border-color: rgb(131, 219, 0) rgb(131, 219, 0) rgb(219, 219, 219); padding: 0px 20px; height: 35px; color: rgb(80, 144, 0); line-height: 35px; font-size: 14px; font-weight: bold; background-color: rgb(237, 252, 205);
}
.fr {
	float: right;
}
.vip-tab h1 a {
	color: rgb(80, 144, 0);
}
.vip-tab2 {
	width: 215px; float: right;
}
.vip-table {
	width: 215px; display: table;
}
.vip-tab2 h1.vn {
	border-width: 1px 1px medium; border-style: solid solid none; border-color: rgb(131, 219, 0) rgb(131, 219, 0) currentColor; height: 35px; color: rgb(80, 144, 0); line-height: 35px; padding-left: 15px; font-size: 14px; font-weight: bold; background-color: rgb(237, 252, 205);
}
.vip-cont1 {
	border: 1px solid rgb(219, 219, 219); width: 213px; padding-top: 2px; display: table;
}
.vip-cont {
	border: 1px solid rgb(219, 219, 219); width: 563px; display: table;
}
.vip-cont ul {
	margin: 0px 8px; height: 60px; padding-left: 23px; clear: both; border-bottom-color: rgb(223, 223, 223); border-bottom-width: 1px; border-bottom-style: dashed;
}
.vip-cont ul li {
	padding: 20px 0px 20px 45px; width: 125px; height: 20px; color: rgb(102, 102, 102); font-size: 14px; font-weight: bold; float: left;
}
.vip01 {
	background: url("/images/vip01.jpg") no-repeat left 10px;
}
.vip02 {
	background: url("/images/vip02.jpg") no-repeat 7px 13px;
}
.vip03 {
	background: url("/images/vip03.jpg") no-repeat 11px 15px;
}
.vip04 {
	background: url("/images/vip05.jpg") no-repeat left 16px;
}
.vip05 {
	background: url("/images/vip06.jpg") no-repeat left 18px;
}
.vip06 {
	background: url("/images/vip04.jpg") no-repeat 5px 15px;
}
.vip07 {
	background: url("/images/vip11.jpg") no-repeat 5px 17px;
}
.vip08 {
	background: url("/images/vip10.jpg") no-repeat 7px 15px;
}
.vip09 {
	background: url("/images/vip07.jpg") no-repeat 3px 13px;
}
.vip10 {
	background: url("/images/vip12.jpg") no-repeat 5px 15px;
}
.vip11 {
	background: url("/images/vip13.jpg") no-repeat 5px 15px;
}
.vip12 {
	background: url("/images/vip14.jpg") no-repeat 5px 15px;
}
.vip13 {
	background: url("/images/vip17.jpg") no-repeat 8px 15px;
}
.vip14 {
	background: url("/images/vip15.jpg") no-repeat 5px 10px;
}
.vip15 {
	background: url("/images/vip16.jpg") no-repeat 3px 10px;
}
.vip16 {
	background: url("/images/vip18.jpg") no-repeat 8px 10px;
}
.vip17 {
	background: url("/images/vip22.jpg") no-repeat left 15px;
}
.vip-cont2 {
	border: 1px solid rgb(219, 219, 219); width: 563px; display: table;
}
.vip-cont2 .vip2h1 {
	background: url("/images/vip19.jpg") no-repeat; width: 563px; height: 63px;
}
.vip-cont2 ul {
	height: 115px; padding-top: 5px; padding-left: 27px;
}
.vip-cont2 ul li {
	width: 101px; padding-right: 75px; float: left;
}
.s-vip1 {
	background: url("/images/vip20.jpg") no-repeat 3px 3px; height: 25px; color: rgb(53, 53, 53); padding-left: 33px; font-size: 13px;
}
.s-subp {
	height: 31px; padding-top: 17px;
}
.s-sub {
	background: url("/images/vip21.jpg") no-repeat; border: currentColor; width: 101px; height: 31px; line-height: 0px; text-indent: -200px; font-size: 0px; display: block; cursor: pointer;
}
.s-vip2 {
	background: url("/images/vip23.jpg") no-repeat 3px 3px; height: 25px; color: rgb(53, 53, 53); padding-left: 45px; font-size: 13px; cursor: pointer;
}
.s-vip3 {
	background: url("/images/vip24.jpg") no-repeat 3px 0px; height: 25px; color: rgb(53, 53, 53); padding-left: 45px; font-size: 13px; cursor: pointer;
}
.vip-cont1 ul {
	padding: 0px 0px 15px 15px;
}
.vip-cont1 li {
	width: 185px; height: 40px; clear: both; margin-top: 10px;
}
.vip-cont1 li dl dd {
	width: 55px; float: left;
}
.vip-cont1 li dl dt {
	width: 130px; float: left;
}
.vip-cont1 li dl dd img {
	border: 1px solid rgb(221, 221, 221); width: 40px; height: 40px;
}
.esudiv {
	left: 43px; top: 110px; height: 300px; color: rgb(64, 148, 154); font-size: 12px; font-weight: bold; position: absolute;
}
.yecolor {
	color: rgb(250, 135, 15);
}
.esudiv a {
	color: rgb(64, 148, 154);
}
