<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>$title</title>
<meta name="description" content="$description" />
<meta name="keywords" content="$keywords" />
<script type="text/javascript" src="/images/jquery.js"></script>
<script type="text/javascript" src="/images/login.js"></script>
<script type="text/javascript" src="/images/reg.js"></script>
{if $cssList}
{loop $cssList $v}
<link rel="stylesheet" type="text/css" href="$v" />
{/loop}
{else}
{teval
echo css::get_css('bbs', 'bbs');
}
{/if}
{js_select jquery,common}
{loop $jsList $v}
<script type="text/javascript" src="$v"></script>
{/loop}
<script type="text/javascript">
{if $showMessage}
alert('{echo common::bf_addcslashes($showMessage)}');
{/if}
$.ajaxSetup({cache:false});
var memberLogined={echo $memberLogined?'true':'false'};
var loginUsername='{echo $memberLogined?$member['username']:''}';
var weburl='$weburl';
var weburl2='$weburl2';
var sys_hash2='$sys_hash2';
</script>
</head>
<body>
<!--头部开始-->
	<div id="r_top">
	  <div class="kd">
			<p class="tb"><a href="{rewrite}" class="logo"></a><span>个人用户注册</span></p>
		
	  </div>
	</div>`
<!--头部结束-->

{sub service}

<!--[if lte IE 6]>
<script type="text/javascript" src="/javascript/cn/DD_belatedPNG_0.0.7a.js"></script>
<script type="text/javascript">
DD_belatedPNG.fix('*');
</script>
<![endif]-->

</body>