<div class="lst_tab_tb">
    <ul class="tab_no">
      <li{if $m=='index'} class="tab_tb"{/if}><p><a href="$baseUrl"><strong>接手收藏任务</strong></a></p></li>
      <li{if $m=='add'} class="tab_tb"{/if}><p><a href="$baseUrl?m=add"><strong>发布收藏任务</strong></a></p></li>
      <li{if $m=='out'} class="tab_tb"{/if}><p><a href="$baseUrl?m=out"><strong>已发收藏任务</strong></a></p></li>
      <li{if $m=='in'} class="tab_tb"{/if}><p><a href="$baseUrl?m=in"><strong>已接收藏任务</strong></a></p></li>
      <li{if $m=='buyer'} class="tab_tb"{/if}><p><a href="$baseUrl?m=buyer"><strong>收藏买号</strong></a></p></li>
    </ul>
  </div>