{teval
	
	$cssList     = array(css::getUrl('task', 'task'));
	echo string::getStaticCode(array('cssList'=>$cssList));
}
{sub ../header}
<div class="main">
  {if $_showmessage}<div class='msg_panel'><div>$_showmessage</div></div>{/if}
	{if $indexMessage}<div class='error_panel'><div>$indexMessage</div></div>{/if}
  <div class="h_10"></div>
  <div class="info">  
    <div class="info_l">
      <div>
        {sub flow_info}
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="170">站内信<a href="{rewrite}/member/message/" class="link_o_b" target="_blank">$memberFields[msg]</a>封未读站内信数</td>
          </tr>
        </table>
      </div>
      <p>流量互动区任务总条数：<span class="f_b_org">$allCount</span>条，未完成任务数<span class="f_b_org">{echo $allCount - $complateCount}</span>条，已成功提升了<span class="f_b_org">$flowAll</span>浏览量</p>
    </div>
    <div class="info_r">
		{sub ../quick}
	</div>
  </div>
  <div class="h_10"></div>
  {sub flow_tab}
	
  <table class="tbl" width="100%" border="0" cellspacing="0" cellpadding="4">
    {loop $list $v}
        <tr>
          <td width="200" class="p_l_20">任务编号：$v[id]<br />
          发布时间：{date $v[timestamp]}</td>
          <td>发布人：{echo string::getXin2($v[username])}</a>
            <img src="$v[level][icon]" alt="积分：$v[credits]" /><br />
            发布人类型：{if $v[vip]}<span class="vip" title="VIP"></span>{/if}{if $v[vip2]}<span class="card" title="{echo language::get('card'.$v[vip2])}"{/if}{if $v[isEnsure]}<span class='ensure' title='商保'></span>{/if} </td>
          <td>任务流量：$v[flowAll]个<br />
            剩余流量：{echo $v[flowAll]- $v[flowComplate]}个</td>
          <td>任务状态：<span class="f_orange">{if $v[status]==0}暂停中{elseif $v[status]==1}{if $v[flowLock]>0}进行中{else}等待接手{/if}{elseif $v[status]==2}已完成{/if}</span> <br />
            任务要求：</td>
          <td class="f_gray">客户端自动浏览<br />无需接手</td>
        </tr>
	{/loop}
   </table>
  <div class="h_10"></div>
  <div class="pages">$multipage</div>
  <div class="h_20"></div>
</div>
<script type="text/javascript">

</script>
{sub ../footer}