{teval
	
	$cssList     = array(css::getUrl('task', 'task'));
	echo string::getStaticCode(array('cssList'=>$cssList));
}
{sub ../header}
{teval
echo javascript::get_js('WdatePicker', 'index');
}
	<div class="main">
	<div class="h_10"></div>
	{if $_showmessage}
	<div class='msg_panel'>
			<div>$_showmessage</div>
		</div>
	{/if}
	{if $indexMessage}
	<div class='error_panel'>
			<div>$indexMessage</div>
		</div>
	{/if}
	<div id="tip" style="display:none">
			<div class='msg_panel'>
			<div>该掌柜是消保店，建议您选择审核接手人或是适当过滤接手人，具体详情请咨询客服或查看【<a href='/bbs/t67/' class='link_o'>消保建议</a>】</div>
		</div>
		</div>
	{if $isNovice}
	<div class="pub_tip2">
    <p id="new_tip">1. 把您淘宝店铺的商品发布出来，让力豪互刷网平台的朋友帮您虚拟购买，从而获得信誉的提升；<br />
      2. 如果您以前发布过任务，并且保存了任务模板，这次想发布相同的任务就可以选择【从任务模板中创建】，省时省力哦；<br />
      3. 要尽量保证 平台任务价 > (淘宝商品价格+快递运费)/2 ，否则接手人拍下商品后您的淘宝改价将会导致您的支付宝使用率低于50%既被淘宝视为信用炒作处理；<br />
      4. 你在平台中的存款中不得少于任务价，成功发布任务将会在平台中扣押相应的任务保证金；接手人完成您的任务时等额的资金会作为商品款返回给您网店的帐户中；<a href="/bbs/t45/" class="link_o">如何增加存款</a><br />
      5. 您想发布任务的时候，必须保证您拥有相应的兔粮数，每次发布都会根据商品价格不同扣除相应的兔粮数。您如果想让任务排名靠前就可以追加竞价兔粮，追加的越多排名就越靠前；
        <a href="/bbs/t64/" target="_blank" class="link_o">如何赚取兔粮</a>　<a href="/bbs/t30/" target="_blank" class="link_o">发布商品价格与扣除兔粮数的对应关系</a><br />
      6. 禁止帮他人发布任务，这样会导致您的朋友无法在力豪互刷网平台发布。平台自检程序会不定时检测，已经发现将做限制权限处理；<a href="/info/agreement.html" target="_blank" class="link_o">平台服务条例</a><br />
      7. 任务要求区中可以选择您对交易好评时限，与店铺动态评分两方面要求；</p>
    <div class="pub_close"><a href="javascript:;" onclick="if($('#new_tip').is(':visible'))$('#new_tip').hide();else $('#new_tip').show();"><img src="{$weburl2}images/close2.gif" alt="隐藏/显示" /></a></div>
  </div>
  {/if}
	<div class="info2">
			<div class="wel">尊敬的<span class='f_orange'> $member[truename]</span>{if $member[sex]==1}先生{elseif $member[sex]==2}女士{/if}，欢迎您！</div>
			<div class="stat">VIP：{if $isVip}是{else}否{/if} , 卡信托：{if $isVip2}是{else}否{/if} ， 积分：<span class='f_b_org'>$memberFields[credits]</span> <img src='$memberLevel[icon]' alt='当前等级' /> ， <img src='{$weburl2}images/ico/ico_gold_2.gif' alt='' /> 存款余额：<span class='f_b_org'>$memberFields[money]</span>元 　　　　　<img src="{$weburl2}images/ico/ico_gold_3.gif" /> 淘宝兔粮：<span class="f_b_org">$memberFields[fabudian1]</span>个</div>
		</div>
	{if $isFree}
	<div class="pub_tip5">您当前选择了发布体验任务，本任务固定商品价格为1元，请注意淘宝商品的价格也为1元；<br />
        体验任务是<strong>免费发布</strong>的，发布本任务不会扣除您的存款只扣除相应的兔粮；</div>
	{/if}
	<div class='tpl_from'><strong>从任务模板中创建：</strong>
			<select name='fromTpl' class='task_slt' onchange='getTpl(this);'>
			<option value='0'>请从下拉框中选择</option>
			{loop $tplList $v}
			<option value="$v[id]"{if $tplId==$v[id]} selected{/if}>$v[name]</option>
			{/loop}
		</select>
			<strong>　 注释：</strong>您可以选择从已存的发布任务模板中选择一个，实现快捷方便的发布任务</div>
	<form name="myForm" method="post" id="myForm" onsubmit="return checkForm();">
			<div>$sys_hash_code2</div>
			<div class="bar">任务基本信息区</div>
			<table class="tbl" width="100%" border="0" cellspacing="0" cellpadding="6">
			<tr>
					<td width="120" align="right">您的淘宝掌柜名称：</td>
					<td colspan="2"> {loop $sellers $k $v}
					<label for='__nickname__$k'>
						<input type='radio' name='nickname' id='__nickname__$k' value='$v[nickname]' onclick='isTruth($v[truth])'{if $datas[nickname]==$v[nickname]} checked="checked"{/if} />
						$v[nickname]</label>
					{/loop} </td>
				</tr>
			<tr>
					<td align="right">您的商品网址：</td>
					<td width="210"><input name="itemurl" type="text" class="task_text" id="itemurl" value="$datas[itemurl]" onblur="showWayTip();" /></td>
					<td>为了您网店账号安全请尽量发布不同的任务时使用不同的商品</td>
				</tr>
							<tr>
					<td align="right" class="f_b_green STYLE1">来路方式：</td>
					<td><p><span >直接访问、淘宝店铺搜索、淘宝宝贝搜索、</span></p>
				    <p><span >买家信用评价地址</span></p></td>
					<td>平台提醒：<span class="f_red">掌柜热卖任务不设置来路宝贝容易被搜索降权，请尽量发布设置来路任务；</span><br />
					提　示：<span class="f_red">积分满50的，可以到淘宝互动区用来路方式发布任务</span></td>
			  </tr>
			<tr id="DwayTip" style="display:none">
					<td>&nbsp;</td>
					<td colspan="2" class="f_b_red">掌柜热卖任务不设置来路宝贝容易被搜索降权，请尽量发布设置来路任务；</td>
				</tr>
			<tr>
					<td align="right">任务商品担保价格：</td>
					<td><input name="price" type="text" class="task_text" id="price" onblur="cutPoint(this)" onpropertychange="cutPoint(this)" value="$datas[price]" /></td>
					<td>此价格为您发布的宝贝改价后包括邮费的总价，1-1999元之间，接手者购买商品时支付给你的价钱总和！</td>
				</tr>
			<tr>
					<td align="right">是否需要改价：</td>
					<td><input type="checkbox" name="isPriceFit" id="isPriceFit" value="1"{if $datas[isPriceFit]} checked="checked"{/if}  /></td>
					<td>如果您的商品价格加上邮费高于担保价，请勾选</td>
				</tr>
			<tr>
					<td align="right">基本兔粮：</td>
					<td><input name="point" type="text" class="task_text txt_d" id="point" readonly="readonly" value="1" /></td>
					<td>发布该价格任务需要扣除兔粮数 <a href="/bbs/t30/" target="_blank" class="link_o">基本发布商品价格与扣除基本兔粮数的对应关系</a></td>
				</tr>
			<tr>
					<td align="right">追加竞价兔粮：</td>
					<td><input name="pointExt" type="text" class="task_text" value="$datas[pointExt]" id="pointExt" /></td>
					<td>兔粮数越多排名越靠前，越快被人接手，刷钻效率越高！</td>
				</tr>
		</table>
			<div class="bar">任务要求信息区</div>
			<table class="tbl" width="100%" border="0" cellspacing="0" cellpadding="6">
			<tr>
					<td width="120" align="right">好评时限要求：</td>
					<td title="24、48、72小时好评平台强制接手方延迟收货"><label for='__times__0'><input name='times' type='radio' value='1' id='__times__0'{if !$datas || $datas[times]==1} checked='checked'{/if} />马上好评</label>&nbsp;&nbsp;<label for='__times__1000'><input name='times' type='radio' value='2' id='__times__1000'{if $datas[times]==2} checked='checked'{/if} /><span class='f_b_red'>24小时好评(基本兔粮×1.8)</span></label>&nbsp;&nbsp;<label for='__times__2000'><input name='times' type='radio' value='3' id='__times__2000'{if $datas[times]==3} checked='checked'{/if} /><span class='f_b_red'>48小时好评(基本兔粮×1.8+1)</span></label>&nbsp;&nbsp;<label for='__times__3000'><input name='times' type='radio' value='4' id='__times__3000'{if $datas[times]==4} checked='checked'{/if} /><span class='f_b_red'>72小时好评(基本兔粮×1.8+2)</span></label>&nbsp;&nbsp;</td>
					<td width="30"><img src="{$weburl2}images/ico/tip2.gif" title="24、48、72小时好评平台强制接手方延迟收货" onclick="alert(this.title)" class="cursor" /></td>
				</tr>
			<tr>
					<td align="right">店铺动态评分：</td>
					<td><label for='__scores__0'>
						<input name='scores' type='radio' value='5' id='__scores__0'{if !$datas || $datas[scores]==5} checked='checked'{/if} />
						全部5分</label>
					&nbsp;&nbsp;
					<label for='__scores__1000'>
						<input name='scores' type='radio' value='0' id='__scores__1000'{if $datas && $datas[scores]==0} checked='checked'{/if} />
						全部不打分</label>
					&nbsp;&nbsp;　　　　 规定淘宝交易店铺动态评分</td>
					<td>&nbsp;</td>
				</tr>
		</table>
			<div class="ex">
			<div class="ex_top"><strong>任务增值功能区</strong><span class="f_orange">增值功能区中的功能需要额外支付兔粮！详情请查看功能右侧注释；</span></div>
			<div class="ex_main">
					<table class="tbl" width="100%" border="0" cellspacing="0" cellpadding="6">
					<tr>
<td  width="108" align="right" class="f_b_red">规定好评内容： </td>
							<td nowrap="nowrap"><input name="isRemark" type="checkbox" id="isRemark" value="1"{if $datas[isRemark]} checked="checked"{/if} /></td>
							<td nowrap="nowrap"><p>
							  <textarea name="remark" class="txt_normal f_gray" id="KS_LimitUserName" 
					onclick="if(this.value.indexOf('此处填写您希望接手')>=0) this.value='';this.style.color='#333';" title="此处填写您希望接手人对您的任务商品的评语内容，&#13;例如：“掌柜妹妹人好热情，东西很快收到了，感觉比图片上还要漂亮”&#13;&#13;请不要填写“请带字好评”等引导的文字&#13;" {if $datas} style="color:#333"{/if}>{if $datas}$datas[remark]{else}此处填写您希望接手人对您的任务商品的评语内容，例如：“掌柜妹妹人好热情，东西很快收到了，感觉比图片上还要漂亮”

请不要填写“请带字好评”等引导的文字{/if}</textarea>
         </td>
					        <td nowrap="nowrap"><p>
					          <select name="Remark" id="Remark" onchange="setValue('KS_LimitUserName',this.options[this.selectedIndex].value)">
                                <option selected="selected">=============  您可以在这里快速选择常用的评语  =============</option>
                                <optgroup label="1 通用评语"></optgroup>
                                <option value="最近太忙了，确认晚了，东西是很好的，呵呵，谢了。 ">最近太忙了，确认晚了，东西是很好的，呵呵，谢了。 </option>
                                <option value="物流公司的态度比较差,建议换一家！不过掌柜人还不错！">物流公司的态度比较差,建议换一家！不过掌柜人还不错！</option>
                                <option value="呵，货真不错，老公很喜欢！ ">呵，货真不错，老公很喜欢！ </option>
                                <option value="呵，货真不错，老婆很喜欢！ ">呵，货真不错，老婆很喜欢！ </option>
                                <option value="很好的卖家，谢谢喽。我的同事们都很喜欢呢。下次再来哦 ！">很好的卖家，谢谢喽。我的同事们都很喜欢呢。下次再来哦 ！</option>
                                <option value="掌柜人不错，质量还行，服务很算不错的。">掌柜人不错，质量还行，服务很算不错的。</option>
                                <option value="没想到这么快就到了，尺寸正好，老板态度很好。">没想到这么快就到了，尺寸正好，老板态度很好。</option>
                                <option value="还不错，质量挺好的，速度也快！">还不错，质量挺好的，速度也快！</option>
                                <option value="终于找到家好店，服务好，质量不错，下次有机会再来买。">终于找到家好店，服务好，质量不错，下次有机会再来买。</option>
                                <option value="卖家人很好 这个还没用 看包装应该不错">卖家人很好 这个还没用 看包装应该不错</option>
                                <option value="店已经收藏了很久，不过是第一次下手。应该说还不错。">店已经收藏了很久，不过是第一次下手。应该说还不错。</option>
                                <option value="第二次来买了，货比我想像中要好！！老板人表扬下。。">第二次来买了，货比我想像中要好！！老板人表扬下。。</option>
                                <option value="包装看起来很好，包得很用心，相信货一定很好，谢谢了！">包装看起来很好，包得很用心，相信货一定很好，谢谢了！</option>
                                <option value="货超值，呵，下次再来。帮你做个广告，朋友们：这家店的货值。">货超值，呵，下次再来。帮你做个广告，朋友们：这家店的货值。</option>
                                <option value="一个字！！值！！！">一个字！！值！！！</option>
                                <option value="掌柜的服务态度真好，发货很快。商品质量也相当不错。太喜欢了，谢谢！">掌柜的服务态度真好，发货很快。商品质量也相当不错。太喜欢了，</option>
                                <option value="好卖家，真有耐心，我终于买到想要的东西了。谢谢卖家。">好卖家，真有耐心，我终于买到想要的东西了。谢谢卖家。</option>
                                <option value="掌柜太善良了，真是干一行懂一行呀。在掌柜的指导下我都快变内行人士了！">掌柜太善良了，真是干一行懂一行呀。在掌柜的指导下我都快变内行</option>
                                <option value="卖家服务真周到。以后带同事一起来。">卖家服务真周到。以后带同事一起来。</option>
                                <option value="宝贝质量不错，很喜欢了。谢谢掌柜。">宝贝质量不错，很喜欢了。谢谢掌柜。</option>
                                <option value="货到了，比图片上看到的好多了3Q！">货到了，比图片上看到的好多了3Q！</option>
                                <option value="真是一个好卖家。以后有这方面宝贝的需求还得找你哦！">真是一个好卖家。以后有这方面宝贝的需求还得找你哦！</option>
                                <option value="不错，顶一个，谁要你这么诚信呢。。呵呵谢谢咯！">不错，顶一个，谁要你这么诚信呢。。呵呵谢谢咯！</option>
                                <option value="这家店还好吧。来买过几次了，服务老客户非常周到，以后还常来！">这家店还好吧。来买过几次了，服务老客户非常周到，以后还常来！</option>
                                <option value="忠心地感谢你，让我买到了梦寐以求的宝贝，太感谢了！">忠心地感谢你，让我买到了梦寐以求的宝贝，太感谢了！</option>
                                <option value="经过我的亲身体验，这家店信誉是相当地不错。宝贝的质量更像钻石一般。太感谢了！">经过我的亲身体验，这家店信誉是相当地不错。宝贝的质量更像钻石</option>
                                <option value="不要以为信誉低的卖家货质量不好。我用我的亲身经历告诉大家，掌柜服务态度非常好。商品质量也非常不错。顶你了！">不要以为信誉低的卖家货质量不好。我用我的亲身经历告诉大家，掌</option>
                                <option value="呵呵。商品这么快就到了，还不错哦，下次来你可要优惠哦^_^">呵呵。商品这么快就到了，还不错哦，下次来你可要优惠哦^_^</option>
                                <option value="真没想到网上购物还这么有意思，在卖家的指导下我终于学会了网上购物，谢谢！">真没想到网上购物还这么有意思，在卖家的指导下我终于学会了网上</option>
                                <option value="老朋友。我又来你店光顾了，久了没来，生意看来还真不错哦。努力哦！">老朋友。我又来你店光顾了，久了没来，生意看来还真不错哦。努力</option>
                                <option value="网上购物这么激烈，没想到店家的服务这么好，商品质量好而价低廉，我太感谢你了！">网上购物这么激烈，没想到店家的服务这么好，商品质量好而价低廉</option>
                                <option value="店家很讲信誉，而且很不错哦，在这家店买东东，我很满意~">店家很讲信誉，而且很不错哦，在这家店买东东，我很满意~</option>
                                <option value="期盼之中，终于等到了心爱的东东，谢谢！">期盼之中，终于等到了心爱的东东，谢谢！</option>
                                <option value="无意中来到你小铺就淘到心意的宝贝,心情不错!">无意中来到你小铺就淘到心意的宝贝,心情不错!</option>
                                <option value="宝贝收到了，很喜欢，买家很有信用！">宝贝收到了，很喜欢，买家很有信用！</option>
                                <option value="有了问题能很好的处理，可以信赖的好店家，以后有机会我们再合作。">有了问题能很好的处理，可以信赖的好店家，以后有机会我们再合作</option>
                                <option value="赞一个 发货迅速，宝贝和图片差不多。。">赞一个 发货迅速，宝贝和图片差不多。。</option>
                                <option value="不错 希望下次合作 谢谢掌柜~~">不错 希望下次合作 谢谢掌柜~~</option>
                                <option value="价格大众化，YY质量很好呀,款式、面料我都挺满意的．如果有需要我还会继续光顾你的店铺！">价格大众化，YY质量很好呀,款式、面料我都挺满意的．如果有需</option>
                                <option value="不好意思，付款晚了点！">不好意思，付款晚了点！</option>
                                <option value="货好，人更好！简单就好！">货好，人更好！简单就好！</option>
                                <option value="昨天拿到的，谢谢！">昨天拿到的，谢谢！</option>
                                <option value="合作愉快，已经确认付款，请查收！">合作愉快，已经确认付款，请查收！</option>
                                <option value="好好好！very good！">好好好！very good！</option>
                                <option value="产品很好，服务态度也好！">产品很好，服务态度也好！</option>
                                <option value="很好,非常满意！">很好,非常满意！</option>
                                <option value="感谢老板，送个真诚的好评！">感谢老板，送个真诚的好评！</option>
                                <option value="终于拿到啦~~ 好开心那！">终于拿到啦~~ 好开心那！</option>
                                <option value="卖家人真的好好哦,太感谢了！">卖家人真的好好哦,太感谢了！</option>
                                <option value=" 好好好好好好好好"> 好好好好好好好好</option>
                                <option value="刚收到货，很好，物超所值！！以后还来！">刚收到货，很好，物超所值！！以后还来！</option>
                                <option value="价格很优惠，服务也很好，东西不错，哈哈.........">价格很优惠，服务也很好，东西不错，哈哈.........</option>
                                <option value="质量很好，希望更多的朋友信赖．">质量很好，希望更多的朋友信赖．</option>
                                <option value="店主态度特好，我会再次光顾的．">店主态度特好，我会再次光顾的．</option>
                                <option value="可不可以再便宜点．我带朋友来你家买。">可不可以再便宜点．我带朋友来你家买。</option>
                                <option value=" 不好意思评价晚了，非常好的店家，东西很喜欢！"> 不好意思评价晚了，非常好的店家，东西很喜欢！</option>
                                <option value="买来这个是送人的,她很喜欢.卖家的贴心让我感到很温暖.以后我还会来选的.">买来这个是送人的,她很喜欢.卖家的贴心让我感到很温暖.以后我</option>
                                <option value="强烈支持！！！！">强烈支持！！！！</option>
                                <option value="很喜欢!也喜欢店家,很热情~!">很喜欢!也喜欢店家,很热情~!</option>
                                <option value="一个字 好，两个字 很好，三个字 太好了！哈哈……">一个字 好，两个字 很好，三个字 太好了！哈哈……</option>
                                <option value="好,支持,如果需要,下次还找你">好,支持,如果需要,下次还找你</option>
                                <option value=" 呵呵,很好,给个"优="优"""> 呵呵,很好,给个&quot;优&quot;</option>
                                <option value=" 信誉很好,,,,,,发货很及时"> 信誉很好,,,,,,发货很及时</option>
                                <option value="支持,强烈顶起！……">支持,强烈顶起！……</option>
                                <option value=" 主人不错，而且很热情。希望你的生意 越做越好啊！！呵呵"> 主人不错，而且很热情。希望你的生意 越做越好啊！！呵呵</option>
                                <option value="话说！~只能用快，好，来形容啦！~嘻嘻！`下次再找你！~">话说！~只能用快，好，来形容啦！~嘻嘻！`下次再找你！~</option>
                                <option value="不错的卖家，所以有又光顾叻！！！2009">不错的卖家，所以有又光顾叻！！！2009</option>
                                <option value="不错，很好的卖家。 很好，很high">不错，很好的卖家。 很好，很high</option>
                                <option value="方便快捷,谢谢,,,合作愉快!!">方便快捷,谢谢,,,合作愉快!!</option>
                                <option value="东西今天收到 很满意 谢谢老板！ 下次来的时候记得优惠咯！">东西今天收到 很满意 谢谢老板！ 下次来的时候记得优惠咯！</option>
                                <option value="不错啊 还会来的！">不错啊 还会来的！</option>
                                <option value="东西收到,很满意!!真的是超级好的卖家,解答疑问不厌其烦,细致认真,关键是东西好,而且货物发得超快,包装仔细,值得信赖!">东西收到,很满意!!真的是超级好的卖家,解答疑问不厌其烦,细</option>
                                <option value="很好,发货很快!服务周到！">很好,发货很快!服务周到！</option>
                                <option value="店家服务的很周到 店家的宝贝我很满意！">店家服务的很周到 店家的宝贝我很满意！</option>
                                <option value="发货速度挺快的,赞一个">发货速度挺快的,赞一个</option>
                                <option value="挺特别的,再来光顾……～">挺特别的,再来光顾……～</option>
                                <option value="很热情的卖家，下次还来">很热情的卖家，下次还来</option>
                                <option value="希望下次还有机会合作">希望下次还有机会合作</option>
                                <option value="祝你生意兴隆^_^">祝你生意兴隆^_^</option>
                                <option value="质量非常好,真出乎我的意料,包装非常仔细,非常感谢 ,祝生意兴隆!">质量非常好,真出乎我的意料,包装非常仔细,非常感谢 ,祝生意</option>
                                <option value=" 非常感谢，好喜欢哦，下次再来哦~"> 非常感谢，好喜欢哦，下次再来哦~</option>
                                <option value="东西不错，卖家也很风趣。下次还来～">东西不错，卖家也很风趣。下次还来～</option>
                                <option value="偶还来哈！哈哈，要记得偶啦">偶还来哈！哈哈，要记得偶啦</option>
                                <option value="速度很快^很快^很快......谢谢了~~~有机会再合作~~~">速度很快^很快^很快......谢谢了~~~有机会再合作~~</option>
                                <option value="加油加油。生意欣荣">加油加油。生意欣荣</option>
                                <option value="服务质量好,态度热情,值得推荐!">服务质量好,态度热情,值得推荐!</option>
                                <option value="掌柜发货很及时阿，谢谢啦！">掌柜发货很及时阿，谢谢啦！</option>
                                <option value="虽然有点麻烦。。但是诚信拉！">虽然有点麻烦。。但是诚信拉！</option>
                                <option value="诚信第一，服务第一，绝对相信">诚信第一，服务第一，绝对相信</option>
                                <option value="效率卖家，东西也不错！">效率卖家，东西也不错！</option>
                                <option value="西西。多多光顾。西西。加油加油。生意欣荣">西西。多多光顾。西西。加油加油。生意欣荣</option>
                                <option value=" 很好，加一分。呵呵"> 很好，加一分。呵呵</option>
                                <option value="朋友介绍一起买的，收到了，谢谢了">朋友介绍一起买的，收到了，谢谢了</option>
                                <option value="蛮喜欢的 还有赠品 卖家人真不错">蛮喜欢的 还有赠品 卖家人真不错</option>
                                <option value="货已收到给个好评">货已收到给个好评</option>
                                <option value="发货速度很快哦，东西很赞！！">发货速度很快哦，东西很赞！！</option>
                                <option value="还不错的老板，下次还来买别的">还不错的老板，下次还来买别的</option>
                                <option value="DD很漂亮，发货及时，包装完好，">DD很漂亮，发货及时，包装完好，</option>
                                <option value="谢谢,以后有机会还从您那里购买。">谢谢,以后有机会还从您那里购买。</option>
                                <option value="好卖家，宝贝相当理想，关注ing！ 有新货了，记得通知我~">好卖家，宝贝相当理想，关注ing！ 有新货了，记得通知我~</option>
                                <option value="东西好便宜，赚信用很不错吗，呵呵，不错宝贝确实不错~ ">东西好便宜，赚信用很不错吗，呵呵，不错宝贝确实不错~ </option>
                                <option value="非常出乎意料，下次还会来的~ 好卖家，继续关注！">非常出乎意料，下次还会来的~ 好卖家，继续关注！</option>
                                <option value="很不错的卖家，很有耐心~东东也超好呢~">很不错的卖家，很有耐心~东东也超好呢~</option>
                                <option value="比图片是漂亮多了~">比图片是漂亮多了~</option>
                                <option value="好卖家，下次还会来的，谢谢卖家的热心~">好卖家，下次还会来的，谢谢卖家的热心~</option>
                                <option value="觉得自己眼光还是不错的，很好看！">觉得自己眼光还是不错的，很好看！</option>
                                <option value="非常好的卖家，会继续支持你的！">非常好的卖家，会继续支持你的！</option>
                                <option value="支持卖家,宝贝真不错">支持卖家,宝贝真不错</option>
                                <option value="很漂亮啊。值得拥有~ 下次还回来的~">很漂亮啊。值得拥有~ 下次还回来的~</option>
                                <option value="东西很实惠哦,支持卖家">东西很实惠哦,支持卖家</option>
                                <option value="货到了，和描述的很相符，好卖家！">货到了，和描述的很相符，好卖家！</option>
                                <option value="不错的卖家，发货很快的说！">不错的卖家，发货很快的说！</option>
                                <option value="呵呵，送朋友的，很合适！">呵呵，送朋友的，很合适！</option>
                                <option value="强烈支持啊 ~卖家好.东西好">强烈支持啊 ~卖家好.东西好</option>
                                <option value="支持~~~~~~~~~~~~~~卖家">支持~~~~~~~~~~~~~~卖家</option>
                                <option value="货到了，很漂亮啊~ 好卖家~">货到了，很漂亮啊~ 好卖家~</option>
                                <option value="非常好的卖家，很热情啊，下次还会来的~ 宝贝很不错！">非常好的卖家，很热情啊，下次还会来的~ 宝贝很不错！</option>
                                <option value="到货很迅速，质量很好，好店铺，推荐了~">到货很迅速，质量很好，好店铺，推荐了~</option>
                                <option value="货到了，质量很不错，支持下~">货到了，质量很不错，支持下~</option>
                                <option value="店铺确实很不错，收藏了~">店铺确实很不错，收藏了~</option>
                                <option value="很漂亮，谢谢店主了">很漂亮，谢谢店主了</option>
                                <option value="好卖家,果然是一流的,非常会为卖家着想,赞一个">好卖家,果然是一流的,非常会为卖家着想,赞一个</option>
                                <option value="很不错的买家，有你这样的买家是我的荣幸，希望下次再光临本店哦！谢谢！">很不错的买家，有你这样的买家是我的荣幸，希望下次再光临本店哦</option>
                                <option value="东西很漂亮，卖家服务态度很好，下次还来。">东西很漂亮，卖家服务态度很好，下次还来。</option>
                                <option value="东西很满意 速度很快 有机会我还会再来的 呵呵 合作愉快哦">东西很满意 速度很快 有机会我还会再来的 呵呵 合作愉快哦</option>
                                <option value="店家发货相当快~服务也很好！~还会在来买的">店家发货相当快~服务也很好！~还会在来买的</option>
                                <option value="真不好意思！！！因为电脑坏了，昨天才维修好，所以今天才给您付款。请谅解！！不过您的商品真的很不错，很喜欢！！！">真不好意思！！！因为电脑坏了，昨天才维修好，所以今天才给您付</option>
                                <option value="卖家的服务 挺好的,以后 还能做上买卖#892008">卖家的服务 挺好的,以后 还能做上买卖#892008</option>
                                <option value="不错不错，这样的老板我喜欢~~~~">不错不错，这样的老板我喜欢~~~~</option>
                                <option value=" 跟你交易次次都这么成功和开心的．．希望我们以后有更多的交易吧．．．哈哈"> 跟你交易次次都这么成功和开心的．．希望我们以后有更多的交易</option>
                                <option value="好 好 好 尽在不言中.">好 好 好 尽在不言中.</option>
                                <option value="蛮好的，呵呵，以后继续光顾">蛮好的，呵呵，以后继续光顾</option>
                                <option value="还可以，一分价钱一分货">还可以，一分价钱一分货</option>
                                <option value="宝贝不错发货很快！">宝贝不错发货很快！</option>
                                <option value="店家货物做工很精美，服务也不错，给好评一个，">店家货物做工很精美，服务也不错，给好评一个，</option>
                                <option value="发货超快，只是我不在，没能及时签收。赞，赞">发货超快，只是我不在，没能及时签收。赞，赞</option>
                                <option value="很好的卖家,绝对支持">很好的卖家,绝对支持</option>
                                <option value="早上收到，很喜欢，下次一定还来">早上收到，很喜欢，下次一定还来</option>
                                <option value="很耐心的店主！到货也很及时">很耐心的店主！到货也很及时</option>
                                <option value="价格很优惠，服务也很好，YY款式和面料都不错的，给个好评此次鼓励">价格很优惠，服务也很好，YY款式和面料都不错的，给个好评此次</option>
                                <option value="很好啊，这东东值。谢谢老板">很好啊，这东东值。谢谢老板</option>
                                <option value="嗯，这店主很令人满意。支持一下。">嗯，这店主很令人满意。支持一下。</option>
                                <option value="很好，态度诚恳，回复及时">很好，态度诚恳，回复及时</option>
                                <option value="哈，真是不错。这老板很地道">哈，真是不错。这老板很地道</option>
                                <option value="和你作生意很舒服。很负责，谢谢啦，以后合作。">和你作生意很舒服。很负责，谢谢啦，以后合作。</option>
                                <option value="呵呵，比预想的还好呢。价格也公道，谢谢啦~~~">呵呵，比预想的还好呢。价格也公道，谢谢啦~~~</option>
                                <option value="早上刚才收到，很是喜欢。下次还有来，介绍朋友来能不能给打个折？">早上刚才收到，很是喜欢。下次还有来，介绍朋友来能不能给打个折</option>
                                <optgroup label="2 服装类评语"></optgroup>
                                <option value="呵呵 ,,,好着呢.穿上还是挺舒服的">呵呵 ,,,好着呢.穿上还是挺舒服的</option>
                                <option value="非常好，质量好，掌柜服务态度也非常的好，大大的赞一个～">非常好，质量好，掌柜服务态度也非常的好，大大的赞一个～</option>
                                <option value="YY真不错，以后还会光顾！">YY真不错，以后还会光顾！</option>
                                <option value="非常漂亮，和实物图片一样，呵呵盒盒也好好哦">非常漂亮，和实物图片一样，呵呵盒盒也好好哦</option>
                                <option value="蛮好的,质量也不错,同事都说蛮好看的">蛮好的,质量也不错,同事都说蛮好看的</option>
                                <option value="太感谢了，衣服很漂亮，朋友很喜欢，最主要的是买家太好了~~~大大的赞一个。。。">太感谢了，衣服很漂亮，朋友很喜欢，最主要的是买家太好了~~~</option>
                                <option value="衣服，很合身">衣服，很合身</option>
                                <option value="出去玩忘记确认啦，嘿嘿，非常好的宝贝，喜欢喜欢">出去玩忘记确认啦，嘿嘿，非常好的宝贝，喜欢喜欢</option>
                                <option value="很不错的卖家 货早就到了 没时间签收 呵呵 质量很好 谢谢了">很不错的卖家 货早就到了 没时间签收 呵呵 质量很好 谢谢了</option>
                                <option value="衣衣不错,很喜欢，哈哈">衣衣不错,很喜欢，哈哈</option>
                                <option value="比图片上漂亮呢 质量也好">比图片上漂亮呢 质量也好</option>
                                <option value="宝贝收到了,好可爱,很喜欢">宝贝收到了,好可爱,很喜欢</option>
                                <option value="衣衣收到了,很合身,心情不错,哈哈!!!">衣衣收到了,很合身,心情不错,哈哈!!!</option>
                                <option value="穿上很舒服,谢谢了">穿上很舒服,谢谢了</option>
                                <option value="PP，不过我穿大了点．">PP，不过我穿大了点．</option>
                                <option value="质量不错，跟店主谈的不出入．">质量不错，跟店主谈的不出入．</option>
                                <option value="质量好，不变形不掉色，真不愧是牌子货．">质量好，不变形不掉色，真不愧是牌子货．</option>
                                <option value=" 穿上很好看..........................."> 穿上很好看........................</option>
                                <option value="我最喜欢的款,专卖太贵了,谢谢,简直一样,">我最喜欢的款,专卖太贵了,谢谢,简直一样,</option>
                                <option value="质量不错，款式差不多">质量不错，款式差不多</option>
                                <option value="质量不错,谢谢店主了,">质量不错,谢谢店主了,</option>
                                <option value="对比之后,还是你家的最好">对比之后,还是你家的最好</option>
                                <option value="很好看,比我想象的好多了,售后也不错">很好看,比我想象的好多了,售后也不错</option>
                                <option value="穿上感觉很舒服．">穿上感觉很舒服．</option>
                                <option value="就是好象有点大,嗨。。怪我自己拍前没仔细问下老板哦。">就是好象有点大,嗨。。怪我自己拍前没仔细问下老板哦。</option>
                                <option value="确实很漂亮">确实很漂亮</option>
                                <option value="衣服很不错！谢谢！好卖家">衣服很不错！谢谢！好卖家</option>
                                <option value=" 产品质量很好，很高档，朋友超喜欢！"> 产品质量很好，很高档，朋友超喜欢！</option>
                                <option value="PP很不错的。">PP很不错的。</option>
                                <option value="料子一般，样式还可以，">料子一般，样式还可以，</option>
                                <option value="宝贝不错,买家也讲诚信">宝贝不错,买家也讲诚信</option>
                                <option value="可以穿,谢谢啦">可以穿,谢谢啦</option>
                                <option value="发货好快呀。。。YY不错。。很喜欢。。">发货好快呀。。。YY不错。。很喜欢。。</option>
                                <option value="和商场滴一样，朋友说以后也让我帮她买呢。">和商场滴一样，朋友说以后也让我帮她买呢。</option>
                                <option value="价格合理，服务到位，发货及时。">价格合理，服务到位，发货及时。</option>
                                <option value="这样的YY质量和服务态度能不给好评吗？">这样的YY质量和服务态度能不给好评吗？</option>
                                <option value="收到的实物与想象中的一样，谢谢老板哦！">收到的实物与想象中的一样，谢谢老板哦！</option>
                                <option value="抱歉，付款晚了，衣服很漂亮">抱歉，付款晚了，衣服很漂亮</option>
                                <option value="这种我老婆好喜欢。谢谢。">这种我老婆好喜欢。谢谢。</option>
                                <option value=" 这个很好哦，多多进些，我还要。"> 这个很好哦，多多进些，我还要。</option>
                                <option value="抱歉,隔了好几天才确认收货,比较忙,我们同事都赞可爱">抱歉,隔了好几天才确认收货,比较忙,我们同事都赞可爱</option>
                                <option value="这件衣服比我想象的要好，很满意，你推荐的号也不错，买小了过几天真的穿不成了。谢谢啊，以后有好东西推荐啊。就是没见你的礼品小袜子，呵呵，我想下次会有的。">这件衣服比我想象的要好，很满意，你推荐的号也不错，买小了过几</option>
                                <option value="好卖家，衣服很漂亮，喜欢。我162，110斤，穿M号正好，给需要的MM一点参考吧">好卖家，衣服很漂亮，喜欢。我162，110斤，穿M号正好，给</option>
                                <option value="很好 ，衣服很满意，以后多合作！我再推荐给朋友！">很好 ，衣服很满意，以后多合作！我再推荐给朋友！</option>
                                <option value="YY很板，很漂亮。就是下次别再寄邮包了。">YY很板，很漂亮。就是下次别再寄邮包了。</option>
                                <option value="衣服质量很好，很好的卖家。">衣服质量很好，很好的卖家。</option>
                                <optgroup label="3 鞋子类评语"></optgroup>
                                <option value="觉得挺好的,穿上好象还高了一点">觉得挺好的,穿上好象还高了一点</option>
                                <option value=" 牌子就是牌子穿起来感觉就是不一样"> 牌子就是牌子穿起来感觉就是不一样</option>
                                <option value="鞋子穿上舒服就好，没有什么要求">鞋子穿上舒服就好，没有什么要求</option>
                                <option value="和图片一模一样，很好穿。">和图片一模一样，很好穿。</option>

                                <option value="非常好！满意">非常好！满意</option>
                                <option value="不错，很合适，款式不错">不错，很合适，款式不错</option>
                                <option value="可以穿,谢谢啦">可以穿,谢谢啦</option>
                                <option value="非常好！很漂亮的鞋子">非常好！很漂亮的鞋子</option>
                                <option value="哇,这鞋子穿上,感觉好高哦,!">哇,这鞋子穿上,感觉好高哦,!</option>
                                <option value="很好的卖家，发货很及时来的也很快，鞋看起来也不错，希望以后能有更多的合作机会，祝生意兴隆！">很好的卖家，发货很及时来的也很快，鞋看起来也不错，希望以后能</option>
                                <option value="货不错 下次还来">货不错 下次还来</option>
                                <option value="看在老板的面子上给个好评吧！">看在老板的面子上给个好评吧！</option>
                                <option value=" 鞋子 挺好的 大家放心买吧 呵呵"> 鞋子 挺好的 大家放心买吧 呵呵</option>
                                <option value="鞋子已经收到了！质量一般！有出地方有瑕疵！搞不好穿段时间就会脱机！不过对得起这价钱了！">鞋子已经收到了！质量一般！有出地方有瑕疵！搞不好穿段时间就会</option>
                                <option value="很好的卖家,弟弟对鞋子很满意.">很好的卖家,弟弟对鞋子很满意.</option>
                                <option value="稍到晚了点！不过是 好东东！">稍到晚了点！不过是 好东东！</option>
                                <option value=" 看上去还可以吧"> 看上去还可以吧</option>
                                <option value="货很满意，下次一定还找掌柜光顾希望优惠些。">货很满意，下次一定还找掌柜光顾希望优惠些。</option>
                                <option value="鞋子很不错,谢谢买家.">鞋子很不错,谢谢买家.</option>
                                <option value=" 不错的鞋子.."> 不错的鞋子..</option>
                                <option value="货收到了，満意！">货收到了，満意！</option>
                                <option value=" 防为查了是正的．鞋的做工看起来有点假．不过还可以接受．"> 防为查了是正的．鞋的做工看起来有点假．不过还可以接受．</option>
                                <option value="謝店主啦...">謝店主啦...</option>
                                <option value="鞋子發貨快..">鞋子發貨快..</option>
                                <option value="質量好又便宜..">質量好又便宜..</option>
                                <option value="下次再來幫襯...">下次再來幫襯...</option>
                                <option value="合作愉快..">合作愉快..</option>
                                <option value="颜色有点不对 啊~">颜色有点不对 啊~</option>
                                <option value="不好意思，这几天比较忙，忘记付款了，鞋子很好！！">不好意思，这几天比较忙，忘记付款了，鞋子很好！！</option>
                                <option value="谁要说这个卖家不厚道，我跟他拼了！">谁要说这个卖家不厚道，我跟他拼了！</option>
                                <option value="收到货后发现左脚前边是质量上问题，发黑，于是与卖家联系，至今没有一声回话，是不是不该这样的？">收到货后发现左脚前边是质量上问题，发黑，于是与卖家联系，至今</option>
                                <option value=" 下次合作愉快哦?"> 下次合作愉快哦?</option>
                                <option value=" 贷还不错,加油!!!"> 贷还不错,加油!!!</option>
                                <option value="卖家人很好！出了一些小问题，卖家用很満意的方法解决了，谢谢！">卖家人很好！出了一些小问题，卖家用很満意的方法解决了，谢谢！</option>
                                <option value="鞋子不错！查防伪也是真的，我还叫同学来买了。好买家。">鞋子不错！查防伪也是真的，我还叫同学来买了。好买家。</option>
                                <option value="你的“东东”很好。物有所值。店主很热心。">你的“东东”很好。物有所值。店主很热心。</option>
                                <option value=" 好宝贝，好老板"> 好宝贝，好老板</option>
                                <option value="可以!!!值得@!!">可以!!!值得@!!</option>
                                <option value=" 卖家人很好~东西也不错~谢谢诶~"> 卖家人很好~东西也不错~谢谢诶~</option>
                                <option value="鞋穿了不到一天,就有点变形.">鞋穿了不到一天,就有点变形.</option>
                                <option value="比想象中的好哦`">比想象中的好哦`</option>
                                <option value="鞋子是正品，但是卖家给错了样色，要粉色的给了灰色的，因为卖家服务态度较好，故更改为好评，望卖家日后多多注意细节问题。">鞋子是正品，但是卖家给错了样色，要粉色的给了灰色的，因为卖家</option>
                                <option value=" 质量没有问题。发货也很快。"> 质量没有问题。发货也很快。</option>
                                <option value=" 不错的卖家哦，鞋子质量也不错的！"> 不错的卖家哦，鞋子质量也不错的！</option>
                                <option value="不错不错,老哥很喜欢,也叫我帮他买呢">不错不错,老哥很喜欢,也叫我帮他买呢</option>
                                <option value="鞋子不错！但发货速度有待改善！">鞋子不错！但发货速度有待改善！</option>
                                <option value=" 发货请认真点,麻烦你老板,.鞋 的 颜色发错了给我,不过幸好他人愿意接受,看在你的服务还可以,下次认真点,先给你个好平.下次来有这情况的我退款来回邮费你来付.还给你个差"> 发货请认真点,麻烦你老板,.鞋 的 颜色发错了给我,不过幸</option>
                                <option value="买家按时发货，更重要的是正品，">买家按时发货，更重要的是正品，</option>
                                <option value="希望大家在购买是放心~！">希望大家在购买是放心~！</option>
                                <option value="卖家态度很好呀，鞋子质量也不错的！">卖家态度很好呀，鞋子质量也不错的！</option>
                                <option value="不错！鞋子很好！">不错！鞋子很好！</option>
                                <option value="非常抱歉！昨天我没在家，没能及时把钱给您！真是不好意思！">非常抱歉！昨天我没在家，没能及时把钱给您！真是不好意思！</option>
                                <option value="很感谢您的理解">很感谢您的理解</option>
                                <option value="卖家不错，虽然两双鞋子没有按我要求一起发，但好评还是应该给你的！呵呵">卖家不错，虽然两双鞋子没有按我要求一起发，但好评还是应该给你</option>
                                <option value="很好的卖家~~~~期待下次合作~~~">很好的卖家~~~~期待下次合作~~~</option>
                                <option value=" 不错的卖家很实在"> 不错的卖家很实在</option>
                                <option value=" 挺合适的，效果也不错"> 挺合适的，效果也不错</option>
                                <option value=" 感觉还不错，123值了"> 感觉还不错，123值了</option>
                                <option value=" 鞋子正品，防伪也查了，老板信用不错哦，给予强烈支持，支持正品，"> 鞋子正品，防伪也查了，老板信用不错哦，给予强烈支持，支持正</option>
                                <option value="老板好，鞋子质量也可以，不错~！">老板好，鞋子质量也可以，不错~！</option>
                                <option value="还可以的啦！！可惜，我码子买大了~呵呵！">还可以的啦！！可惜，我码子买大了~呵呵！</option>
                                <option value="东西很好~~~~~~~~~~~~谢谢~~~~~老板~~~">东西很好~~~~~~~~~~~~谢谢~~~~~老板~~~</option>
                                <option value="顶你一个">顶你一个</option>
                                <option value="宝贝物美价廉 发货很快 希望大家都来看看">宝贝物美价廉 发货很快 希望大家都来看看</option>
                                <option value=" 老板非常诚信，三天就到货了，拨打400防伪查询后证明鞋子是正品，价钱也很便宜。以后我买鞋子就都到你们家买了。我家人、我朋友、我同事、我同学，要买鞋子的话我都会推荐到你们家买。谢谢老板！！"> 老板非常诚信，三天就到货了，拨打400防伪查询后证明鞋子是</option>
                                <option value="鞋子很好，很漂亮，我喜欢。掌柜人也好好哦！以后买鞋都来掌柜店里淘宝了！">鞋子很好，很漂亮，我喜欢。掌柜人也好好哦！以后买鞋都来掌柜店</option>
                                <option value="鞋子还行 就是鞋带有点问题">鞋子还行 就是鞋带有点问题</option>
                                <option value="不是非常好，也还可以了，谢谢">不是非常好，也还可以了，谢谢</option>
                                <option value="热情的卖家 不错的鞋子 希望下次合作！！！">热情的卖家 不错的鞋子 希望下次合作！！！</option>
                                <option value="亲，宝贝收到了，我超喜欢，做工质地都好得没话说，呵呵，服务态度也超好， 很有心的店家，以后常光顾">亲，宝贝收到了，我超喜欢，做工质地都好得没话说，呵呵，服务态</option>
                                <option value="一个字形容就是“好">一个字形容就是“好</option>
                                <option value="挺合适的，效果也不错">挺合适的，效果也不错</option>
                                <option value="防伪码是真的，但是被撕下来了。感觉鞋不是真的。鉴于价格和老板态度不错，给个好评吧。。">防伪码是真的，但是被撕下来了。感觉鞋不是真的。鉴于价格和老板</option>
                                <option value="货到了，谢谢你。挺喜欢的，好卖家">货到了，谢谢你。挺喜欢的，好卖家</option>
                                <option value="能够跟你合作，我觉得非常愉快！谢谢！">能够跟你合作，我觉得非常愉快！谢谢！</option>
                                <option value="不是最好，也算是过得去了，谢谢 了">不是最好，也算是过得去了，谢谢 了</option>
                                <option value=" 合作愉快，已经确认付款，请查收！"> 合作愉快，已经确认付款，请查收！</option>
                                <option value="卖家的态度非常好，虽然曾经让我等待过">卖家的态度非常好，虽然曾经让我等待过</option>
                                <option value="很好的店家，服务很到位">很好的店家，服务很到位</option>
                                <option value="真的好好哦">真的好好哦</option>
                                <option value="做工和款式都不错，赞一个">做工和款式都不错，赞一个</option>
                                <option value=" 很喜欢 正好满足我的需要"> 很喜欢 正好满足我的需要</option>
                                <option value="鞋子很满意，，老板很守信用，发货也很快！！！">鞋子很满意，，老板很守信用，发货也很快！！！</option>
                                <option value="以后有机会还要合作愉快啊！！！！">以后有机会还要合作愉快啊！！！！</option>
                                <option value="不错!!感觉还很透气,最主要是结实">不错!!感觉还很透气,最主要是结实</option>
                                <option value=" 鞋还不错哦，但表面有少许皱哦....不过还可以啊，下次再合作"> 鞋还不错哦，但表面有少许皱哦....不过还可以啊，下次再合</option>
                                <option value="对鞋子很满意~发货也很快">对鞋子很满意~发货也很快</option>
                                <option value="非常好 正品 值死了">非常好 正品 值死了</option>
                                <option value="随办事速度一般,可是很讲信用的卖家,不错,以后买东西一定先看你的货!">随办事速度一般,可是很讲信用的卖家,不错,以后买东西一定先看</option>
                                <option value="买这个鞋 是帮朋友买的 鞋很好 ！ 在你这边都买3个一样的鞋了！ 呵呵 ！">买这个鞋 是帮朋友买的 鞋很好 ！ 在你这边都买3个一样的鞋</option>
                                <option value="最近没上网,!所以评价晚咯,">最近没上网,!所以评价晚咯,</option>
                                <option value="卖家的货很好噢2">卖家的货很好噢2</option>
                                <option value=" 老板人很好，很耐心！所有问题都解释的清清楚楚！有机会还会光顾的"> 老板人很好，很耐心！所有问题都解释的清清楚楚！有机会还会光</option>
                                <option value=" 还不错，就是表皮有些皱了"> 还不错，就是表皮有些皱了</option>
                                <option value="不是太完美，但那个价钱，也就算物有所值了">不是太完美，但那个价钱，也就算物有所值了</option>
                                <option value="卖家的为人，让我很放心,希望生意更好">卖家的为人，让我很放心,希望生意更好</option>
                                <option value="希望掌柜的多话心思在包装上....鞋子盒子都烂了,鞋子也有点变形了....">希望掌柜的多话心思在包装上....鞋子盒子都烂了,鞋子也有点</option>
                                <option value="价格便宜，质量还算可以，发货速度比较快，给个好评吧！">价格便宜，质量还算可以，发货速度比较快，给个好评吧！</option>
                                <option value="非常好的卖家，有自己的想法和原则">非常好的卖家，有自己的想法和原则</option>
                                <option value="很有耐心的卖家">很有耐心的卖家</option>
                                <option value="不好意思，学校上课，确认晚了">不好意思，学校上课，确认晚了</option>
                                <option value=" 发货特别准时，而且货特别的好 ！我很很满意 ！老板人也好一切都好！"> 发货特别准时，而且货特别的好 ！我很很满意 ！老板人也好一</option>
                                <option value="发货快，物品基本满意。。所以给好评！">发货快，物品基本满意。。所以给好评！</option>
                                <option value="以后买东西再找你">以后买东西再找你</option>
                                <option value=" 可爱的卖家！"> 可爱的卖家！</option>
                                <option value="发货很快,赞一个">发货很快,赞一个</option>
                                <option value="感谢店主的推荐,本人相当满意..谢谢谢谢">感谢店主的推荐,本人相当满意..谢谢谢谢</option>
                                <option value="还发阳正品，不然我会难过的，谢谢老板">还发阳正品，不然我会难过的，谢谢老板</option>
                                <option value="当礼物首选哈，谢谢店家推荐！">当礼物首选哈，谢谢店家推荐！</option>
                                <option value="要买好鞋，找这个老板，准没有错!">要买好鞋，找这个老板，准没有错!</option>
                                <optgroup label="4 其他评语"></optgroup>
                                <option value="忙了，都忘记了，不好意思 ">忙了，都忘记了，不好意思 </option>
                                <option value="还能说什么呢～～有生之年能碰到老板这个店，够幸福的．． ">还能说什么呢～～有生之年能碰到老板这个店，够幸福的．． </option>
                                <option value="****质量还不错，货发到的也很及时 ***可以用 衣服 裤子 什么什么的 ">****质量还不错，货发到的也很及时 ***可以用 衣服 裤</option>
                                <option value="老熟客了,东西还是一如既往的好,货真价实的日货尾单,性价比突出 ">老熟客了,东西还是一如既往的好,货真价实的日货尾单,性价比突</option>
                                <option value="哈哈，很喜欢，以后看到好看的包再进点吧 ">哈哈，很喜欢，以后看到好看的包再进点吧 </option>
                                <option value="不错，百搭的裤型 ">不错，百搭的裤型 </option>
                                <option value="很修身，颜色很正 ">很修身，颜色很正 </option>
                                <option value="真的不好意思 由于我的粗心大意让**麻烦了... **店家昵称 ">真的不好意思 由于我的粗心大意让**麻烦了... **店家昵</option>
                                <option value="衣服质量特别好。 ">衣服质量特别好。 </option>
                                <option value="第二次买了 货不错啊老板人很好 ">第二次买了 货不错啊老板人很好 </option>
                                <option value="就是这个风险啊，不能实时验证呵呵。 ">就是这个风险啊，不能实时验证呵呵。 </option>
                                <option value="换的裤子已收到，麻烦老板了，非常感谢！ ">换的裤子已收到，麻烦老板了，非常感谢！ </option>
                                <option value="你店的都很好质量。谢谢 ">你店的都很好质量。谢谢 </option>
                                <option value="虽然还没有到手上，不过爸爸说不错 ">虽然还没有到手上，不过爸爸说不错 </option>
                                <option value="实在是考验修身极限...以后还是要买L啊 哈哈 ">实在是考验修身极限...以后还是要买L啊 哈哈 </option>
                                <option value="最近太忙了，确认晚了，东西是很好的，呵呵。 ">最近太忙了，确认晚了，东西是很好的，呵呵。 </option>
                                <option value="很棒的衣服，很好的服务，谢谢 ">很棒的衣服，很好的服务，谢谢 </option>
                                <option value="发货很快，颜色、质地很好，就是有些薄。总体来说不错，继续支持！ ">发货很快，颜色、质地很好，就是有些薄。总体来说不错，继续支持</option>
                                <option value="买了很多东西 都非常满意 很好的卖家 我会常来的 折扣卡可以升到顶级了吧 ">买了很多东西 都非常满意 很好的卖家 我会常来的 折扣卡可以</option>
                                <option value="不错 面料很薄 春夏交替季节穿合适 ">不错 面料很薄 春夏交替季节穿合适 </option>
                                <option value="物流公司的态度比较差,建议换一家！不过店长人还不错！ ">物流公司的态度比较差,建议换一家！不过店长人还不错！ </option>
                                <option value="能够马上换,值得表扬！ ">能够马上换,值得表扬！ </option>
                                <option value="真不错，老公喜欢就是好！ ">真不错，老公喜欢就是好！ </option>
                                <option value="刚好穿的裤子，很好! ">刚好穿的裤子，很好! </option>
                                <option value="很亮的粉红色，质量做工更是没的说。回头看看有个可爱的买家说买了件校服，哈哈……估计他买了白色的。 ">很亮的粉红色，质量做工更是没的说。回头看看有个可爱的买家说买</option>
                                <option value="次上货的时候，弄点裤腿宽松一点的新款吧，，，，， 给多点选择 ">次上货的时候，弄点裤腿宽松一点的新款吧，，，，， 给多点选择</option>
                                <option value="对裤子很满意，裤型不错 ">对裤子很满意，裤型不错 </option>
                                <option value="真是很值得哦.... 什么都很好.. ">真是很值得哦.... 什么都很好.. </option>
                                <option value="衣服很舒服,寄得很快,2天就到了. ">衣服很舒服,寄得很快,2天就到了. </option>
                                <option value="东西还ok，但是有点脏了，希望下次发货的时候多注意一下 ">东西还ok，但是有点脏了，希望下次发货的时候多注意一下 </option>
                                <option value="货物还算可以，样式不错，很合身，只是一些细节上还很一般，没有想像中那么好。 ">货物还算可以，样式不错，很合身，只是一些细节上还很一般，没有</option>
                                <option value="老客户了啊，希望以后有更多好东东 ">老客户了啊，希望以后有更多好东东 </option>
                                <option value="还好选大一个码，超修身，很棒！ ">还好选大一个码，超修身，很棒！ </option>
                                <option value="yy不错，朋友很喜欢，谢谢 ">yy不错，朋友很喜欢，谢谢 </option>
                                <option value="实物的色和图片稍有差异，但还是挺满意的。 ">实物的色和图片稍有差异，但还是挺满意的。 </option>
                                <option value="物有所值 ">物有所值 </option>
                                <option value="店已经收藏了很久，不过是第一次下手。应该说还不错。 ">店已经收藏了很久，不过是第一次下手。应该说还不错。 </option>
                                <option value="衣服很好 面料很舒服,下次记得送点小礼品哦。 ">衣服很好 面料很舒服,下次记得送点小礼品哦。 </option>
                                <option value="卖家人很好 这个还没用 看包装应该不错 ">卖家人很好 这个还没用 看包装应该不错 </option>
                                <option value="裤子太棒咯，很喜欢这颜色，另外谢谢long送的袜子lo 。 ">裤子太棒咯，很喜欢这颜色，另外谢谢long送的袜子lo 。 </option>
                                <option value="还不错.质量挺好的.速度也快. ">还不错.质量挺好的.速度也快. </option>
                                <option value="没想到这么快就到了，尺寸正好，老板服务热心. ">没想到这么快就到了，尺寸正好，老板服务热心. </option>
                                <option value="老板性格好，宝贝也好，戴上去也很舒服，超赞. ">老板性格好，宝贝也好，戴上去也很舒服，超赞. </option>
                                <option value="效果很不错，以后会长期服用。 ">效果很不错，以后会长期服用。 </option>
                                <option value="掌柜人不错 。衣服很好 服务很热情。 ">掌柜人不错 。衣服很好 服务很热情。 </option>
                                <option value="质量好，以后还来你家买。 ">质量好，以后还来你家买。 </option>
                                <option value="很难得的正品，网购以来最满意的了。 ">很难得的正品，网购以来最满意的了。 </option>
                                <option value="做工较细致 款式上身比较修身 发货速度快 是物有所值的一件衣衣 谢谢。 ">做工较细致 款式上身比较修身 发货速度快 是物有所值的一件衣</option>
                                <option value="很好的卖家。谢谢喽。我的同事们都很喜欢呢。下次再来哦 ">很好的卖家。谢谢喽。我的同事们都很喜欢呢。下次再来哦 </option>
                              </select>
					        </p>
				            <p>您可以规定接手方在淘宝交易好评时填写规定的内容。额外支付的<span class="f_b_red">0.1</span>个兔粮</p>
				            <p>将奖励给接手方</p></td>
	</tr>
					<tr>
							<td align="right">购物分享</td>
							<td><input name="isShare" type="checkbox" id="isShare" value="1"{if $datas[isShare]} checked="checked"{/if} /></td>
							<td><input type="radio" name="share" value="1"{if !$datas || $datas[share]==1} checked='checked'{/if} id="share_1" />
							<label for="share_1">非匿名分享(<span class="f_b_red">0.2</span>兔粮)</label>
　
							<input type="radio" name="share" value="2"{if $datas[share]==2} checked="checked"{/if}  id="share_2" />
							<label for="share_2">匿名分享(<span class="f_b_red">0.5</span>兔粮)</label></td>
							<td><span class="f_b_red">【分享内容同好评内容】</span>，请认真填写好评内容；匿名分享的勾选了非匿名分享，接手人可不理会</td>
					  </tr>
					<tr>
							<td align="right">留言提醒：</td>
							<td><input type="checkbox" checked="checked" disabled="disabled" name="isTipss" value="1" /></td>
							<td><textarea name="tips" class="txt_normal" id="tips" >$datas[tips]</textarea></td>
							<td>您可以在此给接手方留言提醒，比如：希望接手方不用在收货后立即好评而是默认好评，提醒接手方购买商品的数量，提醒买家购买虚拟物品的帐号、QQ号等；留言最多允许100字。 <span class="f_red">留言提醒不能作为申诉理由，但总不理会留言的接手方客服酌情处罚；广告留言则重罚；</span><a href="/bbs/t70/" target="_blank" class="link_b">留言规范</a></td>
					  </tr>
																	<tr>
							<td align="right" class="f_b_red">店铺宝贝收藏：</td>
							<td><input type="checkbox" id="isDbssc" value="1" name="isDbssc"{if $datas[isDbssc]} checked="checked"{/if} /></td>
							<td colspan="2">要求接手方收藏您店铺和宝贝，需额外支付<span class="f_b_red">0.5</span>个兔粮给接手方</td>
						</tr>
					<tr>
							<td align="right">审核接手人：</td>
							<td><input name="isVerify" type="checkbox" id="isVerify" value="1"{if $datas[isVerify]} checked="checked"{/if} /></td>
							<td colspan="2">接手者接您任务后，要您亲自审核才可看到商品地址，对刷实物商家特别有用哦！额外支付的<span class="f_b_red">0.3</span>个兔粮将奖励给接手方</td>
						</tr>
					<tr>
							<td align="right" class="f_b_green">限制接手人：</td>
							<td><input name="isLimit" type="checkbox" id="isLimit" value="1"{if $datas[isLimit]} checked="checked"{/if} /></td>
							<td colspan="2"><input type="radio" name="limit" value="1"{if !$datas || $datas[limit]==1} checked="checked"{/if} id="limit_1" />
							<label for="limit_1">1天接1个(<span class="f_b_red">0.5</span>个兔粮)</label>
　
							<input type="radio" name="limit" value="2"{if !$datas || $datas[limit]==2} checked="checked"{/if} id="limit_2" />
							<label for="limit_2">1天接2个(<span class="f_b_red">0.2</span>个兔粮)</label>
							限制同一天内接手人不允许重复接手相同掌柜的任务，需额外支付兔粮</td>
						</tr>
					<!--<tr>
							<td align="right" class="f_b_red">买号实名认证：</td>
							<td><input name="isReal" type="checkbox" id="isReal" value="1"{if $datas[isReal]} checked="checked"{/if} /></td>
							<td colspan="2">限制接手买号必须是通过了支付宝实名认证才可以绑定此任务；需额外支付<span class="f_b_red">0.5</span>个兔粮给接手方</td>
						</tr>-->				      <tr>
                            <td align="right" class="f_b_green">指定收货地址：</td>
                        <td><input name="isAddress" type="checkbox" id="isAddress" value="1"  /></td>
                        <td colspan="2"><input type="text" name="address" id="address" class="text_long" value="" /> 额外支付<span class="f_b_red">0.5</span>个兔粮给接手方</td>
                   </tr>
					<tr>
							<td align="right" class="f_b_red">需要旺旺聊天：</td>
							<td><input type="checkbox" id="isChat" value="1" name="isChat"{if $datas[isChat]} checked="checked"{/if} /></td>
							<td colspan="2">要求接手方先在旺旺上聊几句，需额外支付<span class="f_b_red">1</span>个兔粮给接手方</td>
						</tr>
					<tr>
							<td align="right" class="f_b_red">旺旺确认收货：</td>
							<td><input type="checkbox" id="isChatDone" value="1" name="isChatDone"{if $datas[isChatDone]} checked="checked"{/if} /></td>
							<td colspan="2"> 要求接手方收货前登录旺旺与卖家确认到“货物/服务”同时声明对收到“货物/服务”满意以作为收货证据，需额外支付<span class="f_b_red">0.5</span>个兔粮给接手方</td>
						</tr>
					<tr>
						<td align="right" class="f_b_green">星级买号任务：</td>
						<td><input name="isStar" type="checkbox" id="isStar" value="1"{if $datas[isStar]} checked{/if}  /></td>
						<td colspan="2">
						{eval
							$__buyerList = cfg::getList('sys', 'buyer_level_list');
						}
							{loop $__buyerList $__k $__v}
							<input type="radio" name="lvlStar" value="$__v[key]"  id="lvlStar$__v[key]"{if !$datas && $__v[checked] || $datas && $datas[lvlStar] == $__v[key]} checked{/if} /><label for="lvlStar3">$__v[key]星(<span class="f_b_red">$__v[value]</span>个兔粮)</label>　
							{/loop}
							 　<a href="#" target="_blank" class="link_b">了解星级买号>></a></td>
					  </tr>
					  
					  <tr>
						<td align="right" class="f_b_green">商保：</td>
						<td><input type="checkbox" id="isEnsure" value="1" name="isEnsure"{if $datas[isEnsure]} checked{/if}  /><input type="hidden" name="ensurePoint" value="$ensurePoint" /></td>
						<td colspan="2" class="f_b_green">要求接手方缴纳保证金后成为平台的商保用户才可以接手，需额外支付<span class="f_b_red">$ensurePoint</span>个兔粮给接手方；<a href="#" target="_blank" class="link_b">了解保护发布方的商保>></a></td>
					  </tr>
					<tr>
							<td align="right">接手人自动过滤：<br />
							<div class="f_red" style="padding-right:12px">为了照顾新人<br/>新手区不允许<br/>选择过滤接手人</div></td>
							<td nowrap="nowrap"><div>
									<input name="isScore" type="checkbox" id="isScore"  value="1"{if $datas[isScore]} checked="checked"{/if} disabled="disabled" />
									&nbsp; </div>
							<div>
									<input name="isCredit" type="checkbox" id="isCredit"  value="1"{if $datas[isCredit]} checked="checked"{/if} disabled="disabled" />
									&nbsp; </div>
							<div>
									<input name="isGood" type="checkbox" id="isGood"  value="1"{if $datas[isGood]} checked="checked"{/if} disabled="disabled" />
									&nbsp; </div>
							<div>
									<input name="isBlack" type="checkbox" id="isBlack"  value="1"{if $datas[isBlack]} checked="checked"{/if} disabled="disabled" />
									&nbsp; </div>
							<div>
									<input name="isFame" type="checkbox" id="isFame"  value="1"{if $datas[isFame]} checked="checked"{/if} disabled="disabled" />
									&nbsp; </div></td>
							<td nowrap="nowrap"><div> 接手人积分不低于：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
									<input name="scoreLvl" type="radio" id="radio" value="100"{if !$datas || $datas[scoreLvl]==100} checked='checked'{/if} />
									100
									<input type="radio" name="scoreLvl" id="radio2" value="400"{if $datas[scoreLvl]==400} checked='checked'{/if} />
									400
									<input type="radio" name="scoreLvl" id="radio3" value="900"{if $datas[scoreLvl]==900} checked='checked'{/if} />
									900</div>
							<div> 接手人信用额度不低于：&nbsp;&nbsp;&nbsp;&nbsp;
									<input name="creditLvl" type="radio" id="radio4" value="30"{if !$datas || $datas[creditLvl]==30} checked='checked'{/if} />
									30&nbsp;
									<input type="radio" name="creditLvl" id="radio5" value="100"{if $datas[creditLvl]==100} checked='checked'{/if} />
									100
									<input type="radio" name="creditLvl" id="radio6" value="300"{if $datas[creditLvl]==300} checked='checked'{/if} />
									300</div>
							<div> 接手人刷客满意度不低于：&nbsp;&nbsp;
									<input type="radio" name="goodLvl" id="radio7" value="99"{if $datas[goodLvl]==99} checked='checked'{/if} />
									99%&nbsp;
									<input type="radio" name="goodLvl" id="radio8" value="95"{if $datas[goodLvl]==95} checked='checked'{/if} />
									95%&nbsp;
									<input name="goodLvl" type="radio" id="radio9" value="90"{if !$datas || $datas[goodLvl]==90} checked='checked'{/if} />
									90%</div>
							<div> 接手人被拉黑名单数不大于：
									<input type="radio" name="blackLvl" id="radio10" value="1"{if $datas[blackLvl]==1} checked='checked'{/if} />
									1&nbsp;&nbsp;
									<input name="blackLvl" type="radio" id="radio11" value="3"{if !$datas || $datas[blackLvl]==3} checked='checked'{/if} />
									3&nbsp;&nbsp;
									<input type="radio" name="blackLvl" id="radio12" value="10"{if $datas[blackLvl]==10} checked='checked'{/if} />
									10</div>
							<div> 接手买号买家信誉度不高于：
									<input type="radio" name="fameLvl" id="radio13" value="90"{if !$datas || $datas[fameLvl]==90} checked='checked'{/if} />
									90&nbsp;
									<input type="radio" name="fameLvl" id="radio14" value="150"{if $datas[fameLvl]==150} checked='checked'{/if} />
									150
									<input name="fameLvl" type="radio" id="radio15" value="220"{if $datas[fameLvl]==220} checked='checked'{/if} />
									220</div></td>
							<td>您可以设置接手人的最低资质要求，系统将自动为您过滤掉不合格的接手人。每条任务需额外支付<span class="f_b_red">0.1</span>个兔粮</td>
						</tr>
					<tr>
							<td align="right">计划发布任务：</td>
							<td><input name="isPlan" type="checkbox" id="isPlan" value="1"{if $datas[isPlan]} checked="checked"{/if}  /></td>
							<td colspan="2"><input type="text" name="planDate" id="planDate" class="task_text" value="$datas[planDate]" readonly="readonly" onclick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'});" />
							设定任务计划发布的时间，平台将在您规定的时间自动为您发布到互动区。额外支付的<span class="f_b_red">0.1</span>个兔粮</td>
						</tr>
				</table>
				</div>
			<div class="ex_bottom"></div>
		</div>
			<div class="tpl_to">将该任务保存到任务模板中：
			<input name="isTpl" type="checkbox" id="isTpl" value="1"  />
			<input name="tplTo" type="text" class="task_text" id="tplTo"  maxlength="50" />
		</div>
			<div class="pub_tip3"> <strong>注释：</strong>将您要发布的任务存入“发布任务模板中”您以后发布类似任务时就可选择从模板发布，实现快捷方便的发布任务；普通用户最多可保存三个任务发布模板，信托会员可保存五个任务发布模板尊享VIP可拥有十个任务发布模板 <a href="/bbs/t54/" class="link_o">了解VIP特权</a> <a href="{rewrite}/member/vip/" class="link_o">现在就成为VIP</a> </div>
			<div class="publish">
			<table class="tbl" border="0" width="100%" cellspacing="0" cellpadding="3">
					<tr>
					<td align="right" width="48%"><input type="image" name="btnSave" id="imageField" src="{$weburl2}images/btn/task_submit.gif" /></td>
					<td align="left">　　<a href="/bbs/t68/" class="link_o" target="_blank">安全发布指南</a>　<a href="/bbs/t69/" class="link_o" target="_blank">卖家安全刷钻教程</a></td>
				</tr>
				</table>
		</div>
		</form>
	<div class="h_20"></div>
</div>
	<script type="text/javascript">
var buyerLevelPoint = {{loop $__buyerList $__k $__v}{if $__k > 0},{/if}'$__v[key]':$__v[value]{/loop}};
$(function(){
	if (!$('[name=nickname]').checked()) {
		$('[name=nickname]').checked(0);
	}
	{if $datas}
	$('#price').blur();
	{/if}
});
function showWayTip() {
	
}

function checkForm() {
    if ($('[name=nickname]').rVal() == '') {
        alert('请选择掌柜');
        return false;
    }
    var checks = [
        ['isEmpty', 'itemurl', '商品网址'],
        ['isStock', 'price', '商品价格'],
        ['isRange', 'price', '商品价格', 1,1999],
        ['isNum', 'pointExt', '追加兔粮'],
        ['isRange', 'pointExt', '追加兔粮', 0, 10],
        ['isLength', 'tips', '留言提醒', 0, 100]];
    var result = doCheck(checks);            
    if (!result) return result;
    var str = getValue('itemurl');
    //var urlPattern = /^http:\/\/([\w-]+\.)+((taobao)|(tmall))\.com\/item\.htm\?(item_)?(num_)?id=\d+(.)*$/i;
	var urlPattern = /^(?:http:\/\/[\w-]+\.+(?:taobao|tmall)\.com\/item\.htm\?.*?id=(\d+))|(?:http:\/\/item\.(?:tmall|taobao)\.com\/mealDetail\.htm\?.*?id=(\d+))/i;
        if (!urlPattern.test(str)) { return doAlert('商品网址不正确，商品网址格式应为：\n\nhttp://item.taobao.com/item.htm?id=xxxxx\n\n请在店铺首页打开商品然后再复制商品网址', $('#itemurl'));}
    if (!getObj('isRemark').disabled && getObj('isRemark').checked) {
         if (getValue('remark').indexOf('带字') >= 0 || getValue('remark').indexOf('好评') >= 0 || getValue('remark').indexOf('评分') >= 0 || getValue('remark').indexOf('评价') >= 0 || getValue('remark').indexOf('收藏') >= 0 || getValue('remark').indexOf('请') >= 0) {
            alert('评价内容不允许含有“带字”、“好评”、“评价”、“评分”、“收藏”、“请”等字眼\n\n如果您是新手，为了保障您的利益，最好先请教客服人员该如何写评语', getObj('remark'));
            return false;
         }   
         if (!isEmpty('remark', '规定好评内容')) return false;
    }
    if (getObj('isShare') && getObj('isShare').checked && !getObj('isRemark').checked) {
        alert('购物分享的分享内容即是好评内容，请勾选好评内容，并认真填写，不了解的请咨询客服');
        return false;
    }
	//add to 2012-02-23
	  if (getObj('visitWay') && getValue('visitWay') == '2') {
	    var unlen = getValue('visitKey').replace(/[^\x00-\xff]/g, '**').length;
	    if (unlen < 8) {
		    alert('宝贝搜索关键字不能少于8个字符，1个汉字相当于2个字符');
		    return false;
	    }
    }
    if (getObj('visitWay') && getValue('visitWay') > 0 && getValue('itemurl').toLocaleLowerCase().indexOf('mealdetail.htm') > 0) {
        alert('对不起，套餐任务不支持来路搜索');
        return false;
    }
	//add end
	if (getObj('isStar') && getObj('isStar').checked && getRV('lvlStar') == '') {
        alert('请选择星级买号的等级');
        return false;
    }
	//add to 2012-02-23
	if (getObj('isStar') && getObj('isStar').checked && getValue('itemurl').toLocaleLowerCase().indexOf('mealdetail.htm') > 0) {
        alert('对不起，套餐任务不能选择星级买号');
        return false;
    }
    if (getObj('isStar') && getObj('isStar').checked && getObj('isAddress') && getObj('isAddress').checked) {
        alert('对不起，星级买号不支持指定收货地址的任务');
        return false;
    }
	if (getObj('isStar') && getObj('isStar').checked && getObj('isReal') && getObj('isReal').checked && getRV('realname') == 2) {
        alert('对不起，星级买号和掌柜号不能同时选中');
        return false;
    }
	//add end
    if (getObj('isPlan').checked)
         if (!isEmpty('planDate', '计划发布日期')) return false;
    if (getObj('isTpl').checked) 
        if (!isEmpty('tplTo', '模板名称')) return false;
    if (result && getValue('itemurl').indexOf('http://item.taobao.com/meal_detail.htm?meal_id=') < 0)
        result = countPoint();
    if (result)avoidReSubmit();
    return result;
}
function getTpl(obj) {
    if (obj.value == '0')
        return ;
    var url = '$thisUrl&tplId=' + obj.value;
    window.location.href = url;
}
function getFloat(id) {
	var d = parseFloat(getValue(id));
	if (isNaN(d))
		return 0;
	else
		return d;
}
function countPoint() {
	var p = getFloat('point');
	var p2 = getFloat('price');
    var t = getRV('times');
    if (t==2) p = p * 1.8;
    if (t==3) p = p * 1.8 + 1;
    if (t==4) p = p * 1.8 + 2;
    p += getFloat('pointExt');
    if (getObj('isRemark').checked) p += 0.1;
    if (getObj('isVerify').checked) p += 0.3;
    if (getObj('isLimit').checked) { 
        if (getRV('limit') == '2')
            p += 0.2;
        else
            p += 0.5;
    }
    if (getObj('isShare') && getObj('isShare').checked) { 
        if (getRV('share') == '1')
            p += 0.2;
        else
            p += 0.5;
    }
	//限制买号等级
	if (getObj('isStar') && getObj('isStar').checked) {
		p += buyerLevelPoint[getRV('lvlStar')];
    }
	//TNE END
    if (getObj('isScore').checked) p += 0.1;
    if (getObj('isCredit').checked) p += 0.1;
    if (getObj('isGood').checked) p += 0.1;
    if (getObj('isBlack').checked) p += 0.1;
    if (getObj('isFame').checked) p += 0.1;
    if (getObj('isPlan').checked) p += 0.1;
    if (getObj('isChat') && getObj('isChat').checked) p += 1;
	if (getObj('isEnsure') && getObj('isEnsure').checked) p += $ensurePoint;//商保附加的
    if (getObj('isChatDone') && getObj('isChatDone').checked) p += 0.5;
    //if (getObj('isReal') && getObj('isReal').checked) p += 0.5;
	//买号2012-02-23
	if (getObj('isReal') && getObj('isReal').checked && getRV('realname') == 1) p += 0.5;
    if (getObj('isReal') && getObj('isReal').checked && getRV('realname') == 2) p += 2;
	//THE END
    var s = '请确认任务信息：\n\n';
    if (getObj('nums')) {
    	p = p * getFloat('nums');
    	p2 = p2 * getFloat('nums');
    	s += '任务个数：' + getFloat('nums') + '\n';
    }
    s += '好评时限：';
    if (t == 1) s += '马上好评';
    if (t == 2) s += '24小时好评';
    if (t == 3) s += '48小时好评';
    if (t == 4) s += '72小时好评';
    return confirm(s + '\n商品价格：' + p2 + '\n耗兔粮：' + p.toFixed(2));
}
function cutPoint(obj) {
    if (obj.value <= 40)
        setValue('point', 1);
    if (obj.value > 40 && obj.value <= 80)
        setValue('point', 1.5);
    if (obj.value > 80 && obj.value <= 120)
        setValue('point', 2);
    if (obj.value > 120 && obj.value <= 200)
        setValue('point', 3);
    if (obj.value > 200 && obj.value <= 500)
        setValue('point', 4);
    if (obj.value > 500 && obj.value <= 1000)
        setValue('point', 5);
    if (obj.value > 1000 && obj.value <= 1500)
        setValue('point', 6);
    if (obj.value > 1500)
        setValue('point', 7);
}
</script>
{sub ../footer}