{teval
	
	$cssList     = array(css::getUrl('task', 'task'));
	echo string::getStaticCode(array('cssList'=>$cssList));
}
{sub ../header}


	<div class="main">
	{if $_showmessage}<div class='msg_panel'><div>$_showmessage</div></div>{/if}
	{if $indexMessage}<div class='error_panel'><div>$indexMessage</div></div>{/if}
	<div class="h_10"></div>
	{if $isNovice}
	<div class="pub_tip2">
    <p id="new_tip">1. 把您淘宝店铺的商品发布出来，让刷好快网的朋友帮您虚拟购买，从而获得信誉的提升；<br />
      2. 如果您以前发布过任务，并且保存了任务模板，这次想发布相同的任务就可以选择【从任务模板中创建】，省时省力哦；<br />
      3. 要尽量保证 平台任务价 > (淘宝商品价格+快递运费)/2 ，否则接手人拍下商品后您的淘宝改价将会导致您的支付宝使用率低于50%既被淘宝视为信用炒作处理；<br />
      4. 你在平台中的存款中不得少于任务价，成功发布任务将会在平台中扣押相应的任务保证金；接手人完成您的任务时等额的资金会作为商品款返回给您网店的帐户中；<a href="/bbs/t45/" class="link_o">如何增加存款</a><br />
      5. 您想发布任务的时候，必须保证您拥有相应的发布点数，每次发布都会根据商品价格不同扣除相应的发布点数。您如果想让任务排名靠前就可以追加竞价发布点，追加的越多排名就越靠前；
        <a href="/bbs/t64/" target="_blank" class="link_o">如何赚取发布点</a>　<a href="/bbs/t30/" target="_blank" class="link_o">发布商品价格与扣除发布点数的对应关系</a><br />
      6. 禁止帮他人发布任务，这样会导致您的朋友无法在刷好快平台发布。平台自检程序会不定时检测，已经发现将做限制权限处理；<a href="/info/agreement.html" target="_blank" class="link_o">平台服务条例</a><br />
      7. 任务要求区中可以选择您对交易好评时限，与店铺动态评分两方面要求；</p>
    <div class="pub_close"><a href="javascript:;" onclick="if($('#new_tip').is(':visible'))$('#new_tip').hide();else $('#new_tip').show();"><img src="{$weburl2}images/close2.gif" alt="隐藏/显示" /></a></div>
  </div>
  {/if}
  {if !$memberFields[freeTask]}
  <div class="pub_tip5" id="free_tip">您好，您还没有发布过任务体验刷好快免费刷信誉的快捷与安全么？<br />
    刷好快为了广大刷客能够尽快的掌握平台刷信誉的操作流程，特意为每位新用户提供一次<strong>免费发布</strong><span class="f_red">“一元体验任务”</span>的机会哦；<br />
    体验任务只能具有【刷好快教官】资格的老刷客才能接手哦；<br />
    刷好快教官会在和您做任务的过程中手把手教您一步一步完成整个任务流程哦！<a href="$thisUrl&m=add&isFree=1" class="link_o">现在就发布体验任务</a>；</div>
  {/if}
	<div class="info">
			<div class="info_l">
			<div>
					{sub tao_info}
					<table width="100%" border="0" cellspacing="0" cellpadding="0">
					<tr>
							<td width="170">站内信<a href="{rewrite}/member/message/" class="link_o_b" target="_blank">$memberFields[msg]</a>封未读站内信数</td>
							<td width="180">到期评价已接手任务<a href="javascript:;" onclick="dialog(460,460,'到期评价的已接任务','{rewrite}/dialog/taskComment/?in=$taskId');return false;" class="link_o_b">$memberTask['inExpire'.$taskId]</a>条 </td>
							<td width="180">到期评价已发布任务<a href="javascript:;" onclick="dialog(460,460,'到期评价的已发任务','{rewrite}/dialog/taskComment/?out=$taskId');return false;" class="link_o_b">$memberTask['outExpire'.$taskId]</a>条</td>
							<td>正在预定任务<a href="javascript:;" onclick="dialog(500,550,'预定任务设置','{rewrite}/dialog/taskBook/?type=$taskId');return false;" class="link_o_b">$taskBook[ing]</a>个</td>
						</tr>
				</table>
				</div>
			<p>淘宝区任务总条数：<span class="f_b_org">$allCount</span>条，未完成任务数<span class="f_b_org">{echo $allCount-$complateCount}</span>条，已成功打造<span class="f_b_org">{echo $complateCount>0?floor($complateCount/251):0}</span>颗信誉钻石 <span class="score_4"></span></p>
		</div>
			<div class="info_r">
			{sub ../quick}
		</div>
		</div>
	<div class="h_10"></div>
	{sub new_tab}
	<div id="task_panel" style="display:none" class="lst_info">
		<table class="lst_tip" width="100%" border="0" cellspacing="0" cellpadding="0">
			<tr>
				<td>任务默认排序规则：任务状态 （待接手；任务进行中）；任务发布时间（从近到远）</td>
				<td align="right"><input type="checkbox" name="isAuto" id="isAuto" value="8" />
					<label for="isAuto">自动刷新</label></td>
				<td align="right"><img src="{$weburl2}images/btn/task_reflesh.gif" onclick="goPage(1);" class="cursor hide2" /> <img src="{$weburl2}images/btn/task_reflesh.gif" onclick="goPage(0);" class="cursor hide" />　　&nbsp;</td>
				</tr>
		</table>
	</div>
	<div id="taskList"> </div>
	<div class="h_20"></div>
	<div style="line-height:20px;background:#F8F8F8; padding:10px;border-top:1px solid #E8F2FC;"><strong>图释：</strong><a class='task_24' style="margin-top:0; padding-right:5px;"></a>24小时好评　<a class='task_48' style="margin-top:0; padding-right:5px;"></a>48小时好评　<a class='task_72' style="margin-top:0; padding-right:5px;"></a>72小时好评　
    <a class='task_exp' style="margin-top:0; padding-right:5px;"></a>体验任务　<a class='task_kill' style="margin-top:0; padding-right:5px;"></a>秒杀任务　　 <a href="/bbs/t65/" class="link_b_1" target="_blank">带字</a>,<a href="/bbs/t65/" class="link_b_1" target="_blank">实名</a>,<a href="/bbs/t65/" class="link_b_1" target="_blank">分享</a>,<a href="/bbs/t65/" class="link_b_1" target="_blank">来路</a>, <a href="/bbs/t65/" class="link_b_1" target="_blank">拍前聊</a>,<a href="/bbs/t65/" class="link_b_1" target="_blank">聊后收</a>, <a href="/bbs/t65/" class="link_o" target="_blank">更多详细的解释>></a> </div>
</div>
	<script type="text/javascript">

function sortTask(obj) {
    getObj('btnQuery').click();
}
function changeSort(val) {
    setValue('sort', val);
    getObj('btnQuery').click();
    return false;
}
var rob = 0;
function viprob(obj) {
    obj.href = 'javascript:;';
    if (rob == 0) {
        rob = 1;
        obj.href = '?viprob=1&vip=1&rob=' + rob;
        return true;
    } else { 
        rob++;
        obj.href = '?viprob=1&isVip=1&rob=' + rob;
        if (rob <= 2) {
			obj.href = 'TaskIn.aspx?status=1';
            alert('为了您的手指和鼠标，请勿太过于快速的重复点击');
			return true;
        } else {
            alert('系统认为您使用了外挂点击，请自觉关闭，否则系统将会关闭您的VIP抢任务功能');
            return false;
        }  
    }
}
function showPanel() {
    $('#task_panel').show();
}
function viptake() {                        
    alert('对不起，您当前不是VIP，请先申请成为VIP');
}
function goPage(n) {
	if (n==void(0)) n = 1;
    var pageSearch = '';
    var page = new PageQuery(window.location.search);
    for (var i=0; i<page.getLength(); i++) {
        if (page.getParameters()[i] != 'page')
            pageSearch += '&' + page.keyValuePairs[i];
    }
    pageSearch += '&page=' + n + '&now=' + (new Date()).getTime();
    getObj('taskList').innerHTML = '<div class=\'submiting\'>任务加载中.....</div>';
    getTask(pageSearch);
}
function getTask(qs) {
    var url = '{$weburl2}ajax/getTask.php?type=4' + '&au=' + $('#isAuto').val() + qs;    
    $.ajax({
		type : 'GET',
		url  : url,
		success : function(html){
			if (html.indexOf('接手任务')<0)
				html = '<div class=\'pub_tip5 f_b\'>对不起，本互动区里所有任务都被抢光了，请过会再 <span class=\'btn_gl\' onclick=\'goPage(1);\'>刷新</span> 试试...</div>' + html;
			$('#taskList').html(html);
		},
		error:function(){
			$('#taskList').html('<p>&nbsp;</p><p>尊敬的会员，您遇到了一个未知的错误，请稍后重新点击。　　<a href="'+weburl2+'">返回主页</a></p>');
		}
	});
}
function autoTask() {
    $('#taskList').html('<div class=\'submiting\'>任务加载中.....</div>');
	var chkAuto = getObj('isAuto');
	var auto = function() {
		if (chkAuto && chkAuto.checked) {
			goPage(1);
		}
	};
    var t = parseInt(getValue('isAuto'));
    if (t < 5) t = 20;
	var tt_1 = window.setInterval(auto, t * 1000);
}
$(function(){
	autoTask();
	showPanel();
	goPage(1);
});
{if !$memberFields['freeTask']}
var ft = '<div class="dialog_lot">' + getObj("free_tip").innerHTML + '</div>';
ft += '<div style="padding-top:30px;"><input class="btn_2" type="button" onclick="doCut();" value="关闭" /></div>';
dialog(500,300,'1元免费体验任务','',ft);
{/if}
</script>
{sub ../footer}