{teval
	$cssList = array(css::getUrl('task', 'task'));
	$jsList  = array(javascript::getUrl('task', 'index'));
	echo string::getStaticCode(array('cssList'=>$cssList, 'jsList' => $jsList));
}
{sub ../header}

<script language="javascript">
var thisUrl='$thisUrl';
</script>
<div class="main">
  {if $_showmessage}<div class='msg_panel'><div>$_showmessage</div></div>{/if}
	{if $indexMessage}<div class='error_panel'><div>$indexMessage</div></div>{/if}
	<div class="h_10"></div>
	<div class="pub_tip1">
      <strong>已接任务：</strong><br />
      1. 在已接任务区，您可以操作所有已经接手的且未完成的任务，也可以查看所有已完成的接手任务；<br />
      2. 通过点击快捷过滤按钮【所有任务】【进行中任务】【到期好评任务】【已完成任务】可以快速过滤出您想要查看的相应已接任务列表
  </div>
	<div class="info">
		<div class="info_l">
			<div>
				{sub tao_info}
			</div>
		</div>
		<div class="info_r" style="padding:30px 0px 0px 0px;"><a href="#"><span class="msg_ann">官方提醒:警惕任务外链接木马网站</span></a></div>
	</div>
	<div class="h_10"></div>
	{sub new_tab}
	<div class="lst_info">
			<table class="lst_query" width="100%" border="0" cellspacing="0" cellpadding="2">
				<tr>
					<td valign="middle"><strong>任务状态：</strong>
						<select name="status" id="status">
							<option value="all"{if $t=='all'} selected{/if}>所有任务</option>
							<option value="ing"{if $t=='ing'} selected{/if}>进行中任务</option>
							<option value="expire"{if $t=='expire'} selected{/if}>到期好评任务</option>
							<option value="complate"{if $t=='complate'} selected{/if}>已经完成任务</option>
						</select>
						<strong>任务编号：</strong>
						<input name="sid" type="text" id="sid" value="$sid" class="text_small" />
						<strong>发布人：</strong>
						<input name="username" type="text" id="susername" value="$susername" class="text_small" />
						<strong>发布人QQ：</strong>
						<input name="sqq" type="text" id="sqq" value="$sqq" class="text_small" style="width:60px" />
						<strong>接手买号：</strong><input name="bnickname" type="text" id="bnickname" value="$bnickname" class="text_small" />
					</td>
					<td><input id="btnQuery" type="image" src="{$weburl2}images/btn/menu_search.gif" align="middle" /></td>
				</tr>
			</table>
	</div>
	<script language="javascript">
	$(function(){
		$('#btnQuery').click(function(){
			var sid=$('#sid').val();
			if (sid) sid = '&sid='+sid;
			var susername=$('#susername').val();
			if (susername) susername = '&susername='+susername;
			var sqq=$('#sqq').val();
			if (sqq) sqq = '&sqq='+sqq;
			var bnickname=$('#bnickname').val();
			if (bnickname) bnickname = '&bnickname='+bnickname;
			location.href='$thisUrl&t='+$('#status').val()+sid+susername+sqq+bnickname;
		});
	});
	</script>
	<div class="h_10"></div>
	<table width="100%" border="0" cellspacing="0" cellpadding="0">
		<tr>
			<td class="state_b1"><div class="state_b2"></div></td>
			<td {if $t=='all'}class="state_on"{else}class="state_no"{/if} onclick="window.location.href='$thisUrl&t=all'">所有任务($memberTask[in4])</td>
			<td class="state_s"><div class="state_d"></div></td>
			<td {if $t=='ing'}class="state_on"{else}class="state_no"{/if} onclick="window.location.href='$thisUrl&t=ing'">进行中任务($memberTask[ining4])</td>
			<td class="state_s"><div class="state_d"></div></td>
			<td {if $t=='expire'}class="state_on"{else}class="state_no"{/if} onclick="window.location.href='$thisUrl&t=expire'">到期收货与好评任务($memberTask[inExpire4])</td>
			<td class="state_s"><div class="state_d"></div></td>
			<td {if $t=='complate'}class="state_on"{else}class="state_no"{/if} onclick="window.location.href='$thisUrl&t=complate'">已经完成任务($memberTask[inComplate4])</td>
			<td class="state_l">请刷新任务列表，实时刷新任务状态　<img src="{$weburl2}images/btn/task_reflesh.gif" alt="点击刷新任务" onclick="window.location.reload();" /> </td>
		</tr>
	</table>
	<table class="tbl" width="100%" border="0" cellspacing="0" cellpadding="2">
		{loop $tList $v}
		<tr>
			<td>{if $v[isCart]}<span class='task_cart' title='购物车任务—$v[shopCount]个商品'></span>{elseif $v[isExpress]}<span class='task_express' title='真实快递任务—$v[shopCount]个商品'></span>{else}$lang[times_ico][$v[times]]{/if}{if $v[isEnsure]}<span class='task_sure' title='商保任务'></span>{/if}</td>
			<td>任务编号：$v[id]<br />
				发布时间：{echo date('m-d H:i:s', $v[stimestamp])}<br />
				发布人：<a href="{rewrite}/member/info/?username={url $v[susername]}" target="_blank">$v[susername]</a>
				<a href="javascript:;"><img src="$v[slevel][icon]" title="积分：$v[credits]" /></a>
				{if $v[sellerIsEnsure]}<span class='ensure' title='商保'></span>{/if}
				<a href="javascript:;" onclick="dialog(460,460,'给卖家发送手机短信','{rewrite}/dialog/sendsms/?username={url $v[susername]}');return false;"><img src="{$weburl2}images/btn/sms.gif" /></a><br />
				发布人QQ：<a href='tencent://message/?uin=$v[qq]'><img width='25' height='17' border='0' src='http://wpa.qq.com/pa?p=1:$v[qq]:17' alt='' /></a> $v[qq]</td>
			<td><span class="s1">平台担保</span>：<span class="dm_gold">$v[price]</span>元<br />
          <span class="s1">修改价格</span>：<span class='f_orange'>$lang[isPriceFit][$v[isPriceFit]]</span><br />
        <span class="s1">奖励发布点</span>：$v[point]个</td>
			<td>掌柜：{if $v[status]>=4}{if !$v[visitWay] || ($v[visitWay] && $v[isVisit])}$v[nickname]{/if}{/if}<br />
				商品：{if $v[status]>=4}{if !$v[visitWay] || ($v[visitWay] && $v[isVisit])}<span title="$v[title]" class="mouse">{cutstr $v[title],10}</span>{/if}{/if}<br />
				网址：{if $v[status]>=4}
					{if !$v[visitWay] && !$v[isCart] && !$v[isExpress]}
				<a href="javascript:;" onclick="return copyComment('$v[itemurl]')" class="link_o">复制网址</a><!--<a href="javascript:;" onclick="return openPrdUrl('$v[itemurl]')" class="link_o">打开网址</a>--><br />　　　<a href='javascript:;' class='link_o' title='$v[tips]' onclick="alert('发布方的留言提醒：\n\n{echo string::formatAlert($v[tips])}');return false;">查看留言提醒</a>
					{else}
						{if $v[isCart] || $v[isExpress]}
				<a href="javascript:;" onclick="alert('发布方的留言提醒：\n\n{echo string::formatAlert($v[tips])}');dialog(650,550,'查看商品详情','{rewrite}/dialog/taskInfo/?sid=$v[id]');return false;" class="link_o">查看多个商品详情</a>
						{else}
				<a href="javascript:;" onclick="alert('发布方的留言提醒：\n\n{echo string::formatAlert($v[tips])}');dialog(650,550,'查看商品详情','{rewrite}/dialog/taskVisitWay/?sid=$v[id]');return false;" class="link_o">查看商品详情</a><br />　　　<a href='javascript:;' class='link_o' title='$v[tips]' onclick="alert('发布方的留言提醒：\n\n{echo string::formatAlert($v[tips])}');return false;">查看留言提醒</a>
						{/if}
					{/if}
				{/if}
				</td>
			<td>买号：{if $v[bid]}$v[bnickname] $v[bico]{/if}<br />
				时间：{echo date('m-d H:i:s', $v[btimestamp])}
				<span class="f_orange"></span><br />
                <span class='btn_gl cursor' title='$v[address]' onclick='return copyComment($(this).attr("title"))'>复制收货地址</span><br />	
				{if $v[status]==2}<br />接手方剩余<script type="text/javascript">fleshTime({echo 180-$v[runTimestamp]})</script>钟可绑定买号{/if}
				</td>
			<td>任务要求：$lang[times][$v[times]],{if $v[isRemark]}带字,{/if}{if $v[visitWay]}<span class='f_red'>来路</span>,{/if}{if $v[isReal]}<span class='f_red'>{if $v[realname] == 1}实名{else}掌柜{/if}</span>,{/if}{if $v[isChat]}<span class='f_red f_b'>拍前聊</span>,{/if}{if $v[isChatDone]}<span class='f_red'>聊后收</span>,{/if}{if $v[isShare]}<span class='f_blue f_b'>分享</span><br />　　　　　{/if}$lang[scores][$v[scores]]<br />{if $v[status]>=6&&$v[isRemark]}　　　　　<span class='btn_gl cursor' title='$v[remark]' onclick='return copyComment($(this).attr("title"))'>复制好评内容</span><br />{/if}
				任务状态：<span class="f_orange">$lang[status][$v[status]]</span><br />
		　　操作：
		{if $v[complain]}
				<span class="s1">申诉裁定中,任务锁定</span>
				{else}
		{if !$v[bid]}<a href="javascript:;" onclick="dialog(550,460,'绑定买号','{rewrite}/dialog/chooseBuyer/?sid=$v[id]');return false;" class="link_t">绑定买号</a>{else}{/if}
		{if $v[status]==4}
		{if !$v[visitWay] || $v[isVisit]}
		<a href="$thisUrl&pay=$v[id]" class="link_t" onclick="return IsPayTask('淘宝',$v[times])">已经支付</a>
		{/if}
		{/if}
		{if $v[isVerify] && $v[status]==2}<script type="text/javascript">IsOutTask($v[runTimestamp], "$v[id]");</script>{elseif $v[status]<5}<a href='$thisUrl&out=$v[id]' class='link_t' onclick='return IsQuitTask();'>退出任务</a>{/if}
		{if $v[status]==4}
		<br />　　　　　接手方剩余<script type="text/javascript">fleshTime($v[runTimestamp2])</script>钟可支付
		{elseif $v[status]==7}
		<a href="$thisUrl&unpay=$v[id]" class="link_t" onclick="return IsUnpayTask('淘宝')">还未支付</a>
		<a href="javascript:;" class="link_t" onclick="dialog(950,550,'发起申诉','{rewrite}/dialog/complain/?sid=$v[id]');return false;">发起申诉</a>
		{elseif $v[status]==8}
		{if $v[runTimestamp3]<=0}
		<a href="$thisUrl&receive=$v[id]" class="link_t" onclick="return IsReceiveTask('淘宝', $v[isRemark], 0, $v[isShare])">我已收货</a>
		{/if}
		<a href="javascript:;" class="link_t" onclick="dialog(950,550,'发起申诉','{rewrite}/dialog/complain/?sid=$v[id]');return false;">发起申诉</a>{if $v[runTimestamp3]>0}<br />　　　　　<span class='f_b_red'>{echo time::hours($v[runTimestamp3])}</span>小时后允许收货{/if}
		{elseif $v[status]==9}
		<a href="javascript:;" class="link_t" onclick="dialog(950,550,'发起申诉','{rewrite}/dialog/complain/?sid=$v[id]');return false;">发起申诉</a>
		{elseif $v[status]==10}
		<a href="javascript:;" onclick="dialog(600,500,'{$web_name}商联盟任务满意度评分','{rewrite}/dialog/grade/?sid=$v[id]');return false;" class="link_ta">{if !($v[credit]&1)}给发布方打分{else}修改评分{/if}</a>
		<br />$lang[cStatus][$v[credit]]
		{/if}
		{if $v[isEnsure]}
			<br />
			{if !$v[ensureStatus]}
			{else}
			<span class="f_red">
				{if !($v[ensureStatus] & 1 << 1)}
				卖家索赔进行中...
				{else}
					{if !($v[ensureStatus] & 1 << 2)}
						{if !($v[ensureStatus] & 1 << 3)}
						卖家索赔失败
						{else}
						卖家索赔成功
						{/if}
					{else}
					卖家撤销索赔
					{/if}
				{/if}
			</span>
			{/if}
		{/if}
	{/if}
			</td>
		</tr>
		{/loop}
		<tr>
			<td colspan="6">本页任务的资金合计：<span class="f_b_red">0.00</span> 元</td>
		</tr>
	</table>
	<div class="h_10"></div>
	<div class="pages">$multipage</div>
	<div class="h_20"></div>
</div>
{if $showTaskTip}
{if $showTaskTip==1}
<script type="text/javascript">
var ft = '<div class="dialog_lot f_b_red f_14">【注意】：<br />对于24/48/72小时好评时限的任务；从距离淘宝卖家发货时刻起计时，超过24/48/72小时后才能淘宝收货，时间未到就淘宝提前收货者，一经核实将无法获得任务奖励发布点，同时扣除力豪互刷网积分5分<br /><br /><span class="f_blue">请新人在淘宝上操作确认之前先看力豪互刷网平台上的提示</span></div><div class="f_b_green" style="padding-left:20px;text-align:left;">本信息在您完成5个接手任务后不再提示</div>';
ft += '<div style="padding-top:20px;"><a href="###" class="link_b" onclick="doCut();return false;">我已了解任务要求</a>　　　　<a href="#" class="link_o" target="_blank">我想多了解任务要求</a>';
dialog(480, 320,'新手接任务须知','',ft);
</script>
{elseif $showTaskTip==2}
<script type="text/javascript">
dialog(480,330,'新手支付提醒','/dialog/showTaskTip/?sid=$_taskId');
</script>
{/if}
{/if}
{sub ../footer}