<ul class="rwdt_info">
      <li>
        <p class="fd">账户余额：<strong class="chengse">$memberFields[money]</strong> 元</p>
      <a title="将存款提取到我的网银或支付宝上" target="_blank" href="{rewrite}/member/payment/" class="rwdt_tx"></a></li>
      <div class="cle"></div>
      <li><p class="fd">麦点：<strong class="chengse">$memberFields[fabudian2]</strong> 个</p><a href="{rewrite}/member/exchange/" title="将保证金兑换成能发布任务的麦点" target="_blank" class="rwdt_hs"></a></li>
      <div class="cle"></div>
      <li><p>积分：<strong class="chengse">$memberFields[credits]</strong> 个</p></li>
      <li><p class="fd">属于：普通会员</p><span class=""></span></li>
      <div class="cle"></div>
      <li>好评率：<strong class="lvse">暂无评论信息</strong></li>
      <li>有效投诉：<strong class="chengse">0</strong></li>
</ul>