{teval
	
	$cssList     = array(css::getUrl('task', 'task'));
	echo string::getStaticCode(array('cssList'=>$cssList));
}
{sub ../header}
{teval
echo javascript::get_js('WdatePicker', 'index');
echo javascript::get_js('task', 'index');
}
<style type="text/css">
.tbl td {line-height:26px;}
.text_long {width:400px;}
.text_tiny {width:50px;}
</style>
<div class="main">
  {if $_showmessage}<div class='msg_panel'><div>$_showmessage</div></div>{/if}
	{if $indexMessage}<div class='error_panel'><div>$indexMessage</div></div>{/if}
  <div class="info">  
    <div class="info_l">
      <div>
        {sub reflow_info}
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="170">站内信<a href="{rewrite}/member/message/" class="link_o_b" target="_blank">$memberFields[msg]</a>封未读站内信数</td>
          </tr>
        </table>
      </div>
      <p>流量互动区任务总条数：<span class="f_b_org">$allCount</span>条，未完成任务数<span class="f_b_org">{echo $allCount - $complateCount}</span>条，已成功提升了<span class="f_b_org">$flowAll</span>浏览量</p>
    </div>
    <div class="info_r"> </div>
  </div>
  <div class="h_10"></div>
  {sub reflow_tab}
  <div class="lst_info">
{if $t == 'all'}
    <table class="lst_query" width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td valign="middle"><strong>任务状态：</strong>
          <select name="status" id="status">
            <option value="all"{if $t=='all'} selected{/if}>所有任务</option>
            <option value="ing"{if $t=='ing'} selected{/if}>进行中</option>
            <option value="complate"{if $t=='complate'} selected{/if}>已完成</option>
            <option value="pause"{if $t=='pause'} selected{/if}>暂停中</option>
          </select>       
          <strong>任务编号：</strong>
          <input name="sid" type="text" id="sid" value="$sid" class="text_small" />
          <strong>发布时间：</strong>
          <input name="dateStart" type="text" id="dateStart" value="$d1" class="text_short" onclick="WdatePicker();" readonly="readonly" />
          至
          <input name="dateEnd" type="text" id="dateEnd" value="$d2" class="text_short" onclick="WdatePicker();" readonly="readonly" />
        </td>
        <td width="50"><input id="btnQuery" type="image" src="{$weburl2}images/btn/menu_search.gif" align="middle" /></td>
        <td width="80"><img src="{$weburl2}images/btn/task_reflesh.gif" alt="点击刷新任务" class="cursor" onclick="window.location.reload();" /></td>
      </tr>
    </table>
  </div>
  <table class="tbl" width="100%" border="0" cellspacing="0" cellpadding="4">
    {loop $fList $v}
	<tr>
	  <td width="200" class="p_l_20">任务编号：$v[id]<br />
	  发布时间：{date $v[time]}</td>
	  <td>分配流量：$v[flowAll] <br />
		已实现流量：$v[flowComplate]个<br />
		剩余流量：{echo $v[flowAll] - $v[flowComplate]}个
		<br />
		<a href="$thisUrl&t=inList&sid=$v[id]" class="link_o">接手明细</a></td>   
	  <td>商品平台：{echo language::get('qu'.$v[type])}<br />
		商品名称：<span title="$v[itemtitle]" class="mouse">{cutstr $v[itemtitle],12}</span></td>       
	  <td>任务商品：<span class="btn_gl cursor" title="$v[itemtitle]" onclick="return copyComment('$v[itemurl]')">复制链接</span><!--<a href="javascript:;" onclick="return openPrdUrl('$v[itemurl]')" class="link_o" title="$v[title]">打开网址</a>--><br />
		任务要求：{if $v[isIP]}<span class="f_b_red">相同IP允许访问$v[numIP]次</span><br />{/if}
		{if $v[isLimit]}　　　　　<span class="f_b_red">相同帐号允许访问$v[numUser]次</span><br />{/if}
		{if $v[isRate]}访问频率：<span class="f_b_org">$v[minute]分钟</span><br />{/if}
		来路方式：{if $v[wayId] == 0}淘宝宝贝搜索{elseif $v[wayId] == 1}淘宝店铺搜索{elseif $v[wayId] == 3}链接搜索{/if}
		</td>
	  <td>任务状态：<span class="f_orange">{if $v[status]==0}暂停中{elseif $v[status]==1}{if $v[flowTotal]>0}进行中{else}全被接手了{/if}{elseif $v[status]==2}任务被锁定{elseif $v[status] == 3}完成{/if}</span> <br />
		操作：
		{if $v[status]==1}
		<a href="$thisUrl&pause=$v[id]"><img src="{$weburl2}images/btn/suspend.gif" /></a>
		{elseif $v[status]==0}
		<a href="$thisUrl&resume=$v[id]" class="link_t">恢复任务</a>
		{/if}
	</td>
	</tr>
	{/loop}
   </table>
{elseif $t == 'inList'}
	<table class="lst_query" width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td valign="middle">
        </td>
        <td width="50"></td>
        <td width="80"></td>
      </tr>
    </table>
  </div>
  <table class="tbl" width="100%" border="0" cellspacing="0" cellpadding="4">
  	<tr>
		<th>任务编号</th>
		<th>接手人</th>
		<th>访问IP</th>
		<th>验证次数</th>
		<th>接手时间</th>
		<th>状态</th>
		<th>完成时间</th>
	</tr>
    {loop $list $v}
	<tr>
		<td>$v[tid]</td>
		<td>$v[username]</td>
		<td>{ip $v[ip]}</td>
		<td>$v[checkCount]</td>
		<td>{date $v[time]}</td>
		<td>{if $v[status] == 0}进行中{elseif $v[status] == 1}已退出{elseif $v[status] == 2}已完成{/if}</td>
		<td>{date2 $v[ctime]}</td>
	</tr>
	{/loop}
   </table>
{/if}
  <div class="h_10"></div>
  <div class="pages">$multipage</div>
  <div class="h_20"></div>
</div>
<script type="text/javascript">

</script>
{sub ../footer}