{teval
	
	$cssList     = array(css::getUrl('task', 'task'));
	echo string::getStaticCode(array('cssList'=>$cssList));
}
{sub ../header}
<div class="main">
  {if $_showmessage}<div class='msg_panel'><div>$_showmessage</div></div>{/if}
	{if $indexMessage}<div class='error_panel'><div>$indexMessage</div></div>{/if}
  <div class="info">  
    <div class="info_l">
      <div>
        {sub reflow_info}
      </div>
    </div>
    <div class="info_r"> </div>
  </div>
  <div class="h_10"></div>
  {sub reflow_tab}  
  <div class="h_10"></div>
<table class="tbl" width="100%" border="0" cellspacing="0" cellpadding="4">
		<tr>
			<td>&nbsp;</td>
			<td width="150"><strong>模板名称</strong></td>
			<td><strong>掌柜</strong></td>
			<td><strong>网址</strong></td>
			<td><strong>次数</strong></td>
			<td><strong>操作</strong></td>
		</tr>
  

	{loop $tplList $v}
		<tr>
			<td>&nbsp;</td>
			<td><span class="f_b_red">$v[name]</span><br /></td>
			<td>$v[datas][nickname]</td>
			<td>$v[datas][itemurl]</td>
			<td>$v[datas][total]</td>
			<td><a href="javascript:;" onclick="return delTpl(this,$v[id]);" class="link_b_2">删除</a></td>
		</tr>
	{/loop}	
</table>
<div class="h_30"></div>
<script type="text/javascript">
function delTpl(obj, id) {
	if (confirm('您确定要删除此模板么？')) {
		obj.href = "$thisUrl&del=" + id;
		return true;
	}
	return false;
}
</script>
</div>
{sub ../footer}