<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
{teval
echo css::get_css('dialog', 'dialog');
}
{js_select jquery,common}
<title>短信激活帐户</title>
</head><body>
{if $type == 'complate'}
<div class="tip_less">$msg</div>
<div style="padding-top:50px;">
  <input name="goon" class="btn_2" type="button" id="goon" onclick="parent.doCut();" value="确定" />
</div>
{else}
<div class="main_dl">
{if $indexShowMessage}<div class='msg_panel'><div>$indexShowMessage</div></div>{/if}
  {if $indexMessage}<div class='error_panel'><div>$indexMessage</div></div>{/if}
	<form name="myForm" method="post" id="myForm" onsubmit="return checkForm();">
		<div>$sys_hash_code2</div>
		<div><input type="hidden" name="referer" value="$referer" /></div>
		
		{if $type == 'index'}
		<div class="bar_dl">短信激活帐户 - 第一步</div>
		<table class="tbl" border="0" cellspacing="0" cellpadding="5">
			<tr>
				<td width="100" align="right" class="f_14">用户：</td>
				<td>$member[username]</td>
			</tr>
			<tr>
				<td align="right" class="f_14">手机号码：</td>
				<td><input name="mobilephone" type="text" id="mobilephone" class="text_normal" maxlength="50" value="$member[mobilephone]" />
					<strong>本条信息不会收取费用</strong></td>
			</tr>
			<tr>
				<td align="right" class="f_14">&nbsp;</td>
				<td>激活后您的手机将更改为此处输入的手机号码，并和您的帐户绑定，请认真填写。<br />
					【激活验证码支持：移动、联通、小灵通(区号+号码)】</td>
			</tr>
			<tr>
				<td align="right" class="f_14">操作密码：</td>
				<td><input name="password2" type="password" class="text_normal" id="password2" maxlength="50" /></td>
			</tr>
			<tr>
				<td align="right">&nbsp;</td>
				<td class="f_red">这里填写您注册时填写的操作密码！</td>
			</tr>
			<tr>
				<td>&nbsp;</td>
				<td><input name="btnSubmit" type="submit" class="btn_2" id="btnSubmit" value="发送手机验证码" />
					<input name="btnCancel" type="button" class="btn_2" onclick="parent.doCut();" id="btnCancel" value="取消" /></td>
			</tr>
			<tr>
				<td>&nbsp;</td>
				<td><br />
					<strong>第一步：核对手机号码，输入操作密码</strong><br />
					<span class="f_gray">第二步：输入您手机收到的验证码。</span></td>
			</tr>
		</table>
<script type="text/javascript">
$(function(){
	if (!$('#mobilephone').val())$('#mobilephone').focus();
	else $('#password2').focus();
});
function checkForm() {
	var checks = [
		["isNumber", "mobilephone", "手机号码"],
		["isEmpty", "password2", "操作码"]
	];
	var result = doCheck(checks);
	if (result)avoidReSubmit();
	return result;
}
</script>
	{elseif $type == 'confirm'}
	 <div class="bar_dl">短信激活帐户 - 第二步</div>
    <table class="tbl" border="0" cellspacing="0" cellpadding="5">
      <tr>
        <td width="100" align="right" class="f_14">用户：</td>
        <td>$member[username]</td>
      </tr>
      <tr>
        <td align="right" class="f_14">手机号码：</td>
        <td><span class="f_b_red">$sendLog[mobilephone]</span> 这是您接收的号码</td>
      </tr>
      <tr>
        <td align="right" class="f_14">&nbsp;</td>
        <td>激活后您的手机将更改为此号码，并和您的帐户绑定，请认真核实。如果手机号码有误或在<span class="f_b_red">{$msg_vcode_time}秒</span>之内未收到信息，请点击

					<a href="{rewrite}/$action/$operation/" onclick="return checkSend();" title="" id="link_sms" class="link_o">重新获取验证码</a>；或者用认证号码的电话联系力豪互刷网客服热线获得认证码；

					<span id="s_left" class="f_b_red" style="display:none;"></span><br />
            客服热线：<span class="f_orange">$sys_phone1</span></td>
      </tr>
      <tr>
        <td align="right" class="f_14">手机验证码：</td>
        <td><input name="vcode" type="text" class="text_normal" id="vcode" maxlength="6" />
          请输入您收到的验证码</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td><input name="btnSubmit" type="submit" class="btn_2" id="btnSubmit2" value="确认并激活" />
          <input name="btnCancel" type="button" class="btn_2" onclick="parent.doCut();" id="btnCancel2" value="取消" />
		  <input type="hidden" name="vid" id="vid" value="$sendLog[id]" />
		 </td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>第一步：输入您的手机号码获取验证码； <br />
          <strong>第二步：输入您手机收到的验证码。</strong></td>
      </tr>
    </table>
    <script type="text/javascript">
	$(function(){
		$('#vcode').focus();
	});
    function checkForm() {
        var checks = [
		    ["isEmpty", "vcode", "手机验证码"] ];
	    var result = doCheck(checks);
	    if (result)
		    return avoidReSubmit();
	    return result;
    }
    var t = $msg_vcode_time;
    function fleshSend(obj) {
        obj.title = parseInt(t/60) + "分" + t%60 + "秒后才可以点击";
        var uptime = function() {
            t = t - 1;
            if (t <= 0) {
                window.clearInterval(tt_0);
                t = 0;
            }
            obj.title = parseInt(t/60) + "分" + t%60 + "秒后才可以点击";
            getObj("s_left").innerHTML = "还剩：" + parseInt(t/60) + "分" + t%60 + "秒";
            if (t <= 0) {
                obj.title = "若您的需要重新获取验证码，请点击";
                getObj("s_left").innerHTML = "还剩：0分0秒";
            }
        }
        var tt_0 = window.setInterval(uptime, 1000);        
    }
    
    fleshSend(document.getElementById("link_sms"));
    
    function checkSend() {
        if (t <= 0)
            return true;
        else {
            alert("当前还剩余" + parseInt(t/60) + "分" + t%60 + "秒才可以重新获取验证码");
            getObj("s_left").style.display = "";
            return false;
        }
    }
    </script>
	{/if}
	</form>
</div>
{/if}
</body>
</html>
