<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
{teval
echo css::get_css('dialog', 'dialog');
}
{js_select jquery,common}
<style type="text/css">
.tbl_t td {line-height:20px !important;}
</style>
<title>操作提醒信息</title>
</head>
<body>
<div class="main_dl">
	<div class="bar_dl">新手支付提醒</div>
  <div style="line-height:20px; font-size:14px; font-weight:bold; color:#F00; padding:10px;">
		您已经绑定了买号，如果您在淘宝上给对方支付了金额，请务必在平台的15分钟读秒完成之前点击【已经支付】，否则您将可能损失在淘宝上支付给对方的金额
	</div>
	<div class="f_b_green" style="text-align:left;line-height:20px; padding-left:10px;">本信息在您完成5个接手任务后不再提示</div>
	<div style="padding-top:30px;text-align:center;"><input class="btn" disabled="disabled" id="toRead5" type="button" onclick="parent.doCut();" value="（5）我知道了" /></div>
	<div class="f_b" style="padding-top:15px; text-align:center;">您还剩余<script type="text/javascript">fleshTime(827);</script>钟来可支付</div>
</div>
<script type="text/javascript">
	function delayToClick() {
		var t = 5;
		var uptime = function() {
			t = t - 1;
			if (t <= 0) {
				window.clearInterval(tt_0);
				t = 0;
				document.getElementById("toRead5").disabled = false;
				document.getElementById("toRead5").value = "我知道了";
			} else {
				document.getElementById("toRead5").value = "（" + t + "）我知道了";
			}
		}
		var tt_0 = window.setInterval(uptime, 1000);
	}
	delayToClick();
</script>
</body>
</html>
