{sub header}
<table border="0" cellspacing="0" cellpadding="8">
	<tr>
		<td width="100" align="right" class="f_14">收信人：</td>
		<td><input name="username" type="text" class="text_normal" id="username" value="$username" />
			<br />平台用户名、移动、联通、小灵通</td>
	</tr>
	<tr>
		<td align="right" class="f_14">快捷信息：</td>
		<td><select name="sltQuick" id="sltQuick">
				<option value="">请选择</option>
				<option value="请不要使用旺旺联系">请不要使用旺旺联系</option>
				<option value="请为任务加时谢谢">请为任务加时谢谢</option>
				<option value="请买家尽快在网店和平台支付任务商品">请买家尽快在网店和平台支付任务商品</option>
				<option value="请卖家修改商品加运费价格与任务一致">请卖家修改商品加运费价格与任务一致</option>
				<option value="我已付款，请卖家尽快在网店与力豪互刷网发货">我已付款，请卖家尽快在网店与力豪互刷网发货</option>
				<option value="我已发货，请买家在网店与力豪互刷网确认收货">我已发货，请买家在网店与力豪互刷网确认收货</option>
				<option value="我已发货，请买家在八小时后再确认收货">我已发货，请买家在八小时后再确认收货</option>
				<option value="我已收货，请卖家平台确认任务">我已收货，请卖家平台确认任务</option>
				<option value="已到期好评，请买家在网店与力豪互刷网提交好评">已到期好评，请买家在网店与力豪互刷网提交好评</option>
			</select>
			<br />任务常用快捷短语，选择后直接显示在发送内容里</td>
	</tr>
	<tr>
		<td align="right" valign="top">发送内容：</td>
		<td><span class="f_gray">（一条短信最多{echo message::getLen()}字，超出按多条算，不计换行）</span><br />
			<textarea name="message" cols="40" rows="5" id="message" onpropertychange="countMsg();">$message</textarea>
			<br />
			您已经输入<span class="f_b_org" id="msg_num">0</span>个字； 短信计费：<span class="f_b_org" id="msg_cost">0</span>元</td>
	</tr>
	<tr>
		<td>&nbsp;</td>
		<td><input name="btnSubmit" type="submit" class="btn_2" id="btnSubmit" value="确定" />
			<input name="btnCancel" type="button" class="btn_2" onclick="parent.doCut();" id="btnCancel" value="取消" /></td>
	</tr>
</table>
<script type="text/javascript">
$(function(){
	$('#sltQuick').change(function(){
		$('#message').val($(this).val());
	});
});
function checkForm() {
   var checks = [
		["isEmpty", "username", "收信人"],
		["isLength", "message", "发送内容", 1, 700] ];
	var result = doCheck(checks);
	if (result)avoidReSubmit();
	return result;
}

function turnMsg(id) {
  $("#message").val($('#'+id).html());
  alert("转发内容已输入，请填写收信人");
  $("#username").focus();
}

function countMsg() {
	var str = $("#message").val().replace(/\n/g, '');
	var len = str.length;
	$("#msg_num").html(len);
	var oneMsgLen = {echo message::getLen()};
	var onePrice  = $msg_user_price;
	var r = onePrice.toString().split('.')[1];
	var b = 0;
	if (typeof r != 'undefined') {
		b = r.length;
	}
	onePrice *= Math.pow(10, b);
	var len2 = len;
	len2--;
	if (len2 < 0)len2 = 0;
	var i = Math.floor(len2 / oneMsgLen) + 1;
	if (len == 0 && i == 1) i = 0;
	$("#msg_cost").html((i * onePrice) / Math.pow(10, b));
}

function sltAll(state) {
  var boxs = document.getElementsByTagName("input");
	for (var i=0; i<boxs.length; i++) {
		if (boxs[i].name.indexOf("msg_")==0) {
			boxs[i].checked = state;
		}
	}
}

function doMsg(act, obj) {
	var str = "";
  var boxs = document.getElementsByTagName("input");
  for (var i=0; i<boxs.length; i++) {
		if (boxs[i].name.indexOf("msg_")==0 && boxs[i].checked) {
			str += boxs[i].value + ",";
		}
	}
	if (str == "") {
	  alert("您还没有勾选任何信息");
	  return false;
	} else {
		obj.href= '$baseUrl?act='+act+'&ids=' + str;
		return true;
	}
}
</script>
{sub footer}