<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
{teval
echo css::get_css('dialog', 'dialog');
}
<title>$title</title>
</head>
<body>
<div class="tip_less">$message</div>
<div style="padding-top:50px;">
  <input name="goon" class="btn_2" type="button" id="goon" onclick="parent.doCut2('$goto_url');" value="确定" />
</div>
</body>
</html>