{subtemplate header}
<script language="javascript">
var getpos=function(e) {
	var t=e.offsetTop;   
	var l=e.offsetLeft;
	var width=e.offsetWidth;
	var height=e.offsetHeight;
	while(e=e.offsetParent) {   
		t+=e.offsetTop;   
		l+=e.offsetLeft;   
	}
	return {x:l,y:t,w:width,h:height};
}
$(function(){
	$('input').each(function(){
		if('radio|checkbox|'.indexOf($(this).attr('type')+'|')>=0){
			if($(this).parent().attr('tagName')=='LI'){
				$(this).click(function(){
					$(this).parent().parent().find('li.checked').removeClass('checked');
					$(this).parent().addClass('checked');
				});
			}
		}
	});
	$('.hasdropmenu').each(function(){
		$('#'+$(this).attr('id')+'child').css({left:$(this).offset().left,top:$(this).offset().bottom,position:'absolute','z-index':1000})
		$(this).hover(function(){
			var id=$(this).attr('id')+'child';
			$('#'+id).show();
		},function(){
			var id=$(this).attr('id')+'child';
			$('#'+id).hide();
		});
	});
});
var textareasize=function(obj, op) {
	if(!op) {
		if(obj.scrollHeight > 70) {
			obj.style.height = (obj.scrollHeight < 300 ? obj.scrollHeight : 300) + 'px';
			if(obj.style.position == 'absolute') {
				obj.parentNode.style.height = obj.style.height;
			}
		}
	} else {
		if(obj.style.position == 'absolute') {
			obj.style.position = '';
			obj.style.width = '';
			obj.parentNode.style.height = '';
		} else {
			obj.parentNode.style.height = obj.parentNode.offsetHeight + 'px';
			obj.style.width = $.browser.version > 6 || !$.browser.msie ? '90%' : '600px';
			obj.style.position = 'absolute';
		}
	}
}
</script>
<div id="append_parent"></div>
<div class="container" id="cpcontainer">
<script type="text/JavaScript">
if(parent.$('admincpnav')) parent.$('admincpnav').innerHTML='扩展&nbsp;&raquo;&nbsp;论坛任务';
if(parent.$('add2custom')) parent.$('add2custom').innerHTML='<a href="admincp.php?action=misc&operation=custommenu&do=add&title=cplog_tasks&url=action%3Dtasks" target="main"><img src="images/admincp/btn_add2menu.gif" title="添加到常用操作" width="19" height="18" /></a>';
if(parent.$('custombar_add')) parent.$('custombar_add').innerHTML='<span onclick="ajaxget(\'admincp.php?action=misc&operation=custombar&title=cplog_tasks&url=action%3Dtasks\', \'custombar\', \'\', \'\', \'\', function () { top.custombar_resize();});" title="把当前页面添加到任务栏" />&nbsp;&nbsp;&nbsp;&nbsp;添加到任务栏</span>';
top.custombar_resize();
</script>
	<div class="floattop">
		<div class="itemtitle">
			<h3>论坛任务</h3>
			<ul class="tab1">
				<li class="current"><a href="admincp.php?action=tasks"><span>管理</span></a></li>
				<li id="addjs1" class="hasdropmenu"><a href="#"><span>添加<em>&nbsp;&nbsp;</em></span></a>
					<div id="addjs1child" class="dropmenu" style="display:none;">
						<a href="#">会员类任务</a>
						<a href="#">帖子类任务</a>
						<a href="#">论坛推广任务</a>
						<a href="#">红包类任务</a>
						<a href="#">头像类任务</a>
					</div>
				</li>
				<li><a href="admincp.php?action=tasks&operation=type"><span>任务类型</span></a></li>
			</ul>
		</div>
	</div>
	<div class="floattopempty"></div>
	<table class="tb tb2 " id="tips">
		<tr>
			<th  class="partition">技巧提示</th>
		</tr>
		<tr>
			<td class="tipsblock"><ul id="tipslis">
					<li>只有标记为“可用”状态的任务，会员才能访问并申请。</li>
					<li>新手任务可用于防止恶意注册及恶意灌水，或引导新手快速熟悉论坛，新注册用户将自动申请新手任务。</li>
				</ul></td>
		</tr>
	</table>
	<form name="cpform" method="post" action="admincp.php?action=tasks" id="cpform" >
		<table class="tb tb2 fixpadding">
			<tr>
				<th colspan="15" class="partition">设置</th>
			</tr>
			<tr>
				<td colspan="2" class="td27">是否开启论坛任务:</td>
			</tr>
			<tr class="noborder">
				<td class="vtop rowform"><ul>
						<li>
							<input class="radio" type="radio" name="taskonnew" id="taskonnew1" value="1" >
							&nbsp;<label for="taskonnew1">是</label></li>
						<li class="checked">
							<input class="radio" type="radio" name="taskonnew" id="taskonnew2" value="0" checked>
							&nbsp;<label for="taskonnew2">否</label></li>
					</ul></td>
				<td class="vtop tips2"></td>
			</tr>
		</table>
		<table class="tb tb2 fixpadding">
			<tr>
				<th colspan="15" class="partition">管理</th>
			</tr>
			<tr class="header">
				<th>名称</th>
				<th>可用</th>
				<th>显示顺序</th>
				<th>类型</th>
				<th>奖励</th>
				<th>时间</th>
				<th></th>
			</tr>
			<tr class="hover">
				<td><input type="text" class="txt" name="namenew[7]" size="20" value="信息时代">
					<input type="hidden" name="nameold[7]" value="信息时代"></td>
				<td class="td25"><input class="checkbox" type="checkbox" name="availablenew[7]" value="1">
					<input type="hidden" name="availableold[7]" value="0"></td>
				<td><input type="text" class="txt" name="displayordernew[7]" value="-1" size="3" /></td>
				<td>新手任务</td>
				<td>积分 金币 10 </td>
				<td>不限制
					<input type="hidden" name="newbietasknew[7]" value="1">
					<input type="hidden" name="scriptnamenew[7]" value="newbie_search"></td>
				<td><a href="admincp.php?action=tasks&operation=edit&id=7" class="act">编辑</a></td>
				<td></td>
			</tr>
			<tr>
				<td colspan="15"><div class="fixsel">
						<input type="submit" class="btn" id="submit_tasksubmit" name="tasksubmit" title="按 Enter 键可随时提交您的修改" value="提交" />
					</div></td>
			</tr>
			
		</table>
	</form>
	<div class="itemtitle">
		<h3>批量主题管理</h3>
		<ul class="stepstat">
			<li class="current" id="step1">1.搜索符合条件主题</li>
			<li id="step2">2.批量主题管理</li>
		</ul>
	</div>
	<table class="tb tb2 " id="tips">
		<tr>
			<th  class="partition">技巧提示</th>
		</tr>
		<tr>
			<td class="tipsblock"><ul id="tipslis">
					<li>通过批量主题管理，您可以对搜索到的主题进行批量删除、移动、分类/取消分类、删除、置顶/取消置顶、设置/取消精华、打开/关闭以及删除主题中的附件等操作；</li>
					<li>请先根据条件搜索主题，然后选择相应的操作。</li>
				</ul></td>
		</tr>
	</table>
	<div id="threadsearch">
		<form name="threadforum" method="post" action="admincp.php?action=threads" id="threadforum" >
			<input type="hidden" name="formhash" value="b7d6eb90" />
			<input type="hidden" id="formscrolltop" name="scrolltop" value="" />
			<input type="hidden" name="anchor" value="" />
			<input type="hidden" name="page" value="1">
			<table class="tb tb2 ">
				<tr>
					<td colspan="2" class="td27">显示详细主题列表:</td>
				</tr>
				<tr class="noborder">
					<td class="vtop rowform"><ul onmouseover="altStyle(this);">
							<li>
								<input class="radio" type="radio" name="detail" value="1" >
								&nbsp;是</li>
							<li class="checked">
								<input class="radio" type="radio" name="detail" value="0" checked>
								&nbsp;否</li>
						</ul></td>
					<td class="vtop tips2"></td>
				</tr>
				<tr>
					<td colspan="2" class="td27">所在版块:</td>
				</tr>
				<tr class="noborder">
					<td class="vtop rowform"><select name="inforum">
							<option value="all">&nbsp;&nbsp;> 全部</option>
							<option value="">&nbsp;</option>
							<optgroup label="--分类信息专区">
							<option value="2">跳蚤市场</option>
							<option value="3">房屋信息</option>
							<option value="4">招聘求职</option>
							<option value="5">交友征婚</option>
							<option value="6">生活服务</option>
							</optgroup>
							<optgroup label="--百姓生活">
							<option value="8">水煮秦皇岛</option>
							<option value="100">&nbsp; &nbsp; &nbsp; 洪城茶座</option>
							<option value="101">&nbsp; &nbsp; &nbsp; 百姓维权</option>
							<option value="102">&nbsp; &nbsp; &nbsp; 豫章掠影</option>
							<option value="103">&nbsp; &nbsp; &nbsp; 外乡人在秦皇岛</option>
							<option value="104">&nbsp; &nbsp; &nbsp; 公益慈善</option>
							<option value="9">吃在秦皇岛</option>
							<option value="105">&nbsp; &nbsp; &nbsp; 美食杂谈</option>
							<option value="106">&nbsp; &nbsp; &nbsp; 岛友私房菜</option>
							<option value="107">&nbsp; &nbsp; &nbsp; 饭店点评</option>
							<option value="108">&nbsp; &nbsp; &nbsp; 吃饭打折</option>
							</optgroup>
							<optgroup label="--网站管理区">
							<option value="27">岛友秀</option>
							<option value="169">&nbsp; &nbsp; &nbsp; MM秀</option>
							<option value="170">&nbsp; &nbsp; &nbsp; GG秀</option>
							<option value="171">&nbsp; &nbsp; &nbsp; 合影</option>
							<option value="28">网友中心</option>
							<option value="172">&nbsp; &nbsp; &nbsp; 信息港活动专区</option>
							<option value="173">&nbsp; &nbsp; &nbsp; 信息港公告</option>
							<option value="174">&nbsp; &nbsp; &nbsp; 咨询建议</option>
							<option value="175">&nbsp; &nbsp; &nbsp; 申请版主</option>
							<option value="176">&nbsp; &nbsp; &nbsp; 版主专区</option>
							</optgroup>
							<optgroup label="--地宝公告">
							<option value="180">信息港更新通知</option>
							<option value="181">信息港活动记事</option>
							<option value="182">信息港使用技巧</option>
							<option value="183">关于信息港的那些事</option>
							</optgroup>
							<optgroup label="--帮助中心">
							<option value="184">新手上路</option>
							<option value="185">注册与登录问题</option>
							<option value="186">发布信息相关问题</option>
							<option value="187">信息管理相关问题</option>
							<option value="188">版规与禁止的内容</option>
							<option value="189">其他问题</option>
							<option value="190">诚信认证相关问题</option>
							</optgroup>
							<optgroup label="--付费推广">
							<option value="191">增值服务</option>
							<option value="192">付费方式</option>
							<option value="193">广告服务</option>
							<option value="194">财富通</option>
							</optgroup>
						</select></td>
					<td class="vtop tips2"></td>
				</tr>
				<tr>
					<td colspan="2" class="td27">发表时间范围:</td>
				</tr>
				<tr class="noborder">
					<td class="vtop rowform"><input type="text" class="txt" name="starttime" value="" style="width: 108px; margin-right: 5px;" onclick="showcalendar(event, this)">
						--
						<input type="text" class="txt" name="endtime" value=""class="txt" style="width: 108px; margin-left: 5px;" onclick="showcalendar(event, this)"></td>
					<td class="vtop tips2">格式 yyyy-mm-dd，不限制请输入 0</td>
				</tr>
				<tr>
					<td colspan="2" class="td27">主题作者:</td>
				</tr>
				<tr class="noborder">
					<td class="vtop rowform"><input name="users" value="" type="text" class="txt"   /></td>
					<td class="vtop tips2">多用户名中间请用半角逗号 "," 分割</td>
				</tr>
				<tr>
					<td colspan="2" class="td27">标题关键字:</td>
				</tr>
				<tr class="noborder">
					<td class="vtop rowform"><input name="keywords" value="" type="text" class="txt"   /></td>
					<td class="vtop tips2">多关键字中间请用半角逗号 "," 分割</td>
				</tr>
				<tbody id="advanceoption" style="display: none">
					<tr>
						<td colspan="2" class="td27">所在主题分类:</td>
					</tr>
					<tr class="noborder">
						<td class="vtop rowform"><select name="intype">
								<option value="all">&nbsp;&nbsp;> 全部</option>
								<option value="">&nbsp;</option>
								<option value="0">&nbsp;&nbsp;> 无分类</option>
								<option value="73">&nbsp;&nbsp;> 婚纱礼服</option>
								<option value="74">&nbsp;&nbsp;> 婚纱摄影</option>
								<option value="75">&nbsp;&nbsp;> 跟妆造型</option>
								<option value="76">&nbsp;&nbsp;> 婚戒首饰</option>
								<option value="77">&nbsp;&nbsp;> 婚礼用品</option>
								<option value="78">&nbsp;&nbsp;> 婚车鲜花</option>
								<option value="79">&nbsp;&nbsp;> 跟拍摄像</option>
								<option value="80">&nbsp;&nbsp;> 婚宴酒店</option>
								<option value="81">&nbsp;&nbsp;> 专业司仪</option>
								<option value="82">&nbsp;&nbsp;> 婚礼策划</option>
								<option value="83">&nbsp;&nbsp;> 婚房装饰</option>
								<option value="84">&nbsp;&nbsp;> 蜜月旅游</option>
							</select></td>
						<td class="vtop tips2"></td>
					</tr>
					<tr>
						<td colspan="2" class="td27">所在分类信息:</td>
					</tr>
					<tr class="noborder">
						<td class="vtop rowform"><select name="insort">
								<option value="all">&nbsp;&nbsp;> 全部</option>
								<option value="">&nbsp;</option>
								<option value="0">&nbsp;&nbsp;> 无分类</option>
							</select></td>
						<td class="vtop tips2"></td>
					</tr>
					<tr>
						<td colspan="2" class="td27">被浏览次数介于:</td>
					</tr>
					<tr class="noborder">
						<td class="vtop rowform"><input type="text" class="txt" name="viewsmore" value="" style="width: 108px; margin-right: 5px;">
							--
							<input type="text" class="txt" name="viewsless" value=""class="txt" style="width: 108px; margin-left: 5px;"></td>
						<td class="vtop tips2"></td>
					</tr>
					<tr>
						<td colspan="2" class="td27">被回复次数介于:</td>
					</tr>
					<tr class="noborder">
						<td class="vtop rowform"><input type="text" class="txt" name="repliesmore" value="" style="width: 108px; margin-right: 5px;">
							--
							<input type="text" class="txt" name="repliesless" value=""class="txt" style="width: 108px; margin-left: 5px;"></td>
						<td class="vtop tips2"></td>
					</tr>
					<tr>
						<td colspan="2" class="td27">所需阅读权限高于</td>
					</tr>
					<tr class="noborder">
						<td class="vtop rowform"><input name="readpermmore" value="" type="text" class="txt"   /></td>
						<td class="vtop tips2"></td>
					</tr>
					<tr>
						<td colspan="2" class="td27">售价高于:</td>
					</tr>
					<tr class="noborder">
						<td class="vtop rowform"><input name="pricemore" value="" type="text" class="txt"   /></td>
						<td class="vtop tips2"></td>
					</tr>
					<tr>
						<td colspan="2" class="td27">多少天内无新回复:</td>
					</tr>
					<tr class="noborder">
						<td class="vtop rowform"><input name="noreplydays" value="" type="text" class="txt"   /></td>
						<td class="vtop tips2"></td>
					</tr>
					<tr>
						<td colspan="2" class="td27">所在主题分类:</td>
					</tr>
					<tr class="noborder">
						<td class="vtop rowform"><ul onmouseover="altStyle(this);">
								<li>
									<input class="radio" type="radio" name="specialthread" value="0" onclick="$('#showspecial').hide()">
									&nbsp;无限制</li>
								<li>
									<input class="radio" type="radio" name="specialthread" value="1" onclick="$('#showspecial').show()">
									&nbsp;包含且仅包含</li>
								<li>
									<input class="radio" type="radio" name="specialthread" value="2" onclick="$('#showspecial').show()">
									&nbsp;不包含</li>
							</ul></td>
						<td class="vtop tips2"></td>
					</tr>
					<tr id="showspecial" style="display:none">
						<td class="sub" colspan="2"><ul class="dblist" onmouseover="altStyle(this);">
								<li>
									<input type="checkbox" name="special[]" value="1" class="checkbox" />
									投票主题</li>
								<li>
									<input type="checkbox" name="special[]" value="2" class="checkbox" />
									商品主题</li>
								<li>
									<input type="checkbox" name="special[]" value="3" class="checkbox" />
									悬赏主题</li>
								<li>
									<input type="checkbox" name="special[]" value="4" class="checkbox" />
									活动主题</li>
								<li>
									<input type="checkbox" name="special[]" value="5" class="checkbox" />
									辩论主题</li>
							</ul></td>
					</tr>
					<tr>
						<td colspan="2" class="td27">是否包含置顶帖:</td>
					</tr>
					<tr class="noborder">
						<td class="vtop rowform"><ul onmouseover="altStyle(this);">
								<li>
									<input class="radio" type="radio" name="sticky" value="0">
									&nbsp;无限制</li>
								<li>
									<input class="radio" type="radio" name="sticky" value="1">
									&nbsp;包含且仅包含</li>
								<li>
									<input class="radio" type="radio" name="sticky" value="2">
									&nbsp;不包含</li>
							</ul></td>
						<td class="vtop tips2"></td>
					</tr>
					<tr>
						<td colspan="2" class="td27">是否包含精华帖:</td>
					</tr>
					<tr class="noborder">
						<td class="vtop rowform"><ul onmouseover="altStyle(this);">
								<li>
									<input class="radio" type="radio" name="digest" value="0">
									&nbsp;无限制</li>
								<li>
									<input class="radio" type="radio" name="digest" value="1">
									&nbsp;包含且仅包含</li>
								<li>
									<input class="radio" type="radio" name="digest" value="2">
									&nbsp;不包含</li>
							</ul></td>
						<td class="vtop tips2"></td>
					</tr>
					<tr>
						<td colspan="2" class="td27">是否包含附件:</td>
					</tr>
					<tr class="noborder">
						<td class="vtop rowform"><ul onmouseover="altStyle(this);">
								<li>
									<input class="radio" type="radio" name="attach" value="0">
									&nbsp;无限制</li>
								<li>
									<input class="radio" type="radio" name="attach" value="1">
									&nbsp;包含且仅包含</li>
								<li>
									<input class="radio" type="radio" name="attach" value="2">
									&nbsp;不包含</li>
							</ul></td>
						<td class="vtop tips2"></td>
					</tr>
					<tr>
						<td colspan="2" class="td27">是否包含评分帖:</td>
					</tr>
					<tr class="noborder">
						<td class="vtop rowform"><ul onmouseover="altStyle(this);">
								<li>
									<input class="radio" type="radio" name="rate" value="0">
									&nbsp;无限制</li>
								<li>
									<input class="radio" type="radio" name="rate" value="1">
									&nbsp;包含且仅包含</li>
								<li>
									<input class="radio" type="radio" name="rate" value="2">
									&nbsp;不包含</li>
							</ul></td>
						<td class="vtop tips2"></td>
					</tr>
					<tr>
						<td colspan="2" class="td27">是否包含高亮帖:</td>
					</tr>
					<tr class="noborder">
						<td class="vtop rowform"><ul onmouseover="altStyle(this);">
								<li>
									<input class="radio" type="radio" name="highlight" value="0">
									&nbsp;无限制</li>
								<li>
									<input class="radio" type="radio" name="highlight" value="1">
									&nbsp;包含且仅包含</li>
								<li>
									<input class="radio" type="radio" name="highlight" value="2">
									&nbsp;不包含</li>
							</ul></td>
						<td class="vtop tips2"></td>
					</tr>
				</tbody>
				<tr>
					<td colspan="15"><div class="fixsel">
							<input type="submit" class="btn" id="submit_searchsubmit" name="searchsubmit" title="按 Enter 键可随时提交您的修改" value="提交" />
							&nbsp;
							<input class="checkbox" type="checkbox" value="1" onclick="if($(this).attr('checked'))$('#advanceoption').show();else $('#advanceoption').hide();" id="btn_more" />
							<label for="btn_more">更多选项</label>
						</div></td>
				</tr>
			</table>
		</form>
	</div>
	<form name="cpform" method="post" action="admincp.php?action=forums" id="cpform" >
		<input type="hidden" name="formhash" value="b7d6eb90" />
		<input type="hidden" id="formscrolltop" name="scrolltop" value="" />
		<input type="hidden" name="anchor" value="" />
		<table class="tb tb2 ">
			<tr class="header">
				<th>显示顺序</th>
				<th>版块名称</th>
				<th>版主</th>
				<th></th>
			</tr>
			<tr class="hover">
				<td class="td25"><input type="text" class="txt" name="order[26]" value="2" /></td>
				<td><div class="parentboard">
						<input type="text" name="name[26]" value="网站管理区" class="txt" />
					</div></td>
				<td><a href="?action=forums&operation=moderators&fid=26" title="编辑本版块版主">无 / 添加版主</a></td>
				<td><a href="?action=forums&operation=edit&fid=26" title="编辑本版块设置" class="act">编辑</a><a href="?action=forums&operation=delete&fid=26" title="删除本版块及其中所有帖子" class="act">删除</a></td>
			</tr>
			<tr class="hover">
				<td class="td25"><input type="text" class="txt" name="order[28]" value="1" /></td>
				<td><div class="board">
						<input type="text" name="name[28]" value="网友中心" class="txt" />
						<a href="###" onclick="addrowdirect = 1;addrow(this, 2, 28)" class="addchildboard">添加子版块</a></div></td>
				<td><a href="?action=forums&operation=moderators&fid=28" title="编辑本版块版主">无 / 添加版主</a></td>
				<td><a href="?action=forums&operation=edit&fid=28" title="编辑本版块设置" class="act">编辑</a><a href="?action=forums&operation=copy&source=28" title="将本版块的设置复制到其他版块" class="act">设置复制</a><a href="?action=forums&operation=delete&fid=28" title="删除本版块及其中所有帖子" class="act">删除</a></td>
			</tr>
			<tr class="hover">
				<td class="td25"><input type="text" class="txt" name="order[172]" value="0" /></td>
				<td><div id="cb_172" class="childboard">
						<input type="text" name="name[172]" value="信息港活动专区" class="txt" />
					</div></td>
				<td><a href="?action=forums&operation=moderators&fid=172" title="编辑本版块版主">无 / 添加版主</a></td>
				<td><a href="?action=forums&operation=edit&fid=172" title="编辑本版块设置" class="act">编辑</a><a href="?action=forums&operation=copy&source=172" title="将本版块的设置复制到其他版块" class="act">设置复制</a><a href="?action=forums&operation=delete&fid=172" title="删除本版块及其中所有帖子" class="act">删除</a></td>
			</tr>
			<script type="text/JavaScript">$('cb_176').className = 'lastchildboard';</script>
			<tr>
				<td></td>
				<td colspan="3"><div class="lastboard"><a href="###" onclick="addrow(this, 1, 26)" class="addtr">添加新版块</a></div></td>
			</tr>
			<tr class="hover">
				<td class="td25"><input type="text" class="txt" name="order[177]" value="3" /></td>
				<td><div class="parentboard">
						<input type="text" name="name[177]" value="地宝公告" class="txt" />
					</div>
					<div class="boardattr">隐藏</div></td>
				<td><a href="?action=forums&operation=moderators&fid=177" title="编辑本版块版主">无 / 添加版主</a></td>
				<td><a href="?action=forums&operation=edit&fid=177" title="编辑本版块设置" class="act">编辑</a><a href="?action=forums&operation=delete&fid=177" title="删除本版块及其中所有帖子" class="act">删除</a></td>
			</tr>
			<tr class="hover">
				<td class="td25"><input type="text" class="txt" name="order[180]" value="0" /></td>
				<td><div class="board">
						<input type="text" name="name[180]" value="信息港更新通知" class="txt" />
						<a href="###" onclick="addrowdirect = 1;addrow(this, 2, 180)" class="addchildboard">添加子版块</a></div>
					<div class="boardattr">隐藏</div></td>
				<td><a href="?action=forums&operation=moderators&fid=180" title="编辑本版块版主">无 / 添加版主</a></td>
				<td><a href="?action=forums&operation=edit&fid=180" title="编辑本版块设置" class="act">编辑</a><a href="?action=forums&operation=copy&source=180" title="将本版块的设置复制到其他版块" class="act">设置复制</a><a href="?action=forums&operation=delete&fid=180" title="删除本版块及其中所有帖子" class="act">删除</a></td>
			</tr>
			<tr>
				<td></td>
				<td colspan="3"><div class="lastboard"><a href="###" onclick="addrow(this, 1, 177)" class="addtr">添加新版块</a></div></td>
			</tr>
			<tr>
				<td colspan="15"><div class="fixsel">
						<input type="submit" class="btn" id="submit_editsubmit" name="editsubmit" title="按 Enter 键可随时提交您的修改" value="提交" />
					</div></td>
			</tr>
		</table>
	</form>
	<table class="tb tb2 noborder fixpadding">
		<tr>
			<td colspan="2" class="td27">无权限访问时的提示信息:</td>
		</tr>
		<tr class="noborder">
			<td class="vtop rowform"><textarea  rows="6" onDblClick="textareasize(this, 1)" onKeyUp="textareasize(this, 0)" name="formulapermmessagenew" id="formulapermmessagenew" cols="50" class="tarea" '..'></textarea></td>
			<td class="vtop tips2">自定义无权限时的提示信息，如不填写则无权限时将显示权限表达式的公式<br />
				双击输入框可扩大/缩小</td>
		</tr>
	</table>
	<table class="tb tb2 " id="global_tips">
		<tr class="noborder">
			<td class="vtop rowform"><ul onmouseover="altStyle(this);">
					<li class="checked">
						<input class="radio" type="radio" name="settingsnew[stylejump]" value="1" checked>
						&nbsp;是</li>
					<li>
						<input class="radio" type="radio" name="settingsnew[stylejump]" value="0" >
						&nbsp;否</li>
				</ul></td>
			<td class="vtop tips2">设置是否显示可用的论坛风格切换按钮，用户可以此按钮切换不同的论坛风格</td>
		</tr>
	</table>
</div>

{subtemplate footer}