{subtemplate header}
<div class="container" id="cpcontainer">
	<div class="floattop">
		<div class="itemtitle">
			{if $method=='index'}
				{if $look}
					<h3>$cate[name]数据模块</h3>
					<ul class="tab1">
						<li><a href="$base_url&method=$method"><span>数据模块分类列表</span></a></li>
						<li{if !$type} class="current"{/if}><a href="$base_url&method=$method&look=$look"><span>$cate[name]数据模块</span></a></li>
						<li{if $type=='add'} class="current"{/if}><a href="$base_url&method=$method&look=$look&type=add"><span>添加$cate[name]数据模块</span></a></li>
					</ul>
				{else}
			<h3>$menu_sub_name</h3>
			<ul class="tab1">
				<li{if $method=='index'} class="current"{/if}><a href="$base_url"><span>数据模块分类列表</span></a></li>
				<li{if $method=='add_cate'} class="current"{/if}><a href="$base_url&method=add_cate"><span>添加分类</span></a></li>
			</ul>
				{/if}
			{elseif $method=='add_cate'}
			<h3>$menu_sub_name</h3>
			<ul class="tab1">
				<li class="current"><a href="$base_url&method=$method"><span>添加数据模块分类</span></a></li>
				<li><a href="$base_url&method=index"><span>数据模块分类列表</span></a></li>
			</ul>
			{/if}
		</div>
	</div>
	<div class="floattopempty"></div>
	{switch $method 'index'}
	{if $look}
		{if $type=='add'}
		<form name="cpform" method="post" id="cpform" >
		$sys_hash_code
			<table class="tb tb2 fixpadding">
				<tr class="hover">
					<th width="60">分类名：</th>
					<td width="80"><input type="text" class="txt" name="name" id="name" value="$item[name]" preg="null=请输入分类名" /></td>
					<td><span id="name_tip"></span></td>
				</tr>
				<tr class="hover">
					<th width="60">调用标记：</th>
					<td width="80"><input type="text" class="txt" name="marker" id="marker" value="$item[marker]" preg="null=请输入模块调用标记" /></td>
					<td><span id="marker_tip"></span></td>
				</tr>
				<tr class="hover">
					<th width="60" valign="top">模块数据：</th>
					<td width="80"><textarea name="data" id="data" rows="20" cols="120">{html $item[data]}</textarea></td>
					<td><span id="data_tip"></span></td>
				</tr>
				<tr class="hover">
					<th width="60" valign="top"></th>
					<td width="80"><input type="submit" value="{if $edit}编辑{else}添加{/if}" class="btn" /></td>
					<td>&nbsp;</td>
				</tr>
			</table>
		</form>
		{else}
		<form method="post" enctype="application/x-www-form-urlencoded">
		$sys_hash_code
			<table class="tb tb2 fixpadding">
				<tr class="header">
					<th>删？</th>
					<th>排序</th>
					<th>模块名</th>
					<th>模块标记</th>
					<th>添加时间</th>
					<th>修改时间</th>
					<th></th>
				</tr>
				{loop $list $k $v}
				<tr class="hover">
					<td><input type="hidden" name="ids[]" value="$v[id]" /><input type="checkbox" name="del[]" value="$v[id]" /></td>
					<td><input type="text" name="sort[]" value="$v[sort]"  size="3"/></td>
					<td>$v[name]</td>
					<td>$v[marker]</td>
					<td>{date $v[add_timestamp]}</td>
					<td>{date $v[edit_timestamp]}</td>
					<td><a href="$base_url&method=$method&look=$look&edit=$v[id]" class="act">编辑</a></td>
					<td></td>
				</tr>
				{/loop}
				<tr>
					<td colspan="7" align="center">$multipage</td>
				</tr>
				<tr>
					<td colspan="7">
						<div class="fixsel">
							<input type="submit" class="btn" id="submit_tasksubmit" name="tasksubmit" title="按 Enter 键可随时提交您的修改" value="提交" />
						</div></td>
				</tr>
				
			</table>
		</form>
		{/if}
	{else}
	<form method="post" enctype="application/x-www-form-urlencoded">
	$sys_hash_code
		<table class="tb tb2 fixpadding">
			<tr class="header">
				<th>删？</th>
				<th>排序</th>
				<th>名称</th>
				<th>模块数</th>
				<th></th>
			</tr>
			{loop $list $k $v}
			<tr class="hover">
				<td><input type="hidden" name="ids[]" value="$v[id]" /><input type="checkbox" name="del[]" value="$v[id]" /></td>
				<td><input type="text" name="sort[]" value="$v[sort]"  size="3"/></td>
				<td>$v[name]</td>
				<td>$v[count]</td>
				<td>[<a href="$base_url&method=$method&look=$v[id]" class="act">查看</a>][<a href="$base_url&method=$method&edit=$v[id]" class="act">编辑</a>]</td>
				<td></td>
			</tr>
			{/loop}
			<tr>
				<td colspan="5"><div class="fixsel">
						<input type="submit" class="btn" id="submit_tasksubmit" name="tasksubmit" title="按 Enter 键可随时提交您的修改" value="提交" />
					</div></td>
			</tr>
			
		</table>
	</form>
	{/if}
	{case 'add_cate'}
	<form name="cpform" method="post" id="cpform" >
	$sys_hash_code
	{if $edit}<input type="hidden" name="is_edit" value="yes" />{/if}
		<table class="tb tb2 fixpadding">
			<tr class="hover">
				<th width="60">分类名：</th>
				<td width="80"><input type="text" class="txt" name="name" id="name" value="$name" preg="null=请输入分类名" /></td>
				<td width="60"><input type="submit" value="{if $edit}编辑{else}添加{/if}" class="btn" /></td>
				<td><span id="name_tip"></span></td>
			</tr>
			
		</table>
	</form>
	{/switch}
</div>
{subtemplate footer}