{sub h}
{if $method=='index'}
	{js_select jquery_ui}
	{css_select jquery_ui}
<div id="dialog" style="display:none">
	<div id="dialog_message"></div>
</div>
<script language="javascript">
var sendCard = function(id){
	var html='';
	html='<table width="300">';
	html+='<tr>';
	html+='<td width="150" align="right">卡号：</td>';
	html+='<td align="left">'+id+'</td>';
	html+='</tr>';
	html+='<tr>';
	html+='<td width="150" align="right">用户名：</td>';
	html+='<td align="left"><input type="text" id="username" value="" class="txt" style="width:200px" /></td>';
	html+='</tr>';
	html+='</table>';
	$('#dialog').html(html);
	$("#dialog").dialog({
		title:'发送卡密给用户',
		buttons: {
			"发送": function() {
				var username = $('#username').val().replace(/^\s+|\s+$/g, '');
				if (username) {
					$(this).html('<div align="center">发送中，请稍后......</div>');
					$("#dialog" ).dialog( "option", "buttons",{
						
					});
					$.getJSON('ajax/index.php?action=topup&operation=card&method=send&cardid='+id+'&username='+encodeURI(username), function(json){
						if (json.status) {
							$('#dialog').html('<span style="color:red">发送成功</span>');
						} else {
							$('#dialog').html('<span style="color:red">'+json.msg+'</span>');
						}
						$("#dialog" ).dialog( "option", "buttons",{
							'确定':function(){
								$(this).dialog('close');
							}
						});
					});
				} else {
					$('#username').focus();
				}
			},
			'取消':function(){
				$(this).dialog('close');
			}
		},
		modal:true,//模式窗口（显示遮罩层）
		resizable:false,//是否允许改变大小
		draggable:false,//是否可以拖动
		bgiframe: true,
		overlay: {   
				backgroundColor: '#000',   
				opacity: 0.5   
			},  
		show: 'slide',//显示样式
		width:400,
		height:160
	});
}
</script>
	{adminList
		删？    |id        |del
		卡号    |id
		密码    |pwd       |code,<a href="javascript:;" onclick="copyText('$v[pwd]');alert('复制成功');return false;">复制密码</a>
		发送    |          |code,<a href="javascript:;" onclick="sendCard('$v[id]');return false;">发送给用户</a>
		面额    |money
		创建时间|ctimestamp|flag,date
		充值时间|utimestamp|code,{echo $v[status]?date('Y-m-d H:i:s', $v[utimestamp]):'还未使用'}
		充值帐号|username  |code,{echo $v[status]?$v[username]:'还未使用'}
		状态    |status    |code,{echo $v[status]?'<span style="color:green">已使用</span>':'<span style="color:red">未使用</span>'}
	}
{elseif $method=='create'}
	{adminForm
		注：面值为整数|tip
		面值,number=请输入充值卡面值|money|text|240|10
		数量,number=请输入生成的数量|count|text|240|10
	}
{/if}
{sub f}