{sub h}
{if $method!='view' && $method != 'getList'}
<br />
<div class="itemtitle">
	<h3></h3>
	<ul class="tab1">
		{loop $top_menu2 $k $v}
		{if !is_array($v) || $v[hide]===false || $k==$method2}
		<li{if $k==$method2} class="current"{/if}><a href="{if is_array($v)&&$v[hide]}$nowurl{else}$base_url&method=$method&method2=$k{if is_array($v) && $v[attach]}$v[attach]{/if}{/if}"><span>{echo is_array($v)?$v[name]:$v}</span></a></li>
		{/if}
		{/loop}
	</ul>
</div>
{/if}
{if $method=='tao'||$method=='new'||$method=='pai'||$method=='you'}
{adminList
	删？|id|del
	发布人|susername
	兔粮|point
	发布流量|flowAll
	剩余流量|flowTotal
	发布时间|time|flag,date
	完成时间|ctime|flag,date2
	锁定时间|lockTime|flag,date2
	状态    |status|code,$status[$v[status]]
	        |id    |link3,lock=锁定/解锁;link2,详情,method=view&sid=$v[id];link2,查看接手人,method=getList&sid=$v[id]
}
{elseif $method=='view'}
<form method="post" enctype="application/x-www-form-urlencoded">
$sys_hash_code
	<table class="tab_view" style="width:800px">
		<tr class="tip">
			<td colspan="2">任务详情</td>
		</tr>
		<tr>
			<th>任务ID</th>
			<td>$task[id]</td>
		</tr>
		<tr>
			<th>发布者</th>
			<td>$task[susername]</td>
		</tr>
		<tr>
			<th>掌柜</th>
			<td>$task[snickname]</td>
		</tr>
		<tr>
			<th>任务流量</th>
			<td>$task[flowAll]</td>
		</tr>
		<tr>
			<th>剩余流量</th>
			<td>$task[flowTotal]</td>
		</tr>
		<tr>
			<th>兔粮</th>
			<td>$task[point]</td>
		</tr>
		<tr>
			<th>商品地址</th>
			<td>$task[itemurl]</td>
		</tr>
		<tr>
			<th>验证方式</th>
			<td>
				<table class="tab_view">
					
				{switch $task[wayId] '0'}
					<tr class="tip">
						<td colspan="2">淘宝宝贝搜索</td>
					</tr>
					<tr>
						<th>宝贝搜索关键字</th>
						<td>$task[visitKey]</td>
					</tr>
					
				{case '1'}
					<tr class="tip">
						<td colspan="2">淘宝店铺搜索</td>
					</tr>
					<tr>
						<th>搜索店铺关键字</th>
						<td>$task[visitKey]</td>
					</tr>
				{case '2'}
					<tr class="tip">
						<td colspan="2">链接搜索</td>
					</tr>
				{/switch}
				<tr>
					<th>搜索提示</th>
					<td>$task[visitTip]</td>
				</tr>
				</table>
			</td>
		</tr>
		<tr>
			<th>验证要求</th>
			<td>
				<table class="tab_view">
					<tr class="tip">
						<td colspan="2">{switch $task[checkType] '0'}验证链接{case '1'}宝贝价格{case '2'}验证字符{/switch}</td>
					</tr>
					<tr>
						<th>验证结果</th>
						<td>$task[checkValue]</td>
					</tr>
				</table>
			</td>
		</tr>
		<tr>
			<th>每天限制IP</th>
			<td>{if $task[isIP]}$task[numIP]次{else}不限制{/if}</td>
		</tr>
		<tr>
			<th>限制接手人</th>
			<td>{if $task[isLimit]}$task[numUser]次{else}不限制{/if}</td>
		</tr>
		<tr>
			<th>来路访问频率</th>
			<td>{if $task[isRate]}$task[minute]分钟{else}不限制{/if}</td>
		</tr>
		<tr>
			<th>竞价兔粮</th>
			<td>$task[bidUp]</td>
		</tr>
		<tr>
			<th>任务状态</th>
			<td>$status[$task[status]]</td>
		</tr>
		<tr>
			<th></th>
			<td><input type="button" value="返回" class="btn" onclick="history.back(-1)" /></td>
		</tr>
	</table>
</form>
<br /><br /><br />
{elseif $method == 'getList'}
{adminList
	删？|id|del
	接手人|username
	接手时间|time|flag,date
	接手IP  |ip  |flag,ip
	完成时间|ctime|flag,date2
	验证次数|checkCount
	状态    |status|code,{if $v[status] == 0}进行中{elseif $status[1]}已退出{elseif $v[status] == 2}已完成{/if}
	是否结算|pay|code,{if $v[pay]}是{else}否{/if}
}
{/if}
{sub f}