{sub h}
{if $method=='index'}
<form method="post" enctype="application/x-www-form-urlencoded">
$sys_hash_code
	<table class="tab_view">
		{loop $vars $k $v}
		<tr>
			<th>{if is_array($v)}$v[title]{else}$v{/if}</th>
			<td><input type="text" name="$k" id="$k" value="{echo $$k}" class="txt"{if !is_array($v)} preg="null=不能为空"{elseif $v[type]=='float'} RegStr="/^\d+(?:\.\d+)?$/" Message="请输入价格|格式错误|正确"{elseif $v[type]=='int'} RegStr="/^\d+$/" Message="请输入数字|格式错误|正确"{else} preg="null=不能为空"{/if} /></td>
			<td class="tip" id="{$k}_tip"></td>
		</tr>
		{/loop}
		<tr>
			<th>短信中心</th>
			<td><a href="http://121.37.40.49:8001/GCOM/" target="_blank">吉信通后台</a></td>
		</tr>
		<tr>
			<th></th>
			<td colspan="2"><input type="submit" value="提交" class="btn" /></td>
		</tr>
	</table>
</form>
{elseif $method=='send'}
{adminForm
	当前余额                                        |money  |code,￥$money
	手机号码列表,null=多个号码用逗号或空格或换行隔开|phones |textarea
	信息内容,null=信息内容不能为空                  |message|textarea
}
{elseif $method=='log'}
{adminList
	删？    |id         |del
	手机号码|mobilephone
	信息内容|content
	发送时间|timestamp  |flag,date
	价格    |money
	发送状态|status     |code,{echo $v[status]?'成功':'失败'}
}
{elseif $method=='vcode_log'}
{adminList
	删？    |id         |del
	用户    |uid        |code,{echo member_base::getUsername($v[uid])}
	手机号码|mobilephone
	激活码  |vcode
	发送时间|timestamp  |flag,date
	发送状态|status     |code,{echo $v[status]?'已经使用':'未使用'}
}
{elseif $method=='pwd2_log'}
{adminList
	删？    |id         |del
	用户    |username
	手机号码|mobilephone
	新操作码|password
	发送时间|timestamp  |flag,date
}
{/if}
{sub f}