{subtemplate header}
<div class="container" id="cpcontainer">
	<div class="floattop">
		<div class="itemtitle">
			<h3>$menu_sub_name</h3>
			<ul class="tab1">
				<li{if $method=='index'} class="current"{/if}><a href="$base_url&method=index"><span>数据库表列表</span></a></li>
				<li{if $method=='replaceAll'} class="current"{/if}><a href="$base_url&method=replaceAll"><span>批量替换字符</span></a></li>
				{if $method=='edit'}
				<li class="current"><a href="$base_url&edit=$edit"><span>编辑数据表：$edit</span></a></li>
				{/if}
			</ul>
		</div>
	</div>
	<div class="floattopempty"></div>
	{if $method=='index'}
	<form method="post" enctype="application/x-www-form-urlencoded" onsubmit="return confirm('确定提交吗？')">
		<input type="hidden" name="hash" value="$sys_hash" />
		<table class="tb tb2 fixpadding">
			<tr class="header">
				<th>删？</th>
				<th>表名</th>
				<th></th>
			</tr>
			{loop $list $k $v}
			<tr class="hover">
				<td><input type="checkbox" name="del[]" value="$v[table0]" /></td>
				<td>$v[table1]</td>
				<td>[<a href="$base_url&edit=$v[table0]">详情</a>][<a href="$base_url&replace=$v[table0]">替换字符串</a>]</td>
			</tr>
			{/loop}
			<tr>
				<td></td>
				<td><input type="submit" class="btn" value="提交" /></td>
				<td></td>
			</tr>
		</table>
	</form>
	{elseif $method=='edit'}
	<pre>$create_info</pre>
	{elseif $method == 'replace'}
	{adminForm
		请慎用，使用前最好先备份一下数据库表|tip
		源字符串,null=请输入要替换的字符串|source|textarea
		目标字符串,null=请输入想要替换为的字符串|destination|textarea
	}
	{elseif $method == 'replaceAll'}
	{adminForm
		请慎用，使用前最好先备份一下数据库表|tip
		源字符串,null=请输入要替换的字符串|source|textarea
		目标字符串,null=请输入想要替换为的字符串|destination|textarea
	}
	{/if}
</div>
{subtemplate footer}