{subtemplate header}
<div class="container">
	<div class="floattop">
		<div class="itemtitle">
			<h3>$menu_sub_name</h3>
			<ul class="tab1">
				<li{if $method=='index'} class="current"{/if}><a href="$base_url&method=index"><span>已创建SQL</span></a></li>
				<li{if $method=='create'} class="current"{/if}><a href="$base_url&method=create"><span>创建SQL</span></a></li>
			</ul>
		</div>
	</div>
	<div class="floattopempty"></div>
	{if $method=='index'}
	<table class="tb tb2 fixpadding">
			<tr class="header">
				<th>备注</th>
				<th></th>
			</tr>
			{loop $list $v}
			<tr class="hover">
				<td>$v[name]</td>
				<td>[<a href="$base_url&create=$v[id]">创建</a>][<a href="$base_url&edit=$v[id]">编辑</a>][<a href="$base_url&del=$v[id]">删除</a>]</td>
			</tr>
			{/loop}
		</table>
	{elseif $method=='create'}
	<script language="javascript">
	$(function(){
		var add_f=function(name){
			$('#f').append('<tr class="hover"><td align="right">标记“'+name+'”的描述：</td><td><input type="text" name="'+name+'" /></td></tr>');
		}
		$('#btn_ini').click(function(){
			$('#f').children().each(function(){$(this).remove();});
			var matches=$('#sql').val().match(/\{([a-zA-Z0-9_]+)\}/g);
			if(matches){
				var tagLog = '';
				for(var i=0;i<matches.length;i++){
					if(matches[i]!=='{pre}') {
						var tagName = matches[i].substring(1,matches[i].length-1);
						if (tagLog.indexOf(tagName+'|') == -1){
							add_f(tagName);
							tagLog += tagName+'|';
						}
					}
				}
			}
		});
	})
	</script>
	<form method="post" enctype="application/x-www-form-urlencoded">
		<input type="hidden" name="hash" value="$sys_hash" />
		{if $edit}<input type="hidden" name="is_edit" value="yes" />{/if}
		<table class="tb tb2 fixpadding">
			<tr>
				<td colspan="2" class="tipsblock">
					<ul id="tipslis">
						<li>需要填写的名字用“{”+标记+“}”，如：{name}</li>
						<li>例：create table {name}(`id` int unsigned not null,`title` varchar(74),primary key(`id`))</li>
						<li>数据库表前缀为：“{$pre}”可以用{pre}代替</li>
					</ul></td>
			</tr>
			<tr class="hover">
				<td valign="top" align="right" width="150">备注：</td>
				<td><input type="text" name="name" value="$item[name]" /></td>
			</tr>
			<tr class="hover">
				<td valign="top" align="right" width="150">SQL语句：</td>
				<td><textarea cols="120" rows="12" id="sql" name="sql">{html $item[sql]}</textarea></td>
			</tr>
			<tbody id="f">
			{loop $args $k $v}
				<tr class="hover">
					<td align="right">标记“{$k}”的描述：</td><td><input type="text" name="$k" value="$v" /></td>
				</tr>
			{/loop}
			</tbody>
			<tr>
				<td></td>
				<td><input type="submit" value="{if $edit}编辑{else}添加{/if}" class="btn" /><input type="button" value="初始化" id="btn_ini" class="btn" /></td>
			</tr>
		</table>
	</form>
	{elseif $method=='create2'}
	<form method="post" enctype="application/x-www-form-urlencoded">
		<input type="hidden" name="hash" value="$sys_hash" />
		{if $edit}<input type="hidden" name="is_edit" value="yes" />{/if}
		<table class="tb tb2 fixpadding">
			<tr>
				<th colspan="4" class="partition">执行“{$item[name]}”</th>
			</tr>
			{loop $args $k $v}
				<tr class="hover">
					<td align="right">{$v}：</td><td><input type="text" name="$k" value="" class="txt" style="width:200px" /></td>
				</tr>
			{/loop}
			<tr>
				<td></td>
				<td><input type="submit" value="执行" class="btn" /></td>
			</tr>
		</table>
	</form>
	{/if}
</div>
{subtemplate footer}