{sub h}
{if $method=='replace'}
<table class="tb tb2 fixpadding">
	<tr>
		<th class="partition" colspan="2">正则表达式替换</th>
	</tr>
	<tr class="hover">
		<td width="120" align="right" valign="top">目标字符串：</td>
		<td>
			<textarea class="textarea" id="source" style="width:400px;height:100px"></textarea>
		</td>
	</tr>
	<tr class="hover">
		<td width="120" align="right" valign="top">结果：</td>
		<td>
			<textarea class="textarea" id="destination" style="width:400px;height:100px"></textarea>
		</td>
	</tr>
	<tr class="hover">
		<td width="120" align="right" valign="top">正则表达式：</td>
		<td>
			<textarea class="textarea" id="regStr" style="width:400px;height:100px"></textarea>
		</td>
	</tr>
	<tr class="hover">
		<td width="120" align="right" valign="top">&nbsp;</td>
		<td>
			<input type="button" value="替换" class="btn" onclick="$('#destination').val(preg_replace($('#regStr').val(), $('#source').val()))" />
			<input type="button" value="切换" class="btn" onclick="$('#source').val($('#destination').val());$('#destination').val('')" />
			<input type="button" value="复制" class="btn" onclick="copyText($('#destination').val())" />
			<input type="button" value="粘贴" class="btn" onclick="$('#source').val(window.clipboardData.getData('Text'));window.status='内容已经粘贴'" />
			<input type="button" value="运行" class="btn" onclick="eval($('#source').val())" />
			<input type="button" value="预览" class="btn" onclick="preview()" />
			<input type="button" value="行间倒序" class="btn" onclick="strLineReverse()" />
		</td>
	</tr>
</table>
<script language="javascript">
	var preg_replace=function(regStr,data){
		var arr=regStr.split('\r\n');
		for(var i=0;i<arr.length;i++){
			var tmp_data=arr[i];
			var tmp_arr=tmp_data.split(' ');
			if(!tmp_arr[1])tmp_arr[1]='';
			if(tmp_arr[1])tmp_arr[1]=tmp_arr[1].replace(/\\n|\\r\\n/g,'\r\n').replace(/\\s/g,' ').replace(/\\t/g,'\t');
			if(tmp_arr[0].match(/^\/(.+)\/([^\/]*)$/ig)){
				var re=new RegExp(RegExp.$1,RegExp.$2);
				data=data.replace(re,tmp_arr[1]);
			} else if(tmp_arr[0]) {
				data=data.replace(tmp_arr[0],tmp_arr[1]);
			}
		}
		var find_i=-1;
		var find_j=0;
		while((find_i=data.indexOf('$'+'i',find_i))>=0){
			var next=true;
			if(find_i>0){
				
			}
			if(next){
				find_j++;
				var data2=data;
				if(find_i>0)data=data2.substring(0,find_i);
				else data='';
				data+=find_j;
				if(find_i+2<=data2.length)data+=data2.substring(find_i+2);
			}
		}
		return data;
	}
	var preview=function(){
		var wd=window.open('about:blank','_blank');
		wd.document.write($('#destination').val());
	};
	var strLineReverse=function(){
		var source = $('#source').val();
		var des = '';
		if (source) {
			source = source.replace(/\r\n/g, "\n");
			var sp = source.split("\n");
			var len = sp.length;
			for (var i = 0; i < len; i++) {
				if (des) des = "\r\n" + des;
				des = sp[i] + des;
			}
		}
		$('#destination').val(des);
	}
</script>
{/if}
{sub f}