{sub h}
{if $tab=='index'}
	{if $method=='index'}
	{adminList
		删？    |id     |del
		排序    |sort   |sort
		分类名称|name
		信息数量|total
				|id     |link,edit=编辑;link,view=查看
	}
	{elseif $method=='add' || $method=='edit'}
	{adminForm
		分类名,null=请输入客服分类名称|name|text|240|32
	}
	{/if}
{elseif $tab=='sub'}
	{if $method=='index'}
	{adminList
		删？|id      |del
		排序|sort    |sort
		标题|title
		别名|ename
		最近修改时间|timestamp|flag,date
		    |id      |link,edit=编辑
	}
	{elseif $method=='add' || $method=='edit'}
	{adminForm
		标题,null=请输入文章标题|title  |text|340|32
		别名                    |ename  |text|340|32
		内容                    |content|xheditor,article,600,400
	}
	{/if}
{/if}
{sub f}