{subtemplate header}
<script language="javascript">
$(function(){
	$('input').each(function(){
		if('radio|checkbox|'.indexOf($(this).attr('type')+'|')>=0){
			if($(this).parent().attr('tagName')=='LI'){
				$(this).click(function(){
					$(this).parent().parent().find('li.checked').removeClass('checked');
					$(this).parent().addClass('checked');
				});
			}
		}
	});
});
</script>
<div class="container" id="cpcontainer">
	<div class="floattop">
		<div class="itemtitle">
			<h3>$menu_sub_name</h3>
			<ul class="tab1">
				{loop $top_menu $k $v}
				{if !is_array($v) || $v[hide]===false || $k==$method}
				<li{if $k==$method} class="current"{/if}>
					{if is_array($v)}
						{if !empty($v[url])}
						<a href="$v[url]"><span>$v[name]</span></a>
						{else}
						<a href="{if $v[hide]}$nowurl{else}$base_url&method=$k{if $v[attach]}$v[attach]{/if}{/if}"><span>$v[name]</span></a>
						{/if}
					{else}
						<a href="$base_url&method=$k"><span>$v</span></a>
					{/if}
					
				</li>
				{/if}
				{/loop}
			</ul>
		</div>
	</div>
	<div class="floattopempty"></div>