{subtemplate header}
<div class="container" id="cpcontainer">
	<div class="floattop">
		<div class="itemtitle">
			<h3>$menu_sub_name</h3>
			<ul class="tab1">
				{loop $top_menu $k $v}
				<li{if $k==$method} class="current"{/if}><a href="$base_url&method=$k"><span>$v</span></a></li>
				{/loop}
			</ul>
		</div>
	</div>
	<div class="floattopempty"></div>
	{if $method=='index'}
	<form method="post" enctype="application/x-www-form-urlencoded" onsubmit="return confirm('确定提交吗？')">
	$sys_hash_code
		<table class="tb tb2 fixpadding">
			<tr class="header">
				<th>删？</th>
				<th>排序</th>
				<th>链接名称</th>
				<th>链接地址</th>
				<th>链接图片</th>
				<th>是否有效</th>
				<th>最后修改</th>
				<th></th>
			</tr>
			{loop $list $v}
			<tr class="hover">
				<td><input type="checkbox" name="del[]" value="$v[id]" /></td>
				<td><input type="text" name="sort[]" value="$v[sort]" style="width:36px" /><input type="hidden" name="ids[]" value="$v[id]" /></td>
				<td>$v[title]</td>
				<td>$v[url]</td>
				<td>$v[img]</td>
				<td>{if $v[status]}<span style="color:green">是</span>{else}<span style="color:red">否</span>{/if}</td>
				<td>{date $v[timestamp]}</td>
				<td>[<a href="$base_url&edit=$v[id]">编辑</a>]</td>
			</tr>
			{/loop}
			<tr>
				<td colspan="7" align="center">$multipage</td>
			</tr>
			<tr>
				<td colspan="7"><input type="submit" value="提交" class="btn" /></td>
			</tr>
		</table>
	</form>
	{elseif $method=='add'}
	<form method="post" enctype="application/x-www-form-urlencoded">
		$sys_hash_code
		{if $edit}
		<input type="hidden" name="is_edit" value="yes" />
		{/if}
		<table class="tb tb2 fixpadding">
			<tr>
				<td width="60">链接名称：</td>
				<td width="300"><input type="text" name="title" id="title" value="$title" class="txt" style="width:240px" size="64" preg="null=请输入链接名称" /></td>
				<td><span style="color:red" id="title_tip"></span></td>
			</tr>
			<tr>
				<td>链接地址：</td>
				<td><input type="text" name="url" id="url" value="$url" class="txt" style="width:240px" size="64" preg="null=请输入链接地址" /></td>
				<td><span style="color:red" id="url_tip"></span></td>
			</tr>
			<tr>
				<td>链接图片：</td>
				<td><input type="text" name="img" id="img" value="$img" class="txt" style="width:240px" size="64" /></td>
				<td><span>可选</span></td>
			</tr>
			<tr>
				<td>是否有效：</td>
				<td>
					<label><input type="radio" name="status" value="1"{if !isset($status) || $status==1} checked="checked"{/if} />是</label>
					<label><input type="radio" name="status" value="0"{if isset($status) && $status==0} checked="checked"{/if} />否</label>
				</td>
			</tr>
			<tr>
				<td></td>
				<td><input type="submit" value="{if $edit}编辑{else}添加{/if}" class="btn" /></td>
				<td></td>
			</tr>
		</table>
	</form>
	{elseif $method=='look'}
	<form method="post" enctype="application/x-www-form-urlencoded">
	$sys_hash_code
	<table class="tb tb2 fixpadding">
		<tr class="hover">
			<td width="80" align="right">问：</td>
			<td>$item[content]</td>
		</tr>
		<tr class="hover">
			<td width="80" align="right">答：</td>
			<td><textarea name="reply_content" cols="60" rows="6">{html $item[reply_content]}</textarea></td>
		</tr>
		<tr class="hover">
			<td width="80" align="right"></td>
			<td><input type="submit" value="提交" class="btn" /><input type="button" value="返回" onclick="history.back(-1)" class="btn" /></td>
		</tr>
	</table>
	</form>
	{/if}
</div>
{subtemplate footer}