{sub h}
{if $method=='credits'}
	{adminList
		删？  |id|del
		用户名|username
		积分  |val
		时间  |timestamp|flag,date
		备注  |remark
	}
{elseif $method=='money'}
	{adminList
		删？  |id|del
		用户名|username
		金钱  |val
		时间  |timestamp|flag,date
		备注  |remark
	}
{elseif $method=='fabudian'}
	{adminList
		删？  |id|del
		用户名|username
		兔粮|val
		时间  |timestamp|flag,date
		备注  |remark
	}
{elseif $method == 'vipLog'}
	{adminList
		删？        |id|del
		用户名      |username
		申请月数    |month
		申请时间    |timestamp|flag,date
		是否自动续费|auto|code,{if $v[auto]}是{else}否{/if}
	}
{elseif $method == 'ensureLog'}
	{adminList
		删？    |id|del
		用户名  |username
		担保金  |money
		备注    |remark
		变化时间|timestamp|flag,date
	}
{/if}
{sub f}