{sub h}
{if $method=='index'}
<form method="post" enctype="application/x-www-form-urlencoded">
	<table class="tab_view">
		<tr class="tip">
			<td colspan="2">基本记录</td>
		</tr>
		<tr>
			<th>用户数</th>
			<td>$userCount</td>
		</tr>
		<tr>
			<th>会员数</th>
			<td>$vipCount</td>
		</tr>
		<tr>
			<th>用户存款总额</th>
			<td>￥$moneyAll</td>
		</tr>
		<tr>
			<th>用户兔粮总计</th>
			<td>$pointAll</td>
		</tr>
		<tr>
			<th>商保总担保金</th>
			<td>￥$ensureMoneyAll</td>
		</tr>
		<tr>
			<th>VIP用户申请费用</th>
			<td>￥$vipMoneyAll</td>
		</tr>
		<tr class="tip">
			<td colspan="2">点卡消费记录</td>
		</tr>
		{loop $cardNames $k $v}
		{if $k > 0}
		<tr>
			<th>$v</th>
			<td>￥$cardMoneyList[$k]</td>
		</tr>
		{/if}
		{/loop}
		<tr>
			<th>点卡总消费</th>
			<td>￥{echo array_sum($cardMoneyList)}</td>
		</tr>
		<tr class="tip">
			<td colspan="2">今日财务</td>
		</tr>
		<tr>
			<th>今日充值总额</th>
			<td>￥$topupMoney</td>
		</tr>
		<tr>
			<th>今日提现总额</th>
			<td>￥$paymentMoney</td>
		</tr>
		<tr>
			<th>今日用户增加总额</th>
			<td>￥$logMoney1</td>
		</tr>
		<tr>
			<th>今日用户消费总额</th>
			<td>￥$logMoney2</td>
		</tr>
		<tr>
			<th>今日用户剩余总额</th>
			<td>￥$logMoney3</td>
		</tr>
		<tr>
			<th>今日用户兑换的兔粮</th>
			<td>$logPoint1</td>
		</tr>
		<tr>
			<th>今日用户使用的兔粮</th>
			<td>$logPoint2</td>
		</tr>
		<tr>
			<th>今日用户剩余的兔粮</th>
			<td>$logPoint3</td>
		</tr>
		<tr>
			<th>今日已完成任务的存款</th>
			<td>￥$taskCMoney</td>
		</tr>
		<tr>
			<th>今日已完成任务的兔粮</th>
			<td>$taskCPoint</td>
		</tr>
		<tr>
			<th>今日未完成任务的存款</th>
			<td>￥$taskMoney</td>
		</tr>
		<tr>
			<th>今日未完成任务的兔粮</th>
			<td>$taskPoint</td>
		</tr>
	</table>
</form>
{/if}
{sub f}