{subtemplate header}
<script language="javascript">
var textareasize=function(obj, op) {
	if(!op) {
		if(obj.scrollHeight > 70) {
			obj.style.height = (obj.scrollHeight < 300 ? obj.scrollHeight : 300) + 'px';
			if(obj.style.position == 'absolute') {
				obj.parentNode.style.height = obj.style.height;
			}
		}
	} else {
		if(obj.style.position == 'absolute') {
			obj.style.position = '';
			obj.style.width = '';
			obj.parentNode.style.height = '';
		} else {
			obj.parentNode.style.height = obj.parentNode.offsetHeight + 'px';
			obj.style.width = $.browser.version > 6 || !$.browser.msie ? '90%' : '600px';
			obj.style.position = 'absolute';
		}
	}
}
var textareasize=function(obj, op) {
	if(!op) {
		if(obj.scrollHeight > 70) {
			obj.style.height = (obj.scrollHeight < 300 ? obj.scrollHeight : 300) + 'px';
			if(obj.style.position == 'absolute') {
				obj.parentNode.style.height = obj.style.height;
			}
		}
	} else {
		if(obj.style.position == 'absolute') {
			obj.style.position = '';
			obj.style.width = '';
			obj.parentNode.style.height = '';
		} else {
			obj.parentNode.style.height = obj.parentNode.offsetHeight + 'px';
			obj.style.width = $.browser.version > 6 || !$.browser.msie ? '90%' : '600px';
			obj.style.position = 'absolute';
		}
	}
}
$(function(){
	$('.hasdropmenu').each(function(){
		$('#'+$(this).attr('id')+'child').css({left:$(this).offset().left,top:$(this).offset().bottom,position:'absolute','z-index':1000})
		$(this).hover(function(){
			var id=$(this).attr('id')+'child';
			$('#'+id).show();
		},function(){
			var id=$(this).attr('id')+'child';
			$('#'+id).hide();
		});
	});
});
</script>
<script language="javascript">
$(function(){
	$('#btn_add').click(function(){
		var html='<tr class="hover">'+$('#tb_tpl_b_m').html()+'</tr>';
		$('#tb_tpl_b').append(html);
	});
});
</script>
<div class="container" id="cpcontainer">
	<form method="post" enctype="application/x-www-form-urlencoded">
	$sys_hash_code
		<table class="tb tb2 fixpadding" id="tb_tpl">
			<tr>
				<th colspan="4" class="partition">模板解析器</th>
			</tr>
			<tr>
				<td colspan="4" class="tipsblock"><ul id="tipslis">
						<li>注：CSS文件都要放到根目录的css目录下</li>
					</ul></td>
			</tr>
			<tr class="header">
				<th>名称</th>
				<th>文件</th>
				<th>备注</th>
				<th>编辑</th>
			</tr>
			<tbody id="tb_tpl_b">
				<tr class="hover" style="display:none" id="tb_tpl_b_m">
					<td valign="top"><input type="text" name="name[]" /></td>
					<td><input type="text" name="url[]" size="64" /></td>
					<td><input type="text" name="b[]" /></td>
					<td>[<a href="javascript:" onclick="$(this).parent().parent().remove()">删除</a>]</td>
				</tr>
				{loop $cache_sys_css_lib $v}
				<tr class="hover">
					<td valign="top"><input type="text" name="name[]" value="$v[name]" /></td>
					<td><input type="text" name="url[]" size="64" value="$v[url]" /></td>
					<td><input type="text" name="b[]" value="$v[b]" /></td>
					<td>[<a href="javascript:" onclick="$(this).parent().parent().remove()">删除</a>]</td>
				</tr>
				{/loop}
			</tbody>
			<tr>
				<td colspan="4"><div class="fixsel">
						<input type="submit" class="btn" id="submit_tasksubmit" name="tasksubmit" title="按 Enter 键可随时提交您的修改" value="提交" />
						<input type="button" class="btn" value="添加" id="btn_add" />

					</div></td>
			</tr>
		</table>
	</form>
</div>
{subtemplate footer}