{sub h}
{if $tab=='index'}
	{if $method=='index'}
	{adminList
		删？    |id     |del
		排序    |sort   |sort
		分类名称|name
		客服数量|members
				|id     |link,edit=编辑;link,view=查看
	}
	{elseif $method=='add' || $method=='edit'}
	{adminForm
		分类名,null=请输入客服分类名称|name|text|240|32
	}
	{/if}
{elseif $tab=='sub'}
	{if $method=='index'}
	{adminList
		删？|id      |del
		排序|sort    |sort
		昵称|nickname
		头像|avatar  |code,<img src="{$weburl2}img/kefu/avatar/$v[avatar]" />
		QQ  |qq
		    |id      |link,edit=编辑
	}
	{elseif $method=='add' || $method=='edit'}
<form method="post" enctype="multipart/form-data">
	$sys_hash_code
	{if $update}
	<input type="hidden" name="isEdit" value="yes" />
	{/if}
	<table class="tab_view">
		<tr>
			<th>客服昵称</th>
			<td><input type="text" name="nickname" id="nickname" value="$kefu[nickname]" maxlength="32" class="txt" preg="null=请输入客服名称" /></td>
			<td class="tip" id="nickname_tip"></td>
		</tr>
		<tr>
			<th>客服头像</th>
			<td>
				{if $update}
				<img src="{$weburl2}img/kefu/avatar/$kefu[avatar]" /><br />
				{/if}<input type="file" name="pic" id="pic" class="txt"{if $update} emptyRunReg="false"{/if} RegStr="/\.(?:jpg|jpeg|gif|png)$/" Message="选择用户头像图片" /></td>
			<td class="tip" id="pic_tip"></td>
		</tr>
		<tr>
			<th>客服QQ</th>
			<td><input type="text" name="qq" id="qq" value="$kefu[qq]" maxlength="11" class="txt" RegStr="/^[1-9]\d{4,10}$/" Message="请输入QQ" /></td>
			<td class="tip" id="qq_tip"></td>
		</tr>
		<tr>
			<th></th>
			<td><input type="submit" value="{if $update}编辑{else}提交{/if}" class="btn" /></td>
		</tr>
	</table>
</form>
	{/if}
{/if}
{sub f}