#Mr Developer
.mr.developer.cfg
.idea/
cache/multi_page/*.php
cache/default/
down/soft/2011/03/274.rar
down/soft/2012/11/25.zip
down/soft/2012/12/2993.rar
down/soft/2012/12/2999.rar
down/soft/2012/12/2E98.rar
down/soft/2012/12/5D0D.rar
down/soft/2012/12/5D14.rar
