@import url(../bbs/layout.css);

img {vertical-align:middle;}

.main {margin:0px auto; width:950px; clear:both; text-align:left; color:#666;}

.info_main {padding:8px 0px 8px 15px; line-height:20px;  /*border:1px solid #A1C5E9; */}
.info_l	{float:left; width:160px;}
.info_r {float:left; margin-left:20px; width:600px;}
.info_r div {margin-top:20px; border:1px dashed #003366; padding:10px;}
.info_r td { line-height:30px;}

.info_tab {border-bottom:2px solid #00A9EC; height:25px;}
.tab_no li {line-height: 25px; float:left; padding-left:4px; display:block; margin-right:8px; cursor:pointer; background:url(tab.png) left -146px no-repeat;}
.tab_no p {background:url(tab.png) right -245px no-repeat; padding-right:4px; }
.tab_no strong{background:url(tab.png) left -196px repeat-x;display:block; padding:0px 10px 0px 10px;}
li.tab_on {background-position:0px 0px;}
li.tab_on p{background-position:right -98px;}
li.tab_on strong{background-position:left -49px; color:#FFF;}

.tbl	{clear:both;}
.tbl thead td{line-height:30px; color:#0051C1; background:url(bar_bg_1.gif) left top repeat-x; font-size:14px; font-weight:bold;}
.tbl tbody td{line-height:26px;}

.tbl_kf {clear:both;}
.tbl_kf thead td{line-height:30px; margin-bottom:4px; border-bottom:1px solid #d5d5d5; color:#666; background:#F8F8F8; font-weight:bold;}
.tbl_kf tbody td{line-height:24px; vertical-align:middle; border-bottom:1px solid #d5d5d5;}
.tbl_kf tbody tr:hover td{background-color:#F8F8F8;}
.tbl_kf div {color:#789;}