@import url(../bbs/layout.css);
img	{border:0;}
.main {margin:0px auto; width:950px; clear:both; text-align:left; color:#555;}

.left {float:left; margin-left:20px; height:358px; width:326px; background:url(logon_bg.gif) left top no-repeat;}
.right {float:left; margin-left:20px; width:550px;}

.logon {padding:10px;}
.bar{line-height:30px; background:url(ico_3.gif) 5px center no-repeat; padding-left:40px; border-bottom:1px solid #9C9C9C; margin-bottom:3px; color:#FF6600; font-size:14px; font-weight:bold;}
.bar_2{line-height:50px; background:url(ico_4.gif) 5px center no-repeat; padding-left:40px; color:#FF6600; font-size:14px; font-weight:bold;}
.line{height:10px; border-bottom:1px dashed #666; margin-bottom:10px;}
.tip_1 {padding-top:10px; line-height:26px;}

.tbl {}
.tbl td {line-height:20px;}

.tbl_2 {}
.tbl_2 {line-height:24px;}