{teval
	$title       = '购买实名支付宝 - {webName}';
	$keywords    = '';
	$description = '';
	$title       = common::replaceVars($title);
	$keywords    = common::replaceVars($keywords);
	$description = common::replaceVars($description);
	$cssList     = array(css::getUrl('member', 'member'));
	echo string::getStaticCode(array('title' => $title, 'keywords' => $keywords, 'description' => $description,'cssList'=>$cssList));
}
{ad2 ad_memberHeadTop}
{sub ../header}
<div class="main">
  <div class="h_10"></div>
  <div class="a">{sub menu}</div>
  <div class="b">
    {if $indexMessage}<div class='error_panel'><div>$indexMessage</div></div>{/if}
	{if $_showmessage}<div class='msg_panel'><div>$_showmessage</div></div>{/if}
    <div class="tip_gun f_14 f_b_red" style="line-height:24px">1. 官方出售的支付宝实名账户真实有效，一经售出概不退换；<br />
        2. 在您购买之前请认真仔细看<a href="../bbs/Thread.aspx?id=9846" target="_blank" class="link_b">【官方公告】实名支付宝账号与使用攻略</a>；<br />
        3. 购买之后请务必先了解清楚公告里的<a href="../bbs/Thread.aspx?id=9846" target="_blank" class="link_b">【重要操作提示】</a>然后再进行操作；</div>
    <div class="h_20"></div>
    <div class="tab">
      <ul>
        <li{if $type=='buy'} class="tab_on"{/if}><p><a href="$baseUrl?type=buy"><strong>宝贝出售列表</strong></a></p></li>
        <li{if $type=='log'} class="tab_on"{/if}><p><a href="$baseUrl?type=log"><strong>我购买的宝贝</strong></a></p></li>
      </ul>
    </div>
    {if $type=='buy'}
    <table class="tbl_le" width="100%" border="0" cellspacing="0" cellpadding="4">
      <thead>
        <tr>
          <td class="tbl_s">宝贝名称</td>
          <td>价格</td>
          <td>数量</td>
          <td>卖家</td>
          <td width="250">宝贝描述</td>
          <td width="60">购买</td>
        </tr>
      </thead>
      <tbody>
        {loop $bList $v}
        <tr>
          <td class="tbl_s">$v[name]</td>
          <td>$v[price]</td>
          <td>$v[count]</td>
          <td>官方</td>
          <td>$v[des]</td>
          <td><a href="$baseUrl?buy=$v[id]" onclick="return isBuy('$v[name]', $v[price]);" class="link_b_2">购买</a></td>
        </tr>
        {/loop}
      </tbody>
    </table>
	{if $total==0}
	<div style="padding:50px; text-align:center; font-weight:bold; font-size:14px; color:Blue;">每日供应量有限，今日已经售毕，望见谅！</div>
	{/if}
    {elseif $type=='log'}
	<table class="tbl_le" width="100%" border="0" cellspacing="0" cellpadding="4">
      <thead>
        <tr>
          <td class="tbl_s">宝贝名称</td>
          <td>价格</td>
          <td>数量</td>
          <td>卖家</td>
          <td width="150">宝贝描述</td>
          <td width="300">宝贝内容</td>
		  <td width="120">购买时间</td>
        </tr>
      </thead>
      <tbody>
      {loop $bList $v}
	  	<tr>
          <td class="tbl_s">$v[name]</td>
          <td>$v[price]</td>
          <td>$v[count]</td>
          <td>官方</td>
          <td>$v[des]</td>
          <td>$v[content]</td>
		  <td>{date $v[timestamp3]}</td>
        </tr>
	  {/loop}
      </tbody>
    </table>
	{/if}
    <div class="pageinfo">
        <div class="pages">$multipage</div>
    </div>
  </div>
</div>
<script type="text/javascript">
function isBuy(name, price) {
    return confirm("本宝贝购买之后不允许退换，您确定要购买 " + name + " 么？\n\n购买需要花费：" + price + " 元\n\n购买前您应该清楚了解【实名支付宝账号与使用攻略】");
}
</script>
{sub ../footer}