{teval
	$title       = '我的宝物 - {webName}';
	$keywords    = '';
	$description = '';
	$title       = common::replaceVars($title);
	$keywords    = common::replaceVars($keywords);
	$description = common::replaceVars($description);
	$cssList     = array(css::getUrl('member', 'member'));
	echo string::getStaticCode(array('title' => $title, 'keywords' => $keywords, 'description' => $description,'cssList'=>$cssList));
}
{sub ../header}
<DIV id="content">
    {sub menu}
  <div class="right"> 
  	{if $indexMessage}<div class='error_panel'><div>$indexMessage</div></div>{/if}
	{if $_showmessage}<div class='msg_panel'><div>$_showmessage</div></div>{/if}
<div class="h_10"></div>
   <DIV class="bq_menu">
      <ul>
        <li{if $type==0} class="nov"{/if}>
          <p><a href="$baseUrl?type=0"><strong>系统奖励</strong></a></p>
        </li>
        <li{if $type==1} class="nov"{/if}>
          <p><a href="$baseUrl?type=1"><strong>兔粮信托卡</strong></a></p>
        </li>
        <li{if $type==2} class="nov"{/if}>
          <p><a href="$baseUrl?type=2"><strong>双倍积分卡</strong></a></p>
        </li>
        <li{if $type==3} class="nov"{/if}>
          <p><a href="$baseUrl?type=3"><strong>预定任务次卡</strong></a></p>
        </li>
        <li{if $type==4} class="nov"{/if}>
          <p><a href="$baseUrl?type=4"><strong>联盟收费软件</strong></a></p>
        </li>
        <li{if $type==5} class="nov"{/if}>
          <p><a href="$baseUrl?type=5"><strong>尊享VIP体验卡</strong></a></p>
        </li>
      </ul>
    </div>
      <DIV class="cle"></DIV>
     
	  	{if $type==0}
        <table class="tbl_lst" style="border-top:1px solid #d5d5d5;" width="100%" border="0" cellspacing="0" cellpadding="0">
          <thead>
            <tr>
              <td class="tbl_s">奖励名称</td>
              <td>奖励时间</td>
              <td>激活时间</td>
              <td>奖励详情</td>
              <td>有效期</td>
              <td>当前状态</td>
              <td>操作</td>
            </tr>
          </thead>
          <tbody>
            
			{loop $list $v}
			<tr>
			  <td class="tbl_s">$v[name]</td>
			  <td>{date $v[timestamp1]}</td>
			  <td>{if $v[status]==1}{date $v[timestamp2]}{else}&nbsp;{/if}</td>
			  <td>兔粮$v[total1]个</td>
			  <td>{date $v[timestamp3]}</td>
			  <td>{if $v[status]==1}已激活{elseif $v[status]==2}已过期{else}待激活{/if}</td>
			  <td>
			  {if !$v[status]}
			  <a href="javascript:;" onclick="dialog(460,460,'激活兔粮卡','{rewrite}/dialog/card/?active=$v[id]');return false;" class="link_b_2">激活</a>
			  {else}
			  {/if}
			  </td>
			</tr>
			{/loop}
            
          </tbody>
		  {elseif $type==1}
		  <table class="tbl_lst" style="border-top:1px solid #d5d5d5;" width="100%" border="0" cellspacing="0" cellpadding="0">
			  <thead>
				<tr>
				  <td class="tbl_s">宝贝名称</td>
				  <td>购买时间</td>
				  <td>激活时间</td>
				  <td>卡面点数</td>
				  <td>剩余点数</td>
				  <td>当前状态</td>
				  <td>操作</td>
				</tr>
			  </thead>
			  <tbody>
				
				{loop $list $v}
				<tr>
				  <td class="tbl_s">$v[name]</td>
				  <td>{date $v[timestamp1]}</td>
				  <td>{if $v[status]==1}{date $v[timestamp2]}{else}&nbsp;{/if}</td>
				  <td>$v[total1]</td>
				  <td>$v[total2]</td>
				  <td>{if $v[status]==1}已激活{elseif $v[status]==2}已过期{else}待激活{/if}</td>
				  <td>
				  {if !$v[status]}
				  {if $v[cid] == 1 || ($v[cid] >= 3 && $v[cid] <= 8)}
				  <a href="javascript:;" onclick="dialog(460,460,'激活兔粮卡','{rewrite}/dialog/card/?active=$v[id]');return false;" class="link_b_2">激活</a>
				  {else}
				  <a href="$baseUrl?active=$v[id]" onclick="return isActive();" class="link_b_2">激活</a>
				  {/if}
				  {else}
				  <a href="{rewrite}/member/card/" class="link_o_2">续卡</a>
				  {/if}
				  </td>
				</tr>
				{/loop}
				
			  </tbody>
			</table>
		  {elseif $type==2}
		  <table class="tbl_lst" style="border-top:1px solid #d5d5d5;" width="100%" border="0" cellspacing="0" cellpadding="0">
          <thead>
            <tr>
              <td class="tbl_s">宝贝名称</td>
              <td>购买时间</td>
              <td>激活时间</td>
              <td>到期时间</td>
              <td>效果</td>
              <td>当前状态</td>
              <td>操作</td>
            </tr>
          </thead>
          <tbody>
            {loop $list $v}
			<tr>
              <td class="tbl_s">$v[name]</td>
              <td>{date $v[timestamp1]}</td>
              <td>{if $v[timestamp2]}{date $v[timestamp2]}{else}&nbsp;{/if}</td>
              <td>{if $v[timestamp3]}{date $v[timestamp3]}{else}&nbsp;{/if}</td>
              <td>已经获得额外的<span style="color:red">$v[total3]</span>积分</td>
              <td>{if $v[status]==1}已激活{elseif $v[status]==2}已过期{else}待激活{/if}</td>
              <td>
			 	 {if !$v[status]}
				  <a href="$baseUrl?active=$v[id]" onclick="return isActive();" class="link_b_2">激活</a>
				  {else}
				  <a href="{rewrite}/member/card/" class="link_o_2">续卡</a>
				  {/if}
			  </td>
            </tr>
			{/loop}
          </tbody>
        </table>
		  {elseif $type==3}
		  <table class="tbl_lst" style="border-top:1px solid #d5d5d5;" width="100%" border="0" cellspacing="0" cellpadding="0">
          <thead>
            <tr>
              <td class="tbl_s">宝贝名称</td>
              <td>购买时间</td>
              <td>购买数量</td>
              <td>剩余次数</td>
              <td>效果</td>
              <td>操作</td>
            </tr>
          </thead>
          <tbody>
            {loop $list $v}
            <tr>
              <td class="tbl_s">$v[name]</td>
              <td>{date $v[timestamp1]}</td>
              <td>$v[total1]</td>
              <td>$v[total2]</td>
              <td>{if $v[status]==1}已成功预定任务$v[total4]个,正在预定$v[total3]个{else}&nbsp;{/if}</td>
              <td>{if !$v[status]}
				  <a href="$baseUrl?active=$v[id]" onclick="return isActive();" class="link_b_2">激活</a>
				  {else}
				  <a href="{rewrite}/member/card/" class="link_o_2">续卡</a>
				  {/if}</td>
            </tr>
            {/loop}
          </tbody>
        </table>
		  {elseif $type==4}
		  <table class="tbl_lst" style="border-top:1px solid #d5d5d5;" width="100%" border="0" cellspacing="0" cellpadding="0">
          <thead>
            <tr>
              <td class="tbl_s">软件名称</td>
              <td>购买时间</td>
              <td>激活时间</td>
              <td>有效期</td>
              <td>剩余天数</td>
              <td>当前状态</td>
              <td>操作</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="tbl_s">&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
            </tr>
          </tbody>
        </table>
		  {elseif $type==5}
		  <table class="tbl_lst" style="border-top:1px solid #d5d5d5;" width="100%" border="0" cellspacing="0" cellpadding="0">
          <thead>
            <tr>
              <td class="tbl_s">宝贝名称</td>
              <td>购买时间</td>
              <td>激活时间</td>
              <td>VIP有效期</td>
              <td>剩余天数</td>
              <td>当前状态</td>
              <td>操作</td>
            </tr>
          </thead>
          <tbody>
            {loop $list $v}
			<tr>
              <td class="tbl_s">$v[name]</td>
              <td>{date $v[timestamp1]}</td>
              <td>{if $v[timestamp2]}{date $v[timestamp2]}{else}&nbsp;{/if}</td>
              <td>{if $v[timestamp3]}{date $v[timestamp3]}{else}&nbsp;{/if}</td>
              <td>
			  {if $v[status]==1}
			  {eval $tmp = time::daytime($v[timestamp3] - $timestamp);}
			  $tmp[day]天
			  {else}&nbsp;{/if}</td>
              <td>当前状态</td>
              <td>{if !$v[status]}
				  <a href="$baseUrl?active=$v[id]" onclick="return isActive();" class="link_b_2">激活</a>
				  {else}
				  <a href="{rewrite}/member/card/" class="link_o_2">续卡</a>
				  {/if}</td>
            </tr>
			{/loop}
          </tbody>
        </table>
		  {/if}
        </table>
        <div class="pages">
          <div class="pages">$multipage</div>
        </div>
  </div>
</div>
<script type="text/javascript">
function isActive() {
    return confirm("您确定要激活么？");
}
function isDiscard() {
    return confirm("您确定要丢弃么？");
}
</script>
<DIV class="cle"></DIV>
{sub ../footer}