{teval
	$title       = '帐号异常 - {webName}';
	$keywords    = '';
	$description = '';
	$title       = common::replaceVars($title);
	$keywords    = common::replaceVars($keywords);
	$description = common::replaceVars($description);
	$cssList     = array(css::getUrl('reg', 'member'));
	echo string::getStaticCode(array('title' => $title, 'keywords' => $keywords, 'description' => $description,'cssList'=>$cssList));
}
{sub ../header}
<div class="main">
  <div class="tip_2">您的账号存在安全风险，为了保护您的账户资金安全，必须要验证以后才能登录！ </div>
  {if $indexMessage}<div class='error_panel'><div>$indexMessage</div></div>{/if}
	{if $_showmessage}<div class='msg_panel'><div>$_showmessage</div></div>{/if}
	{if $type == 'index'}
  <div class="bar">邮件验证</div>
  <form name="myForm" method="post" id="myForm" onsubmit="return checkForm();">
	<div>$sys_hash_code2</div>
<input type="hidden" name="type" value="email" />
    <table class="tbl" width="100%" border="0" cellspacing="0" cellpadding="8">
      <tr>
        <td width="200" align="right">用户名：</td>
        <td>$username</td>
      </tr>
      <tr>
        <td align="right">您的Email地址：</td>
        <td><input name="email" type="text" class="text_normal" id="email" value="$datas[email]" maxlength="100" /></td>
      </tr>
      <tr>
        <td align="right">&nbsp;</td>
        <td><input name="btnEmail" type="submit" id="btnEmail" class="btn" value="发送到邮件" />
        <input name="sendToEmail" type="hidden" id="sendToEmail" value="1" /></td>
      </tr>
    </table>
  </form>
  <div class="h_20"></div>
  <div class="bar">手机短信验证</div>
  <form method="post" id="myForm2"  onsubmit="return checkForm2();">
  $sys_hash_code2
  <input type="hidden" name="type" value="mobilephone" />
    <table class="tbl" width="100%" border="0" cellspacing="0" cellpadding="8">
      <tr>
        <td width="200" align="right">用户名：</td>
        <td>$username</td>
      </tr>
      <tr>
        <td align="right">您的手机号码：</td>
        <td><input name="mobile" type="text" class="text_normal" id="mobile" value="$datas[mobile]" maxlength="11" /></td>
      </tr>
      <tr>
        <td align="right">&nbsp;</td>
        <td><input name="btnMobile" type="submit" id="btnMobile" class="btn" value="发送到手机" />
        <input name="sendToMobile" type="hidden" id="sendToMobile" value="1" /></td>
      </tr>
    </table>
  </form>
  <div class="h_20"></div>
  {elseif $type == 'check'}
  <div class="bar">验证异常登录</div>
  <form method="post" id="myForm3"  onsubmit="return checkForm3();">
  $sys_hash_code2
    <table class="tbl" width="100%" border="0" cellspacing="0" cellpadding="8">
      <tr>
        <td width="200" align="right">用户名：</td>
        <td>$username</td>
      </tr>
      <tr>
        <td align="right">验证码：</td>
        <td><input name="code" type="text" class="text_normal" id="code" value="$code" maxlength="16" /></td>
      </tr>
      <tr>
        <td align="right">&nbsp;</td>
        <td><input name="btnMobile" type="submit" id="btnMobile" class="btn" value="提交" /></td>
      </tr>
    </table>
  </form>
  <div class="h_20"></div>
  {/if}
</div>
<script type="text/javascript">
function checkForm() {
    var checks = [
		["isEmail", "email", "您的Email地址", "true"] ];
	var result = doCheck(checks);
	if (result)
		return avoidReSubmit("btnEmail");
	return result;
}

function checkForm2() {
    var checks = [
		["isNumber", "mobile", "您的手机号码"] ];
	var result = doCheck(checks);
	if (result)
		return avoidReSubmit();
	return result;
}

function checkForm3() {
    var checks = [
		["isEmpty", "code", "验证码"] ];
	var result = doCheck(checks);
	if (result)
		return avoidReSubmit();
	return result;
}
</script>
{sub ../footer}