{teval
	$title       = '客服评分 - {webName}';
	$keywords    = '';
	$description = '';
	$title       = common::replaceVars($title);
	$keywords    = common::replaceVars($keywords);
	$description = common::replaceVars($description);
	$cssList = array(
		css::getUrl('info', 'member'),
		css::getUrl('member', 'member')
	);
	echo string::getStaticCode(array('title'=>$title,'keywords'=>$keywords,'description'=>$description,'cssList'=>$cssList));
}
{sub ../header}
<div class="main">
  <div class="h_20"></div>
  {if $_showmessage}<div class='msg_panel'><div>$_showmessage</div></div>{/if}
  {if $indexMessage}<div class='error_panel'><div>$indexMessage</div></div>{/if}
  <div class="tip_remit">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="120">&nbsp;</td>
        <td valign="middle">{pa kefu_review}</td>
      </tr>
    </table>
  </div>
  <div class="h_20"></div>
  <div>
    <div class="box_e">
      <div class="box_e_l"><strong>评价客服</strong></div>
      <div class="box_e_r"></div>
    </div>
    <div class="box_main">
      <div class="h_10"></div>
      <form name="myForm" method="post" id="myForm" onsubmit="return checkForm();">
<div>
$sys_hash_code2
</div>

        <table class="tbl_edit" width="100%" border="0" cellspacing="0" cellpadding="6">
          <tr>
            <td width="150"><img src="{$weburl2}img/kefu/avatar/$kefu[avatar]" width="120" /></td>
            <td width="150"><p class="f_14"><strong>$kefu[nickname] </strong></p>
              <p><strong>QQ</strong>：$kefu[qq]<br />
                <strong>总积分</strong>：<span class="f_b_org">$kefu[credits]</span> 分<br />
                <strong>本月积分</strong>：<span class="f_b_org">$kefu[mcredit]</span> 分<br />
                <strong>满意</strong>：<span class="f_b_org">$kefu[grade1]</span> 次<br />
                <strong>一般</strong>：<span class="f_b_org">$kefu[grade2]</span> 次<br />
                <strong>很差</strong>：<span class="f_b_org">$kefu[grade3]</span> 次<br />
                <strong>好评率</strong>：<span class="f_b_org">{echo sprintf('%0.2f', $kefu[fn] * 100)}%</span></p></td>
            <td><input name="grade" type="radio" id="radio1" value="1" checked="checked" /><img src="{$weburl2}images/face/dg_1.gif" width="24" height="24" />满意
              <input type="radio" name="grade" id="radio2" value="2" /><img src="{$weburl2}images/face/dg_2.gif" alt="" width="24" height="24" />一般
              <input type="radio" name="grade" id="radio3" value="3" /><img src="{$weburl2}images/face/dg_3.gif" alt="" width="24" height="24" />很差 <br />
              <textarea name="remark" cols="60" rows="10" id="remark"></textarea>
              <input name="isHide" type="checkbox" id="isHide" value="1" />匿名评价</td>
          </tr>
          
          <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td class="f_red">
			{if $memberFields[credits]<50}
			当前积分：$memberFields[credits]，尚未达到评价积分，请您继续努力
			{else}
				{if $alreadyReview}
			本周您已经评价过了
				{else}
			<input name="btnSave" type="submit" class="btn_1" id="btnSave" value="确认提交" />
				{/if}
			{/if}
			</td>
          </tr>
          
        </table>
      </form>
      <div class="h_10"></div>
    </div>
    <div>
      <div class="box_b_l"></div>
      <div class="box_b_r"></div>
    </div>
  </div>
  <div class="h_10"></div>
  <div class="info_tab">
    <ul class="tab_no">
      <li id="tab_1" onclick="setTab(1);" class="tab_on">
        <p><strong>客服评价历史</strong></p>
      </li>
    </ul>
  </div>
  <table class="tbl_kf" width="100%" border="0" cellspacing="0" cellpadding="2">
    <thead>
      <tr>
        <td width="100" align="center">评价</td>
        <td>评论</td>
        <td width="150" align="center">评价者</td>
      </tr>
    </thead>
    <tbody>
      {loop $list $v}
      <tr>
        <td align="center">
		{if $v[type]==1}
			<img src="{$weburl2}images/face/dg_1.gif" />满意
		{elseif $v[type]==2}
			<img src="{$weburl2}images/face/dg_2.gif" />一般
		{elseif $v[type]==3}
			<img src="{$weburl2}images/face/dg_3.gif" />很差
		{/if}
		</td>
        <td><p>$v[content]</p>
          <div>[{date $v[timestamp]}]</div></td>
        <td align="center">{if $v[hide_user]}匿名{else}买家：$v[username]{/if}</td>
      </tr>
      {/loop}
    </tbody>
  </table>
  <div class="pages">$multipage</div>
  <div class="h_20"></div>
</div>
<script type="text/javascript">
function checkForm() {
	if ($('#radio3').attr('checked') && $('#remark').val().length < 1){
		$('#remark').focus();
		alert("选择差评请说明理由");
        return false;
	}
	return true;
}
</script>
{sub ../footer}