{teval
	$title       = '账户维护日志 - {webName}';
	$keywords    = '';
	$description = '';
	$title       = common::replaceVars($title);
	$keywords    = common::replaceVars($keywords);
	$description = common::replaceVars($description);
	$cssList     = array(css::getUrl('member', 'member'));
	echo string::getStaticCode(array('title' => $title, 'keywords' => $keywords, 'description' => $description,'cssList'=>$cssList));
}
{ad2 ad_memberHeadTop}
{sub ../header}
{css_select jquery_ui}
{js_select jquery_ui}
<script language="javascript"> 
$(function(){
	$('#dateStart').datepicker({dateFormat: 'yy-mm-dd'});
	$('#dateEnd').datepicker({dateFormat: 'yy-mm-dd'});
	$('#btnQuery').click(function(){
		location.href='$baseUrl?dateStart='+$('#dateStart').val()+'&dateEnd='+$('#dateEnd').val();
	});
});
</script>
<div class="main">
  <div class="h_10"></div>
  <div class="a">
    {sub menu}
  </div>
  <div class="b">
    {if $indexMessage}<div class='error_panel'><div>$indexMessage</div></div>{/if}
	{if $_showmessage}<div class='msg_panel'><div>$_showmessage</div></div>{/if}
    <div class="bar_edit">账户维护日志</div>
    <form>
      <table width="100%" border="0" cellspacing="0" cellpadding="4">
        <tr>
          <td><strong>日期：</strong><input name="dateStart" type="text" class="text_short" id="dateStart" readonly="readonly" />
            至

            <input name="dateEnd" type="text" class="text_short" id="dateEnd" readonly="readonly" />
            <input type="button" class="btn_1" id="btnQuery" value="查询" /></td>
        </tr>
      </table>
    </form>
    <div class="h_10"></div>
    <table class="tbl_lst" width="100%" border="0" cellspacing="0" cellpadding="0">
      <thead>
        <tr>
          <td class="tbl_s">操作类型</td>
          <td>详细信息</td>
		  <td>登陆IP</td>
          <td width="150">时间</td>
        </tr>
      </thead>
      <tbody>
        {loop $logList $v}
        <tr>
          <td class="tbl_s">$v[title]</td>
          <td>$v[content]</td>
		  <td>{echo long2ip ($v[ip])}</td>
          <td>{date $v[timestamp]}</td>
        </tr>
        {/loop}
      </tbody>
    </table>
    <div class="h_10"></div>
    <div class="pageinfo">
        <div class="pages">$multipage</div>
    </div>
  </div>
</div>
{sub ../footer}