<!--sub ../header2_base-->
{sub ../headerBase}
<link href="/images/base.css" rel="stylesheet" type="text/css">
<link href="/images/style.css" rel="stylesheet" type="text/css">
<link href="/images/nlayout_wjh.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="/images/jquery_002.js"></script><script type="text/javascript" src="/images/common.js"></script>
<script type="text/javascript" src="/images/jquery.js"></script>
<script type="text/javascript" src="/images/slides.js"></script>
<script type="text/javascript" src="/images/jQuery.js"></script>
<script type="text/javascript" src="/images/jquery_003.js"></script>
<script type="text/javascript" src="/images/task.js"></script>


<script type="text/javascript">
function AutoScroll(){
$("#divPost:first").animate({
marginTop:"-28px"
},500,function(){
$(this).css({marginTop:"0px"}).find("li:first").appendTo(this);
});
}
setInterval('AutoScroll()',5000); 
function gotourl(url)
{
  window.location.href=url;
}

$(document).ready(function(){
		$(document).pngFix();
});
var webqq = 286411917;

$.ajaxSetup({cache:false});
var memberLogined=true;
var loginUsername='wangmazi';
var weburl='http://www.damaihu.com';
var weburl2='/';
var sys_hash2='NDJjME9pYXdFQlFObHFtSHpZcTEvaCtKbUswR295eGpsUllvQ281NzBsQm1xSFlRTFpEVzFDTWRHbkt5VUMrZTBzVFJYRzgxaGY1NUM3NWJqQQ==';
</script>


<body>
<script type="text/javascript" src="/images/service.js"></script>
<style type="text/css">

/*信誉守则*/
.shouze { font-family:微软雅黑; text-align:center; margin-bottom:30px; margin-top:10px;}
.shouze-biaotou { font-size:14px; font-weight:bold; color:#6e706c; height:40px; line-height:40px; background:#dfdfdf; }
.shouze table {border-left:#c0c1bd 1px solid;}
.shouze td {border-right:#c0c1bd 1px solid; border-bottom:#c0c1bd 1px solid;}
.shouze-del td {padding:30px 0; width:345px;}
.shouze-tebie {text-align:left; line-height:22px; vertical-align:top;}
.shouze-tebie p { margin:0 15px; padding-bottom:10px; border-bottom:#ddd 1px solid; margin-top:10px;}

.shouze-tuijian {background:url(/images/shouze-tebie.jpg) no-repeat; width:270px; height:141px; font-family:微软雅黑; padding-left:20px; padding-top:20px; margin-left:30px; margin-top:30px;}
.shouze-tuijian dt {color:#fb873b; font-weight:bold;}
.shouze-tuijian-input {width:255px; border:#ffcba9 1px solid; height:28px;}
.shouze-tuijian-btn {margin-top:15px; margin-left:55px;}
</style>
            <!-- page head end and content st-->
                   
            <div id="content">
                

                <div class="ks-clear">
                    <div class="col-main">
                        <div class="main-wrap ks-clear" style="width:956px; margin:0 auto;">
                            <p>您现在的位置:<a href="#">首页</a> &gt; 信誉守则</p>
                            <p style="margin-top:15px;"><a href="#"><img src="/images/shouze-banner.jpg"></a></p>
                            <div class="shouze">
                            	<table width="956">
                                	<tbody><tr class="shouze-biaotou">
                                    	<td>店铺当前信誉</td>
                                        <td>每天安全刷信誉数量</td>
                                        <td>时间间隔</td>
                                        <td width="345">其他安全说明</td>
                                    </tr>
                                    <tr class="shouze-del">
                                    	<td><p>0-90点（新店）</p><p><img src="/images/shouze-01.jpg"></p></td>
                                        <td>每天不超过5个</td>
                                        <td>每1-2小时刷一个</td>
                                        <td rowspan="9" class="shouze-tebie">
                                        	<p>1、一般来说每天刷的数量只要不超过当前店铺信誉10%就是安全的，比如店铺信誉是100，那么每天刷10个就比较安全，如果淘宝在某个时间段查得比较严，那么可以适当的减少每日刷的数量。 </p>
                                            <p>2、除非你的店铺信誉达到2钻以上了，否则请不要同 一时间发布大量的任务。另外任务商品价格尽量大于15元。 </p>
											<p>3、时间间隔：表格说明1小时刷3个，那么就是每隔20分钟发一个任务。</p>
											<p>4、如果严格按照这个表格操作，店铺是绝对安全的。</p>
											<p>5、接任务请不要用自己的淘宝大号进行付款购买，也不要用小号购买后通过大号支付宝付款，请一定通过小号使用网银付款。</p>
											<p>6、不要轻信QQ群互刷，朋友帮忙刷、花钱请人代刷。这些都是很不安全并且没有任何保障措施的。</p>
											<p>7、不要因为一时兴起，突然增加每天刷的数量，要循序渐进，慢慢增加数量，切忌不要贪心心急，安全第一。</p>
											<p>8、一般来说每天刷的数量只要不超过当前店铺总信誉的10%就是安全的，比如店铺信誉是100，那么每天最多刷10个就比较安全，如果淘宝在某个时间段查得比较严，那么可以适当的减少每日刷的数量。</p>
											<p>9、购物车不能太多，尤其不要连续发购物车，购物车任务不要超过每天总任务的10%，比如你一天发10个任务，那么可以带一个购物车，如果你一天发5个任务，那么两天内可以有一个购物车，同时购物车不能全是6个商品，2-5个商品轮替是最安全的。</p>
                                            <dl class="shouze-tuijian">
                                            	<dt>点击复制本帖地址，推荐给朋友</dt>
                                                <dd><input class="shouze-tuijian-input" value="{$weburl}/member/safesz/"></dd>
                                                <dd><input src="/images/shouze-btn.jpg" onclick="copy('{$weburl}/member/safesz/');" class="shouze-tuijian-btn" type="image"></dd>
                                            </dl>
                                        </td>
                                    </tr>
                                    <tr class="shouze-del">
                                    	<td><p>91-150点</p><p><img src="/images/shouze-02.jpg"></p></td>
                                        <td>每天刷5-10个</td>
                                        <td>每1小时刷一个</td>
                                    </tr>
                                    <tr class="shouze-del">
                                    	<td><p>151-250点</p><p><img src="/images/shouze-03.jpg"></p></td>
                                        <td>每天刷10-20个</td>
                                        <td>每小时刷2-3个</td>
                                    </tr>
                                    <tr class="shouze-del">
                                    	<td><p>251-500点（1钻）</p><p><img src="/images/shouze-04.jpg"></p></td>
                                        <td>每天刷20-30个</td>
                                        <td>每小时刷3-4个</td>
                                    </tr>
                                    <tr class="shouze-del">
                                    	<td><p>501-1000点（2钻）</p><p><img src="/images/shouze-05.jpg"></p></td>
                                        <td>每天刷30-60个</td>
                                        <td>每小时刷4-8个</td>
                                    </tr>
                                    <tr class="shouze-del">
                                    	<td><p>1001-2000点（3钻）</p><p><img src="/images/shouze-06.jpg"></p></td>
                                        <td>每天刷60-120个</td>
                                        <td>每小时刷8-15个</td>
                                    </tr>
                                    <tr class="shouze-del">
                                    	<td><p>2001-5000点（4钻）</p><p><img src="/images/shouze-07.jpg"></p></td>
                                        <td>每天刷120-200个</td>
                                        <td>每小时刷15-25个</td>
                                    </tr>
                                    <tr class="shouze-del">
                                    	<td><p>5001-10000点（5钻）</p><p><img src="/images/shouze-08.jpg"></p></td>
                                        <td>每天刷200-400个</td>
                                        <td>每小时刷25-45个</td>
                                    </tr>
                                    <tr class="shouze-del">
                                    	<td><p>10001以上（皇冠）</p><p><img src="/images/shouze-09.jpg"></p></td>
                                        <td>每天刷400-800个</td>
                                        <td>每小时刷45-90个</td>
                                    </tr>
                                </tbody></table>
                            </div>
                            
                        </div>
                    </div>
                    
                    
             
                </div>
               
            </div>
            <!-- page content end and footer st -->


<div class="cle"></div>
{sub ../footer}
<script type="text/javascript">
var webnoticeurl = "";
var webnoticetit = "";
var quick_qq = '<a target="_blank" href="http://wp.qq.com/wpa/qunwpa?idkey=f1eaf0fe93527f76ce44d221e7b8c0938b6f470f880afb249bb82cbe7b792d03"><img border="0" src="http://pub.idqqimg.com/wpa/images/group.png" alt="大麦户网商平台11群" title="大麦户网商平台11群"></a>';
$('.web_qq').hover(function(){
    $('.quick_qq').show();
});
</script>

</body></html>