{teval
	$title       = '任务平台 - {webName}';
	$keywords    = '';
	$description = '';
	$title       = common::replaceVars($title);
	$keywords    = common::replaceVars($keywords);
	$description = common::replaceVars($description);
	$cssList     = array(css::getUrl('member', 'member'));
	$jsList      = array(javascript::getUrl('task', 'index'));
	echo string::getStaticCode(array('title' => $title, 'keywords' => $keywords, 'description' => $description,'cssList'=>$cssList,'jsList'=>$jsList));
}
{sub ../headerbase}
<LINK rel="stylesheet" type="text/css" href="/css/task.css">
<form name="aspnetForm" method="post" id="aspnetForm">
<div>
<input type="hidden" name="__EVENTTARGET" id="__EVENTTARGET" value="" />
<input type="hidden" name="__EVENTARGUMENT" id="__EVENTARGUMENT" value="" />
</div>
<script type="text/javascript">
$(document).ready(function(){
    //$("#userjob1>p:last").remove();
    //$("#userjob2>p:last").remove();
    
    $("#btncopy").click(function(){
        copyToClipboard($("#txtlink").val());
        return false;
    });
});

function copyToClipboard(txt) {       
    if(window.clipboardData) {           
        window.clipboardData.setData("Text", txt);       
        alert("复制成功！")      
    }else if(navigator.userAgent.indexOf("Opera") != -1) {       
        window.location = txt;       
    }else if(window.netscape) {       
        try{       
            netscape.security.PrivilegeManager.enablePrivilege("UniversalXPConnect");       
        }catch(e) {       
            alert("被浏览器拒绝！\n请在浏览器地址栏输入'about:config'并回车\n然后将 'signed.applets.codebase_principal_support'设置为'true'");       
        }       
        var clip = Components.classes['@mozilla.org/widget/clipboard;1'].createInstance(Components.interfaces.nsIClipboard);       
        if (!clip)       
            return;       
        var trans = Components.classes['@mozilla.org/widget/transferable;1'].createInstance(Components.interfaces.nsITransferable);       
        if (!trans)       
            return;       
        trans.addDataFlavor('text/unicode');       
        var str = new Object();       
        var len = new Object();       
        var str = Components.classes["@mozilla.org/supports-string;1"].createInstance(Components.interfaces.nsISupportsString);       
        var copytext = txt;       
        str.data = copytext;       
        trans.setTransferData("text/unicode",str,copytext.length*2);       
        var clipid = Components.interfaces.nsIClipboard;       
        if (!clip)       
            return false;       
        clip.setData(trans,null,clipid.kGlobalClipboard);       
        alert("复制成功！")       
    }       
} 
var theForm = document.forms['aspnetForm'];
if (!theForm) {
    theForm = document.aspnetForm;
}
function __doPostBack(eventTarget, eventArgument) {
    if (!theForm.onsubmit || (theForm.onsubmit() != false)) {
        theForm.__EVENTTARGET.value = eventTarget;
        theForm.__EVENTARGUMENT.value = eventArgument;
        theForm.submit();
    }
}
  $(function(){
  $(".left_twe").css("display","none");//IE6
  //发布任务效果
  $(".left_rwdt .renwu1").hover(function(){
    $(this).css("background-position","-64px -335px");
    $(".left_twe").css("display","block");
  });
  
  $(".left_rwdt:not(.left_twe,renwu1)").mouseleave(function(){
    $(".left_rwdt .renwu1").css("background-position","-68px -387px");
    $(".left_twe").css("display","none")
  });
  
  //任务奖励效果
  $(".left_rwdt2").hover(function(){
    $(".renwu2").css("background-position","-64px -445px");
    
  },function(){
    $(".renwu2").css("background-position","-69px -498px");
    
  })
  
  //遍历图标
  $(".left_liebiao ul li:parent:not('#dilei')").each(function(i){
    
     if(i == 0){
      num = 4;
     }else{
      num = i*(-44);
     }
     if(i == 6){
    num = -262;
     }
     $(this).children("a:first").css("background-position","0px "+num+"px");
  });
  
  //遍历文字图标
  $(".left_liebiao ul li:parent:not('#dilei')").each(function(i){
    
     if(i == 0){
      num = 4;
     }else{
      num = i*(-40);
     }
     $(this).children("a:eq(1)").css("background-position","-355px "+num+"px");
     $(this).children("a:eq(1)").attr("num",num);
  });
  
  var urlname = getCurrUrlFileName();
  $(".left_liebiao ul li").each(function(i){
      v = $(this).children('a:last').attr('name');
      if(v == urlname){
        //$(this).children('a:last').css('background','red');
        $(this).append("<i><img src='/images/hyzx/dadian.png' /></i>");
      }
  })
  
  //遍历链接显示下划线
  $(".left_liebiao ul li:parent:not('#dilei')").hover(function(i){
  
    num = $(this).children("a:eq(1)").attr("num");
    
    $(this).children("a:eq(1)").css("background-position","-489px "+ num +"px");
    if(urlname != $(this).children('a:eq(1)').attr('name')){
      $(this).append("<i><img src='/images/hyzx/dadian.png' /></i>");
    }
  },function(){
  
    $(this).children("a:eq(1)").css("background-position","-355px "+ num +"px");
    if(urlname != $(this).children('a:eq(1)').attr('name')){
      $(this).children("i").remove();
    }
  });
  
  $("#dilei").hover(function(i){
    
    $(this).children("a:eq(1)").css("background-position","-139px -232px");
    $(this).append("<i><img src='/images/hyzx/dadian.png' /></i>");
  },function(){
  
    $(this).children("a:eq(1)").css("background-position","0px -232px");
    $(this).children("i").remove();
  });

  function getCurrUrlFileName(){
        var url = window.location.pathname;
        while (url.indexOf("/") > -1) {
          url = url.substring(url.indexOf("/") + 1, url.length);
        }
        return url;
  }
  
  //仅测试0.1----根据页面固定当前链接样式
  //var yelink = 'aaa';
  //if(yelink == 'aaa'){
  //  $(".left_liebiao ul li:eq(0) a:eq(1)").css("background-position","-625px 4px");
  //}
});
</script>
        <style>
a:hover{text-decoration: underline;}
.tupian_ico{background: url("/images/hyzx/icon1.png") repeat scroll;}
.imgdian{background: url("/images/hyzx/1.png") repeat scroll;}
.left_lan {background:rgb(35, 148, 228);float: left;margin-top: 25px;width: 200px;height: 630px;}
.left_lan .left_rwdt {background:none;color: #FFFFFF;cursor: pointer;font-family: "微软雅黑";font-size: 18px;font-weight: bold;position: relative;text-align: center;z-index: 10;float: left;}
.left_lan .left_rwdt .dian1{height: 103px;position: absolute;right: 28px;top: 102px;width: 8px;background-position:0px 0px ;}
.left_lan .left_rwdt .dian2{height: 103px;position: absolute;right: 28px;top: 261px;width: 8px;background-position:0px 0px ;}
.left_lan .left_rwdt .dian3{height: 103px;position: absolute;right: 28px;top: 420px;width: 8px;background-position:0px 0px ;}
.left_lan .left_rwdt .renwu1 {background-position: -68px -387px ;height: 45px;margin: 35px 35px 15px 35px;width: 135px;}
.left_lan .left_rwdt .left_twe{background: #FECC7F;font-size: 14px;font-weight: normal;position: absolute;right: -55px;top: 31px;width: 80px;}
.left_lan .left_rwdt .left_twe ul{float:left;width:100%;}
.left_lan .left_rwdt .left_twe ul li{float:left;background: #259CE3;padding: 4px;position: relative;width: 100%;height:22px;}
.left_lan .left_rwdt .left_twe ul li img{left: 12px;position: absolute;top: 12px;}
.left_lan .left_rwdt .left_twe ul li a{float:left;width:100%;text-align: right;color:white;}
.left_lan .left_rwdt2 {background:none;color: #FFFFFF;cursor: pointer;font-family: "微软雅黑";font-size: 18px;font-weight: bold;position: relative;text-align: center;z-index: 10;float: left;}
.left_lan .left_rwdt2 .renwu2 {background-position: -69px -498px;height: 45px;margin: 10px 35px 15px;width: 135px;}
.left_lan .left_rwdt2 .renwu2 a{width:100%;height:100%;float: left;}
.left_lan .left_liebiao{float:left;position: relative;}
.left_lan .left_liebiao ul li {height: 32px;line-height: 32px;overflow: hidden;width:200px;float:left;}
.left_lan .left_liebiao ul li i{float: left; height: 15px; width: 15px;margin: 4px 0 0 1px;}
.left_lan .left_liebiao .tupian_ico.li1{background-position: 0px -4px ;float:left;height:25px;width: 25px;margin-left:35px;}
.left_lan .left_liebiao .text1{background-position: -355px 4px;float: left;width: 100px;height:25px;margin-left: 5px;}
.dilei1 {
background: url("/images/hyzx/icon22.png") no-repeat -3px -228px;
float: left;
height: 25px;
width: 25px;
margin-left: 35px;
}
.dileiimg{
float: left;
width: 97px;
height: 25px;
margin-left: 8px;
background:url("/images/hyzx/icon11.png") no-repeat 0px -232px;
}
</style>
<DIV id="content"> 
	{sub menu}
<DIV class="right">
<TABLE style="height: 150px;" class="tiebuy_t" border="0" cellSpacing="0" 
cellPadding="0" width="100%">
  <TBODY>
  <TR vAlign="top">
    <TD style="padding: 10px 15px 15px 17px;">
      <DIV class="tiebuy">
      <H1>温馨提示：</H1>
      <P 
      style='color: rgb(68, 68, 62); font-family: "宋体"; font-size: 13px;'>1、接发平台信誉任务，必须完成或者取消后才可以更换。请根据自身情况进行接手！<BR>
      2、任务完成后需要您返回到任务中心进行奖品认领，系统在完成任务后会发站内邮件通知，无论任务是否完成，任务进度将会在周一凌晨自动清零，请您务必在此前领取奖励！<BR>
      3、领取奖励时接发任务数量大于或者等于都可以，如果7天内某天或某几天小于任务数量，任务将失败。
</P></DIV></TD></TR></TBODY></TABLE>
<DIV class="space10"></DIV>
<DIV class="space15"></DIV>
<DIV id="userjob1" class="member-job1">
<H1><SPAN>类型1</SPAN>接发平台信誉任务</H1>
<UL>
  <LI class="to1">
  <SPAN class="li0">任务发不停，奖励送不断！</SPAN>共有12位用户完成此任务												 
  <A id="ctl00_ContentPlaceHolder2_reTaskJob_ctl00_btnDetail" class="aa" href="javascript:__doPostBack('reTaskJob|ctl00|btnDetail','')" 
  ></A>
  <A id="ctl00_ContentPlaceHolder2_reTaskJob_ctl00_btnCancel" class="aa03" href="javascript:__doPostBack('reTaskJob|ctl00|btnCancel','')"></A></LI>
  <LI>
  <SPAN id="reTaskJob_ctl00_divState" class="li1">任务正在进行...</SPAN></LI>
  <LI>您需要连续<SPAN class="li1">7</SPAN>天，每天发布<SPAN class="li1">5</SPAN>个任务，接手<SPAN 
  class="li1">5</SPAN>个任务，任务完成后，平台奖励您<SPAN class="li1">4</SPAN>个麦点 </LI></UL>
<P></P>
<UL>
  <LI class="to1">
  <SPAN class="li0">任务发不停，奖励送不断！</SPAN>共有6位用户完成此任务												<A 
  id="ctl00_ContentPlaceHolder2_reTaskJob_ctl01_btnOrderJob" class="a" href="javascript:__doPostBack('reTaskJob|ctl01|btnOrderJob','')"></A></LI>
  <LI>
  <SPAN id="ctl00_ContentPlaceHolder2_reTaskJob_ctl01_divState" 
  class="li1">此任务等待着接手...</SPAN></LI>
  <LI>您需要连续
  <SPAN class="li1">7</SPAN>天，每天发布<SPAN 
  class="li1">10</SPAN>个任务，接手<SPAN class="li1">10</SPAN>个任务，任务完成后，平台奖励您<SPAN 
  class="li1">8</SPAN>个麦点 </LI></UL>
<P></P>
<UL> 
  <LI class="to1">
  <SPAN class="li0">任务发不停，奖励送不断！</SPAN>共有4位用户完成此任务												<A 
  id="ctl00_ContentPlaceHolder2_reTaskJob_ctl02_btnOrderJob" class="a" href="javascript:__doPostBack('reTaskJob|ctl02|btnOrderJob','')"></A></LI>
  <LI>
  <SPAN id="ctl00_ContentPlaceHolder2_reTaskJob_ctl02_divState" 
  class="li1">此任务等待着接手...</SPAN></LI>
  <LI>您需要连续<SPAN class="li1">7</SPAN>天，每天发布
  <SPAN class="li1">20</SPAN>个任务，接手<SPAN class="li1">20</SPAN>个任务，任务完成后，平台奖励您
  <SPAN class="li1">16</SPAN>个麦点 </LI></UL>
<P></P>
<UL>
  <LI class="to1">
  <SPAN class="li0">任务发不停，奖励送不断！</SPAN>共有0位用户完成此任务												
  <A id="ctl00_ContentPlaceHolder2_reTaskJob_ctl03_btnOrderJob" class="a" href="javascript:__doPostBack('reTaskJob|ctl03|btnOrderJob','')"></A></LI>
  <LI>
  <SPAN id="ctl00_ContentPlaceHolder2_reTaskJob_ctl03_divState" class="li1">此任务等待着接手...</SPAN></LI>
  <LI>您需要连续<SPAN class="li1">7</SPAN>天，每天发布
  <SPAN class="li1">40</SPAN>个任务，接手<SPAN class="li1">40</SPAN>个任务，任务完成后，平台奖励您
  <SPAN class="li1">32</SPAN>个麦点 </LI></UL>
<P></P>
<UL>
  <LI class="to1"><SPAN class="li0">任务发不停，奖励送不断！</SPAN>共有1位用户完成此任务												<A 
  id="ctl00_ContentPlaceHolder2_reTaskJob_ctl04_btnOrderJob" class="a" href="javascript:__doPostBack('reTaskJob|ctl04|btnOrderJob','')"></A></LI>
  <LI><SPAN id="ctl00_ContentPlaceHolder2_reTaskJob_ctl04_divState" 
  class="li1">此任务等待着接手...</SPAN></LI>
  <LI>您需要连续<SPAN class="li1">7</SPAN>天，每天发布<SPAN class="li1">5</SPAN>个任务，接手<SPAN 
  class="li1">0</SPAN>个任务，任务完成后，平台奖励您<SPAN class="li1">5</SPAN>个麦点 </LI></UL>
<P></P>
<UL>
  <LI class="to1"><SPAN class="li0">任务发不停，奖励送不断！</SPAN>共有1位用户完成此任务												<A 
  id="ctl00_ContentPlaceHolder2_reTaskJob_ctl05_btnOrderJob" class="a" href="javascript:__doPostBack('reTaskJob|ctl05|btnOrderJob','')"></A></LI>
  <LI><SPAN id="ctl00_ContentPlaceHolder2_reTaskJob_ctl05_divState" 
  class="li1">此任务等待着接手...</SPAN></LI>
  <LI>您需要连续<SPAN class="li1">7</SPAN>天，每天发布<SPAN 
  class="li1">10</SPAN>个任务，接手<SPAN class="li1">0</SPAN>个任务，任务完成后，平台奖励您<SPAN 
  class="li1">10</SPAN>个麦点 </LI></UL>
<P></P>
<UL>
  <LI class="to1"><SPAN class="li0">任务发不停，奖励送不断！</SPAN>共有3位用户完成此任务								<A id="ctl00_ContentPlaceHolder2_reTaskJob_ctl06_btnOrderJob" 
  class="a" 
  href="javascript:__doPostBack('reTaskJob|ctl06|btnOrderJob','')"></A></LI>
  <LI><SPAN id="ctl00_ContentPlaceHolder2_reTaskJob_ctl06_divState" 
  class="li1">此任务等待着接手...</SPAN></LI>
  <LI>您需要连续<SPAN class="li1">7</SPAN>天，每天发布<SPAN 
  class="li1">20</SPAN>个任务，接手<SPAN class="li1">0</SPAN>个任务，任务完成后，平台奖励您<SPAN 
  class="li1">20</SPAN>个麦点 </LI></UL>
<P></P>
<UL>
  <LI class="to1"><SPAN class="li0">任务发不停，奖励送不断！</SPAN>共有6位用户完成此任务				<A id="ctl00_ContentPlaceHolder2_reTaskJob_ctl07_btnOrderJob" 
  class="a" 
  href="javascript:__doPostBack('reTaskJob|ctl07|btnOrderJob','')"></A></LI>
  <LI><SPAN id="ctl00_ContentPlaceHolder2_reTaskJob_ctl07_divState" 
  class="li1">此任务等待着接手...</SPAN></LI>
  <LI>您需要连续<SPAN class="li1">7</SPAN>天，每天发布<SPAN 
  class="li1">40</SPAN>个任务，接手<SPAN class="li1">0</SPAN>个任务，任务完成后，平台奖励您<SPAN 
  class="li1">40</SPAN>个麦点 </LI></UL>
<P></P>
<UL>
  <LI class="to1"><SPAN class="li0">任务发不停，奖励送不断！</SPAN>共有17位用户完成此任务				<A id="ctl00_ContentPlaceHolder2_reTaskJob_ctl08_btnOrderJob" 
  class="a" 
  href="javascript:__doPostBack('reTaskJob|ctl08|btnOrderJob','')"></A></LI>
  <LI><SPAN id="ctl00_ContentPlaceHolder2_reTaskJob_ctl08_divState" 
  class="li1">此任务等待着接手...</SPAN></LI>
  <LI>您需要连续<SPAN class="li1">7</SPAN>天，每天发布<SPAN 
  class="li1">80</SPAN>个任务，接手<SPAN class="li1">0</SPAN>个任务，任务完成后，平台奖励您<SPAN 
  class="li1">80</SPAN>个麦点 </LI></UL>
<DIV class="clear"></DIV></DIV>
<DIV class="space15"></DIV>
<DIV class="member-job2">
<DIV class="space10"></DIV>
<UL id="userjob2">
  <LI class="to1"><SPAN class="li0"><A name="#fa">任务接不停，奖励送不断！</A></SPAN><A 
  class="aa" href="javascript:location.href='/member/ShuaKe/'" jobid="1"></A></LI>
  <LI><SPAN id="ctl00_ContentPlaceHolder2_reExtendJob_ctl09_divState" class="li1">任务正在进行...</SPAN></LI>
  <LI>职业刷客在本周接手任务量达到<SPAN class="li1">500</SPAN>个，平台奖励您<SPAN 
  class="li1">100</SPAN>元人民币</LI></UL>
<DIV class="clear"></DIV></DIV></DIV>
</DIV><!-- page content end and footer st --><!--弹出层-->
<DIV style="display: none;" id="divinfo1">
<DIV class="tan_lei01">
<UL id="ulcon1">
  <LI>正在读取数据，请稍侯...</LI></UL>
<TABLE style="margin-left: 25px;" id="tlist1" border="0" cellSpacing="0" 
cellPadding="0" width="100%"></TABLE></DIV></DIV>
<DIV style="display: none;" id="divinfo2">
<DIV class="tan_lei02">
<UL id="ulcon2">
  <LI>正在读取数据，请稍侯...</LI></UL>
<TABLE style="margin-left: 25px;" id="tlist2" border="0" cellSpacing="0" 
cellPadding="0" width="100%"></TABLE></DIV></DIV><!--弹出层结束-->
<DIV>
$sys_hash_code2</DIV>
<DIV style="display: none;">
<INPUT id="ctl00_ContentPlaceHolder2_btnGetGoldTask" name="ctl00|ContentPlaceHolder2|btnGetGoldTask" type="submit">
<INPUT id="ctl00_ContentPlaceHolder2_btnGetGoldExtend" name="ctl00|ContentPlaceHolder2|btnGetGoldExtend" type="submit">
</DIV>
<SCRIPT type="text/javascript">
var curTaskJobId = "13822";
var curExtendJobId = "0";
var isEndTask = "0";
var isEndExtend = "0";
$(document).ready(function(){
    $("#userjob1 a[id$=_btnDetail]").click(function(){
	    queryTaskJob(curTaskJobId);
        return false;
    });
    $("#userjob1 a[id$=_btnGetGold]").click(function(){
        queryTaskJob(curTaskJobId);
        return false;
    });
    $("#userjob2 a[id$=_btnDetail]").click(function(){
        queryExtendJob(curExtendJobId);
        return false;
    });
	$("#userjob3 a[id$=_btnDetail]").click(function(){
        queryExtendJob1(curExtendJobId);
        return false;
    });
    $("#userjob2 a[id$=_btnGetGold]").click(function(){
        queryExtendJob(curExtendJobId);
        return false;
    });
	$("#userjob3 a[id$=_btnGetGold]").click(function(){
        queryExtendJob1(curExtendJobId);
        return false;
    });
});

function queryTaskJob(jobid){
    $("#ctl00_ContentPlaceHolder2_hJobId").val(jobid);
    var html1 = $("#divinfo1").html();
    var dialog=artDialog({content:html1,id:"alarm",fixed:true,lock:true,yesText:"确认并关闭"},function(){
        if(isEndTask>0){
            $("#ctl00_ContentPlaceHolder2_btnGetGoldTask").click();
        }
    });
    $.post("/ajax/queryJobProgress.php",{"jobId":curTaskJobId,"jobType":1}, function(re){
        if(re!=null){
            var rehtml = "";
            var relist = "";
            rehtml += "<li><span>" + re.BeginAt + " 任务接手  " + re.EndAt + " 任务到期</span></li>";
            rehtml += "<li class=\"li\"><span>" + re.StateMsg + "</span></li>";
			/*for(i=0;i<re.jobtop.length;i++){
                rehtml += "<li class=\"li\"><span>"+re.jobtop[i]+"</span></li>";
            }*/
            rehtml += "<li><strong>任务详细</strong></li>";
            
            for(i=0;i<re.PassList.length;i++){
                relist += "<tr><td>"+re.PassList[i]+"</td></tr>";
            }
            $("#alarmContent ul[id=ulcon1]").html(rehtml);
            $("#alarmContent table[id=tlist1]").html(relist);
        }else{
            $("#alarmContent ul[id=ulcon1]").html("<li>查询的信息不存在</li>");
        }
    },'json');
}

function queryExtendJob(jobid){
     $("#ctl00_ContentPlaceHolder2_hJobId").val(jobid);
    var html1 = $("#divinfo1").html();
    var dialog=artDialog({content:html1,id:"alarm",fixed:true,lock:true,yesText:"确认并关闭"},function(){
        if(isEndTask>0){
            $("#ctl00_ContentPlaceHolder2_btnGetGoldTask").click();
        }
    });
     $.post("/ajax/queryJobProgress.php",{"jobType":2}, function(re){
        if(re!=null){
            var rehtml = "";
            var relist = "";
            rehtml += "<li><span>" + re.BeginAt + " 任务接手  " + re.EndAt + " 任务到期</span></li>";
            rehtml += "<li><span>" + re.StateMsg + "</span></li>";
			for(i=0;i<re.jobtop.length;i++){
                rehtml += "<li><span>"+re.jobtop[i]+"</span></li>";
            }
            rehtml += "<li><strong>任务详细</strong></li>";
            
            for(i=0;i<re.PassList.length;i++){
               relist += "<tr><td>"+re.PassList[i]+"</td></tr>";
            }
			
            $("#alarmContent ul[id=ulcon1]").html(rehtml);
            $("#alarmContent table[id=tlist1]").html(relist);
        }else{
            $("#alarmContent ul[id=ulcon1]").html("<li>查询的信息不存在</li>");
        }
    },'json');
}
function queryExtendJob1(jobid){
     $("#ctl00_ContentPlaceHolder2_hJobId").val(jobid);
    var html1 = $("#divinfo1").html();
    var dialog=artDialog({content:html1,id:"alarm",fixed:true,lock:true,yesText:"确认并关闭"},function(){
        if(isEndTask>0){
            $("#ctl00_ContentPlaceHolder2_btnGetGoldTask").click();
        }
    });
     $.post("/ajax/queryJobProgress.php",{"jobType":3}, function(re){
        if(re!=null){
            var rehtml = "";
            var relist = "";
            rehtml += "<li><span>" + re.BeginAt + " 任务接手  " + re.EndAt + " 任务到期</span></li>";
            rehtml += "<li><span>" + re.StateMsg + "</span></li>";
			for(i=0;i<re.jobtop.length;i++){
                rehtml += "<li><span>"+re.jobtop[i]+"</span></li>";
            }
			
            rehtml += "<li><strong>任务详细</strong></li>";
            
            for(i=0;i<re.PassList.length;i++){
                relist += "<tr><td>"+re.PassList[i]+"</td></tr>";
            }
			
            $("#alarmContent ul[id=ulcon1]").html(rehtml);
            $("#alarmContent table[id=tlist1]").html(relist);
        }else{
            $("#alarmContent ul[id=ulcon1]").html("<li>查询的信息不存在</li>");
        }
    },'json');
}
</SCRIPT>
</FORM>
<DIV class="cle"></DIV>
{sub ../footer}
</BODY></HTML>
