{teval $title = '淘宝网店SEO--{webName}'; $keywords = '{webName2}'; $description = '{webName}'; $title = common::replaceVars($title); $keywords = common::replaceVars($keywords); $description = common::replaceVars($description); $cssList = array(css::getUrl('index',
'index')); $jsList = array(javascript::getUrl('silde', 'index')); echo string::getStaticCode(array('title' => $title, 'keywords' => $keywords, 'description' => $description,'cssList'=>$cssList, 'jsList'=>$jsList)); } {subtemplate ../header}
<SCRIPT type="text/javascript"
src="/images/service.js"></SCRIPT>
<SCRIPT type="text/javascript" src="/images/collect.js"></SCRIPT>
<DIV id="content">
	<DIV style="margin-top: 15px; float: left;">
		<IMG src="/images/sc_banner.jpg" width="999" height="236">
	</DIV>
	<FORM onSubmit="return check_cs()" method="post" name="collect_form">$sys_hash_code2
		<INPUT name="style" value="1" type="hidden">
		<TABLE class="scly_scbk" border="0" cellSpacing="0" cellPadding="0" width="490">
			<TBODY>
				<TR>
					<TD class="scly_gmsc" height="50" colSpan="2">购买收藏</TD>
				</TR>
				<TR>
					<TD height="45" width="120" align="right">宝贝或店铺地址：</TD>
					<TD>
						<INPUT id="cs_url" class="scly_bk1" name="cs_url" value="http://" type="text">
					</TD>
				</TR>
				<TR>
					<TD height="45" align="right">收藏标签：</TD>
					<TD>
						<INPUT id="cs_mark" class="scly_bk2" name="cs_mark" maxLength="62" type="text">
					</TD>
				</TR>
				<TR>
					<TD height="30" align="right">&nbsp;</TD>
					<TD vAlign="top">标签最多
						<SPAN class="chengse2">3</SPAN>个(每条
						<SPAN class="chengse2"><STRONG>10</STRONG></SPAN>个字内)，以空格区分</TD>
				</TR>
				<TR>
					<TD height="45" align="right">购买数量：</TD>
					<TD>
						<INPUT onBlur="cs_count_collect()" id="nums" class="scly_bk3" onClick="cs_check_collect()" name="nums" maxLength="5" value="每个收藏只需0.1个麦点" type="text">&nbsp;需要麦点：
						<SPAN class="chengse2"><STRONG 
      id="collect_price">0.00</STRONG></SPAN>
					</TD>
				</TR>
				<TR>
					<TD height="70" colSpan="2">
						<INPUT class="scly_ljgm" value="提交查询内容" type="submit">
					</TD>
				</TR>
			</TBODY>
		</TABLE>
	</FORM>
	<FORM id="buyip" onSubmit="return check_buyip()" method="post" name="buyip">$sys_hash_code2
		<INPUT name="style" value="2" type="hidden">
		<TABLE style="margin-left: 15px;" class="scly_scbk" border="0" cellSpacing="0" cellPadding="0" width="490">
			<TBODY>
				<TR>
					<TD class="scly_gmll" height="50" colSpan="2">购买流量</TD>
				</TR>
				<TR>
					<TD height="45" width="115" align="right">购买IP数量：</TD>
					<TD>
						<SELECT id="ips" onChange="get_total_price()" name="ips">
							<OPTION value="200">200 IP/24小时内达到，价格：3个麦点</OPTION>
							<OPTION value="500">500 IP/24小时内达到，价格：4个麦点</OPTION>
							<OPTION value="1000">1000 IP/24小时内达到，价格：6.8个麦点</OPTION>
							<OPTION value="2000">2000 IP/24小时内达到，价格：13个麦点</OPTION>
							<OPTION value="3000">3000 IP/24小时内达到，价格：19.5个麦点</OPTION>
							<OPTION value="4000">4000 IP/24小时内达到，价格：27个麦点</OPTION>
							<OPTION value="5000">5000 IP/24小时内达到，价格：33.7个麦点</OPTION>
							<OPTION value="6000">6000 IP/24小时内达到，价格：40.4个麦点</OPTION>
							<OPTION value="7000">7000 IP/24小时内达到，价格：47.2个麦点</OPTION>
							<OPTION value="8000">8000 IP/24小时内达到，价格：53.9个麦点</OPTION>
							<OPTION value="9000">9000 IP/24小时内达到，价格：60.6个麦点</OPTION>
							<OPTION value="10000">10000 IP/24小时内达到，价格：74个麦点</OPTION>
						</SELECT>
					</TD>
				</TR>
				<TR>
					<TD height="45" align="right">IP流量地址：</TD>
					<TD>
						<INPUT id="url" class="scly_bk1" name="url" value="http://" type="text">
					</TD>
				</TR>
				<TR>
					<TD height="30" align="right">&nbsp;</TD>
					<TD vAlign="top">需要麦点：
						<SPAN class="chengse2"><STRONG 
      id="total_price_show">3</STRONG></SPAN>
					</TD>
				</TR>
				<TR id="span_days">
					<TD height="30" align="right">持续天数：</TD>
					<TD>
						<INPUT onClick="get_total_price()" name="days" checked value="1" type="radio">持续1天
						<INPUT onClick="get_total_price()" name="days" value="7" type="radio">持续7天
						<INPUT onClick="get_total_price()" name="days" value="30" type="radio">持续30天</TD>
				</TR>
				<TR>
					<TD height="45" align="right"></TD>
					<TD>
						<A id="open_adv" class="lanse2" onClick="function_set_adv()" href="javascript:;">设置高级流量</A>
					</TD>
				</TR>
				<TR>
					<TD colSpan="2">
						<TABLE style="margin: 0px auto; border: 1px solid rgb(221, 221, 221); width: 470px; display: none;" id="set_adv" border="0" cellSpacing="0" cellPadding="0" align="center">
							<TBODY>
								<TR>
									<TD height="30" align="right">高级设置：
										<INPUT id="need_adv" name="need_adv" value="0" type="hidden">
									</TD>
									<TD>
										<P>
											<LABEL>
												<INPUT id="adv_seting_1" onClick="function_need_adv()" name="adv_seting[]" value="1" type="checkbox">自定义流量投放时间</LABEL>
											<LABEL>
												<INPUT id="adv_seting_2" onClick="function_need_adv()" name="adv_seting[]" value="2" type="checkbox">自定义PV:IP的倍数</LABEL>
											<LABEL>
												<INPUT id="adv_seting_3" onClick="function_need_adv()" name="adv_seting[]" value="3" type="checkbox">自定义投放地区</LABEL>
											<LABEL style="display: none;">
												<INPUT id="adv_seting_5" onClick="function_need_adv()" name="adv_seting[]" value="5" type="checkbox">自定义访问来源</LABEL>
										</P>
									</TD>
								</TR>
								<TR style="display: none;" id="span_cut_time">
									<TD bgColor="#ffffff" align="right">&nbsp;&nbsp;自定义时间：</TD>
									<TD class="timebox" bgColor="#ffffff">
										<LABEL>开始时间：
											<INPUT id="start_time" onChange="get_total_price()" class="it date-pick1 q b" name="start_time" value="{echo date('Y-m-d H:i:s',time())}" type="text">
										</LABEL>
										<LABEL>结束时间：
											<INPUT id="end_time" onChange="get_total_price()" class="it date-pick2 q b" name="end_time" value="{echo date('Y-m-d H:i:s',time())}" type="text">
										</LABEL>
										<p class="text">（此服务选择后价格会提高20%）</p></TD>
								</TR>
								<TR style="display: none;" id="span_cut_pvs">
									<TD bgColor="#ffffff" vAlign="middle" align="right">&nbsp;&nbsp;自定义PV：</TD>
									<TD class="timebox" bgColor="#ffffff">
										<LABEL>
											<INPUT id="pvs" onChange="get_total_price()" name="pvs" maxLength="3" value="1" size="2" type="text">
										</LABEL><p class="text">（PV:IP的倍数，如不太明白，可以不管，使用默认值， 此服务选择后价格会有相应的提高，PV为2时加10%，3加30%，4加200%，5加225%，6加250%，7加300%，8加325%，9加350%，以此类推）</p></TD>
								</TR>
								<TR style="display: none;" id="span_cut_location">
									<TD bgColor="#ffffff" align="right">&nbsp;&nbsp;自定义地区:&nbsp;</TD>
									<TD class="address" bgColor="#ffffff">
										<INPUT id="pprov1" onClick="get_total_price()" name="province[]" value="北京" type="checkbox">
										<LABEL for="pprov01">北京</LABEL>
										<INPUT id="pprov2" onClick="get_total_price()" name="province[]" value="上海" type="checkbox">
										<LABEL for="pprov02">上海</LABEL>
										<INPUT id="pprov3" onClick="get_total_price()" name="province[]" value="天津" type="checkbox">
										<LABEL for="pprov03">天津</LABEL>
										<INPUT id="pprov4" onClick="get_total_price()" name="province[]" value="重庆" type="checkbox">
										<LABEL for="pprov04">重庆</LABEL>
										<INPUT id="pprov5" onClick="get_total_price()" name="province[]" value="河北" type="checkbox">
										<LABEL for="pprov05">河北</LABEL>
										<INPUT id="pprov6" onClick="get_total_price()" name="province[]" value="山西" type="checkbox">
										<LABEL for="pprov06">山西</LABEL>
										<INPUT id="pprov7" onClick="get_total_price()" name="province[]" value="内蒙" type="checkbox">
										<LABEL for="pprov07">内蒙</LABEL>
										<INPUT id="pprov8" onClick="get_total_price()" name="province[]" value="辽宁" type="checkbox">
										<LABEL for="pprov08">辽宁</LABEL>
										<INPUT id="pprov9" onClick="get_total_price()" name="province[]" value="吉林" type="checkbox">										
										<LABEL for="pprov09">吉林</LABEL>
										<br clear="all">
										<INPUT id="pprov10" onClick="get_total_price()" name="province[]" value="新疆" type="checkbox">
										<LABEL for="pprov10">新疆</LABEL>
										<INPUT id="pprov11" onClick="get_total_price()" name="province[]" value="江苏" type="checkbox">
										<LABEL for="pprov11">江苏</LABEL>
										<INPUT id="pprov12" onClick="get_total_price()" name="province[]" value="浙江" type="checkbox">
										<LABEL for="pprov12">浙江</LABEL>
										<INPUT id="pprov13" onClick="get_total_price()" name="province[]" value="安徽" type="checkbox">
										<LABEL for="pprov13">安徽</LABEL>
										<INPUT id="pprov14" onClick="get_total_price()" name="province[]" value="福建" type="checkbox">
										<LABEL for="pprov14">福建</LABEL>
										<INPUT id="pprov15" onClick="get_total_price()" name="province[]" value="江西" type="checkbox">
										<LABEL for="pprov15">江西</LABEL>
										<INPUT id="pprov16" onClick="get_total_price()" name="province[]" value="山东" type="checkbox">
										<LABEL for="pprov16">山东</LABEL>
										<INPUT id="pprov17" onClick="get_total_price()" name="province[]" value="河南" type="checkbox">
										<LABEL for="pprov17">河南</LABEL>
										<INPUT id="pprov18" onClick="get_total_price()" name="province[]" value="湖北" type="checkbox">
										<LABEL for="pprov18">湖北</LABEL>
										<br clear="all">
										<INPUT id="pprov19" onClick="get_total_price()" name="province[]" value="湖南" type="checkbox">
										<LABEL for="pprov19">湖南</LABEL>
										<INPUT id="pprov20" onClick="get_total_price()" name="province[]" value="广东" type="checkbox">
										<LABEL for="pprov20">广东</LABEL>
										<INPUT id="pprov21" onClick="get_total_price()" name="province[]" value="广西" type="checkbox">
										<LABEL for="pprov21">广西</LABEL>
										<INPUT id="pprov22" onClick="get_total_price()" name="province[]" value="海南" type="checkbox">
										<LABEL for="pprov22">海南</LABEL>
										<INPUT id="pprov23" onClick="get_total_price()" name="province[]" value="贵州" type="checkbox">
										<LABEL for="pprov23">贵州</LABEL>
										<INPUT id="pprov24" onClick="get_total_price()" name="province[]" value="四川" type="checkbox">
										<LABEL for="pprov24">四川</LABEL>
										<INPUT id="pprov25" onClick="get_total_price()" name="province[]" value="云南" type="checkbox">
										<LABEL for="pprov25">云南</LABEL>
										<INPUT id="pprov26" onClick="get_total_price()" name="province[]" value="西藏" type="checkbox">
										<LABEL for="pprov26">西藏</LABEL>
										<INPUT id="pprov27" onClick="get_total_price()" name="province[]" value="陕西" type="checkbox">
										<LABEL for="pprov27">陕西</LABEL>
										<br clear="all">
										<INPUT id="pprov28" onClick="get_total_price()" name="province[]" value="甘肃" type="checkbox">
										<LABEL for="pprov28">甘肃</LABEL>
										<INPUT id="pprov29" onClick="get_total_price()" name="province[]" value="青海" type="checkbox">
										<LABEL for="pprov29">青海</LABEL>
										<INPUT id="pprov30" onClick="get_total_price()" name="province[]" value="宁夏" type="checkbox">
										<LABEL for="pprov30">宁夏</LABEL>
										<INPUT id="pprov31" onClick="get_total_price()" name="province[]" value="台湾" type="checkbox">
										<LABEL for="pprov31">台湾</LABEL>
										<INPUT id="pprov32" onClick="get_total_price()" name="province[]" value="香港" type="checkbox">
										<LABEL for="pprov32">香港</LABEL>
										<INPUT id="pprov33" onClick="get_total_price()" name="province[]" value="澳门" type="checkbox">
										<LABEL for="pprov33">澳门</LABEL>
										<INPUT id="pprov34" onClick="get_total_price()" name="province[]" value="黑龙" type="checkbox">
										<LABEL for="pprov34">黑龙江</LABEL>
										<br clear="all">
										（此服务选择后价格会提高3倍）</TD>
								</TR>
								<TR style="display: none;" id="span_cut_referer">
									<TD bgColor="#ffffff" width="90" align="right">&nbsp;&nbsp;自定义访问来源：</TD>
									<TD bgColor="#ffffff">
										<INPUT name="url_referer[]" size="30" type="text">
										<BR>
										<INPUT name="url_referer[]" size="30" type="text">
										<BR>
										<INPUT name="url_referer[]" size="30" type="text">
										<BR>
										<INPUT name="url_referer[]" size="30" type="text">
										<BR>（来源地址请填写浏览器http地址，此服务选择后价格会提高1倍，最多6个来源，最少一个，请确保来源地址能打开！）</TD>
								</TR>
							</TBODY>
						</TABLE>
					</TD>
				</TR>
				<TR>
					<TD height="55" colSpan="2">
						<INPUT id="total_price" name="total_price" value="0" type="hidden">
						<INPUT id="day" name="day" value="1" type="hidden">
						<INPUT class="scly_ljgm" value="提交查询内容" type="submit">
					</TD>
				</TR>
			</TBODY>
		</TABLE>
	</FORM>
	<DIV class="cle"></DIV>
	<TABLE class="scly_bk4" border="0" cellSpacing="0" cellPadding="0" width="490">
		<TBODY>
			<TR>
				<TD class="scly_tit" height="37" vAlign="middle" align="center">最近购买</TD>
				<TD class="scly_tit" vAlign="middle" width="10%" align="center">数量</TD>
				<TD class="scly_tit" vAlign="middle" width="22%" align="center">处理时间</TD>
				<TD class="scly_tit" vAlign="middle" width="32%" align="center">操作</TD>
			</TR>
		</TBODY>
	</TABLE>
	<TABLE style="margin-left: 15px;" class="scly_bk4" border="0" cellSpacing="0" cellPadding="0" width="490">
		<TBODY>
			<TR>
				<TD class="scly_tit" height="37" vAlign="middle" align="center">最近购买</TD>
				<TD class="scly_tit" vAlign="middle" width="17%" align="center">数量</TD>
				<TD class="scly_tit" vAlign="middle" width="22%" align="center">处理时间</TD>
				<TD class="scly_tit" vAlign="middle" width="22%" align="center">操作</TD>
			</TR>
		</TBODY>
	</TABLE>
	<DIV class="cle"></DIV>
	<TABLE class="scly_bk4" border="0" cellSpacing="0" cellPadding="0" width="490">
		<TBODY>
			<TR>
				<TD style="text-indent: 24px;" class="scly_tit" height="37" vAlign="middle" align="left">购买收藏常见问题</TD>
			</TR>
			<TR>
				<TD style="padding: 20px 25px;" class="scly_wtbg" height="37" vAlign="top" align="left">
					<P class="scly_tit2">购买收藏后是一下全到吗?</P>答：购买后可能需要24-48小时才会进行哦，敬请耐心等待。
					<BR>
					<P class="scly_tit2">我的网店有多少信誉时就该刷收藏了呢？</P>答：卖家信誉在十以上就可以开始了，最晚在卖家信誉到100之前也要开始了；
					<BR>
					<P class="scly_tit2">我的网店大概需要刷多少收藏是合理的呢？</P>答：这个要根据您网店当前的信誉度来决定，一般淘宝上收藏数是卖家信誉度的：10%--85%之间为一个比较合乎逻辑的范围；当然最合理的范围是20%-55%； 举例说明您现在的卖家信誉度是：100 那么您对应网店的合理收藏人气应该是：20-55个;
					<BR>
				</TD>
			</TR>
		</TBODY>
	</TABLE>
	<TABLE style="margin-left: 15px;" class="scly_bk4" border="0" cellSpacing="0" cellPadding="0" width="490">
		<TBODY>
			<TR>
				<TD style="text-indent: 24px;" class="scly_tit" height="37" vAlign="middle" align="left">购买流量常见问题</TD>
			</TR>
			<TR>
				<TD style="padding: 20px 25px;" class="scly_wtbg" height="37" vAlign="top" align="left">
					<P class="scly_tit2">购买流量后是一下全到吗?</P>答：在您成功订购并通过核审后24小时内到达您的指定地址
					<BR>
					<P class="scly_tit2">一天需要买多少流量合适呢？</P>答：首先保证你每天的成交单数（包括刷信誉）与当日的流量IP比例为1-3%，并且在以后最好也不要停止购买流量。我们建议一红星卖家从200流量开始买起，200为一个档次增加，循序渐进。
					<BR>
					<P class="scly_tit3"></P>淘宝浏览量也称作淘宝浏览次数，淘宝浏览量直接影响商品的排名，浏览量高了以后如果搜索时按“人气”排的话就会排的前点，这样看的人多了卖的也可能就更多！ 排名和搜索会靠前，浏览量多了，意味着你的店人气高了，那销量一般会跟着升起来的；对于经常刷信誉的我们来说，淘宝流量=淘宝来路，如果刷流量的话，你的来路从此就不会单一，
					<STRONG>最重要的是这样来路都是真实的ip，量子统计均可查，这样的话就能非常有效的避免降权。</STRONG> 
				</TD>
			</TR>
		</TBODY>
	</TABLE>
	<DIV class="cle"></DIV>
</DIV>
<DIV class="cle"></DIV>{subtemplate ../footer}