{teval
	
	$cssList     = array(css::getUrl('task', 'task'));
	echo string::getStaticCode(array('cssList'=>$cssList));
}
{sub ../header}
<div class="main">
	{if $_showmessage}<div class='msg_panel'><div>$_showmessage</div></div>{/if}
	{if $indexMessage}<div class='error_panel'><div>$indexMessage</div></div>{/if}
  <div class="h_10"></div>
  
  <div class="pub_tip1"> 1、通过发布收藏任务，把您的淘宝店铺发布到刷好快收藏互动区，收藏任务被人接手后，就会提高您店铺的被收藏次数；使您的卖家信誉更真实；<br />
    2、从已经绑定的掌柜号中选择要发布的店铺，输入该店铺地址（格式为短网址：http://xxxxx.taobao.com/），设置好想要被收藏的次数，就可以发布了<br />
    3、发布商品收藏，则需要在收藏类型中选中商品收藏，然后在商品网址中输入要被收藏的商品的网址，注意商品的地址格式；<br />
    4、安装且绑定了刷好快网客户端工具的刷好快用户在接手您的任务后，其绑定的工具会自动模拟真实情景来执行收藏；<br />
    5、在任务发布到互动区后，您可以通过点击已发收藏任务页面中的【暂停】按钮来控制店铺每日被收藏次数与被收藏时间，使您的收藏数据更真实！</div>
  <div class="info2">
    <div class="wel">尊敬的<span class='f_orange'> $member[truename]</span>{if $member[sex]==1}先生{elseif $member[sex]==2}女士{/if}，欢迎您！</div>
    <div class="stat">VIP：{if $isVip}是{else}否{/if} , 卡信托：{if $isVip2}是{else}否{/if} ， 积分：<span class='f_b_org'>$memberFields[credits]</span> <img src='$memberLevel[icon]' alt='当前等级' /> ， <img src='{$weburl2}images/ico/ico_gold_2.gif' alt='' /> 存款余额：<span class='f_b_org'>$memberFields[money]</span>元 　　　　　<img src="{$weburl2}images/ico/ico_gold_3.gif" /> 淘宝发布点：<span class="f_b_org">$memberFields[fabudian1]</span>个</div>
  </div>
  <form name="myForm" method="post" id="myForm" onsubmit="return checkForm();">
	<div>$sys_hash_code2</div>

    <div class="bar">任务发布区</div>
    <table class="tbl" width="100%" border="0" cellspacing="0" cellpadding="6">
      <tr>
        <td width="120" align="right">您的淘宝掌柜名称：</td>
        <td colspan="2">
			{loop $sellers $k $v}
			<label for='__nickname__$k'><input type='radio' name='nickname' id='__nickname__$k' value='$v[nickname]'{if !$datas && $k==0 || $datas && $datas[nickname]==$v[nickname]} checked{/if} />$v[nickname]</label>
			{/loop}
			</td>
      </tr>
      <tr>
				<td align="right">收藏类型：</td>
				<td colspan="2"><label for='__ctype__0'><input name='ctype' type='radio' value='0' id='__ctype__0'{if !$datas || $datas[ctype]==0} checked='checked'{/if} onclick="collectUrl(0);" />店铺收藏</label>&nbsp;&nbsp;<label for='__ctype__1'><input name='ctype' type='radio' value='1' id='__ctype__1'{if $datas[ctype]==1} checked='checked'{/if} onclick="collectUrl(1);" />商品收藏</label></td>
      </tr>
      <tr id="collect_0"{if $datas[ctype]==1} style="display:none"{/if}>
        <td align="right">店铺首页网址：</td>
        <td><input name="shopurl" type="text" class="text_long" id="shopurl" value="$datas[shopurl]" /></td>
        <td>网址格式为：http://xxxxx.taobao.com/</td>
      </tr>
      <tr id="collect_1" {if $datas[ctype]!=1}style="display:none"{/if}>
        <td align="right">商品网址：</td>
        <td><input name="itemurl" type="text" class="text_long" id="itemurl" value="$datas[itemurl]" /></td>
        <td>网址格式为：http://item.taobao.com/item.htm?id=xxxxxx</td>
      </tr>
      <tr>
				<td align="right">标签：</td>
				<td><input name="tags" type="text" class="text_long" id="tags" disabled="disabled" style="display:none" />&nbsp;</td>
				<td><!--strong>可设置3个标签，请用逗号","分隔标签，每个标签为2-8个字符，不允许含有空格。</strong><br />
					标签应大多为商品的分类，如：卖漂亮连衣裙的可设置“连衣裙”“漂亮的裙裙”等；<br />
					不明白的卖家请亲自登录淘宝随意收藏一个商品练习一下，或是咨询客服<br />
					<span class="f_b_org f_14">【新动态】：某些关键字为淘宝禁用的标签敏感词，填写的标签最好自己尝试收藏成功，否则可能会是您的任务无法完成</span-->
					<span class="f_b_org f_14">【新动态】：淘宝收藏已更新为直接点击收藏，平台暂不支持标签功能</span></td>
      </tr>
      <tr>
        <td align="right">收藏次数：</td>
        <td><input name="total" type="text" class="text_normal" id="total" value="{echo $datas?$datas[total]:10}" /></td>
        <td>每个收藏需要0.1个发布点, <a href="#" target="_blank" class="link_o">收藏安全指南</a></td>
      </tr>
    </table>
    <div class="publish">
      <input type="image" name="btnSave" id="imageField" src="{$weburl2}images/btn/task_submit.gif" />
    </div>
  </form>
  <div class="h_20"></div>
</div>
<script type="text/javascript">
function checkForm() {
	if (getRV('nickname') == '') {
		alert('请选择掌柜');
		return false;
	}
	var checks = [
		//["isLength", "tags", "个性标签", 2, 30],
		["isNumber", "total", "收藏次数"],
		["isRange", "total", "收藏次数", 10, 300] ];
	var result = doCheck(checks);
	var urlPattern;
	if (getRV("ctype") == 1) {
	    urlPattern = /^(?:http:\/\/[\w-]+\.+(?:taobao|tmall)\.com\/item\.htm\?.*?id=(\d+))|(?:http:\/\/item\.(?:tmall|taobao)\.com\/mealDetail\.htm\?.*?id=(\d+))/i;///^http:\/\/([\w-]+\.)+((taobao)|(tmall))\.com\/item\.htm\?(item_)?(num_)?id=\d+(.)*$/i;
		if (result && !urlPattern.test(getValue("itemurl"))) {
			result = doAlert("商品网址必须以：http://item.taobao.com/item.htm?id= 开头", $("#itemurl"));
		}
	} else {
	    urlPattern = /^http:\/\/([\w-]+\.)+((taobao)|(tmall))\.com\/?$/i;///^http:\/\/([\w-]+\.)+((taobao)|(tmall))\.com\/$/i;
		if (result && !urlPattern.test(getValue("shopurl"))) {
			result = doAlert("店铺首页地址不正确", $("#shopurl"));
		}
	}
	if (result)
		return avoidReSubmit();
	return result;
}
function collectUrl(t) {
	if (t == 1) {
		$("#collect_0").hide();
		$("#collect_1").show();
	} else {
		$("#collect_1").hide();
		$("#collect_0").show();
	}
}
</script>
{sub ../footer}