<div class="rwdt_menu">
  <a title="单个任务商品" href="$baseUrl?m=add" {if $m=='add'} class="nov" {/if}>单个任务商品</a>
  <a title="来路任务" href="$baseUrl?m=CreateLaiLuMission" {if $m=='CreateLaiLuMission'} class="nov" {/if}>来路任务</a>
  <a title="套餐任务" href="$baseUrl?m=CreateMealMission" {if $m=='CreateMealMission'} class="nov" {/if}>套餐任务</a>
  <a title="购物车任务" href="$baseUrl?m=CreateCartMission" {if $m=='CreateCartMission'} class="nov" {/if}>购物车任务</a>
  <a title="批量任务" href="$baseUrl?m=adds" {if $m=='adds'} class="nov" {/if}>批量任务</a>
  <a title="任务模版" href="$baseUrl?m=tpl" {if $m=='tpl'} class="nov" {/if}>任务模版</a>
  <a title="已发任务" href="$baseUrl?m=taskOut" {if $m=='taskOut'} class="nov" {/if}>已发任务</a>
</div>






