{teval
	
	$cssList     = array(css::getUrl('task', 'task'));
	echo string::getStaticCode(array('cssList'=>$cssList));
}
{sub ../header}
{teval
echo javascript::get_js('WdatePicker', 'index');
}
{eval
	$__price_once = $isFlowVip ? cfg::get('reflow', 'price_once_vip') : cfg::get('reflow', 'price_once');
}
	<style type="text/css">
.menu_you a:link {color:#0051C1;}
.menu_you a:visited {color:#0051C1;}
.menu_you a:hover {color:#0051C1;}
.tbl td {line-height:26px;}
.t_fls {padding-right:10px;}
.t_fls td {border-bottom-width:0 !important;}
</style>
	<div class="main">
	<div class="h_10"></div>
	{if $_showmessage}
	<div class='msg_panel'>
			<div>$_showmessage</div>
		</div>
	{/if}
	{if $indexMessage}
	<div class='error_panel'>
			<div>$indexMessage</div>
		</div>
	{/if}
	<div class="pub_tip1"> 1. 商品网址只能发布淘宝的商品网址（暂不支持拍拍）<br />
		</div>
	<div class="info2"> {sub reflow_info} </div>
	<div class='tpl_from'><strong>从任务模板中创建：</strong>
			<select name='fromTpl' class='task_slt' onchange='getTpl(this);'>
			<option value='0'>请从下拉框中选择</option>
			{loop $tplList $v}
			<option value="$v[id]"{if $tplId==$v[id]} selected{/if}>$v[name]</option>
			{/loop}
		</select>
			<strong>　 注释：</strong>您可以选择从已存的发布任务模板中选择一个，实现快捷方便的发布任务</div>
	<form name="myForm" method="post" id="myForm" onsubmit="return checkForm();">
	$sys_hash_code2
			<div class="bar">任务发布区</div>
			<table class="tbl" width="100%" border="0" cellspacing="0" cellpadding="6">
			<tr>
					<td width="120" align="right">淘宝掌柜名称：</td>
					<td>
						{loop $sellers $k $v}
						<label for='__nickname__0'>
						<input type="radio" name="nickname" id="__nickname__$k" value="$v[nickname]" onclick="isTruth($v[truth])"{if isset($datas[nickname]) && $datas[nickname] == $v[nickname] || !isset($datas[nickname]) && $k == 0} checked="checked"{/if} />
						$v[nickname]</label>
						{/loop}
　 					</td>
				</tr>
			<tr>
					<td align="right">淘宝商品网址：</td>
					<td><input type="text" name="itemurl" id="itemurl" class="text_long" value="$datas[itemurl]" /></td>
				</tr>
			<tr>
					<td align="right">来路方式：</td>
					<td class="f_b"><label for='wayId_0'>
						<input name='wayId' type='radio' value='0' id='wayId_0' checked='checked' onclick="showWay(0);" />
						淘宝宝贝搜索</label>
					&nbsp;&nbsp;
					<label for='wayId_1'>
						<input name='wayId' type='radio' value='1' id='wayId_1' onclick="showWay(1);" />
						淘宝店铺搜索</label>
					<label for='wayId_2'>
						<input name='wayId' type='radio' value='2' id='wayId_2' onclick="showWay(2);" />
						链接搜索</label>
					</td>
				</tr>
			<tr>
					<td align="right">&nbsp</td>
					<td class="t_fls"><fieldset id="v_0" style="padding:0px; margin:0px;">
						<legend class="f_red">宝贝搜索设置</legend>
						<table width="100%" border="0" cellpadding="4" cellspacing="0">
						<tr>
								<td align="right" class="f_b" width="120" valign="top">宝贝搜索关键字：</td>
								<td valign="top"><input name="visitKey_0" type="text" id="visitKey_0" value="$datas[visitKey_0]" maxlength="100" class="text_long" />
								<div style="padding-top:5px; line-height:16px;" class="f_blue">推荐使用您的宝贝名称，如果您的宝贝名称在淘宝中重名商品过多，我们建议您修改宝贝名称后在设置此种来路任务或者使用店铺搜索的来路方式</div></td>
							</tr>
						<tr>
								<td align="right" class="f_b" valign="top">搜索提示：</td>
								<td valign="top"><input name="visitTip_0" type="text" id="visitTip_0" value="$datas[visitTip_0]" maxlength="200" class="text_long" />
								<div style="padding-top:5px; line-height:16px;" class="f_blue">此处填写提示信息，说明任务商品在关键字搜索结果列表中的位置….比如：第一页第8个 <br />
										<span class="f_red">【注意：来路无效被客服终止将不返还兔粮】</span></div></td>
							</tr>
						<tr>
							<td align="right" class="f_b" valign="top">验证要求：</td>
							<td>
								<label><input type="radio" name="checkType_0" id="checkType_0_0" value="0"{if isset($datas[checkType_0]) && $datas[checkType_0] == 0 || !isset($datas[checkType_0])} checked="checked"{/if} />验证链接</label>
								<!--<label><input type="radio" name="checkType_0" id="checkType_0_1" value="1"{if isset($datas[checkType_0]) && $datas[checkType_0] == 1} checked="checked"{/if} />宝贝价格<input type="text" name="checkValue1_0" id="checkValue1_0" value="$datas[checkValue1_0]" size="10" maxlength="10" readonly="true" /><input type="button" value="获取价格" id="getPrice0" /></label>
								<label><input type="radio" name="checkType_0" id="checkType_0_2" value="2"{if isset($datas[checkType_0]) && $datas[checkType_0] == 2} checked="checked"{/if} />验证字符<input type="text" name="checkValue2_0" id="checkValue2_0" value="$datas[checkValue2_0]" size="10" maxlength="10" /></label>-->
							</td>
						</tr>
					</table>
						</fieldset>
					<fieldset id="v_1" style="display:none; padding:0px; margin:0px;">
						<legend class="f_red">店铺搜索设置</legend>
						<table width="100%" border="0" cellpadding="4" cellspacing="0">
						<tr>
								<td align="right" class="f_b" width="120" valign="top">搜索店铺关键字：</td>
								<td valign="top"><input name="visitKey_1" type="text" id="visitKey_1" value="$datas[visitKey_1]" maxlength="100" class="text_long" />
								<div style="padding-top:5px; line-height:16px;" class="f_blue">此处输入您“掌柜名称”或者“店铺名称”确保接手人可以使用淘宝店铺正确且唯一搜索到您的店铺</div></td>
							</tr>
						<tr>
								<td align="right" class="f_b" valign="top">搜索提示：</td>
								<td valign="top"><input name="visitTip_1" type="text" id="visitTip_1" value="$datas[visitTip_1]" maxlength="200" class="text_long" />
								<div style="padding-top:5px; line-height:16px;" class="f_blue">此处填写提示信息，说明店铺在关键字搜索结果列表中的位置，商品在店铺首页中大概位置等等信息….比如：店铺在结果列表第二个，商品在店铺首页第二排中间一个等等 <br />
										<span class="f_red">【注意：来路无效被客服终止将不返还兔粮】</span></div></td>
							</tr>
						<tr>
							<td align="right" class="f_b" valign="top">验证要求：</td>
							<td>
								<label><input type="radio" name="checkType_1" id="checkType_1_0" value="0"{if isset($datas[checkType_1]) && $datas[checkType_1] == 0 || !isset($datas[checkType_1])} checked="checked"{/if} />验证链接</label>
								<!--<label><input type="radio" name="checkType_1" id="checkType_1_1" value="1"{if isset($datas[checkType_1]) && $datas[checkType_1] == 1} checked="checked"{/if} />宝贝价格<input type="text" name="checkValue1_1" id="checkValue1_1" value="$datas[checkValue1_1]" size="10" maxlength="10" readonly="true" /><input type="button" value="获取价格" id="getPrice1" /></label>
								<label><input type="radio" name="checkType_1" id="checkType_1_2" value="2"{if isset($datas[checkType_1]) && $datas[checkType_1] == 2} checked="checked"{/if} />验证字符<input type="text" name="checkValue2_1" id="checkValue2_1" value="$datas[checkValue2_1]" size="10" maxlength="10" /></label>-->
							</td>
						</tr>
					</table>
						</fieldset>
					<fieldset id="v_2" style="display:none; padding:0px; margin:0px;">
						<legend class="f_red">链接搜索设置</legend>
						<table width="100%" border="0" cellpadding="4" cellspacing="0">
						
						<!--<tr>
								<td width="120" align="right" class="f_b" valign="top">搜索提示：</td>
								<td valign="top"><input name="visitTip_2" type="text" id="visitTip_2" value="$datas[visitTip_2]" maxlength="200" class="text_long" />
								<div style="padding-top:5px; line-height:16px;" class="f_blue">此处填写提示信息，说明店铺在关键字搜索结果列表中的位置，商品在店铺首页中大概位置等等信息….比如：店铺在结果列表第二个，商品在店铺首页第二排中间一个等等 <br />
										<span class="f_red">【注意：来路无效被客服终止将不返还兔粮】</span></div></td>
							</tr>
						<tr>-->
						<tr>
								<td width="120" align="right" class="f_b" valign="top">友情提示：</td>
								<td valign="top">直接验证链接不需要搜索提示</td>
							</tr>
						<tr>
							<td align="right" class="f_b" valign="top">验证要求：</td>
							<td>
								<label><input type="radio" name="checkType_2" id="checkType_2_1" value="1"{if isset($datas[checkType_2]) && $datas[checkType_2] == 1 || !isset($datas[checkType_2])} checked="checked"{/if} />宝贝价格<input type="text" name="checkValue1_2" id="checkValue1_2" value="$datas[checkValue1_2]" size="10" maxlength="10" readonly="true" /><input type="button" value="获取价格" id="getPrice2" /></label>
								<!--<label><input type="radio" name="checkType_2" id="checkType_2_2" value="2"{if isset($datas[checkType_2]) && $datas[checkType_2] == 2} checked="checked"{/if} />验证字符<input type="text" name="checkValue2_2" id="checkValue2_2" value="$datas[checkValue2_2]" size="10" maxlength="10" /></label>-->
							</td>
						</tr>
					</table>
						</fieldset>
					</td>
				</tr>
			<tr>
				<td align="right">访问次数：</td>
				<td><input name="total" type="text" class="text_short" id="total" value="{if isset($datas[total])}$datas[total]{else}{cfg reflow,count_default}{/if}" />
					每次来路需要<span class="f_b_red">{$__price_once}个</span>兔粮，{cfg reflow,count_min}次来路起发布，<a href="#" target="_blank" class="link_o">来路销量指南</a></td>
			</tr>
			<tr>
				<td align="right">流量VIP：</td>
				<td>
					<table>
						<tr>
							<td width="100"><span class="f_b_red">{if $isFlowVip}是{else}否{/if}</span></td>
							<td width="500"><span class="f_red">{cfg reflow,tip}</span></td>
							<td>{if !$isFlowVip}<a href="{r}/member/flowVip/" target="_blank" class="link_o">我要成为流量VIP</a>{/if}</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
			<div class="ex">
			<div class="ex_top"><strong>任务增值功能区</strong></div>
			<div class="ex_main">
					<table class="tbl" width="100%" border="0" cellspacing="0" cellpadding="8">
					<tr>
							<td width="110" align="right">每天IP限制：</td>
							<td class="f_b"><input name="isIP" type="checkbox" id="isIP" value="1"{if cfg::getInt('reflow', 'isIP') == 1} checked="checked" disabled="disabled"{elseif isset($datas[isIP]) && $datas[isIP] == 1} checked="checked"{/if} />
							{eval
								$__list = __parseLimitCount(cfg::get('reflow', 'ip_count1'));
							}
							{loop $__list $__v}
							<label for="times_$__v[count]">
								<input type="hidden" id="ipPoint$__v[count]" value="$__v[point]" />
								<input type="radio" name="numIP" id="times_$__v[count]" value="$__v[count]"{if isset($datas[numIP]) && $datas[numIP] == $__v[count] || !isset($datas[numIP]) && $__v[check]} checked="checked"{/if} />
								每IP$__v[count]次({if $__v[point] > 0}<span class="f_red">$__v[point]个</span>兔粮/次{else}免费{/if})</label>
　　						{/loop}</td>
						</tr>
					<tr>
							<td align="right">限制接手人：</td>
							<td class="f_b"><input name="isLimit" type="checkbox" id="isLimit" value="1"{if cfg::getInt('reflow', 'isLimit') == 1} checked="checked" disabled="disabled"{elseif isset($datas[isLimit]) && $datas[isLimit] == 1} checked="checked"{/if} />
							{eval
								$__list = __parseLimitCount(cfg::get('reflow', 'ip_count2'));
							}
							{loop $__list $__v}
							<label for="limits_$__v[count]">
								<input type="hidden" id="userPoint$__v[count]" value="$__v[point]" />
								<input type="radio" name="numUser" id="limits_$__v[count]" value="$__v[count]"{if isset($datas[numUser]) && $datas[numUser] == $__v[count] || !isset($datas[numUser]) && $__v[check]} checked="checked"{/if} />
								每天$__v[count]次({if $__v[point] > 0}<span class="f_red">$__v[point]个</span>兔粮/次{else}免费{/if})</label>
　　						{/loop}</td>
						</tr>
					<tr>
							<td align="right">计划发布时间：</td>
							<td><input name="isPlan" type="checkbox" id="isPlan" value="1"{if isset($datas[isPlan]) && $datas[isPlan] == 1} checked="checked"{/if} />
							<input type="text" name="planDate" id="planDate" class="text_normal" onclick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'});" value="$datas[planDate]" readonly="readonly" />
							平台额外收取<span class="f_red">{cfg reflow,price_planDate}个</span>兔粮</td>
						</tr>
					<tr>
							<td align="right">来路访问频率：</td>
							<td><input name="isRate" type="checkbox" id="isRate" value="1"{if cfg::getInt('reflow', 'isRate') == 1} checked="checked" disabled="disabled"{elseif isset($datas[isRate]) && $datas[isRate] == 1} checked="checked"{/if} />
							<input name="minute" type="text" id="minute" value="$datas[minute]" class="text_normal"  />
							每个来路的分钟间隔，{cfg reflow,minute_min}-{cfg reflow,minute_max}分钟任输入，0为无间隔；留空则系统分配随机间隔</td>
						</tr>
					<tr>
						<td align="right">竞价排名：</td>
						<td>
						<script language="javascript">
						var setBidPoint = function(){
							if ($('[name=__bidUp]').checked()) {
								var val = $('[name=__bidUp]').rVal();
								if (val == 'c') val = $('#bidUpCus').val();
								$('#bidUp').val(val);
							}
						};
						</script>
						<input type="hidden" name="bidUp" id="bidUp" value="" />
							{eval
								$__list = explode(';', cfg::get('reflow', 'bidUp'));
							}
							{loop $__list $__k $__v}
							<label><input type="radio" name="__bidUp" id="bidUp$__k" value="$__v"{if isset($datas[__bidUp]) && $datas[__bidUp] == $__v} checked="checked"{/if} onclick="setBidPoint()" />增加{$__v}个兔粮</label>
							{/loop}
							<label><input type="radio" name="__bidUp" id="bidUpC" value="c"{if isset($datas[__bidUp]) && $datas[__bidUp] == 'c'} checked="checked"{/if} onclick="setBidPoint()" />自定义兔粮<input type="text" name="bidUpCus" id="bidUpCus" value="{echo isset($datas[bidUpCus]) && $datas[bidUpCus] > 0 ? $datas[bidUpCus] : ''}" size="4" maxlength="4" onchange="setBidPoint()" onpropertychange="setBidPoint()" /></label>
						</td>
					</tr>
				</table>
				</div>
			<div class="ex_bottom"></div>
		</div>
			<div class="tpl_to">将该任务保存到任务模板中：
			<input name="isTpl" type="checkbox" id="isTpl" value="1"  />
			<input name="tplTo" type="text" class="task_text" id="tplTo"  maxlength="50" />
		</div>
			<div class="publish">
			<input type="image" name="btnSave" id="imageField" src="{u}images/task_submit.gif" />
		</div>
		</form>
	<div class="h_20"></div>
</div>
	<script type="text/javascript">
function checkForm() {
    if (getRV("nickname") == "") {
        alert("请选择淘宝掌柜");
        return false;
    }
	var urlPattern = /^(?:http:\/\/[\w-]+\.+(?:taobao|tmall)\.com\/item\.htm\?.*?id=(\d+))|(?:http:\/\/item\.(?:tmall|taobao)\.com\/mealDetail\.htm\?.*?id=(\d+))/i;
	if (!urlPattern.test(getValue("itemurl"))) {
	    return doAlert("您的淘宝商品地址格式不正确", $("#itemurl"));
	}
	if (getValue("itemurl").indexOf('meal') > 0) {
	    return doAlert("来路流量不支持套餐任务", $("#itemurl")); 
	}
	var checkTypeId, checkValueId;
	switch (getRV("wayId")) {
		case '0':
			var unlen = getValue("visitKey_" + getRV("wayId")).replace(/[^\x00-\xff]/g, "**").length;
			if (!isEmpty("visitKey_0", "宝贝搜索关键字")) return false;
			if (!isEmpty("visitTip_0", "搜索提示")) return false;
	    	if (unlen < 8) return doAlert("宝贝搜索关键字不能少于8个字符，1个汉字相当于2个字符", $("#visitKey_0"));
			checkTypeId = 'checkType_0_' + $('[name=checkType_0]').rVal();
			checkValueId = 'checkValue' + $('[name=checkType_0]').rVal() + '_0';
		break;
		case '1':
			if (!isEmpty("visitKey_1", "店铺搜索关键字")) return false;
			if (!isEmpty("visitTip_1", "搜索提示")) return false;
			checkTypeId = 'checkType_1_' + $('[name=checkType_1]').rVal();
			checkValueId = 'checkValue' + $('[name=checkType_1]').rVal() + '_1';
		break;
		case '2':
			//if (!isEmpty("visitTip_2", "搜索提示")) return false;
			checkTypeId = 'checkType_2_' + $('[name=checkType_2]').rVal();
			checkValueId = 'checkValue' + $('[name=checkType_2]').rVal() + '_2';
		break;
		default:
			alert('非法操作！');
			return false;
		break;
	}
	switch ($('#'+checkTypeId).val()) {
		case '0':
		break;
		case '1':
			var __val = $('#' + checkValueId).val().replace(/^\s+|\s+$/g, '');
			if (__val == '') return doAlert("宝贝价格不能为空", $("#" + checkValueId));
			//if (!/^\d+(\.\d+)?$/.test(__val)) return doAlert("宝贝价格格式不正确", $("#" + checkValueId));
			if (!isMoney(checkValueId, '宝贝价格')) return false;
		break;
		case '2':
			var __val = $('#' + checkValueId).val().replace(/^\s+|\s+$/g, '');
			if (__val == '') return doAlert("验证字符不能为空", $("#" + checkValueId));
			if (__val.length < 4) return doAlert("验证字符长度不能小于4", $("#" + checkValueId));
		break;
		default:
			alert('非法操作！');
			return false;
		break;
	}
	if (!isNumber("total", "来路次数") || !isRange("total", "来路次数", {cfg reflow,count_min}, {cfg reflow,count_max})) return false;
	if (!isNum("minute", "来路访问频率") || !isRange("minute", "来路访问频率", {cfg reflow,minute_min}, {cfg reflow,minute_max})) return false;
	if (getObj("isPlan").checked && !isEmpty("planDate", "计划发布时间")) return false;
	var bidUp = $('[name=__bidUp]').rVal();
	if (bidUp == 'c') {
		if (!isMoney('bidUpCus', '竞价排名兔粮')) return false;
		bidUp = parseFloat($('#bidUpCus').val());
		if (bidUp > 0 && (bidUp < {cfg reflow,bidUp_min} || bidUp > {cfg reflow,bidUp_max})) {
			alert('竞价兔粮范围{cfg reflow,bidUp_min}~{cfg reflow,bidUp_max}');
			$('#bidUpCus').focus();
			return false;
		}
	}
	if (bidUp == '') bidUp = 0;
	else bidUp = parseFloat(bidUp);
	var n = getValue("total");
	var p = n * $__price_once;
	{if cfg::getInt('reflow', 'isIP') == 1}
	p += n * parseFloat($('#ipPoint' + getRV("numIP")).val());
	{else}
	if ($('isIP').attr('checked')) p += n * parseFloat($('#ipPoint' + getRV("numIP")).val());
	{/if}
	{if cfg::getInt('reflow', 'isLimit') == 1}
	p += n * parseFloat($('#userPoint' + getRV("numUser")).val());
	{else}
	if ($('isLimit').attr('checked')) p += n * parseFloat($('#userPoint' + getRV("numUser")).val());
	{/if}
	p += bidUp * n;
	if (getObj("isPlan").checked) p += {cfg reflow,price_planDate};
	var result = confirm("发布来路次数：" + getValue("total") + "\n" + "共需要兔粮：" + p + "个\n\n注意：来路无效被客服终止将不返还兔粮");
	if (result)
        return avoidReSubmit();
    return result;
}
var v = 0;
function showWay(i) {
	getObj("v_" + v).style.display = "none";
	getObj("v_" + i).style.display = "";
	v = i;
}
function getTpl(obj) {
    if (obj.value == '0')
        return ;
    var url = '$thisUrl&tplId=' + obj.value;
    window.location.href = url;
}
function isTruth() {}
var getPrice = function(p, pid){
	url = $('#itemurl').val();
	//var p = $(this);
	if (url) {
		if (/^(?:http:\/\/[\w-]+\.+(?:taobao|tmall)\.com\/item\.htm\?.*?id=(\d+))|(?:http:\/\/item\.(?:tmall|taobao)\.com\/mealDetail\.htm\?.*?id=(\d+))/i.test(url)) {
			var id = RegExp.$1 ? RegExp.$1 : RegExp.$2;
			if (id) {
				p.attr({disabled : true});
				$.ajax({
					type     : 'get',
					url      : '{r}/ajax/get.php?action=data&operation=taobao&method=price&sid=' + id,
					dataType : 'json',
					success : function(json) {
						p.attr({disabled : false});
						if (json.status) {
							$('#' + pid).val(json.price);
						} else {
							if (json.msg) alert(json.msg);
						}
					},
					error   : function() {
						alert('获取失败！');
						p.attr({disabled : false});
						
					}
				});
			} else {
				alert('获取商品ID失败');
				p.attr({disabled : false});
				$('#itemurl').focus();
			}
		} else {
			alert('商品链接格式不正确！');
			p.attr({disabled : false});
			$('#itemurl').focus();
		}
	} else {
		alert('请输入商品链接');
		$('#itemurl').focus();
	}
}
$('#getPrice0').click(function(){
	getPrice($(this), 'checkValue1_0');
});
$('#getPrice1').click(function(){
	getPrice($(this), 'checkValue1_1');
});
$('#getPrice2').click(function(){
	getPrice($(this), 'checkValue1_2');
});
{if isset($datas[wayId])}
$('#wayId_$datas[wayId]').attr({checked:true});
showWay($datas[wayId]);
{/if}
</script>
{sub ../footer} 