{teval
	
	$cssList     = array(css::getUrl('task', 'task'));
	echo string::getStaticCode(array('cssList'=>$cssList));
}
{sub ../header}
{teval
echo javascript::get_js('WdatePicker', 'index');
echo javascript::get_js('task', 'index');
}
<style type="text/css">
.menu_you a:link {color:#0051C1;}
.menu_you a:visited {color:#0051C1;}
.menu_you a:hover {color:#0051C1;}
</style>
<div class="main">
   {if $_showmessage}<div class='msg_panel'><div>$_showmessage</div></div>{/if}
	{if $indexMessage}<div class='error_panel'><div>$indexMessage</div></div>{/if}
  <div class="info">  
    <div class="info_l">

      <div>
        {sub reflow_info}

      </div>
    </div>
    <div class="info_r"> </div>
  </div>
  <div class="h_10"></div>
  {sub reflow_tab}
  <div class="lst_info">
    <table class="lst_query" width="100%" border="0" cellspacing="0" cellpadding="0">

      <tr>
        <td align="right">当前已完成但未结算任务：<strong>{$complateCount}</strong>个，<strong>$payfor_count</strong>个以上才可以结算</td>
        <td width="50" style="padding:4px; text-align:center;"><a href="$thisUrl&t=pay"{if $complateCount < $payfor_count} disabled='disabled' onclick='return false;'{/if} class="link_b_2">结算</a></td>
        <td width="80"><img src="{u}images/task_reflesh.gif" alt="点击刷新任务" class="cursor" onclick="window.location.reload();" /></td>
      </tr>
    </table>
  </div>

  <table class="tbl" width="100%" border="0" cellspacing="0" cellpadding="4">
    <thead>
	    <tr>
		    <td width="130" class="p_l_20"><strong>任务编号</strong></td>
		    <td><strong>接手时间</strong></td>
		    <td><strong>完成时间</strong></td>
		    <td><strong>状态</strong></td>

		    <td><strong>操作</strong></td>
	    </tr>
	</thead>
    {loop $list $v}
  	<tbody>
        <tr>
          <td class="p_l_20">$v[tid]</td>
          <td>{date $v[time]}</td>   
          <td>{date2 $v[ctime]}&nbsp;</td>   
		  <td><span class="f_orange">
		  	{if $v[status] == 0}进行中
			{elseif $v[status] == 1}已退出
			{elseif $v[status] == 2}已完成
			{/if}
			</span></td>

          <td>
		  	{if $v[status] == 0}
		  	<a href="javascript:;" onclick="dialog(650,450,'查看来路任务详情','{r}/dialog/reflow/?sid=$v[tid]&lid=$v[id]');return false;" class="link_t">查看要求</a>　
			<a href="$thisUrl&quit=$v[id]" onclick="return isQuitTsk();" class="link_t">退出任务</a>
			{/if}
		</td>
        </tr>
	</tbody>
	{/loop}
   </table>
  <div class="h_10"></div>
  <div class="pages">$multipage</div>
  <div class="h_20"></div>
</div>
<script type="text/javascript">
function isQuitTsk() {
    return confirm("您确定要退出该任务么？");
}

</script>
{sub ../footer}