《{$web_name}网商家保障基础协议》         

本协议由您与{$web_name}网共同缔结，本协议具有合同效力。

        本协议中协议双方合称协议方，{$web_name}网在本协议中亦称为“{$web_name}”。        

        一、协议内容及生效

        1、本协议内容包括协议正文及所有{$web_name}已经发布或将来可能发布的与“商家保障服务”相关的规则。前述规则为本协议不可分割

的组成部分，与协议正文具有同等法律效力。

        2、您应当在实际向其他{$web_name}网会员（以下简称“买家”）提供商家保障服务之前认真阅读全部协议内容，对于协议中以加粗字体

显示的内容，您应重点阅读。如您对本协议有任何疑问，应向{$web_name}咨询。但无论您事实上是否在向任务发布方提供商家保障服务之前认真阅

读了本协议内容，只要您在线点击签署了本协议，则本协议即对您产生约束，届时您不应以未阅读本协议的内容或者未获得{$web_name}对您问询的

解答等理由，主张本协议无效，或要求撤销本协议。

        3、您承诺接受并遵守本协议的约定。如果您不同意本协议的约定，您应立即结束接手任务流程或停止一切接手{$web_name}任务活动。

        4、{$web_name}有权根据需要不时地制订、修改本协议及/或与“商家保障服务”相关的规则，并以网站公示的方式进行公告，不再单独通

知您。变更后的协议和规则一经在{$web_name}网站公布后，立即自动生效。如您不同意相关变更，应当立即停止接手{$web_name}任务活动。您继续进行任

何接手{$web_name}任务活动，包括但不限于维持所接手的任务信息，或继续接手新的任务，使用商家保障服务标识，即表示您接受经修订的协议。

        

        二、定义

        1、商家保障服务：指您根据本协议约定的条款和条件及{$web_name}网其他公示规则的规定，通过{$web_name}网（www.hiwinwin.com）接手除“

流量任务”“收藏任务”以外的互动区中商保信誉任务（以下简称“商保任务”），应履行任务规定要求（留言提醒除外），在任务指定好

评时限完成任务要求的来路进店方式，交易好评、动态评分、好评内容、分享、旺旺聊天 等任务内容；保障发布方在任务结束但未获得任

务要求好评、接手方恶意维权、因接手人使用信用卡付款导致发布人被淘宝扣除手续费、任务交易导致发布方额外被扣除淘宝客佣金、因接

手人问题交易遇到淘宝自查等情形下的权益。

        2、保证金：指您根据本协议约定的条款和条件及{$web_name}网其他公示规则的规定缴存并冻结于您的{$web_name}账户内相应存款，在您未履行

商家保障服务承诺时用于对商保任务发布方进行赔付的资金。根据申请的商保级别不同对应的保证金分为铜牌保证金、银牌保证金和金牌保

证金。三种保证金的缴存和管理由您和{$web_name}在具体的相应商保级别服务协议中另行约定。

        3、先行赔付：指您与发布方通过{$web_name}产生商保任务关系后，如因您未履行商家保障服务承诺而导致商保任务发布方权益或经济受

损，且在发布方直接要求与您协商处理未果的情况下，{$web_name}有权以{$web_name}客服业务标准，根据相关证据材料和规则判定您是否应履行赔付义务

。如是，则{$web_name}有权自您的{$web_name}账户直接扣除相应金额保证金款项赔付给发布方。

              

        三、商家保障服务内容

        在您向商保任务发布人提供商家保障任务服务过程中，您承诺遵守以下约定：

        1、您同意遵守本协议、《{$web_name}网服务条款》、以及所有公示于{$web_name}网与“商家保障服务”相关的规则。

        2、您拥有的权利和资格在{$web_name}网相关互动区接手商保任务。如因您的行为导致{$web_name}遭受任何第三方提起的索赔、诉讼或行政责任

，您应承担相应责任并使{$web_name}免责。

        3、您应在通过{$web_name}网（www.hiwinwin.com）接手商保任务过程中，应履行任务描述要求（留言提醒除外），在任务指定好评时限

完成任务要求的来路进店方式，交易好评、动态评分、好评内容、分享、旺旺聊天 等任务内容；保障发布方在任务结束但未获得任务要求

好评，接手方恶意维权、接手方使用淘宝客导致商家被扣佣金、接手人使用信用卡支付导致商家被扣手续费、或因接手人问题交易遇到淘宝

自查等情形下的权益。

        4、您明确了解并同意您是商家保障服务的责任主体，{$web_name}仅向您提供相关技术支持及任务交互服务，不对您向商保任务发布方提

供的商家保障服务内容承担任何保证责任。当发生上述的发布人权益受损情况下，您应保保证发布方的权益。积极配合处理上述问题。

        5、您同意当{$web_name}受理发布方提出的商家保障服务维权和赔付申请时，您应积极配合，在{$web_name}要求的时间期限内提供相关证据材料

，以证明任务交易过程与结果不存在发布方提出的问题或符合双方的任务约定（任务留言要求除外），并保证所提交的证据材料真实有效。

如{$web_name}以{$web_name}网客服标准，对您和/或发布方提供的证据材料进行审核后，以其独立判断您未全面履行商家保障服务内容的，则{$web_name}有权根

据本协议及其它公示规则的规定，对因此遭受权益损失的发布方进行先行赔付。

        6、您同意当{$web_name}使用冻结保证金向发布方进行先行赔付时即视为您违规，{$web_name}有权给予您相应处罚，包括但不限于将清退出商保

用户，以及限制使用{$web_name}账户。

               

        四、保证金

        您应根据以下条款之约定缴存，并不可撤销地授权{$web_name}有权根据以下条款及{$web_name}网其他公示规则的规定冻结、使用、处置保证金。

本条款之约定不适用于非{$web_name}商保会员。

        1、保证金的缴存

        1.1 除平台发生过严重违规的用户外，您可在“{$web_name}联盟”等相关页面自由选择主动缴纳或不缴纳商保保证金。

        1.2 如您未根据上述1.1款之约定选择主动缴纳保证金，则出现以下任一情形时，您必须缴纳相应金额的保证金：

        1.2.1 您违反《{$web_name}会员制度》中3、4、5、11、12点规定，包括但不限于因发生违规行为之“辱骂会员或客服”，“欺骗恐吓会

员，恶意退款维权”，“接手任务曾发生淘宝客佣金”，“使用信用卡支付任务交易”，“旺旺恶意提及敏感词汇”，“中评，乱写评语，

恶意评语，广告评语”任意一项，则{$web_name}有权强制要求您三日内足额缴纳相应金额的保证金。否则{$web_name}有权冻结账号，结算账户存款后终止

您的一切服务；

        

       1.2.2因发生一般任务违规行为导致接手任务好评率低于85%则{$web_name}有权强制要求您三日内足额缴纳相应金额的保证金。否则{$web_name}有

权冻结账号，结算账户存款后终止您的一切服务；

        本条款约定之保证金额度下限为300元人民币，上限1000元。

        

        1.3 尽管有上述约定，本协议有效期内，{$web_name}有权根据您业务变化及实际赔付情况以书面方式通知您调整保证金金额。您应使保证

金余额始终保持不低于本条款约定之金额，如发生赔付事件导致您需补缴保证金的，则{$web_name}有权继续冻结您{$web_name}帐户中的余额以补足保证金

，如您的{$web_name}账户余款不足，则您应在赔付事件发生之日起三日内补足。保证金不足期间，{$web_name}有权暂停或终止向您提供全部或部分{$web_name}网

服务。

        1.4 不论前述何种情形，只要您事实上缴纳了保证金，保证金余额为足额时，您{$web_name}账号的相关页面将出现“已交商户保证金”或

类似文案之标识。

        2、保证金的冻结

        您不可撤销地授权{$web_name}，将您根据本协议之约定缴存的保证金款项冻结于您的{$web_name}账户中。

        3、保证金的解冻

        3.1 您需同时符合如下条件，方可申请解冻您根据本条1.1款之约定主动缴纳的保证金：

 

3.1.1 自您主动缴纳保证金之日起已满三个月；                                  

3.1.2 距离最后一个接手的“商保任务”完成时间超过20天；

3.1.3 进行中已接手任务包括但不限于任务产生的纠纷均已处理完毕。

     

        3.2 如您发生任务违规赔付后未予三日内补足相应金额的保证金，且当时您没有未完结的退款，交易包括但不限于任务产生的纠纷

均已处理完毕，{$web_name}将直接解冻您剩余的保证金余额，并有权直接终止向您提供全部或部分{$web_name}网服务。

        3.3 如您已成功申请解冻保证金，解冻后您的保证金余额不足，您发生任务违规赔付后未予三日内补足相应金额的保证金，则您账

号相关页面的“已交保证金”或类似文案之标识将被取消。

        4、保证金的管理与使用

        4.1 您同意，{$web_name}有权在包括但不限于以下情况发生时，处置您的保证金：

        4.1.1 如您在{$web_name}网接手商保任务、履行任务相关义务过程中，违反{$web_name}网任何规则或违反您对发布方的任务承诺，或被发布方申

请索赔时，{$web_name}有权根据其独立的判断，无须承担责任地，直接使用保证金对发布方进行先行赔付。

        4.1.2 如您违反本协议和/或{$web_name}网任何规则，给{$web_name}造成任何损失（包括但不限于诉讼赔偿、诉讼费用、律师费用等）的，{$web_name}

有权根据其独立的判断，无须承担责任地，直接从保证金中扣除相当于{$web_name}网的损失的金额，以补偿{$web_name}网所遭受的损失。如您的保证金余

额不足以赔偿的，{$web_name}有权继续向您追偿。在损失金额不明确之前，{$web_name}有权继续无限期冻结您的账户保证金，直至损失金额明确后予以结

算。

        上述4.1.1项规定的赔付程序将按{$web_name}网不时公布的规则进行。

 

        4.2 {$web_name}如使用保证金进行任何赔付，将以书面方式（包括但不限于电子邮件、传真等）通知您。在向您出具的书面通知中，将说

明赔付原因及赔付金额。

        4.3 如您的保证金余额不足以赔付时，您应自行支付额外的赔付金额。在您保证金余额不足时，{$web_name}没有使用自有资金向商保任务

发布方或者任何第三方支付赔偿金、补偿金或其它任何款项的义务，您仍应对发布方或者其他权利人承担赔付、补偿义务。您明确同意如您

的保证金余额不足以赔付，且您未自行向买家支付额外的赔付金额时，您不可撤销地委托{$web_name}使用自有资金代您向买家进行赔付。不论是在

本协议项下，{$web_name}基于您的委托而代为赔付的合计总金额以1000元人民币为上限。此等情形下，{$web_name}有权向您追偿赔付金，包括但不限于采

用以下两种方式：

        4.3.1 要求您在{$web_name}赔付后三日内向{$web_name}偿还与赔付金数额相同的资金，以补偿{$web_name}所遭受的损失，并向买家赔付您实际需赔付金

额中的剩余部分（如有），且在指定时间内补足保证金；

        4.3.2 如{$web_name}的损失通过上述方式仍无法弥补，则{$web_name}有权单方面终止向您提供{$web_name}网服务，而且继续要求您承担赔偿责任。

        4.4 您对发布方、任何第三方以及{$web_name}的赔付责任不以您已缴纳的保证金数额或1000元人民币（取二者较高者）为限。{$web_name}不对发

布方或者任何第三方承担任何赔付、赔偿义务，但有权根据本协议的规定将您的保证金用于保障对发布方家或其他权利人的利益。

        

        五、有限责任

        1、您了解并同意，{$web_name}及其关联公司并非司法机构，仅能以普通或非专业人员的知识水平标准对您提交的证据材料进行鉴别，双

赢及其关联公司对交易纠纷的调处完全是基于您的委托，{$web_name}及其关联公司无法保证交易纠纷处理结果符合您的期望，也不对交易纠纷调处

结果及保证金赔付决定承担任何责任。您应保证您提交的证据材料的真实性、合法性，并承担您或买家提供的信息、数据不实的风险和责任

。如您因此遭受损失，您同意自行向受益人索赔。

        2、您了解并同意，{$web_name}网对与本协议相关的以及由于本协议的签订、履行导致的所有的、全部的责任，不管是否与违约、侵权相

关，也不管由于故意还是过失，也不管您是否向{$web_name}支付过任何费用，在任何情况下，都不应超过1000元人民币，这并不影响{$web_name}根据本协

议、{$web_name}与您签署的其它协议、{$web_name}规则享有的免责、责任限制的权利。

        

        六、协议终止

        1、出现以下情况时，本协议终止。本协议终止后，您将无法继续进行任何任务互动活动：

        1.1 自然终止：如您在线签署的《{$web_name}网服务条款》因任何原因终止，则本协议将同时终止。

        1.2 通知解除：{$web_name}有权提前十五（15）天以书面通知的方式终止本协议。

        1.3 {$web_name}单方解除权：如您违反本协议中的任何承诺与保证或{$web_name}网的任何规则，{$web_name}有权立即终止本协议，且按有关规则对您进

行处罚。

        1.4 本协议（含规则）变更时，您明示并通知{$web_name}不愿接受新的商家保障服务协议，则本协议自{$web_name}收到您通知之日起自动终止。

        1.5 本协议规定的其他协议终止条件发生或实现，导致本协议终止。

        2、无论本协议因何原因终止，在协议终止前的行为所导致的任何赔偿和责任，您必须完全且独立地承担责任。即使本协议终止，

{$web_name}及其关联公司仍有权根据本协议的规定处理，包括但不限于使用您的保证金来处理因本协议有效期内发生的交易所导致的买家索赔。

        3、本协议第五条及第七条的效力不因本协议的终止而终止。

         

        七、争议解决

        本协议之解释与适用，以及与本协议有关的争议，均应依照中华人民共和国法律予以处理，并以{$web_name}所在地人民法院为第一审管辖

法院。

        

        八、其他

        1、如本协议的任何条款被视作无效或无法执行，则上述条款可被分离，其余部份则仍具有法律效力。

        2、{$web_name}于您过失或违约时放弃本协议约定的权利的，不得视为{$web_name}对您的其他或以后同类之过失或违约行为弃权。

        3、{$web_name}基于本协议享有的权利以及获得的授权，均可以全部或部分转移、转让、许可、分授权、转授权给任何第三方。未经{$web_name}

事先书面同意，您不得将本协议项下的权利义务转让给任何第三方。