<div id="box_3">
			<form method="post" name="mypayment" onsubmit="return checkform();">
			<input type="hidden" name="hash2" value="NTIyMW1saW55RmwvbUN1WWhRQmNTZ1JsRU5HOG4zKzh3VVgwR1hNOU1ZK1IrelBaWkVVdkEzQzRKUXpsOTlKTlgzZmErQkxoa2JQN3B0bkptQQ==" /><input type="hidden" name="from_clientId" value="b081165a0fc9479ad742bb88c381db8a" />
			<input type="hidden" name="type" value="taobao" />
	        <table width="95%" border="0" align="center" cellpadding="0" cellspacing="0" style="margin-top:20px;font-size:14px;">
              
              <tr>
                <td height="30" colspan="2" align="left" valign="middle"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td height="35" align="center" valign="middle" class="x_xian">提现方式 </td>
                    <td height="35" align="center" valign="middle" class="x_xian">掌柜名</td>
                    <td height="35" align="center" valign="middle" class="x_xian">最低提现额度</td>
                    <td height="35" align="center" valign="middle" class="x_xian">到账日期</td>
					<td height="35" align="center" valign="middle" class="x_xian">操作</td>
                  </tr>
                  
                </table></td>
              </tr>
              <tr>
                <td width="20%" height="40" align="right" valign="middle"><a href="javascript:;" class="lanse" id="fill-addtaobao">添加提现地址</a></td>
                <td style="padding-left:45px;"><a href="/bbs/t1683/" class="comlink" target="_blank">什么是淘宝商品提现?</a></td>
              </tr>
              <tr>
                <td width="20%" height="40" align="right" valign="middle">提现金额：</td>
                <td><input name="money" type="text" class="txbk" id="paymoney"/>
                  /元</td>
              </tr>
              <tr>
                <td width="20%" height="30" align="right" valign="middle">&nbsp;</td>
                <td>可用余额:<strong class="hongse">0</strong>元</td>
              </tr>
              <tr>
                <td height="30" colspan="2" align="left" valign="middle" style="padding-top:30px;"><p style="width:300px; text-align:right;"><input type="checkbox" name="payment_app_sms" value="1" /> 到帐后短信通知（免费）</p></td>
              </tr>
              <tr>
                <td height="30" colspan="2" align="left" valign="middle" style="position:relative;"><p style="width:175px; position:relative; left:123px;"><input type="submit" class="tjsq_btn"></p></td>
              </tr>
            </table>
			</form>
			</div>