{teval
	$title       = '申诉中心 - {webName}';
	$keywords    = '';
	$description = '';
	$title       = common::replaceVars($title);
	$keywords    = common::replaceVars($keywords);
	$description = common::replaceVars($description);
	$cssList     = array(css::getUrl('member', 'member'));
	echo string::getStaticCode(array('title' => $title, 'keywords' => $keywords, 'description' => $description,'cssList'=>$cssList));
}
{ad2 ad_memberHeadTop}
{sub ../header}
<div class="main">
  <div class="h_10"></div>
  <div class="a">
    {sub menu}
  </div>
  <div class="b">
    {if $indexMessage}<div class='error_panel'><div>$indexMessage</div></div>{/if}
	{if $_showmessage}<div class='msg_panel'><div>$_showmessage</div></div>{/if}
    <div class="bar">任务操作日志</div>
<script language="javascript">
$(function(){
	$('#btnQuery').click(function(){
		location.href='$thisUrl?t=$t&sid='+$('#id').val();
	});
});
</script>
      <table width="100%" border="0" cellspacing="0" cellpadding="4">
        <tr>
          <td><strong>任务ID：</strong><input name="id" type="text" class="text_normal" id="id" value="$sid" />            
            <input type="submit" class="btn_1" id="btnQuery" value="查询" /></td>
        </tr>
      </table>
    <div class="tab">
      <ul>
        <li{if $t=='all'} class="tab_on"{/if}>
          <p><a href="$thisUrl?t=all"><strong>所有任务</strong></a> </p>
        </li>
        <li{if $t=='seller'} class="tab_on"{/if}>
          <p><a href="$thisUrl?t=seller"><strong>我发布的任务</strong></a></p>
        </li>
        <li{if $t=='buyer'} class="tab_on"{/if}>
          <p><a href="$thisUrl?t=buyer"><strong>我接手的任务</strong></a></p>
        </li>
      </ul>
    </div>
    <table class="tbl_lst" width="100%" border="0" cellspacing="0" cellpadding="0">
      <thead>
        <tr>
          <td class="tbl_s">任务Id</td>
          <td>操作类型</td>
          <td>详细内容</td>
          <td width="120">时间</td>
        </tr>
      </thead>
      <tbody>
        {loop $lList $v}
        <tr>
          <td>$v[tid]</td>
          <td style="white-space:nowrap;">$v[title]</td>
          <td>$v[message]</td>
          <td>{date $v[timestamp]}</td>
        </tr>
        {/loop}
      </tbody>
    </table>
    <div class="h_10"></div>
    <div class="pageinfo">
        <div class="pages">$multipage</div>
    </div>
  </div>
</div>
<script type="text/javascript">

</script>
{sub ../footer}