{teval
	$title       = '充值记录 - {webName}';
	$keywords    = '';
	$description = '';
	$title       = common::replaceVars($title);
	$keywords    = common::replaceVars($keywords);
	$description = common::replaceVars($description);
	$cssList     = array(css::getUrl('member', 'member'));
	echo string::getStaticCode(array('title' => $title, 'keywords' => $keywords, 'description' => $description,'cssList'=>$cssList));
}
{ad2 ad_memberHeadTop}
{sub ../header}
<script language="javascript">
$(function(){
	$('#btnQuery').click(function(){
		var oid=$('#oid').val();
		var type=$('#type').val();
		var url = type?'type='+type:'';
		if (oid) {
			if (url) url+='&';
			url+='oid='+oid;
		}
		if (url) url = '?'+url
		location.href='$baseUrl'+url;
	});
})
</script>
	<div class="main">
	<div class="h_10"></div>
	<div class="a">{sub menu}</div>
	<div class="b">
			{if $_showmessage}<div class='msg_panel'><div>$_showmessage</div></div>{/if}
			<div class="bar_edit">充值记录</div>
			<table width="100%" border="0" cellspacing="0" cellpadding="4">
					<tr>
					<td>　<strong>充值ID：</strong>
							<input name="oid" type="text" class="text_normal" id="oid" value="$oid" />
							<strong>充值方式：</strong>
							<select name="type" id="type">
								<option value="">全部</option>
								<option value='card'{if $type=='card'} selected{/if}>淘宝卡密充值</option>
								<option value='chinabank'{if $type=='chinabank'} selected{/if}>网银充值</option>
								<option value='alipay'{if $type=='alipay'} selected{/if}>支付宝转账</option>
							<option value='tenpay'{if $type=='tenpay'} selected{/if}>财付通转账</option>
						</select>
						<input type="button" class="btn_1" id="btnQuery" value="查询" />
					</td>
				</tr>
				</table>
			<table width="100%" border="0" cellpadding="0" cellspacing="0" class="tbl_lst">
			<thead>
					<tr>
					<td class="tbl_s">充值单号</td>
					<td>充值方式</td>
					<td>充值金额</td>
					<td>帐户余额</td>
					<td>奖励积分</td>
					<td>充值时间</td>
					<td>充值状态</td>
				</tr>
				</thead>
			<tbody>
				{loop $tList $v}
					<tr>
					<td class="tbl_s">$v[id]</td>
					<td>{if $v[type]=='chinabank'}网银在线{elseif $v[type]=='card'}充值卡{elseif $v[type]=='alipay'}支付宝转账{elseif $v[type]=='tenpay'}财付通转账{/if}</td>
					<td>$v[money1]</td>
					<td>$v[money]</td>
					<td>$v[credit]</td>
					<td>{date $v[ptimestamp]}</td>
					<td>{if $v[status]}充值成功{else}
					{if $v[type]=='chinabank'}
					未支付
					{else}
					未处理
					{/if}
					{/if}</td>
				</tr>
				{/loop}
				</tbody>
		</table>
			<div class="pageinfo">
			<div class="pages">$multipage</div>
		</div>
		</div>
</div>
	{sub ../footer}