{teval
	$title       = '尊享VIP申请 - {webName}';
	$keywords    = '';
	$description = '';
	$title       = common::replaceVars($title);
	$keywords    = common::replaceVars($keywords);
	$description = common::replaceVars($description);
	$cssList     = array(css::getUrl('member', 'member'));
	echo string::getStaticCode(array('title' => $title, 'keywords' => $keywords, 'description' => $description,'cssList'=>$cssList));
}
{sub ../header}
<DIV id="content">
<DIV class="sq_vipbg"><A class="sqvip_btn" href="{rewrite}/member/vip/" 
target="_blank"></A></DIV>
<TABLE class="sqvip_bk" border="0" cellSpacing="0" cellPadding="0" width="983" 
align="center">
  <TBODY>
  <TR>
    <TD bgColor="#eef9ff" height="31" width="162" 
      align="center"><STRONG>任务排名靠前</STRONG></TD>
    <TD bgColor="#eef9ff" width="126" align="center">无</TD>
    <TD bgColor="#eef9ff" width="108" align="center">无</TD>
    <TD bgColor="#eef9ff" width="101" align="center">无</TD>
    <TD bgColor="#eef9ff" width="119" align="center">无</TD>
    <TD bgColor="#eef9ff" width="109" align="center">无</TD>
    <TD class="hongse" bgColor="#eef9ff" width="87" align="center">是</TD>
    <TD class="hongse" bgColor="#eef9ff" width="79" align="center">是</TD>
    <TD class="hongse" bgColor="#eef9ff" align="center">是</TD></TR>
  <TR>
    <TD height="31" align="center"><STRONG>提现优先处理</STRONG></TD>
    <TD align="center">无</TD>
    <TD align="center">无</TD>
    <TD align="center">无</TD>
    <TD align="center">无</TD>
    <TD align="center">无</TD>
    <TD class="hongse" align="center">是</TD>
    <TD class="hongse" align="center">是</TD>
    <TD class="hongse" align="center">是</TD></TR>
  <TR bgColor="#eef9ff">
    <TD height="31" align="center"><SPAN 
      class="chengse2"><STRONG>绑定掌柜号数量</STRONG></SPAN></TD>
    <TD align="center">1个</TD>
    <TD align="center">2个</TD>
    <TD align="center">3个</TD>
    <TD align="center">4个</TD>
    <TD align="center">6个</TD>
    <TD class="hongse" align="center">10</TD>
    <TD class="hongse" align="center">20</TD>
    <TD class="hongse" align="center">30</TD></TR>
  <TR>
    <TD class="chengse2" height="31" align="center"><STRONG>运单号生成</STRONG></TD>
    <TD align="center">有限制</TD>
    <TD align="center">有限制</TD>
    <TD align="center">有限制</TD>
    <TD align="center">有限制</TD>
    <TD align="center">有限制</TD>
    <TD class="hongse" align="center">无限制</TD>
    <TD class="hongse" align="center">无限制</TD>
    <TD class="hongse" align="center">无限制</TD></TR>
  <TR bgColor="#eef9ff">
    <TD class="chengse2" height="31" 
align="center"><STRONG>可保存模板数量</STRONG></TD>
    <TD align="center">3</TD>
    <TD align="center">3</TD>
    <TD align="center">4</TD>
    <TD align="center">5</TD>
    <TD align="center">6</TD>
    <TD class="hongse" align="center">9</TD>
    <TD class="hongse" align="center">15</TD>
    <TD class="hongse" align="center">30</TD></TR>
  <TR>
    <TD height="31" align="center"><STRONG>申述优先解决</STRONG></TD>
    <TD align="center">无</TD>
    <TD align="center">无</TD>
    <TD align="center">无</TD>
    <TD align="center">无</TD>
    <TD align="center">无</TD>
    <TD class="hongse" align="center">是</TD>
    <TD class="hongse" align="center">是</TD>
    <TD class="hongse" align="center">是</TD></TR>
  <TR>
    <TD bgColor="#eef9ff" height="31" 
    align="center"><STRONG>更酷VIP标志</STRONG></TD>
    <TD bgColor="#eef9ff" align="center">无</TD>
    <TD bgColor="#eef9ff" align="center">无</TD>
    <TD bgColor="#eef9ff" align="center">无</TD>
    <TD bgColor="#eef9ff" align="center">无</TD>
    <TD bgColor="#eef9ff" align="center">无</TD>
    <TD class="hongse" bgColor="#eef9ff" align="center">是</TD>
    <TD class="hongse" bgColor="#eef9ff" align="center">是</TD>
    <TD class="hongse" bgColor="#eef9ff" align="center">是</TD></TR>
  <TR>
    <TD height="31" align="center"><STRONG>醒目红名</STRONG></TD>
    <TD align="center">无</TD>
    <TD align="center">无</TD>
    <TD align="center">无</TD>
    <TD align="center">无</TD>
    <TD align="center">无</TD>
    <TD class="hongse" align="center">是</TD>
    <TD class="hongse" align="center">是</TD>
    <TD class="hongse" align="center">是</TD></TR>
  <TR>
    <TD bgColor="#eef9ff" height="31" 
align="center"><STRONG>客服优先服务</STRONG></TD>
    <TD bgColor="#eef9ff" align="center">无</TD>
    <TD bgColor="#eef9ff" align="center">无</TD>
    <TD bgColor="#eef9ff" align="center">无</TD>
    <TD bgColor="#eef9ff" align="center">无</TD>
    <TD bgColor="#eef9ff" align="center">无</TD>
    <TD class="hongse" bgColor="#eef9ff" align="center">是</TD>
    <TD class="hongse" bgColor="#eef9ff" align="center">是</TD>
    <TD class="hongse" bgColor="#eef9ff" align="center">是</TD></TR>
  <TR>
    <TD height="31" align="center"><STRONG>任务复制</STRONG></TD>
    <TD align="center">无</TD>
    <TD align="center">无</TD>
    <TD align="center">无</TD>
    <TD class="hongse" align="center">是</TD>
    <TD class="hongse" align="center">是</TD>
    <TD class="hongse" align="center">是</TD>
    <TD class="hongse" align="center">是</TD>
    <TD class="hongse" align="center">是</TD></TR>
  <TR>
    <TD bgColor="#eef9ff" height="31" align="center"><STRONG>快速积分</STRONG></TD>
    <TD bgColor="#eef9ff" align="center">无</TD>
    <TD bgColor="#eef9ff" align="center">无</TD>
    <TD bgColor="#eef9ff" align="center">无</TD>
    <TD bgColor="#eef9ff" align="center">无</TD>
    <TD bgColor="#eef9ff" align="center">无</TD>
    <TD class="hongse" bgColor="#eef9ff" align="center">1.2倍</TD>
    <TD class="hongse" bgColor="#eef9ff" align="center">1.5倍</TD>
    <TD class="hongse" bgColor="#eef9ff" align="center">1.8倍</TD></TR>
  <TR>
    <TD height="31" align="center"><STRONG>同时接任务数</STRONG></TD>
    <TD align="center">0</TD>
    <TD align="center">20</TD>
    <TD align="center">40</TD>
    <TD align="center">70</TD>
    <TD align="center">100</TD>
    <TD class="hongse" align="center">120</TD>
    <TD class="hongse" align="center">160</TD>
    <TD class="hongse" align="center">300</TD></TR>
  <TR>
    <TD bgColor="#eef9ff" height="31" align="center"><STRONG>同时发任务数 
    </STRONG></TD>
    <TD bgColor="#eef9ff" align="center">5</TD>
    <TD bgColor="#eef9ff" align="center">15</TD>
    <TD bgColor="#eef9ff" align="center">30</TD>
    <TD bgColor="#eef9ff" align="center">60</TD>
    <TD bgColor="#eef9ff" align="center">80</TD>
    <TD class="hongse" bgColor="#eef9ff" align="center">80 </TD>
    <TD class="hongse" bgColor="#eef9ff" align="center">100 </TD>
    <TD class="hongse" bgColor="#eef9ff" align="center">500 </TD></TR>
  <TR>
    <TD height="31" align="center"><SPAN class="chengse2"><STRONG>每日提现次数 
      </STRONG></SPAN></TD>
    <TD align="center">0</TD>
    <TD align="center">2</TD>
    <TD align="center">2</TD>
    <TD align="center">2</TD>
    <TD align="center"><SPAN class="hongse">3</SPAN></TD>
    <TD class="hongse" align="center">3 </TD>
    <TD class="hongse" align="center">3 </TD>
    <TD class="hongse" align="center">3 </TD></TR>
  <TR>
    <TD bgColor="#eef9ff" height="31" align="center"><STRONG>接任务消耗比列 
    </STRONG></TD>
    <TD bgColor="#eef9ff" align="center">0%</TD>
    <TD bgColor="#eef9ff" align="center">10%</TD>
    <TD bgColor="#eef9ff" align="center">10%</TD>
    <TD bgColor="#eef9ff" align="center">10%</TD>
    <TD bgColor="#eef9ff" align="center">5%</TD>
    <TD class="hongse" bgColor="#eef9ff" align="center">5% </TD>
    <TD class="hongse" bgColor="#eef9ff" align="center">5% </TD>
    <TD class="hongse" bgColor="#eef9ff" align="center">5% </TD></TR>
  <TR>
    <TD height="31" align="center"><STRONG>免费短信次数 </STRONG></TD>
    <TD align="center">0</TD>
    <TD align="center">0</TD>
    <TD align="center">0</TD>
    <TD align="center">0</TD>
    <TD align="center">0</TD>
    <TD class="hongse" align="center">30条/月 </TD>
    <TD class="hongse" align="center">50条/月 </TD>
    <TD class="hongse" align="center">100条/月 </TD></TR>
  <TR>
    <TD bgColor="#eef9ff" height="31" align="center"><STRONG>发送短信价格 
    </STRONG></TD>
    <TD bgColor="#eef9ff" align="center">0.1元 </TD>
    <TD bgColor="#eef9ff" align="center">0.1元 </TD>
    <TD bgColor="#eef9ff" align="center">0.1元 </TD>
    <TD bgColor="#eef9ff" align="center">0.1元 </TD>
    <TD bgColor="#eef9ff" align="center">0.1元 </TD>
    <TD class="hongse" bgColor="#eef9ff" align="center">0.09元 </TD>
    <TD class="hongse" bgColor="#eef9ff" align="center">0.08元 </TD>
    <TD class="hongse" bgColor="#eef9ff" align="center">0.07元 </TD></TR>
  <TR>
    <TD height="31" align="center"><SPAN class="chengse2"><STRONG>淘点回收价格 
      </STRONG></SPAN></TD>
    <TD align="center"><SPAN class="hongse">0.3元</SPAN></TD>
    <TD align="center"><SPAN class="hongse">0.3元</SPAN></TD>
    <TD align="center"><SPAN class="hongse">0.31元</SPAN></TD>
    <TD align="center"><SPAN class="hongse">0.32元</SPAN></TD>
    <TD align="center"><SPAN class="hongse">0.33元</SPAN></TD>
    <TD class="hongse" align="center">0.33元 </TD>
    <TD class="hongse" align="center">0.36元 </TD>
    <TD class="hongse" align="center">0.4元 </TD></TR>
  <TR>
    <TD bgColor="#eef9ff" height="31" align="center"><SPAN 
      class="chengse2"><STRONG>绑定买号数量</STRONG></SPAN></TD>
    <TD bgColor="#eef9ff" align="center">5</TD>
    <TD bgColor="#eef9ff" align="center">12</TD>
    <TD bgColor="#eef9ff" align="center">14</TD>
    <TD bgColor="#eef9ff" align="center">16</TD>
    <TD bgColor="#eef9ff" align="center">18</TD>
    <TD class="hongse" bgColor="#eef9ff" align="center">30 </TD>
    <TD class="hongse" bgColor="#eef9ff" align="center">60 </TD>
    <TD class="hongse" bgColor="#eef9ff" align="center">100 </TD></TR>
  <TR>
    <TD height="31" align="center"><SPAN class="chengse2"><STRONG>推广用户提成 
      </STRONG></SPAN></TD>
    <TD align="center">2%</TD>
    <TD align="center">2%</TD>
    <TD align="center">2%</TD>
    <TD align="center">2%</TD>
    <TD align="center">2%</TD>
    <TD class="hongse" align="center">3% </TD>
    <TD class="hongse" align="center">3% </TD>
    <TD class="hongse" align="center">4% </TD></TR>
  <TR>
    <TD bgColor="#eef9ff" height="31" align="center"><STRONG>客服评价次数 
    </STRONG></TD>
    <TD bgColor="#eef9ff" align="center">2次/月 </TD>
    <TD bgColor="#eef9ff" align="center">2次/月 </TD>
    <TD bgColor="#eef9ff" align="center">2次/月 </TD>
    <TD bgColor="#eef9ff" align="center">2次/月 </TD>
    <TD bgColor="#eef9ff" align="center">2次/月 </TD>
    <TD class="hongse" bgColor="#eef9ff" align="center">2次/月 </TD>
    <TD class="hongse" bgColor="#eef9ff" align="center">2次/月 </TD>
    <TD class="hongse" bgColor="#eef9ff" align="center">2次/月 </TD></TR>
  <TR>
    <TD height="31" align="center"><STRONG>买号黑名单个数 </STRONG></TD>
    <TD align="center">20</TD>
    <TD align="center">24</TD>
    <TD align="center">28</TD>
    <TD align="center">32</TD>
    <TD align="center">36</TD>
    <TD class="hongse" align="center">40 </TD>
    <TD class="hongse" align="center">50 </TD>
    <TD class="hongse" align="center">60 </TD></TR>
  <TR>
    <TD bgColor="#eef9ff" height="31" align="center"><STRONG>用户黑名单个数 
    </STRONG></TD>
    <TD bgColor="#eef9ff" align="center">6</TD>
    <TD bgColor="#eef9ff" align="center">8</TD>
    <TD bgColor="#eef9ff" align="center">10</TD>
    <TD bgColor="#eef9ff" align="center">12</TD>
    <TD bgColor="#eef9ff" align="center">14</TD>
    <TD class="hongse" bgColor="#eef9ff" align="center">16 </TD>
    <TD class="hongse" bgColor="#eef9ff" align="center">24 </TD>
    <TD class="hongse" bgColor="#eef9ff" align="center">30 </TD></TR>
  <TR>
    <TD height="31" align="center"><SPAN class="chengse2"><STRONG>快递单号软件 
      </STRONG></SPAN></TD>
    <TD align="center">试用</TD>
    <TD align="center">试用</TD>
    <TD align="center">试用</TD>
    <TD align="center">试用</TD>
    <TD align="center">试用</TD>
    <TD class="hongse" align="center">无限制 </TD>
    <TD class="hongse" align="center">无限制 </TD>
    <TD class="hongse" align="center">无限制 </TD></TR>
  <TR>
    <TD bgColor="#eef9ff" height="31" 
align="center"><STRONG>查看买号IP</STRONG></TD>
    <TD bgColor="#eef9ff" align="center">无</TD>
    <TD bgColor="#eef9ff" align="center">无</TD>
    <TD bgColor="#eef9ff" align="center">无</TD>
    <TD bgColor="#eef9ff" align="center">无</TD>
    <TD bgColor="#eef9ff" align="center">无</TD>
    <TD class="hongse" bgColor="#eef9ff" align="center">无限制</TD>
    <TD class="hongse" bgColor="#eef9ff" align="center">无限制</TD>
    <TD class="hongse" bgColor="#eef9ff" align="center">无限制</TD></TR>
  <TR>
    <TD height="31" align="center"><STRONG>对应积分</STRONG></TD>
    <TD align="center">0</TD>
    <TD align="center">1-100</TD>
    <TD align="center">101-1000</TD>
    <TD align="center">1001-5000</TD>
    <TD align="center">5001</TD>
    <TD class="hongse" align="center">无要求</TD>
    <TD class="hongse" align="center">无要求</TD>
    <TD class="hongse" align="center">无要求</TD></TR>
  <TR>
    <TD bgColor="#eef9ff" height="31" align="center"><STRONG>费用</STRONG></TD>
    <TD bgColor="#eef9ff" align="center">免费</TD>
    <TD bgColor="#eef9ff" align="center">免费</TD>
    <TD bgColor="#eef9ff" align="center">免费</TD>
    <TD bgColor="#eef9ff" align="center">免费</TD>
    <TD bgColor="#eef9ff" align="center">免费</TD>
    <TD class="hongse" bgColor="#eef9ff" align="center">29元/月</TD>
    <TD class="hongse" bgColor="#eef9ff" align="center">49元/月 </TD>
    <TD class="hongse" bgColor="#eef9ff" align="center">99元/月 
</TD></TR></TBODY></TABLE>
<DIV class="cle"></DIV></DIV>﻿	
{sub ../footer}