{teval
	$title       = '淘宝网店SEO--{webName}';
	$keywords    = '{webName2}';
	$description = '{webName}';
	$title       = common::replaceVars($title);
	$keywords    = common::replaceVars($keywords);
	$description = common::replaceVars($description);
	$cssList     = array(css::getUrl('index', 'index'));
	$jsList      = array(javascript::getUrl('silde', 'index'));
	echo string::getStaticCode(array('title' => $title, 'keywords' => $keywords, 'description' => $description,'cssList'=>$cssList, 'jsList'=>$jsList));
}
{subtemplate ../header}
<SCRIPT type="text/javascript" src="/css/service.js"></SCRIPT>
<LINK rel="stylesheet" type="text/css" href="/css/shua.css">
<DIV id="content">
<DIV class="xuanchuan-content">
<DIV 
class="xuanchuan-top">日均成交量：10笔以下&nbsp;&nbsp;&nbsp;&nbsp;适合店铺类型：不限&nbsp;&nbsp;&nbsp;&nbsp;适合商家雇员数量：1-3&nbsp;&nbsp;&nbsp;&nbsp;适合店铺行业：不限 
   </DIV>
<DIV>
<FORM onSubmit="return false;" method="post" name="form" action="/Dm/Case/"><INPUT 
name="hash2" value="33==" 
type="hidden"><INPUT name="from_clientId" value="b2655925f583285c53f9fe8b93a5fe91" 
type="hidden"></FORM><IMG style="cursor: pointer;" onClick="firm();" src="/images/xuanchuan-2.jpg"></DIV>
<DIV class="xuanchuan-tab"><A href="{rewrite}/Dm/">服务详情</A><A 
href="{rewrite}/Dm/Case/">成功案例</A><A href="{rewrite}/bbs/seo/" 
target="_blank">SE0论坛</A><A href="http://wpa.qq.com/msgrd?v=3&amp;uin=1020130386&amp;site=qq&amp;menu=yes" 
target="_blank"><FONT color="#000000">讲师QQ：<IMG title="点击这里给我发消息" border="0" 
alt="点击这里给我发消息" src="/images/button_old_40.gif">1020130386   
请猛击我吧~</FONT></A></DIV>

<div class="xuanchuan-id-part">
			<div class="xuanchuan-id-tit" style="margin-top:20px;">部分成功案例</div>
			<div class="xuanchuan-wenda">
				<p>案例1：</p>
				<div style="border-bottom:#ddd 1px solid; margin-bottom:15px;">
				<table style="margin:20px 0;" border="0" width="687">
				  <tbody><tr>
					<td width="108"><img src="Case_files/xuanchuan-9.jpg"></td>
					<td width="54"><img src="Case_files/xuanchuan-10.jpg"></td>
					<td>大家好，我是大麦户第一期的培训学员张玉，我是今年加入培训的，刚加入的时候流量只有30左右，经过一段时间的学习，流量上升到了日均700多，大麦户培训通俗易懂，提出的问题也是耐心解说，下面是量子流量图。</td>
				  </tr>
				</tbody></table>
				</div>
				<p style="text-align:center;"><img src="Case_files/tu1.jpg"></p>
			</div>
			
						<div class="xuanchuan-wenda">
				<p>案例2：</p>
				<div style="border-bottom:#ddd 1px solid; margin-bottom:15px;">
				<table style="margin:20px 0;" border="0" width="687">
				  <tbody><tr>
					<td width="108"><img src="Case_files/xuanchuan-9a.jpg"></td>
					<td width="54"><img src="Case_files/xuanchuan-10.jpg"></td>
					<td>大家好，我是大麦户培训班的无敌小鸡鸡，我加入培训班的时候店铺还是0信誉，不过现在经过学习，让我的宝贝好多关键词都排到了淘宝前几
页，有些甚至到了第一页，一颗心的时候日均流量都1000多了，销量好的时候一天能发50多单，现在1个月过去了，很快就要升2钻了，目前单品的销量达到
300多件。其实我最想讲的是大麦户培训，跟大麦户走准没错，培训价格也低。</td>
				  </tr>
				</tbody></table>
				</div>
				<p style="text-align:center;"><img src="Case_files/tu2.jpg"></p>
			</div>
			
									<div class="xuanchuan-wenda">
				<p>案例3：</p>
				<div style="border-bottom:#ddd 1px solid; margin-bottom:15px;">
				<table style="margin:20px 0;" border="0" width="687">
				  <tbody><tr>
					<td width="108"><img src="Case_files/xuanchuan-9b.jpg"></td>
					<td width="54"><img src="Case_files/xuanchuan-10.jpg"></td>
					<td>大家好，我是大麦户培训班的萍萍，从来都没有接触过淘宝优化的我，经过朋友介绍我加入了大麦户网，按照大麦户教的方法，每天操作，不到2个星期，流量都直线上升，出单也越来越多，真的很兴奋。</td>
				  </tr>
				</tbody></table>
				</div>
				<p style="text-align:center;"><img src="Case_files/tu3.jpg"></p>
			</div>
			
			<div class="xuanchuan-wenda">
				<p>案例4：</p>
				<div style="border-bottom:#ddd 1px solid; margin-bottom:15px;">
				<table style="margin:20px 0;" border="0" width="687">
				  <tbody><tr>
					<td width="108"><img src="Case_files/xuanchuan-9c.jpg"></td>
					<td width="54"><img src="Case_files/xuanchuan-10.jpg"></td>
					<td>大家好，我的大麦户培训班的张海，我加入培训比较早，那时候大麦户还没有在平台推出培训，可以说我是第一个参加的，没有加入之前我一个
3钻的店被封了，后来大麦户客服告诉我重开一个店，我就按照大麦户培训的方法去优化宝贝，没有想到新开的店比3钻的店生意还要好。1个月就到2钻了，而且
自然搜索量达到日均1000多，1钻的时候日均最高2000多流量，今天你优化了吗？相信这句话不久将来会成为卖家的流行语。</td>
				  </tr>
				</tbody></table>
				</div>
				<p style="text-align:center;"><img src="Case_files/tu4.jpg"><br><br></p>
<p style="text-align:center;"><font color="red" size="47">案列实在太多太多了，此处省略一千万字</font></p>
<p style="text-align:right;"><font color="blue" size="3">看广告不如看疗效，更多详情请猛击QQ：1020130386  进行咨询了解</font></p>

			</div>
			
		</div>

</DIV>
</DIV>
 {subtemplate ../footer} 