<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>$title</title>
<meta name="description" content="$description" />
<meta name="keywords" content="$keywords" />
<script type="text/javascript" src="rt.js" async=""></script>
<script type="text/javascript" src="jquery_002.js"></script>
{if $cssList}
{loop $cssList $v}
<link rel="stylesheet" type="text/css" href="$v" />
{/loop}
{else}
{teval
echo css::get_css('bbs', 'bbs');
}
{/if}
{js_select jquery,common}
{loop $jsList $v}
<script type="text/javascript" src="$v"></script>
{/loop}
<script type="text/javascript">
{if $showMessage }
alert('{echo common::bf_addcslashes($showMessage)}');
{/if}
$.ajaxSetup({cache:false});
var memberLogined={echo $memberLogined?'true':'false'};
var loginUsername='{echo $memberLogined?$member['username']:''}';
var weburl='$weburl';
var weburl2='$weburl2';
var sys_hash2='$sys_hash2';
</script>
</head>
<div id="footer">
		<p><span class="chengse">官方QQ群：176682996</span> （加群请注明花兔兔）</p>
		<p class="lanse"><a href="{rewrite}/info/aboutus.html">关于我们</a>|<a href="{rewrite}/info/contactus.html">联系我们</a>|<a href="{rewrite}/info/duty.html">花兔兔规则</a>|<a href="{rewrite}/info/map.html">网站地图</a>|<a href="{rewrite}" target="_blank">淘宝信誉查询</a> </p>
		<p style="text-align:center;">
		<!--<a id='___szfw_logo___' href='https://search.szfw.org/cert/l/CX20130730002661002730' target='_blank'><img height='32' src='https://search.szfw.org/cert.png?l=CX20130730002661002730'></a>
		</p>-->
		<p class="lanse">客户服务热线：4006079159   Copyright © 2012-2020 Damaihu.com All RightsReserved    花兔兔版权所有 <a href="{rewrite}/info/sol.html" target="_blank">粤ICP备13037934号</a><span style="display:none"><script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Fa61bf8fb062c12c2b83ae163772558ad' type='text/javascript'%3E%3C/script%3E"));
</script><script src="/images/h.js" type="text/javascript"></script>
</span></p>
	</div>
    <script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Fa61bf8fb062c12c2b83ae163772558ad' type='text/javascript'%3E%3C/script%3E"));
</script>
<!--<a href="http://tongji.baidu.com/hm-web/welcome/ico?s=a61bf8fb062c12c2b83ae163772558ad" target="_blank"><img src="/images/21.gif" height="20" border="0" width="20"></a></span></p>-->
	</div>
    </div>