<html>
	<head>
		<link rel="shortcut icon" href="favicon.ico">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>$title</title>
		<meta name="description" content="$description" />
		<meta name="keywords" content="$keywords" />
		<script src="/Scripts/swfobject_modified.js" type="text/javascript"></script>{if $cssList} {loop $cssList $v}
		<link rel="stylesheet" type="text/css" href="$v" />{/loop} {else} {teval echo css::get_css('bbs', 'bbs'); } {/if} {js_select jquery,common} {if $jsList} {loop $jsList $v}
		<script type="text/javascript" src="$v"></script>{/loop} {/if}
		<script type="text/javascript">
			{if $showMessage}
			alert('{echo common::bf_addcslashes($showMessage)}');
			{/if}
			$.ajaxSetup({cache:false});
			var memberLogined={echo $memberLogined?'true':'false'};
			var loginUsername='{echo $memberLogined?$member['username']:''}';
			var weburl='$weburl';
			var weburl2='$weburl2';
			var sys_hash2='$sys_hash2';
			var webqq = 195230378 ;
		</script>
		<script type="text/javascript" src="/images/jquery.js"></script>
		<script type="text/javascript" src="/images/common.js"></script>
		<script type="text/javascript" src="/images/index.js"></script>
		<script type="text/javascript" src="/javascript/index/task.js"></script>
		<!--[if lte IE 6]>
			<script type="text/javascript" src="/javascript/cn/DD_belatedPNG_0.0.7a.js"></script>
			<script type="text/javascript">
				DD_belatedPNG.fix('*');
			</script>
		<![endif]-->
		<script type="text/javascript" src="/images/service.js"></script>
		<script>
			var z_userinfo = $.cookie('userinfo');
			if (z_userinfo){
				z_userinfo = z_userinfo.split(',');
			}else
				z_userinfo=null;
		</script>
		
	</head>
	<body>
		<div id="top">{if $memberLogined}
			<div class="top-mid">
				<form action="" method="get">你好，<a href="{rewrite}/member/info/?username=$member[username]"><em>$member[username]</em></a>
					<img title="积分：$memberFields[credits]" alt="积分" src="$memberLevel[icon]">
					<input type="button" onclick="window.location.href='{rewrite}/member/logout/'" class="tc" value="退出" />
				</form>
				<div class="topmenu"> <span class="ck"><a href="{rewrite}/member/topup/">存款：<span>$memberFields[money]</span>
					</a>　/
					<ul>
						<li><a href="{rewrite}/member/topup/">存款：<span>$memberFields[money]</span></a>
						</li>
						<li><a href="{rewrite}/member/topup/">账号充值</a>
						</li>
						<li><a href="{rewrite}/member/PayDetails/?type=1">存款明细</a>
						</li>
					</ul>
					</span> <span class="tl"><a href="{rewrite}/member/BuyPoint/">兔粮：<span>$memberFields[fabudian]</span>
					</a>　/
					<ul><li><a href="{rewrite}/member/BuyPoint/">兔粮：<span>$memberFields[fabudian]</span>
					</a></li>
						<li><a href="{rewrite}/member/BuyPoint/">购买兔粮</a>
						</li>
						<li><a href="{rewrite}/member/PayDetails/?type=2">兔粮明细</a>
						</li>
					</ul>
					</span> <span class="xx"><a href="{rewrite}/member/message/">信息：<span>($memberFields[msg])</span>
					</a>　/
					<ul><li><a href="{rewrite}/member/message/">信息：<span>($memberFields[msg])</span>
					</a></li>
						<li><a href="{rewrite}/member/message/?type=inUser">私人收件箱</a>
						</li>
						<li><a href="{rewrite}/member/message/?type=inSys">官方收件箱</a>
						</li>
						<li><a href="{rewrite}/member/message/?type=setting">站内信提醒</a>
						</li>
					</ul>
					</span> <span class="wsfbf"><a href="#">我是发布方</a>　/

           		 <ul>
					<li><a href="#">我是发布方</a></li>
                	<li><a href="#">图文教程</a></li>
                    <li><a href="#">视频教程</a></li>
                    <li><a href="#">排行榜</a></li>
                </ul>                       
            </span>
 			<span class="wsjsf"><a href="#">我是接手方</a>　/
           		 <ul>
                	<li><a href="#">我是接手方</a></li>
                	<li><a href="#">图文教程</a></li>
                    <li><a href="#">视频教程</a></li>
                    <li><a href="#">领取奖励</a></li>
                    <li><a href="#">排行榜</a></li>
                </ul>                       
            </span>
	<span class="zhsz"><a href="{rewrite}/member/userdata/?type=index">账号设置</a>　/
                <ul>
                	<li><a href="{rewrite}/member/userdata/?type=index">账号设置</a></li>
                	<li><a href="{rewrite}/member/forgotpwd/">找回密码</a></li>
                    <li><a href="{rewrite}/member/userdata/?type=GetPass">找回操作码</a></li>
                    <li><a href="{rewrite}/member/forgotpwd/">更多操作</a></li>
                </ul>            
            </span>
					<!--<span class="wdtw"><a href="#">我的兔窝</a>　/
            	<ul>-->
					<!--<li><a href="#"><img onmouseover="this.src='/img/att223_03.png'" onmouseout="this.src='/img/att222_03.png'" src="/img/att222_03.png"/></a></li>
                    <li><a href="#"><img onmouseover="this.src='/img/att223_05.png'" onmouseout="this.src='/img/att222_05.png'" src="/img/att222_05.png"/></a></li>
                    <li><a href="#"><img onmouseover="this.src='/img/att223_09.png'" onmouseout="this.src='/img/att222_09.png'" src="/img/att222_09.png"/></a></li>
                    <li><a href="#"><img onmouseover="this.src='/img/att223_10.png'" onmouseout="this.src='/img/att222_10.png'" src="/img/att222_10.png"/></a></li>-->
					<!--<li><a href="#">我要充值</a></li>
                    <li><a href="#">我要提现</a></li>
                    <li><a href="#">购买兔粮</a></li>
                    <li><a href="#">网店托管</a></li>
                </ul>
            </span>-->
            <span class="kfbb"><a href="#">客服帮助</a>
            	<div class="kfbz">
                	<!--<h2><span>值班时间：</span> 9:00-12:00 . 13:30-17:30 . 19:00-21:00</h2>
					<hr/>　
					<div class="xsbz">	<span>新手帮助：</span> 
						<img src="/img/att333_08.png" /><a href="#">客服小云</a>　　　
						<img src="/img/att333_16.png" /><a href="#">客服小云</a>
					</div>　　
					<h3><span>充值提现：</span> <img src="/img/att333_16.png"/><a href="#">充值帮助</a></h3>
					<hr/>
						<h4><span>店铺运营免费指导：</span> <img src="/img/att333_08.png" /><a href="#">客服小云</a></h4>
					 <h5><span>交流群：</span><img src="/img/att333_16.png"/><a href="#">5494848</a></h5><em>（注：客服不会要求操作任务、充值，谨防受骗）</em>-->
					<div class="kf-tu">
						<a href="#">
							<img onmouseover="this.src='/img/atte2_06.png'" onmouseout="this.src='/img/atte_06.png'" src="/img/atte_06.png" class="kf-1" />
						</a>
						<a href="#">
							<img onmouseover="this.src='/img/atte2_08.png'" onmouseout="this.src='/img/atte_06.png'" src="/img/atte_06.png" class="kf-2" />
						</a>
						<a href="#">
							<img onmouseover="this.src='/img/atte2_12.png'" onmouseout="this.src='/img/atte_12.png'" src="/img/atte_12.png" class="kf-3" />
						</a>
						<a href="#">
							<img onmouseover="this.src='/img/atte2_15.png'" onmouseout="this.src='/img/atte_15.png'" src="/img/atte_15.png" class="kf-4" />
						</a>
						<a href="#">
							<img onmouseover="this.src='/img/atte2_22.png'" onmouseout="this.src='/img/atte_22.png'" src="/img/atte_22.png" class="kf-5" />
						</a>
					</div>
				</div>
				</span>
			</div>
		</div>{else}
		<div class="top-mid">
			<form action="" method="get">你好，欢迎来到<a href="http://www.huatutu.com">花兔兔网商互动平台</a>
				<input onclick="window.location.href='{rewrite}/member/login/'" type="button" class="dl" value="登陆" />
				<input type="button" class="zc" onclick="window.location.href='{rewrite}/member/reg/'" value="注册" />
			</form>
			<ul>
				<!--<li class="xsbz1"><a href="#">新手帮助</a>　/</li>-->
				<li class="wsfbf"><a href="#">我是发布方</a>　/
					<ul>
						<li><a href="#">图文教程</a>
						</li>
						<li><a href="#">视频教程</a>
						</li>
						<li><a href="#">排行榜</a>
						</li>
					</ul>
				</li>
				<li class="wsjsf"><a href="#">我是接手方</a>　/
					<ul>
						<li><a href="#">图文教程</a>
						</li>
						<li><a href="#">视频教程</a>
						</li>
						<li><a href="#">领取奖励</a>
						</li>
						<li><a href="#">排行榜</a>
						</li>
					</ul>
				</li>
				<li class="zhsz"><a href="#">账号设置</a>　/
					<ul>
						<li><a href="#">找回密码</a>
						</li>
						<li><a href="#">找回操作码</a>
						</li>
						<li><a href="#">更多操作</a>
						</li>
					</ul>
				</li>
				<!--<li class="wdtw"><a href="#">我的兔窝</a>　/
            	<ul>
                    <li><a href="#">我要充值</a></li>
                    <li><a href="#">我要提现</a></li>
                    <li><a href="#">购买兔粮</a></li>
                    <li><a href="#">网店托管</a></li>
                </ul>
            </li>-->
			<li class="kfbb"><a href="#">客服帮助</a>
					<div class="kfbz">
						<!--<h2><span>值班时间：</span> 9:00-12:00 . 13:30-17:30 . 19:00-21:00</h2>

                    <hr/>

                  　<div class="xsbz">

                    	<span>新手帮助：</span> <img src="/img/att333_08.png" /><a href="#">客服小云</a>　　　<img src="/img/att333_16.png" /><a href="#">客服小云</a>

                    </div>        

                　　<h3><span>充值提现：</span> <img src="/img/att333_16.png"/><a href="#">充值帮助</a></h3>

                	<hr/>

					<h4><span>店铺运营免费指导：</span> <img src="/img/att333_08.png" /><a href="#">客服小云</a></h4>

    

                    <h5><span>交流群：</span><img src="/img/att333_16.png"/><a href="#">5494848</a></h5><em>（注：客服不会要求操作任务、充值，谨防受骗）</em>-->
						<div class="kf-tu">
							<a href="#">
								<img onmouseover="this.src='/img/atte2_06.png'" onmouseout="this.src='/img/atte_06.png'" src="/img/atte_06.png" class="kf-1" />
							</a>
							<a href="#">
								<img onmouseover="this.src='/img/atte2_08.png'" onmouseout="this.src='/img/atte_06.png'" src="/img/atte_06.png" class="kf-2" />
							</a>
							<a href="#">
								<img onmouseover="this.src='/img/atte2_12.png'" onmouseout="this.src='/img/atte_12.png'" src="/img/atte_12.png" class="kf-3" />
							</a>
							<a href="#">
								<img onmouseover="this.src='/img/atte2_15.png'" onmouseout="this.src='/img/atte_15.png'" src="/img/atte_15.png" class="kf-4" />
							</a>
							<a href="#">
								<img onmouseover="this.src='/img/atte2_22.png'" onmouseout="this.src='/img/atte_22.png'" src="/img/atte_22.png" class="kf-5" />
							</a>
						</div>
					</div>
				</li>
			</ul>
		</div>{/if}</div>
		<div id="head">
			<div class="head-mid">
				<img src="/img/att_06.png" class="logo" />
				<img src="/img/att_09.png" class="dh" />
			</div>
		</div>
		<div id="nav">
			<div class="nav-mid">
				<ul>
					<li class="sy"><a href="/">首页</a>
					</li>
					<li><a href="{rewrite}/task/tao/">淘宝大厅</a>
					</li>
					<li><a href="{rewrite}/task/pai/">拍拍大厅</a>
					</li>
					<li><a href="{rewrite}/collect/">收藏流量</a>
					</li>
					<li><a href="{rewrite}/member/BuyPoint/">购买麦点</a>
					</li>
					<li><a href="{rewrite}/tuoguan/">网店托管</a>
					</li>
					<li class="yy"><a href="{rewrite}/tbseo/">运营指导<em>（免费）</em></a>
					</li>
					<li><a href="{rewrite}/bbs/">有问必答</a>
					</li>
					<li><a href="{rewrite}/member/">会员中心</a>
					</li>
				</ul>
			</div>
		</div>