body{
	margin: auto;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}
.clear{clear:both}
.clear_left{clear:left}
.clear_right{clear:right}
.show_message{color:#FF0000}
.fleft{float:left}
.fright{float:right}