{sub header}
<table border="0" cellspacing="0" cellpadding="8">
      <tr>
        <td width="100" align="right" class="f_b">用户名：</td>
        <td>$member[username]</td>
      </tr>
      <tr>
        <td align="right" class="f_b">掌柜名称：</td>
        <td>$seller[nickname]</td>
      </tr>
      <tr>
        <td align="right" class="f_b">激活码：</td>
        <td><input name="actCode" type="text" class="text_small" id="actCode" /> <input type="button" id="btnCode" name="btnCode" onclick="GetCode();" value="获取激活码" /></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td><!--<input name="btnSubmit" type="submit" class="btn_2" id="btnSubmit" onclick="if ($('#btnCode').attr('disabled')==false) {alert('请先获取激活码');return false;}" value="确定" />--><input name="btnSubmit" type="submit" class="btn_2" id="btnSubmit" onclick="if ($('#btnCode').attr('disabled')==true) {alert('正在发送激活码，请稍后...');return false;}" value="确定" />
          <input name="btnCancel" type="button" class="btn_2" onclick="parent.doCut();" id="btnCancel" value="取消" /></td>
      </tr>
    </table>
<script type="text/javascript">
function checkForm() {
    var checks = [
        ["isEmpty", "actCode", "激活码"]];
    var result = doCheck(checks);
    if (result)avoidReSubmit();
    return result;
}

function GetCode() {
	$('#btnCode').attr({disabled:true});
    $.ajax({
		type:'POST',
		url:'{$weburl2}ajax/sendVcode.php',
		data:'hash2=$sys_hash2&type=seller&id=$id',
		success:function(txt){
			alert(txt);
			$('#btnCode').attr({disabled:false});
		}
	});
}
</script>
{sub footer}