
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
{teval
echo css::get_css('dialog', 'dialog');
}
{if $memberFields[credits]<=50}
<style type="text/css">
 
.tbl_t td {line-height:20px !important;}

</style>
{/if}
<title>操作提醒信息</title>
</head>
<body onload="">
<div class="main_dl">
  {if $memberFields[credits]<=50}
  <div style="line-height:20px; font-weight:bold; color:#F00; padding:10px;">
		{pa memberDialogRegulation}
  </div>
  <table class="tbl_t" width='100%' border='0' cellspacing='0' cellpadding='0'>
    <tr>
      <td width='140' class='f_b_green' align="right">未读站内信：</td>
      <td><a href='{rewrite}/member/message/?type=inSys' target="_blank">有<span class="f_b_org">{echo msg::getCount(1)}</span>封新官方站内信</a><br />
				<a href='{rewrite}/member/message/?type=inUser' target="_blank">有<span class="f_b_org">{echo msg::getCount(0)}</span>封新私人站内信</a></td>
    </tr>
    <tr>
      <td class='f_b_green' align="right">到期收货与好评任务：</td>
      <td><a href='{rewrite}/dialog/taskComment/?in=1'>到期收货与好评的已接任务<span class="f_b_org">{echo $memberTask[inExpire1]+$memberTask[inExpire2]+$memberTask[inExpire3]+$memberTask[inExpire4]}</span>个</a><br /> 
				<a href='{rewrite}/dialog/taskComment/?out=1'>到期收货与好评的已发任务<span class="f_b_org">{echo $memberTask[outExpire1]+$memberTask[outExpire2]+$memberTask[outExpire3]+$memberTask[outExpire4]}</span>个</a></td>
    </tr>
    <tr>
      <td class='f_b_green' align="right">待解决的申诉：</td>
      <td><a href='{rewrite}/member/complain/?t=post' target='_blank'>我发起的未解决申诉<span class="f_b_org">{echo db::data_count('complain',"fuid='$uid' and status not in('1','2')")}</span>个</a><br />
				<a href='{rewrite}/member/complain/?t=get' target='_blank'>我收到的未解决申诉<span class="f_b_org">{echo db::data_count('complain',"tuid='$uid' and status not in('1','2')")}</span>个</a></td>
    </tr>
    <tr>
      <td class='f_b_green' align="right">同时接发任务数：</td>
      <td>最多同时接手任务数：<span class="f_b_org">$maxTaskIn</span>个<br />
				最多同时发布任务数：<span class="f_b_org">$maxTaskOut</span>个<br />
				<strong class="f_red">任务数指所有互动区的未完成任务总数</strong><br />
				<a href="/bbs/t11/" target="_blank" class="link_b">了解积分和任务数的关系</a></td>
    </tr>
  </table>
  {else}
  <div class="bar_dl">操作提醒信息</div>
	
  <table class="tbl_t" width='100%' border='0' cellspacing='0' cellpadding='0'>
    <tr>
      <td width='140' class='f_b_green' align="right">未读站内信：</td>
      <td><a href='{rewrite}/member/message/?type=inSys' target="_blank">有<span class="f_b_org">{echo msg::getCount(1)}</span>封新官方站内信</a><br />
				<a href='{rewrite}/member/message/?type=inUser' target="_blank">有<span class="f_b_org">{echo msg::getCount(0)}</span>封新私人站内信</a></td>
    </tr>
    <tr>
      <td class='f_b_green' align="right">到期收货与好评任务：</td>
      <td><a href='{rewrite}/dialog/taskComment/?in=1'>到期收货与好评的已接任务<span class="f_b_org">{echo $memberTask[inExpire1]+$memberTask[inExpire2]+$memberTask[inExpire3]+$memberTask[inExpire4]}</span>个</a><br /> 
				<a href='{rewrite}/dialog/taskComment/?out=1'>到期收货与好评的已发任务<span class="f_b_org">{echo $memberTask[outExpire1]+$memberTask[outExpire2]+$memberTask[outExpire3]+$memberTask[outExpire4]}</span>个</a></td>
    </tr>
    <tr>
      <td class='f_b_green' align="right">待解决的申诉：</td>
      <td><a href='{rewrite}/member/complain/?t=post' target='_blank'>我发起的未解决申诉<span class="f_b_org">{echo db::data_count('complain',"fuid='$uid' and status not in('1','2')")}</span>个</a><br />
				<a href='{rewrite}/member/complain/?t=get' target='_blank'>我收到的未解决申诉<span class="f_b_org">{echo db::data_count('complain',"tuid='$uid' and status not in('1','2')")}</span>个</a></td>
    </tr>
    <tr>
      <td class='f_b_green' align="right">同时接发任务数：</td>
      <td>最多同时接手任务数：<span class="f_b_org">$maxTaskIn</span>个<br />
				最多同时发布任务数：<span class="f_b_org">$maxTaskOut</span>个<br />
				<strong class="f_red">任务数指所有互动区的未完成任务总数</strong><br />
				<a href="/bbs/t11/" target="_blank" class="link_b">了解积分和任务数的关系</a></td>
    </tr>
  </table>
  {/if}
	<div style="padding-top:10px;text-align:center;">
		<input name="goon" class="btn_2" type="button" id="goon" onclick="parent.doCut();" value="关闭" />
	</div>
</div>
{if !$member[questionid]}
<script type="text/javascript">
    alert("您当前尚未设置安全问题和回答\n\n为了您的账户安全建议您加强您的密码同时设置安全问题和回答\n\n安全问题和回答在密码维护页面");
</script>
{/if}
</body>
</html>