{sub header}
<style type="text/css">
.txt_fail {
    background: url("invalid_line.gif") repeat-x scroll left bottom rgba(0, 0, 0, 0);
    border: 1px solid #DD7870;
}
.text_normal {
    width: 150px;
}
.text_long {
    width: 300px;
}
.txt_normal {
    height: 100px;
    width: 300px;
}

.btn_2 {
    background: none repeat scroll 0 0 #2C7400;
    border-color: #FFFFFF #6A6A6A #6A6A6A #FFFFFF;
    border-left: 1px solid #FFFFFF;
    border-style: solid;
    border-width: 1px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline;
    font-size: 12px;
    height: 25px;
    line-height: 25px;
    overflow: visible;
    padding: 0 15px;
}

.f_14 {
    font-size: 14px;
}
</style>
<table border="0" cellspacing="0" cellpadding="8">
	<tr>
		<td width="100" align="right" class="f_14">用户：</td>
		<td><input name="username" type="text" id="username" value="$item[from_username]" class="text_normal" maxlength="50" onblur="checkUsername()" />
			<a href="javascript:;" class="link_o"  tabindex="-1" onclick="checkUsername();" title="点击检查用户名是否存在">检查用户</a> <span id="sp_username" class="sp_no" style="margin-top:5px;"></span></td>
	</tr>
	<tr>
		<td align="right" class="f_14">标题：</td>
		<td><input name="title" type="text" id="title" value="{if $item[title]}RE:$item[title]{/if}" class="text_long" maxlength="100" /></td>
	</tr>
	<tr>
		<td align="right" class="f_14">内容：</td>
		<td><textarea name="message" id="message" class="txt_normal"></textarea>
			<br />
			<input name="isSave" type="checkbox" id="isSave" value="1" />
			同保存到发件箱</td>
	</tr>
	<tr>
		<td>&nbsp;</td>
		<td><input name="btnSubmit" type="submit" class="btn_2" id="btnSubmit" value="确定" />
			<input name="btnCancel" type="button" class="btn_2" onclick="parent.doCut();" id="btnCancel" value="取消" /></td>
	</tr>
</table>
<script type="text/javascript">
function checkForm() {
    var checks = [
		["isEmpty", "username", "用户"],
		["isLength", "title", "标题", 1, 50],
		["isLength", "message", "内容", 1, 1000] ];
	var result = doCheck(checks);
	if (result)avoidReSubmit();
	return result;
}

function checkUsername() {
    var username = $('#username').val();
	if (username) {
		$.ajax({
			url: '{$weburl2}ajax/check.php?action=username',
			data: 'hash2=$sys_hash2&username='+encodeURI(username),
			type: "POST",
			cache: false,
			dataType:"text",
			success: function(data){
				if(data=='2'){
					$('#sp_username')[0].className = 'sp_error';
					$('#sp_username').html('不存在该用户');
				} else {
					$('#sp_username')[0].className = 'sp_ok';
					$('#sp_username').html('该用户存在');
				}
			}
		});
	}
}
</script>
{sub footer}