
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
{teval
echo css::get_css('dialog', 'dialog');
}
{js_select jquery,common}
<title>设置商品访问来路</title>
</head>
<body>
<div class="main_dl"> 
	<div style="padding:5px ; line-height:18px; border:1px dashed #A3C5EA;">
		设置来路功能可以设定您想要接手方使用哪种方式进入店铺与宝贝展示页面，丰富多样的来路种类较单一的直接访问形式可使您的量子统计与交易信誉更加真实安全； 每个设置一个链接的来路需向接手方支付<span class="f_b_red">0.3</span>个发布点；（直接访问方式除外）
	</div>
  <div class="bar_dl">设置商品访问来路</div>
  <form name="myForm" method="post" id="myForm" onsubmit="checkForm();return false;">
	<div>$sys_hash_code2</div>
    
    <table class="tbl" border="0" cellspacing="0" cellpadding="4">
      <tr>
        <td width="110" align="right" class="f_b">直接访问：</td>
        <td><input type="radio" name="visitWay" value="0" onclick="showWay(0);"{if $visitWay==0} checked="checked"{/if} /></td>
        <td>直接访问就是客户知道您的店铺或者在本地保存了相应宝贝的连接（本地收藏夹等），直接在地址栏输入后进入您的店铺</td>
      </tr>
      <tr>
        <td align="right" class="f_b">淘宝店铺搜索：</td>
        <td><input type="radio" name="visitWay" value="1" onclick="showWay(1);"{if $visitWay==1} checked="checked"{/if} /></td>
        <td>是在淘宝搜索店铺进入您店里的流量</td>
      </tr>
      <tr>
        <td align="right" class="f_b">淘宝宝贝搜索：</td>
        <td><input type="radio" name="visitWay" value="2" onclick="showWay(2);"{if $visitWay==2} checked="checked"{/if} /></td>
        <td>是在淘宝直接搜索宝贝进入的</td>
      </tr>
      <tr>
        <td align="right" class="f_b">淘宝信用评价：</td>
        <td><input type="radio" name="visitWay" value="3" onclick="showWay(3);"{if $visitWay==3} checked="checked"{/if} /></td>
        <td>是从淘宝信用评价页面进入的，例如从买家的评价的宝贝信息登录您的宝贝</td>
      </tr>
      <tr>
        <td colspan="3" align="center" style="padding-top:20px"><input name="btnSubmit" type="submit" class="btn_2" id="btnSubmit" value="确定" />
          <input name="btnCancel" type="button" class="btn_2" onclick="parent.doCut();" id="btnCancel" value="取消" /></td>
      </tr>
    </table>
    <div id="v_0"></div>
    <fieldset id="v_1" style="{if $visitWay!=1}display:none; {/if}padding:0px; margin:0px;">
      <legend class="f_red">店铺搜索设置</legend>
      <table width="100%" border="0" cellpadding="4" cellspacing="0">
        <tr>
          <td align="right" class="f_b" width="120" valign="top">搜索店铺关键字：</td>
          <td valign="top"><input name="visitKey_1" type="text" id="visitKey_1"{if $visitWay==1} value="$visitKey"{/if} maxlength="100" class="text_long" />
            <div style="padding-top:5px; line-height:16px;" class="f_blue">此处输入您“掌柜名称”或者“店铺名称”确保接手人可以使用淘宝店铺正确且唯一搜索到您的店铺</div></td>
        </tr>
        <tr>
          <td align="right" class="f_b" valign="top">搜索提示：</td>
          <td valign="top"><input name="visitTip_1" type="text" id="visitTip_1"{if $visitWay==1} value="$visitTip"{/if} maxlength="200" class="text_long" />
            <div style="padding-top:5px; line-height:16px;" class="f_blue">此处填写提示信息，说明店铺在关键字搜索结果列表中的位置，商品在店铺首页中大概位置等等信息….比如：店铺在结果列表第二个，商品在店铺首页第二排中间一个等等</div></td>
        </tr>        
      </table>
    </fieldset>
    <fieldset id="v_2" style="{if $visitWay!=2}display:none; {/if}padding:0px; margin:0px;">
      <legend class="f_red">宝贝搜索设置</legend>
      <table width="100%" border="0" cellpadding="4" cellspacing="0">
        <tr>
          <td align="right" class="f_b" width="120" valign="top">宝贝搜索关键字：</td>
          <td valign="top"><input name="visitKey_2" type="text" id="visitKey_2"{if $visitWay==2} value="$visitKey"{/if} maxlength="100" class="text_long" />
            <div style="padding-top:5px; line-height:16px;" class="f_blue">推荐使用您的宝贝名称，如果您的宝贝名称在淘宝中重名商品过多，我们建议您修改宝贝名称后在设置此种来路任务或者使用店铺搜索的来路方式</div></td>
        </tr>
        <tr>
          <td align="right" class="f_b" valign="top">搜索提示：</td>
          <td valign="top"><input name="visitTip_2" type="text" id="visitTip_2"{if $visitWay==2} value="$visitTip"{/if} maxlength="200" class="text_long" />
            <div style="padding-top:5px; line-height:16px;" class="f_blue">此处填写提示信息，说明任务商品在关键字搜索结果列表中的位置….比如第一页第8个</div></td>
        </tr>        
      </table>
    </fieldset>
    <fieldset id="v_3" style="{if $visitWay!=3}display:none; {/if}padding:0px; margin:0px;">
      <legend class="f_red">信用评价设置</legend>
      <table width="100%" border="0" cellpadding="4" cellspacing="0">
        <tr>
          <td align="right" class="f_b" width="120" valign="top">买家信用评价地址：</td>
          <td valign="top"><input name="visitKey_3" type="text" id="visitKey_3"{if $visitWay==3} value="$visitKey"{/if} maxlength="100" class="text_long" />
            <div style="padding-top:5px; line-height:16px;" class="f_blue">此处输入已经购买过您的该任务宝贝的买家的买家信用评价页面地址，可以在您的宝贝的销售记录中点击买家用户名右侧的信用级别图标（红心，黄钻…）进入</div></td>
        </tr>
        <tr>
          <td align="right" class="f_b" valign="top">来路提示：</td>
          <td valign="top"><input name="visitTip_3" type="text" id="visitTip_3"{if $visitWay==3} value="$visitTip"{/if} maxlength="200" class="text_long" />
            <div style="padding-top:5px; line-height:16px;" class="f_blue">此处填写提示信息，说明此宝贝购买记录在购买列表中的页数和位置等信息….比如：第二页倒数第一个</div></td>
        </tr>        
      </table>
    </fieldset>
  </form>
</div>
<script type="text/javascript">
	var v = 0;

	function checkForm() {
		var v = getRV("visitWay");
		if (v == "") {
			alert("您尚未选择来路方式");
			return;
		}
		if (v == "0") {
			getPaId("s_way").innerHTML = "直接访问";
			getPaId("s_key").innerHTML = "";
			getPaId("s_tip").innerHTML = "";
			getPaId("visitWay").value = "0";
			getPaId("visitKey").value = "";
			getPaId("visitTip").value = "";
		}
		if (v == "1") {
			if (!isEmpty("visitKey_1", "店铺搜索关键字")) return;
			if (!isEmpty("visitTip_1", "搜索提示")) return;
			getPaId("s_way").innerHTML = "淘宝店铺搜索";
			getPaId("s_key").innerHTML = getValue("visitKey_1");
			getPaId("s_tip").innerHTML = getValue("visitTip_1");
			getPaId("visitWay").value = "1";
			getPaId("visitKey").value = getValue("visitKey_1");
			getPaId("visitTip").value = getValue("visitTip_1");
		}
		if (v == "2") {
			if (!isEmpty("visitKey_2", "宝贝搜索关键字")) return;
			if (!isEmpty("visitTip_2", "搜索提示")) return;
			var unlen = getValue("visitKey_2").replace(/[^\x00-\xff]/g, "**").length;
			if (unlen < 8) {
			    alert("宝贝搜索关键字不能少于8个字符，1个汉字相当于2个字符");
			    return;
			}
			getPaId("s_way").innerHTML = "淘宝宝贝搜索";
			getPaId("s_key").innerHTML = getValue("visitKey_2");
			getPaId("s_tip").innerHTML = getValue("visitTip_2");
			getPaId("visitWay").value = "2";
			getPaId("visitKey").value = getValue("visitKey_2");
			getPaId("visitTip").value = getValue("visitTip_2");			
		}
		if (v == "3") {
			if (!isEmpty("visitKey_3", "买家信用评价地址")) return;
			if (!isEmpty("visitTip_3", "来路提示")) return;
			if (getValue("visitKey_3").indexOf("http://rate.taobao.com/user-rate-") != 0) {
				doAlert("淘宝信用评价的网址格式为：http://rate.taobao.com/user-rate-xxxxxxxxx.htm", $("#visitKey_3"));
				return;
			}
			getPaId("s_way").innerHTML = "淘宝信用评价";
			getPaId("s_key").innerHTML = getValue("visitKey_3");
			getPaId("s_tip").innerHTML = getValue("visitTip_3");
			getPaId("visitWay").value = "3";
			getPaId("visitKey").value = getValue("visitKey_3");
			getPaId("visitTip").value = getValue("visitTip_3");
		}
		parent.doCut();
	}

	function showWay(i) {
		getObj("v_" + v).style.display = "none";
		getObj("v_" + i).style.display = "";
		v = i;
	}
	
	function getPaId(id) {
		return parent.document.getElementById(id);
	}
</script>
</body>
</html>