{sub header}

    <table border="0" cellspacing="0" cellpadding="8">
      <tr>
        <td width="150" align="right" class="f_b">用户名：</td>
        <td>$member[username]</td>
      </tr>
      
      <tr>
        <td align="right" class="f_b">新手互动区：</td>
        <td><a href="{rewrite}/task/new/?m=$m&t=expire" class="link_b" target="_blank">$memberTask[$fName.'4']个</a></td>
      </tr>
      <tr>
        <td align="right" class="f_b">淘宝互动区：</td>
        <td><a href="{rewrite}/task/tao/?m=$m&t=expire" class="link_b" target="_blank">$memberTask[$fName.'1']个</a></td>
      </tr>
      <tr>
        <td align="right" class="f_b">拍拍互动区：</td>
        <td><a href="{rewrite}/task/pai/?m=$m&t=expire" class="link_b" target="_blank">$memberTask[$fName.'2']个</a></td>
      </tr>
      <tr>
        <td align="right" class="f_b">有啊互动区：</td>
        <td><a href="{rewrite}/task/you/?m=$m&t=expire" class="link_b" target="_blank">$memberTask[$fName.'3']个</a></td>
      </tr>
      
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>
					<input name="btnCancel" type="button" class="btn_2" onclick="parent.doCut();" id="btnCancel" value="关闭" /></td>
      </tr>
    </table>
{sub footer}