{sub header}

    <table width="100%" border="0" cellpadding="6" cellspacing="0">
      <tr>
        <td width="120" align="right" class="f_b">剩余卡数：</td>
        <td>您的宝贝库中还有未使用预定任务卡<span class="f_b_org">$count1</span>张</td>
      </tr>
      <tr>
        <td align="right" class="f_b">仍可接手任务数：</td>
        <td><span class="f_b_org">$maxTaskIn2</span> 个</td>
      </tr>
      <tr>
        <td align="right" class="f_b">{echo language::get('qu'.$type)}互动区：</td>
        <td>仍有正在预定的任务<span class="f_b_org">$count2</span>个</td>
      </tr>
      <tr>
        <td align="right" class="f_b">预定任务个数：</td>
        <td><input name="nums" type="text" style="width:45px;" id="nums" value="$datas[nums]" onload="this.foucs();" />
          <span class="f_gray">预定任务不能大于<span class="f_b_org">$count1</span>个,留空则仅修改预定条件</span></td>
      </tr>
    </table>
    <fieldset style="padding:0px; margin:0px;">
      <legend class="f_gray">任务条件设置</legend>
      <table width="100%" border="0" cellpadding="6" cellspacing="0">
        <tr>
          <td align="right" class="f_b" width="120">任务商品担保价格：</td>
          <td><input name="priceLow" type="text" style="width:45px;" id="priceLow" value="$datas[priceLow]" />
            至
            <input name="priceHigh" type="text" style="width:45px;" id="priceHigh" value="$datas[priceHigh]" />
            <span class="f_gray">1-1999元之间</span></td>
        </tr>
        <tr>
          <td align="right" class="f_b">好评时限要求：</td>
          <td><select name="times" id="times">
              <option value="0"{if $datas[times]==0} selected{/if}>不限制</option>
              <option value='1'{if $datas[times]==1} selected{/if}>马上好评</option>
			  <option value='2'{if $datas[times]==2} selected{/if}>24小时好评</option>
			  <option value='3'{if $datas[times]==3} selected{/if}>48小时好评</option>
			  <option value='4'{if $datas[times]==4} selected{/if}>72小时好评</option>
            </select></td>
        </tr>
        <tr>
          <td align="right" class="f_b">审核接手人：</td>
          <td><input name="isVerify" type="checkbox" id="isVerify" value="1"{if $datas[isVerify]} checked{/if} />
            <span class="f_gray">为了提高预定成功率，建议您不要勾选此项</span></td>
        </tr>
        <tr>
          <td align="right" class="f_b">买号实名认证：</td>
          <td><input name="isReal" type="radio" id="isReal_1" value="1"{if $datas[isReal]==1} checked{/if} /><label for="isReal_1">非实名</label>　
            <input name="isReal" type="radio" id="isReal_0" value="0"{if $datas[isReal]==0} checked{/if} /><label for="isReal_0">无所谓</label></td>
        </tr>
      </table>
    </fieldset>
    <table width="100%" border="0" cellpadding="6" cellspacing="0">
      <tr>
        <td width="120" align="right" class="f_b">预定成功短信提醒：</td>
        <td><input name="isSms" type="checkbox" id="isSms" value="1"{if $datas[isSms]} checked{/if} />
          <span class="f_gray">预定成功,发动短信到您认证的手机,<span class="f_orange">每条:{$msg_user_price}元(VIP{$msg_vip_price}元)</span></span></td>
      </tr>
      <tr>
        <td align="right" class="f_b">暂停接手新任务：</td>
        <td><input name="isStop" type="checkbox" id="isStop" value="1"{if $datas[isStop]} checked{/if} />
          <span class="f_gray">选中打勾将处于暂停状态，暂停时不会接手新任务</span></td>
      </tr>
      <tr>
        <td align="right" class="f_b" valign="top">过滤发布人：</td>
        <td><textarea name="rejects" id="rejects" style="width:300px; height:50px">$datas[rejects]</textarea>
          <br /><span class="f_orange">不同发布人之间请用逗号","隔开，最多可以过滤20个</span></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td><input name="btnSubmit" type="submit" class="btn_2" id="btnSubmit" value="确定" />
          <input name="btnCancel" type="button" class="btn_2" onclick="parent.doCut();" id="btnCancel" value="取消" /></td>
      </tr>
    </table>
<script type="text/javascript">
function checkForm() {
    var checks = [
		["isNum", "nums", "预定任务个数"],
		["isNumber", "priceLow", "任务商品担保价格"],
		["isNumber", "priceHigh", "任务商品担保价格"],
		["isRange", "priceLow", "任务商品担保价格", 1, 1999],
		["isRange", "priceHigh", "任务商品担保价格", 1, 1999],
		["isLength", "rejects", "过滤发布人", 0, 400] ];
	var result = doCheck(checks);
	if (result && parseInt(getValue("priceHigh")) < parseInt(getValue("priceLow"))) {
	    doAlert("任务商品担保价格的后一个不能小于前一个", getObj("priceHigh"));
	    return false;
	}
	if (result && getValue("nums") != "" && getValue("nums") > 3) {
	    doAlert("预定任务数不能大于 3", getObj("nums"));
	    return false;
	}
	if (result && getValue("rejects").replace("，", ",").split(",").length > 20) {
		doAlert("过滤发布人最多20个，当前共" + getValue("rejects").replace("，", ",").split(",").length + "个", getObj("rejects"));
		return false;
	}
	if (result)
		return avoidReSubmit();
	return result;
}
</script>
{sub footer}
