
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link type="text/css" href="../css/dialog.css" rel="stylesheet" />
<style type="text/css">
.tbl td {border-bottom:1px solid #E8F2FC;}
.bar_dl {margin:0px !important;}
</style>
{teval
echo css::get_css('dialog', 'dialog');
echo css::get_css('task', 'task');
echo javascript::get_js('task', 'index');
}
{js_select jquery,common}
<title>来路商品详情</title>
</head>
<body>
<div class="main_dl">
	{if $_showmessage}<div class='msg_panel'><div>$_showmessage</div></div>{/if}
	{if $indexMessage}<div class='error_panel'><div>$indexMessage</div></div>{/if}
	<div style="padding:5px ; line-height:18px; border:1px dashed #A3C5EA;">
		{if $task[isCart]}
		该任务属于购物车任务，接手方需要把下列商品以购物车方式购买
		{elseif $task[isExpress]}
		该任务属于真实快递任务，接手方需要把下列商品以购物车方式购买
		{/if}
	</div>
	
	<div class="bar_dl">商品详情</div>
<form name="myForm" method="post" id="myForm" onsubmit="return checkForm();">
<div>$sys_hash_code2</div>

  <table class="tbl" width='100%' border='0' cellspacing='0' cellpadding='6'>
	
    <tr>
      <td width='80' class='f_b_green' valign="top" align="right">掌柜名：</td>
      <td>$task[nickname]</td>
    </tr>
	{loop $shops $k $v}
    <tr>
      <td class='f_b_green' valign="top" align="right">第{++ $k}个商品：</td>
      <td><table>
	  	<tr>
			<td>名称：</td>
			<td>$v[title]</td>
		</tr>
		<tr>
			<td>价格：</td>
			<td>$v[price]</td>
		</tr>
		<tr>
			<td>地址：</td>
			<td><input type="text" name="itemurl[]" id="itemurl$k" value="$v[itemurl]" style="width:300px" /><input type="button" value="复制" onclick="copy($('#itemurl$k').val())" /></td>
		</tr>
	  </table></td>
    </tr>
    {/loop}
  </table>
  </form>
	<div style="padding-top:20px;text-align:center;">
		<input name="goon" class="btn_2" type="button" id="goon" onclick="parent.doCut2();" value="关闭" />
	</div>
</div>
</body>
</html>
