{teval
	$cssList     = array(css::getUrl('bbs', 'bbs'), css::getUrl('moderate', 'bbs'));
	echo string::getStaticCode(array('cssList'=>$cssList));
}
{sub ../header}
<script type="text/javascript" src="{$weburl}/javascript/color.js"></script>
<div class="moderate">
	<div class="tip">选择了{$threads}个主题</div>
	<div class="box">
		<form method="post" enctype="application/x-www-form-urlencoded">
		$sys_hash_code2
		{loop $moderate $v}
		<input type="hidden" name="moderate[]" value="$v" />
		{/loop}
		<table>
			<tr>
				<td><input type="checkbox" name="op_top" value="1"{if $op=='stick'} checked{/if} /></td>
				<td class="title">置顶</td>
			</tr>
			<tr>
				<td></td>
				<td>
					<select name="top">
						<option value="0">无</option>
						<option value="1">全局置顶</option>
						<option value="2">本版置顶</option>
					</select>
				</td>
			</tr>
			<tr>
				<td><input type="checkbox" name="op_digest" value="1"{if $op=='digest'} checked{/if} /></td>
				<td class="title">精华</td>
			</tr>
			<tr>
				<td></td>
				<td>
					<select name="digest">
						<option value="0">解除</option>
						<option value="1">精华1</option>
						<option value="2">精华2</option>
						<option value="3">精华3</option>
					</select>
				</td>
			</tr>
			<tr>
				<td><input type="checkbox" name="op_highlight" value="1"{if $op=='highlight'} checked{/if} /></td>
				<td class="title">高亮</td>
			</tr>
			<tr>
				<td></td>
				<td><input type="text" name="title_color" id="title_color" readonly="true" /><a href="javascript:;" id="select_color1">选择颜色</a>
					<br />
					<input type="checkbox" name="title_b" id="title_b" /><label for="title_b">加粗</label>
					<input type="checkbox" name="title_i" id="title_i" /><label for="title_i">倾斜</label>
					<input type="checkbox" name="title_u" id="title_u" /><label for="title_u">下划线</label>
				</td>
			</tr>
			<tr>
				<td></td>
				<td><input type="submit" value="提交" /></td>
			</tr>
		</table>
		</form>
	</div>
</div>
<script type="text/javascript">
$(function(){
	$.showcolor('select_color1', 'title_color');//第一参数：按钮ID，第二参数： 文本框ID
	$.showcolor('title_color', 'title_color');
})
</script>
{sub ../footer}