{subtemplate ../header}
<SCRIPT type="text/javascript" src="/css/service.js"></SCRIPT>
<LINK rel="stylesheet" type="text/css" href="/css/shua.css">
<SCRIPT type="text/javascript">
$(function() {
	$("#table tr:odd").css({background:"#e8f9fe"});
});
</SCRIPT>
<!--banner 登录框开始-->
<DIV style="margin-top: 0px;" id="ds_banner">
<DIV class="kd">
<DIV class="banner"><IMG src="/images/ds_banner.gif" width="602" height="302"></DIV>
<DIV class="ds_news">
<DIV class="ds_zxlist">
<TABLE id="table" border="0" cellSpacing="0" cellPadding="0" width="95%">
  <TBODY>
  <TR>
    <TD height="25" width="120">&nbsp; <SPAN>cai**</SPAN></TD>
    <TD>申请<SPAN class="lanse">一钻</SPAN></TD>
    <TD width="110"><STRONG class="chengse">250</STRONG>个信誉</TD></TR>
  <TR>
    <TD height="25" width="120">&nbsp; <SPAN>wya****</SPAN></TD>
    <TD>申请<SPAN class="lanse">一钻</SPAN></TD>
    <TD width="110"><STRONG class="chengse">250</STRONG>个信誉</TD></TR>
  <TR>
    <TD height="25" width="120">&nbsp; <SPAN>ith**</SPAN></TD>
    <TD>申请<SPAN class="lanse">一钻</SPAN></TD>
    <TD width="110"><STRONG class="chengse">250</STRONG>个信誉</TD></TR>
  <TR>
    <TD height="25" width="120">&nbsp; <SPAN>jua******</SPAN></TD>
    <TD>申请<SPAN class="lanse">一钻</SPAN></TD>
    <TD width="110"><STRONG class="chengse">250</STRONG>个信誉</TD></TR>
  <TR>
    <TD height="25" width="120">&nbsp; <SPAN>若兰轩****</SPAN></TD>
    <TD>申请<SPAN class="lanse">一钻</SPAN></TD>
    <TD width="110"><STRONG 
class="chengse">250</STRONG>个信誉</TD></TR>
</TBODY>
</TABLE>
</DIV>
<P class="ds_wc">已完成：<STRONG class="chengse">122147</STRONG> 个信誉</P>
<DIV class="ds_btn"><A class="btn" href="tencent://message/?uin={$kefu_qq}" 
target="_blank"></A><A class="btn2" href="#"></A></DIV></DIV></DIV></DIV>
<DIV id="content">
<DIV class="ds_about">
<TABLE border="0" cellSpacing="0" cellPadding="0" width="1000" height="115">
  <TBODY>
  <TR>
    <TD class="ds_a1" width="20">&nbsp;</TD>
    <TD class="ds_a2" width="290"><SPAN class="ds_fw"></SPAN>
      <P>我们的服务</P>                专业的团队，多年的经验！<BR>一直致力于淘宝网店服务研究！</TD>
    <TD class="ds_a2"><SPAN class="ds_fw2"></SPAN>
      <P>我们的承诺</P>降多少补多少，封了再帮您刷一个店！<BR>把店交给我们，将不辜负您的重托！</TD>
    <TD class="ds_a2"><SPAN class="ds_fw3"></SPAN>
      <P>我们的优势</P>价格低廉，时间短，效率高！<BR>让您用最少的付出获得最大的回报！</TD>
    <TD class="ds_a3" width="10">&nbsp;</TD></TR></TBODY></TABLE></DIV>
<P style="display: none;" class="Discount">优惠活动剩余时间：<SPAN 
id="sale_times">0</SPAN>秒</P>
<DIV class="ds_cplist">
<H4 class="ds_tit">收费标准</H4>
<H5 class="ds_qq"><A class="kf2gre" href="tencent://message/?uin={$kefu_qq}"><IMG 
border="0" src="/images/button_old_171.gif"></A><A class="kf2gre" href="tencent://message/?uin={$kefu_qq}">客服小粉</A>　<A 
class="kf2gre" href="tencent://message/?uin={$kefu_qq}"><IMG border="0" src="/images/button_old_171.gif"></A><A 
class="kf2gre" href="tencent://message/?uin={$kefu_qq}">客服小麦</A>　<A class="kf2gre" 
href="tencent://message/?uin={$kefu_qq}"><IMG border="0" src="/images/button_old_171.gif"></A><A 
class="kf2gre" href="tencent://message/?uin={$kefu_qq}">客服小芸</A>　<A class="kf2gre" 
href="tencent://message/?uin={$kefu_qq}"><IMG border="0" src="/images/button_old_171.gif"></A><A 
class="kf2gre" href="tencent://message/?uin={$kefu_qq}">客服小黄</A>　<A href="#"><IMG 
align="absmiddle" src="/images/heshenguan.jpg" width="117" 
height="35"></A></H5>
<DIV class="cle"></DIV>
<DIV class="ds_line">
<P class="name">打理250笔交易</P><SPAN class="ds_dj1"></SPAN>
<UL class="text">
  <LI class="chengse2"><SPAN>价格：<STRONG>599</STRONG>元</SPAN>-<SPAN style="text-decoration: line-through;">原价：<STRONG>699</STRONG>元</SPAN></LI>
  <LI>时间：<STRONG class="lanse">30</STRONG>天左右</LI>
  <LI>属性：赠送收藏流量</LI>
  <LI>
  <FORM id="myForm1" method="post" name="myForm1">
  $sys_hash_code2
  <INPUT name="store_price" value="599" type="hidden">
  <INPUT name="store_day" value="30" type="hidden">
  <INPUT name="store_deal" value="200" type="hidden">
  <INPUT name="store_style" value="1" type="hidden">
  <INPUT name="store_att" value="1" type="hidden">
  <A class="ds_btn" onclick="javascript:if(confirm('订购托管后，将有客服与您取得联系，请保持QQ，手机通信正常。确定订购吗？'))document.getElementById('myForm1').submit();" 
  href="javascript:;"></A>
  </FORM>
  </LI>
  </UL>
  </DIV>
<DIV class="ds_line">
<P class="name">打理500笔交易</P><SPAN class="ds_dj2"></SPAN>
<UL class="text">
  <LI class="chengse2"><SPAN>价格：<STRONG>1198</STRONG>元</SPAN>-<SPAN style="text-decoration: line-through;">原价：<STRONG>1298</STRONG>元</SPAN></LI>
  <LI>时间：<STRONG class="lanse">60</STRONG>天左右</LI>
  <LI>属性：赠送收藏流量</LI>
  <LI>
  <FORM id="myForm2" method="post" name="myForm2">
 $sys_hash_code2
  <INPUT name="store_price" value="1198" type="hidden">
  <INPUT name="store_day" value="60" type="hidden">
  <INPUT name="store_deal" value="500" type="hidden">
  <INPUT name="store_style" value="2" type="hidden">
  <INPUT name="store_att" value="1" type="hidden">
 <A class="ds_btn" onclick="javascript:if(confirm('订购托管后，将有客服与您取得联系，请保持QQ，手机通信正常。确定订购吗？'))document.getElementById('myForm2').submit();" 
  href="javascript:;"></A></FORM></LI></UL></DIV>
<DIV class="ds_line">
<P class="name">打理1000笔交易</P><SPAN class="ds_dj3"></SPAN>
<UL class="text">
  <LI class="chengse2"><SPAN>价格：<STRONG>2396</STRONG>元</SPAN>-<SPAN style="text-decoration: line-through;">原价：<STRONG>2498</STRONG>元</SPAN></LI>
  <LI>时间：<STRONG class="lanse">80</STRONG>天左右</LI>
  <LI>属性：赠送收藏流量</LI>
  <LI>
  <FORM id="myForm3" method="post" name="myForm3">
  $sys_hash_code2
  <INPUT name="store_price" value="2396" type="hidden">
  <INPUT name="store_day" value="80" type="hidden">
  <INPUT name="store_deal" value="1000" type="hidden">
  <INPUT name="store_style" value="3" type="hidden">
  <INPUT name="store_att" value="1" type="hidden"><A class="ds_btn" 
  onclick="javascript:if(confirm('订购托管后，将有客服与您取得联系，请保持QQ，手机通信正常。确定订购吗？'))document.getElementById('myForm3').submit();" 
  href="javascript:;"></A></FORM></LI></UL></DIV>
<DIV class="ds_line">
<P class="name">打理2000笔交易</P><SPAN class="ds_dj4"></SPAN>
<UL class="text">
  <LI class="chengse2"><SPAN>价格：<STRONG>4500</STRONG>元</SPAN>-<SPAN style="text-decoration: line-through;">原价：<STRONG>4688</STRONG>元</SPAN></LI>
  <LI>时间：<STRONG class="lanse">120</STRONG>天左右</LI>
  <LI>属性：赠送收藏流量</LI>
  <LI>
  <FORM id="myForm4" method="post" name="myForm4">
  $sys_hash_code2
  <INPUT name="store_price" value="4500" type="hidden">
  <INPUT name="store_day" value="120" type="hidden">
  <INPUT name="store_deal" value="2000" type="hidden">
  <INPUT name="store_style" value="4" type="hidden">
  <INPUT name="store_att" value="1" type="hidden"><A class="ds_btn" 
  onclick="javascript:if(confirm('订购托管后，将有客服与您取得联系，请保持QQ，手机通信正常。确定订购吗？'))document.getElementById('myForm4').submit();" 
  href="javascript:;"></A></FORM></LI></UL></DIV>
<DIV class="ds_line">
<P class="name">打理5000笔交易</P><SPAN class="ds_dj5"></SPAN>
<UL class="text">
  <LI class="chengse2"><SPAN>价格：<STRONG>8500</STRONG>元</SPAN>-<SPAN style="text-decoration: line-through;">原价：<STRONG>8688</STRONG>元</SPAN></LI>
  <LI>时间：<STRONG class="lanse">180</STRONG>天左右</LI>
  <LI>属性：赠送收藏流量</LI>
  <LI>
  <FORM id="myForm5" method="post" name="myForm5">
  $sys_hash_code2
  <INPUT name="store_price" value="8500" type="hidden">
  <INPUT name="store_day" value="180" type="hidden">
  <INPUT name="store_deal" value="5000" type="hidden">
  <INPUT name="store_style" value="5" type="hidden">
  <INPUT name="store_att" value="1" type="hidden"><A class="ds_btn" 
  onclick="javascript:if(confirm('订购托管后，将有客服与您取得联系，请保持QQ，手机通信正常。确定订购吗？'))document.getElementById('myForm5').submit();" 
  href="javascript:;"></A></FORM></LI></UL></DIV>
<DIV class="ds_line">
<P class="name">打理10001笔交易</P><SPAN class="ds_dj6"></SPAN>
<UL class="text">
  <LI class="chengse2"><SPAN>价格：<STRONG>16000</STRONG>元</SPAN>-<SPAN style="text-decoration: line-through;">原价：<STRONG>16668</STRONG>元</SPAN></LI>
  <LI>时间：<STRONG class="lanse">360</STRONG>天左右</LI>
  <LI>属性：赠送收藏流量</LI>
  <LI>
  <FORM id="myForm6" method="post" name="myForm6">
  $sys_hash_code2
  <INPUT name="store_price" value="16000" type="hidden">
  <INPUT name="store_day" value="360" type="hidden">
  <INPUT name="store_deal" value="10001" type="hidden">
  <INPUT name="store_style" value="6" type="hidden">
  <INPUT name="store_att" value="1" type="hidden"><A class="ds_btn" 
  onclick="javascript:if(confirm('订购托管后，将有客服与您取得联系，请保持QQ，手机通信正常。确定订购吗？'))document.getElementById('myForm6').submit();" 
  href="javascript:;"></A></FORM></LI></UL></DIV>
<DIV class="ds_line">
<P class="name">打理20001笔交易</P><SPAN class="ds_dj7"></SPAN>
<UL class="text">
  <LI class="chengse2">价格：<STRONG class="chengse">35000</STRONG>元</LI>
  <LI>时间：<STRONG class="lanse">520</STRONG>天左右</LI>
  <LI>属性：赠送收藏流量</LI>
  <LI>
  <FORM id="myForm7" method="post" name="myForm7">
  $sys_hash_code2
  <INPUT name="store_price" value="35000" type="hidden">
  <INPUT name="store_day" value="520" type="hidden">
  <INPUT name="store_deal" value="20001" type="hidden">
  <INPUT name="store_style" value="7" type="hidden">
  <INPUT name="store_att" value="1" type="hidden"><A class="ds_btn" 
  onclick="javascript:if(confirm('订购托管后，将有客服与您取得联系，请保持QQ，手机通信正常。确定订购吗？'))document.getElementById('myForm7').submit();" 
  href="javascript:;"></A></FORM></LI></UL></DIV>
<DIV class="ds_line">
<P class="name">打理50001笔交易</P><SPAN class="ds_dj8"></SPAN>
<UL class="text">
  <LI><SPAN class="chengse2">价格：<STRONG class="chengse">需详谈</STRONG></SPAN></LI>
  <LI>时间：<STRONG class="lanse">需详谈</STRONG></LI>
  <LI>属性：赠送收藏流量</LI>
  <LI><A class="ds_btn" 
href="{rewrite}/guanfuwu/"></A></LI></UL></DIV></DIV>
<DIV style="height: 112px;" id="c_bk3"><A href="{rewrite}/guanfuwu/backdoor" 
target="_blank"><IMG src="/images/shua_banner.gif"></A></DIV>
<DIV style="height: 344px; margin-top: 0px;" id="c_bk3">
<UL style="left: 15px;" class="c_info">
  <H4 class="dsym_bt"></H4>
  <LI><A href="{rewrite}/bbs/t1331/" 
  target="_blank">花兔兔平台托管业务介绍</A></LI>
  <LI><A href="{rewrite}/bbs/t1332/" 
  target="_blank">花兔兔平台托管业务细则（会员必看，请仔细阅读）</A></LI>
  <LI><A href="{rewrite}/bbs/t1330/" 
  target="_blank">为何要托管提升信誉，亲们知道吗？</A></LI>
  <LI><A href="{rewrite}/bbs/t1333/" 
  target="_blank">客户托管前的准备</A></LI>
  <LI><A href="{rewrite}/bbs/t1334/" 
  target="_blank">需要提供的店铺资料</A></LI>
  <LI><A href="{rewrite}/bbs/t1335/" 
  target="_blank">托管提交方法？</A></LI>
  <LI><A href="{rewrite}/bbs/t1482/" 
  target="_blank">关于托管物品以及物品金额</A></LI></UL></DIV>
<DIV style="height: 95px;" id="c_bk3"><IMG 
src="/images/shua_banner.jpg"></DIV>
<DIV style="height: 344px; margin-top: 0px;" id="c_bk3">
<UL style="left: 15px;" class="c_info">
  <H4 class="dsym_bt2"></H4>
  <LI><A href="{rewrite}/bbs/t1336/" 
  target="_blank">你托管，或是不托管，托管就在这里</A></LI>
  <LI><A href="{rewrite}/bbs/t1342/" 
  target="_blank">怎么开通淘宝E客服帐号？</A></LI>
  <LI><A href="{rewrite}/bbs/t1341/" 
  target="_blank">并不是非选我们不可</A></LI>
  <LI><A href="{rewrite}/bbs/t1340/" 
  target="_blank">店铺被释放是为什么？</A></LI>
  <LI><A href="{rewrite}/bbs/t1339/" 
  target="_blank">托管信誉过程中，支付宝被冻结如何处理！</A></LI>
  <LI><A href="{rewrite}/bbs/t1338/" target="_blank">托管注意事项 
  （重要的）</A></LI>
  <LI><A href="{rewrite}/bbs/t1337/" 
  target="_blank">谨防托管信誉骗子！</A></LI></UL></DIV></DIV>
<DIV class="cle"></DIV>
<SCRIPT type="text/javascript">
function SaleRefreshTime(t) {
    if (t <0 ) t = 0;
    var id = "#sale_times";
	$(id).html(parseInt(t/3600) + ":" + parseInt((t-(parseInt(t/3600))*3600)/60) + ":" + (t-(parseInt(t/3600))*3600)%60);
    var uptime = function() {
        t = t - 1;
		m = parseInt((t-(parseInt(t/3600))*3600)/60);
		s = (t-(parseInt(t/3600))*3600)%60;
		if(m<10)m='0'+m;
		if(s<10)s='0'+s;
		if (t <= 0) {
		    window.clearInterval(tt_0);
			$("#sale_times").html("0");
            t = 0;
        }
		$(id).html(parseInt(t/3600) + ":" + m + ":" + s);
    }
    var tt_0 = window.setInterval(uptime, 1000);
}

</SCRIPT>

<DIV class="cle"></DIV>
{subtemplate ../footer} 
