body		{text-align:center; margin:0; font-family:宋体, serif, 'Lucida Grande', Verdana, Lucida, Arial, Helvetica, sans-serif; font-size: 12px;}
table,tr,td,input,textarea	{font-size:12px; }
ul,li,form	{list-style-type:none; margin:0px; padding:0px;}
p 			{margin:0px; padding:0px;}
a:link 		{color:#555; text-decoration:none;}
a:visited 	{color:#555; text-decoration:none;}
a:hover 	{color:#555; text-decoration:underline;}
a.active 	{color:#555; text-decoration:none;}
.clear		{clear:both;}
.hide		{display:none;}
.show		{display:inline;}
.block		{display:block;}

.global		{margin:0px auto; width:950px; text-align:center;}

.top		{margin:0px auto; width:950px; height:24px; line-height:24px; background:#F8F8F8; border-bottom:1px solid #E6E6E6;}
.top_left	{float:left; padding:0 10px;}
.top_right	{float:right; padding:0 10px;}
.head		{margin:0px auto; width:950px; height:60px; clear:both;}
.head_left	{float:left;line-height:60px;}
.head_right	{float:right; border:1px solid #CDE0FE; background:#ECF3FB; line-height:22px; margin-top:18px; padding:0px 10px;}
.top_msg {background:url(tip2.gif) left center no-repeat; padding-left:18px; }

.sys_ann	{margin:0px auto; clear:both; width:950px; line-height:26px; color:#F00;}

.menu		{margin:0px auto; width:950px; clear:both; height:70px; background:url(menu.gif) left top no-repeat;}
.menu_ul	{height:37px;line-height:37px;padding-left:28px}
.menu_ul li {float:left; padding:0px 0px 0px 3px; font-size:14px; font-weight:bold;margin-left:15px}
.menu_ul a:link {color:#FFF;text-decoration:none;}
.menu_ul a:visited {color:#FFF;text-decoration:none;}
.menu_ul a:hover {color:#FFF; text-decoration:underline;}
.menu_ul .on{
	background-image: url(menu_tab.gif);
	background-repeat: no-repeat;
	float:left; position:relative;
}
.menu_ul .on a:link {color:#0051C1;}
.menu_ul .on a:visited {color:#0051C1;}
.menu_ul .on a:hover {color:#0051C1;}
.menu_ul .on a{
	display:block;
	height:32px;
	line-height:30px;
	padding:5px 8px 0 8px;
	text-align:center;
	text-decoration:none;
	font-size:14px;
	background: url(menu_tab.gif) no-repeat right -37px;
	float:left;
}
.menu_split	{background:url(menu_link.gif) right center no-repeat;}
.menu_query{padding:2px 20px 0px 50px; color:#0051C1;}
.menu_query table {width:880px !important;}

.shuazuan_tips {}
.shuazuan_tips ul{height:15px;line-height:15px;overflow:hidden;padding-right:5px;}
.shuazuan_tips li{clear:both; text-align:left; height:15px; overflow:hidden; padding-left:10px;}

.nav		{margin:0px auto; width:950px; clear:both; height:25px; }
.nav_bar	{line-height:25px; height:25px; font-size:12px; font-family:Verdana,Helvetica,Arial,sans-serif; text-align:left; color:#0051C1; padding-left:20px; background:url(nav_bg.gif) left top repeat-x;}

.f_link		{margin:10px auto 0px auto; width:950px; clear:both;}

.foot		{margin:0px auto; width:950px; clear:both;}
.foot_line	{margin-top:7px; border-top:1px solid #D1D1D1; height:10px;}
.foot_info	{margin-bottom:30px; text-align:center; line-height:20px; font-family:arial;}

.f_b		{font-weight:bold;}
.f_12       {font-size:12px;}
.f_14		{font-size:14px;}
.f_16		{font-size:16px;}
.f_red		{color:#FF0000;}
.f_gray		{color:#999;}
.f_lg		{color:#666;}
.f_orange	{color:#FF6600;}
.f_b_green	{color:#2C7400; font-weight:bold;}
.f_b_org	{color:#FF6600; font-weight:bold;}
.f_b_red	{color:#FF0000; font-weight:bold;}
.f_b_blue   {color:#0051C1; font-weight:bold;}
.f_b_gray	{color:#666; font-weight:bold;}
.f_blue		{color:#0051C1;}

.h_10	{clear:both; height:10px;}
.h_20	{clear:both; height:20px;}
.h_30	{clear:both; height:30px;}

.text_short {width:70px;}
.text_small {width:100px;}
.text_normal {width:150px; /*border:1px solid #7F9DB9;*/}
.text_long {width:300px;}
.txt_d {background:#EBEBEB; border:1px solid #7F9DB9; padding:2px;}
.txt_small {width:300px; height:65px;}
.txt_normal {width:300px; height:100px;}
.txt_fail {background:url(invalid_line.gif) left bottom repeat-x; border: 1px solid #dd7870;}

.btn	{padding:2px 10px 0px 10px;}
.btn_1	{border:1px solid #FF6600; display:inline; overflow:visible; background:#FFA628; color:#FFF; text-align:center; font-weight:bold; line-height:18px; margin:0px; padding:2px 10px 0px 10px;}
.btn_2	{height:23px; color:#fff; font-size:12px; background:#355582;display:inline; overflow:visible; padding:4px 15px; border-left:1px solid #fff; border-top:1px solid #fff; border-right:1px solid #6a6a6a; border-bottom:1px solid #6a6a6a; cursor:pointer;}

.cursor {cursor:pointer;}
.mouse {cursor:default;}

.link_r_1:link {color:#FF0000;text-decoration:none;}
.link_r_1:visited {color:#FF0000;text-decoration:none;}
.link_r_1:hover {color:#FF0000; text-decoration:underline;}

.link_b_1:link {color:#0051C1;text-decoration:none;}
.link_b_1:visited {color:#0051C1;text-decoration:none;}
.link_b_1:hover {color:#0051C1; text-decoration:underline;}

.link_b:link {color:#0051C1;text-decoration:underline;}
.link_b:visited {color:#0051C1;text-decoration:underline;}
.link_b:hover {color:#0051C1; text-decoration:underline;}

.link_o:link {color:#FF6600;text-decoration:underline;}
.link_o:visited {color:#FF6600;text-decoration:underline;}
.link_o:hover {color:#FF6600; text-decoration:underline;}

.link_o_b {font-weight:bold;}
.link_o_b:link {color:#FF6600; text-decoration:underline;}
.link_o_b:visited {color:#FF6600; text-decoration:underline;}
.link_o_b:hover {color:#FF6600; text-decoration:underline;}

.link_g:link {color:#555;text-decoration:none;}
.link_g:visited {color:#555;text-decoration:none;}
.link_g:hover {color:#555; text-decoration:underline;}

.link_btn {padding:4px 10px; text-align:center; color:#FFF; background:#355582; border:1px solid #6a6a6a;}
.link_btn:link {color:#FFF;text-decoration:none;}
.link_btn:visited {color:#FFF;text-decoration:none;}
.link_btn:hover {color:#FFF; text-decoration:none;}

.link_a {padding-left:16px; color:#FF6600; background:url(msg_bg.png) left -300px no-repeat;}
.link_a:link {color:#FF6600;text-decoration:none;}
.link_a:visited {color:#FF6600;text-decoration:none;}
.link_a:hover {color:#FF6600; text-decoration:underline;}

.service {padding:2px 0 2px 23px; font-weight:bold; height:18px; color:#FF6600; background:url(qq.gif) left center no-repeat;}
.service:link {color:#FF6600;text-decoration:none;}
.service:hover {color:#FF6600; text-decoration:underline;}

.tbl_kf2 {background:#B0CEED; width:487px;}
.kf_bar2 td {background:#F0F9FF; line-height:26px; text-align:center; font-size:14px; font-weight:bold; color:#0151C2;}
.kf_txt2 td {background:#FFF; line-height:24px; text-align:left; padding-left:15px; vertical-align:top;}
.tbl_kf2 img {vertical-align:middle;}
.kf_time {background:#FFF url(task_ico_1.gif) 10px -5px no-repeat; height:30px; line-height:30px; text-align:left; padding-left:60px; font-size:14px; font-weight:bold; color:#F60;}

.pages	{clear:both; text-align:right;}
.pages a,.pages strong {padding:3px 6px;color:#9A9A9A; margin-right:3px;height:20px;border:1px solid #9A9A9A;line-height:20px;overflow:hidden;}
.pages a:hover{text-decoration:none; background-color:#9A9A9A; color:#fff; border:1px solid #000;}
.pages .pre {background:url(arrow_left.gif) left center no-repeat; padding-left:12px;}
.pages .next {background:url(arrow_right.gif) right center no-repeat; padding-right:12px;}
.pages strong {background:#555; color:#FFFFFF;}

.msg_panel 		{clear:both; border:1px dashed #CCCCCC; margin:5px 0px 5px 0px; background:#FFFFCC url(ico_info.gif) no-repeat 10px 5px;}
.msg_panel div	{padding:5px; color:#555; text-align:left; line-height:18px; margin-top: 8px; margin-bottom: 8px; margin-left: 44px; font-weight:bold;}
.error_panel	{clear:both; border:1px dashed #DBDB64; margin:5px 0px 5px 0px; background:#FFFFCC url(ico_critical.gif) no-repeat 10px 5px;}
.error_panel div{padding:5px; color:#FF0000; text-align:left;  line-height:18px; margin-top: 8px; margin-bottom: 8px; margin-left: 44px; font-weight:bold;}

.msg_ann {background:url(msg_bg.png) left -100px no-repeat; padding:3px 0px 3px 18px; color:#f00; height:18px; font-size:12px; font-weight:bold;}

.sp_now		{display:block; color:#000; background:#E2F5FF url(icon_now.gif) left 2px no-repeat; border:1px solid #00A8FF; line-height:24px; padding-left:24px;}
.sp_ok		{display:block; color:#000; background:#E6FFE6 url(icon_ok.gif) left 2px no-repeat; border:1px solid #00BE00; line-height:24px; padding-left:24px;}
.sp_error	{display:block; color:#000; background:#FFF2E9 url(icon_error.gif) left 2px no-repeat; border:1px solid #FF6600; line-height:24px; padding-left:24px;}
.sp_no		{display:none;}

.shadow {position:absolute; clear:both; width:100%; height:800px; left:0px; top:0px; z-index:1000; background:#000; filter:alpha(opacity=20); -moz-opacity: 0.2; opacity: 0.2;}
.dialog {position:absolute; left:50%; top:50%; width:600px; font-size:12px; line-height:24px; height:350px; z-index:1001;}
.dialog_t{height:8px; background:#000; filter:alpha(opacity=40); -moz-opacity:0.4; opacity: 0.4;}
.dialog_s{width:7px; background:#000; filter:alpha(opacity=40);  -moz-opacity:0.4; opacity: 0.4;}
.dialog_r{border:1px solid #565656;}
.dialog_bar{width:100%; color:#fff; background:#355582; font-weight:bold; height:24px;}

.dialog_less{font-size:14px; font-weight:bold; text-align:center; line-height:30px; padding:150px 40px 0px 40px;}
.dialog_lot {text-align:left; line-height:24px; padding:30px 20px 0px 20px;}

.quick_on	{width:55px; cursor:pointer; padding-left:2px; line-height:24px; border-top:1px solid #A1C5E9; border-left:1px solid #A1C5E9; border-right:1px solid #A1C5E9;}
.quick_no	{width:55px; cursor:pointer; padding-left:2px; background:#F0F9FE; border:1px solid #A1C5E9;}
.quick_s	{width:1px; height:24px; border-bottom:1px solid #A1C5E9;}
.quick		{height:104px; padding-top:10px; border-bottom:1px solid #A1C5E9;border-left:1px solid #A1C5E9;border-right:1px solid #A1C5E9;}
.quick td	{line-height:20px;}
.loading	{padding:30px; background:#F8F8F8 url(loading.gif) 10px center no-repeat; border:1px solid #E8F2FC; font-weight:bold; color:#F00; text-align:center;}
.submiting	{margin:10px; line-height:200px; height:200px; font-weight:bold; color:#F00; text-align:center; background:#F8F8F8 url(loading.gif) 50px center no-repeat; border:1px solid #E8F2FC;}

.vip {background:url(vip.gif) no-repeat left top; height:13px; width:25px; vertical-align:middle; font-size:1px; display:-moz-inline-box;display:inline-block; overflow:hidden;}
.card {background:url(card.gif) no-repeat left top; height:13px; width:25px; vertical-align:middle; font-size:1px; display:-moz-inline-box;display:inline-block; overflow:hidden;}
.ensure {background:url(ensure.gif) no-repeat left top; height:13px; width:25px; vertical-align:middle; font-size:1px; display:-moz-inline-box;display:inline-block; overflow:hidden;}
.score_1,.score_2,.score_3,.score_4,.score_5,.score_6,.score_7,.score_8,.score_9,.score_10,.score_11,.score_12 {background-position:left top; background-repeat:no-repeat; height:16px; vertical-align:middle; font-size:1px; display:-moz-inline-box;display:inline-block; overflow:hidden;}
.score_1 {width:17px; background-image:url(score_1.gif);}
.score_2 {width:33px; background-image:url(score_2.gif);}
.score_3 {width:50px; background-image:url(score_3.gif);}
.score_4 {width:16px; background-image:url(score_4.gif);}
.score_5 {width:34px; background-image:url(score_5.gif);}
.score_6 {width:51px; background-image:url(score_6.gif);}
.score_7 {width:16px; background-image:url(score_7.gif);}
.score_8 {width:34px; background-image:url(score_8.gif);}
.score_9 {width:52px; background-image:url(score_9.gif);}
.score_10 {width:16px; background-image:url(score_10.gif);}
.score_11 {width:34px; background-image:url(score_11.gif);}
.score_12 {width:52px; background-image:url(score_12.gif);}

