.moderate{
	width:930px;
	clear:both;
	margin-bottom:10px;
	border:1px solid #CADFF4;
	text-align:left;
	margin-top: 10px;
	margin-right: auto;
	margin-left: auto;
	padding:10px;
}
.moderate .tip{
	font-weight: bold;
	color: #0066FF;
	font-size: 12px;
}
.moderate .box{
	margin-top:10px;
}
.moderate .box .title{
	color:#FF3300;
	font-weight:bold;
	height:25px;
	line-height:25px;
}