<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>$title</title>
<meta name="description" content="$description" />
<meta name="keywords" content="$keywords" />
<style type="text/css">
body{font-family:Verdana;margin:20px;font-size:12px;}
h2{font-size:12px;}
li{margin-top:6px;}
div{padding:8px;border:1px solid #EEEEEE;margin-top:10px;}
</style>
</head>
<body vlink="#333333" link="#333333">
<h2>$title - 文章</h2>
<div id="nav"><a href="$weburl"><strong>$web_name</strong></a> &raquo; <a href="{rewrite}/simple/$forum[ename]/">$forum[name]</a></div>
<div id="content">
	<ul type="1" start="1">
		{loop $threadList $k $thread}
		<li><a href="{rewrite}/simple/t$thread[id]/">$thread[title]</a> ($thread[posts] 回复)</li>
		{/loop}
	</ul>
	<div id="page">页：$multipage </div>
</div>
<div id="footer">查看完整版本：<strong><a href="$forum[url]" target="_blank">$forum[name]</a></strong></div>
</body>
</html>