
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>绑定客户端 - $web_name</title>
<META http-equiv="Pragma" content="no-cache">
<META http-equiv="Cache-Control" content="no-cache">
<META http-equiv="Expires" content="0">
{teval
echo css::get_css('dialog', 'dialog');
}
{js_select jquery,common}
</head>
<body>
<center>
<div id="userAgent" style="display:none">$_SERVER['HTTP_USER_AGENT']</div>

<div id="logonTxt" class="main_dl">
  {if $indexMessage}<div class='error_panel'><div>$indexMessage</div></div>{/if}
	{if $_showmessage}<div class='msg_panel'><div>$_showmessage</div></div>{/if}
	{if !$memberLogined}
  <div class="tip_gun" style="line-height:30px; color:#F00; font-size:14px; font-weight:bold;">您当前并未绑定用户，请登录后绑定用户</div>
  <div class="bar_dl">会员登录</div>
  <form name="myForm" method="post" id="myForm" onsubmit="return checkForm();">
	<div>$sys_hash_code2</div>

    <table border="0" cellspacing="0" cellpadding="8">
      <tr>
        <td width="100" align="right" class="f_14">用 户 名：</td>
        <td><input name="username" type="text" class="text_normal" id="username" /></td>
      </tr>
      <tr>
        <td align="right" class="f_14">登录密码：</td>
        <td><input name="password" type="password" class="text_normal" id="password" /></td>
      </tr>
      <tr>
        <td align="right" class="f_14">验 证 码：</td>
        <td><input name="vcode" type="text" id="vcode" style="width:95px;" />
          <img id="imgCode" src="{$weburl2}images/vcode2.php" style="cursor:pointer" onclick="$(this).attr({src:'{$weburl2}images/vcode2.php?'+Math.random()})" alt="点击刷新校验码" align="absmiddle" /></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td><input name="btnSubmit" type="image" id="btnSubmit" src="{$weburl2}images/btn/btn_logon.gif" align="absmiddle"   /></td>
      </tr>
    </table>
  </form>
</div>
<script type="text/javascript">


function checkForm() {
    var checks = [
		["isEmpty", "username", "用户名"],
		["isEmpty", "password", "登录密码"],
		["isEmpty", "vcode", "验证码"] ];
	var result = doCheck(checks);
	if (result)
		return avoidReSubmit();
	return result;
}
</script>
{else}
<div class="bar_dl">绑定客户端</div>
	<a href="javascript:;" onclick="this.href='{rewrite}/$action/getClientId/'" class="link_b">绑定客户端</a>
{/if}
</center>
</body>
</html>