<table class="tlisttable" border="0" cellpadding="0" cellspacing="0" width="100%">
    <thead>
    <tr>
        <td class="rwdt_bt2" align="center" valign="middle" width="200">任务编号</td>
        <td class="rwdt_bt2" align="center" valign="middle" width="12%">任务价格</td>
        <td class="rwdt_bt2" align="center" valign="middle" width="18%">发布者要求</td>
        <td class="rwdt_bt2" align="center" valign="middle" width="12%">悬赏麦点</td>
        <td class="rwdt_bt2" align="center" valign="middle" width="12%">任务状态</td>
        <td class="rwdt_bt2" align="center" valign="middle" width="24%">操作</td>
    </tr>
    </thead>
    <tbody class="tlisttable">
    {eval $allPrice = 0;}
    {eval $allPoint= 0;}
    {loop $list $v}
    <tr>
        <td class="yf_pd2" width="180">
            <span {if $v[isCart]} class="rwdt_bh7" title="购物车任务—$v[shopCount]个商品" {elseif $v[isExpress]} class="task_express" title="真实快递任务—$v[shopCount]个商品" {elseif $v[visitWay]} class="rwdt_bh3" title="来路任务" {elseif $v[times]==0} class="rwdt_bh1" title="虚拟任务" {elseif $v[times]>=1} class="rwdt_bh2" title="实物任务" {/if}  ><strong class="system1">$v[id]</strong></span><p class="cle"></p>
            <span class="block">发布时间：{echo date('m-d H:i:s', $v[stimestamp])}</span><span class="rwdt_xbh0">发布方:<a class="comlink" title="接任务后方可查看到对方QQ号码" target="_blank" href="{rewrite}/member/info/?username={url $v[susername]}">$v[susername]</a></span>
        </td>
        <td class="yf_pd2" width="90"><span {if $v[isPriceFit]}class="rwdt_xgj"{else}class="rwdt_db"{/if} >$v[price]</span>
        </td>
        <td class="noktime" width="23%">
            <p {if $v[times]==0}class="yred" {else} class="lvse" {/if}title="任务接手付款后，$lang[times][$v[times]]立即对宝贝进行收货好评！">$lang[times][$v[times]]</p>
            {if $v[isVerify]}<em title="接任务者需要发布者核审" class="rwdt_yq1">&nbsp;</em>{/if}
            {if $v[isChat]}<em title="任务需要旺旺模拟咨询再拍下" class="rwdt_yq4">&nbsp;</em>{/if}
            {if $v[ispinimage]} <em title="接任务者需要上传好评图片" class="rwdt_yq6" onclick="dialog(600,500,'淘宝平台任务截图上传','/dialog/uphaoping/?sid=$v[id]');">&nbsp;</em>{/if}
            {if $v[isRemark]}<em title="按发布者提供的评语进行评价" class="rwdt_yq2">&nbsp;</em>{/if}
            {if $v[isReal]}<em title="接手买号必须通过了支付宝实名认证" class="rwdt_yq21">&nbsp;</em>{/if}
            {if $v[isAddress]}<em class="rwdt_yq3" title="任务需要指定收货地址">&nbsp;</em>{/if}
            {if $v[isLimitCity]}<em class="rwdt_yqip" title="要求接手方地址是...">&nbsp;</em>{/if}
            {if $v[isShare]}<em title="好评后对宝贝进行分享" class="rwdt_yq20">&nbsp;</em>{/if}
            {if $v[isChatDone]}<em title="任务需要模拟聊天后确认收货" class="rwdt_yq17">&nbsp;</em>{/if}

        </td>
        <td class="yf_pd" align="center" width="120">
            <span class="chengse" ><strong style="color:#390;">$v[point]个麦点</strong></span>
        </td>
        <td class="yf_pd" align="center" width="120">
            {if $v[complain]}
            <span class="chengse">申诉裁定中,任务锁定</span>
            {else}
            <span class="chengse"><strong>$lang['status'][$v['status']]</strong></span><br />
	            {if $v[status]==9}
                	{if $v[ispinimage] && $v[pinimage]}<a href="javascript:dialog(600,500,'淘宝平台任务截图上传','/dialog/uphaoping/?sid=$v[id]');">查看好评截图</a><br />{/if}
                	{if $v[isShare] && $v[shareimage]}<a href="javascript:dialog(600,500,'淘宝平台任务截图上传','/dialog/uphaoping/?sid=$v[id]');">查看分享截图</a><br />{/if}
	            {/if}
            {/if}
        </td>
        <td class="yf_pd2" style="padding:0px;" align="right" valign="top" width="280">
            {if $v[status]==0}

            <p style="height:30px; position:relative; top:5px;" id="$v[id]">
                <a href="$thisUrl&resume=$v[id]" onclick="return confirm('您确定要恢复任务么？');" class="yf_hfrw">恢复任务</a>
            </p>
            <p style="clear:both; line-height:30px;height:30px;"></p>

            {elseif $v[status]==1}
            <p style="height:30px; position:relative; top:5px;" id="$v[id]">
                <a href="javascript:;"  onclick="return copyComment('$v[itemurl]')" class="yf_check">等待接手</a>
            </p>
            <p style="clear:both; line-height:30px;height:30px;"></p>

            {elseif $v[status]==3}
            <p style="height:30px; position:relative; top:5px;" id="$v[id]">
                <a  class="yf_shtg" href="$thisUrl&verify=$v[id]" onclick="return IsConfirmTask('淘宝')" >接手方已确认，等待您核实</a>
            </p>
            {elseif $v[status]==4}
            <p style="height:30px; position:relative; top:5px;" id="$v[id]">
                <a class="yf_addtime" href="$thisUrl&addtime=$v[id]">等待接手人对商品付款</a>
            </p>
            <p style="clear:both; line-height:30px;height:30px;">
                剩余付款时间：<span class="lvse strong" id="iidd_1"><script type="text/javascript">fleshTime($v[runTimestamp2])</script></span>
            </p>


            {elseif $v[status]==7}
            <p style="height:30px; position:relative; top:5px;" id="$v[id]">
                <a href="$thisUrl&send=$v[id]" onclick="return IsSendTask()" class="yf_fahuo">我已发货</a>
            </p>
            <p style="clear:both; line-height:30px;height:30px;">
                核对买号<span class="lvse strong" onclick="return copyComment('$v[bnickname]')">$v[bnickname]</span>付款后再发货
            </p>
            {elseif $v[status]==8}
            <p style="height:30px; position:relative; top:5px;" id="$v[id]">
                <a href="javascript:;" class="yf_haopin">等待接手方收货好评</a>
            </p>
            {if $v[runTimestamp3]<=0}
            <p style="clear:both; line-height:30px;height:30px;">
                核对买号<span class="lvse strong" onclick="return copyComment('$v[bnickname]')">$v[bnickname]</span>收货好评后再确认
            </p>
            {/if}
            {if $v[runTimestamp3]>0}
            <font color="#fe5500">{echo time::hours($v[runTimestamp3])}</font>小时后允许收货
            {/if}

            {elseif $v[status]==9}
            <p style="height:30px; position:relative; top:5px;" id="$v[id]">
                <a  class="yf_haopinck" href="$thisUrl&confirm=$v[id]" onclick="return IsConfirmTask('淘宝')" >接手方已确认，等待您核实</a>
            </p>
            <p style="clear:both; line-height:30px;height:30px;">收货时间已到，等待对方淘宝确认收货</p>

            {elseif $v[status]==10}
            <p style="height:60px; position:relative; top:5px;" id="$v[id]">
                                    <a href="javascript:;" onclick="dialog(600,500,'{$web_name}平台任务满意度评分','/dialog/grade/?sid=$v[id]');return false;" style="margin-left:5px;" class="yf_pinjia float_r" title="给发布方打分" id="grade_$v[id]">&nbsp;</a>
                <!--a href="javascript:;" onclick="dialog(600,500,'发布追评任务','/dialog/review/?sid=$v[id]');return false;" class="yf_review float_r" style="margin-left:5px;color:#86454f;">追加评论</a-->
            </p>
            <p style="clear:both; line-height:20px;height:20px;">评价状态：<font color="#fe5500">$lang[cStatus][$v[credit]]</font></p>
            {/if}
            {if $v[status]==0}
            <p class="task-border">
                | <a href="$thisUrl&repost=$v[id]" onclick="return IsReTask();" title="重新发布" style="color:#999">重新发布</a>
                | <a href="$thisUrl&del=$v[id]" onclick="return IsDelTask();" title="取消发布" class="yf_wz" style="color:#999">取消</a>
                |<a href="javascript:;" style="background:url(/images/{if $v[s_memo]}memo.png{else}bz_no.png{/if}) no-repeat 8px; height:12px;top:2px;" onclick="ShowRemark('$v[id]','$v[s_memo]');" class="yf_bz"></a>
            </p>

            {elseif $v[status]==1}
            <p class="task-border">
                | <a href="$thisUrl&pause=$v[id]" onclick="return confirm('您确定要暂停任务么？')" style="color:#999">暂停</a>
                | <a href="$thisUrl&del=$v[id]" onclick="return IsDelTask();" title="取消发布" class="yf_wz" style="color:#999">取消</a>
                |<a href="javascript:;" style="background:url(/images/{if $v[s_memo]}memo.png{else}bz_no.png{/if}) no-repeat 8px; height:12px;top:2px;" onclick="ShowRemark('$v[id]','$v[s_memo]');" class="yf_bz"></a>
            </p>
            {else}
            <p class="task-border" >
                <span style="color:#999">联系对方：</span><a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin={$v[qq]}&site=qq&menu=yes">
                <img border="0" src="http://wpa.qq.com/pa?p=2:{$v[qq]}:41" alt="联系我" title="联系我"> <a href="javascript:;" onclick="dialog(460,460,'给买家发送手机短信','/dialog/sendsms/?username={url $v[susername]}');return false;" title="给买家发送手机短信" alt="给买家发送手机短信" class="yf_sj"></a>
                |<a href="$thisUrl&repost=$v[id]" onclick="return IsReTask();" style="color:#999">重新发布</a>
                |<a href="javascript:;" style="background:url(/images/{if $v[s_memo]}memo.png{else}bz_no.png{/if}) no-repeat 8px; height:12px;top:2px;" onclick="ShowRemark('$v[id]','$v[s_memo]');" class="yf_bz"></a>

            </p>
            {/if}
        </td>
        <td width="15">&nbsp;</td>
    </tr>

    <tr>
        <!-- jifen_date -->
        <td colspan="9" class="yfrw_listxia" align="right" valign="middle">
            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                <tr>
                    <td style="padding-left:20px; color:#3372A2;" align="left" width="40%">客服不会主动联系操作任务、平台没有充值活动谨防假冒<br>如果选择了好评截图，请点击<span style="color: red;">评图图标</span>查看买家上传的好评图。</td>
                    <td align="right" width="50%">　
                        {if $v[status]>=4}
				<span class="in_block">
				接手方：<a href="{rewrite}/member/info/?username={url $v[busername]}" target="_blank" class="comlink">$v[busername]<img src="$memberLevel[icon]" alt="积分：$memberFields[credits]" /></a></a>
				</span>
				<span class="col33 in_block">(IP：{ip $ipint})
				</span>
				<span class="in_block"><span class="yf_wwtx"></span>
				采用买号：{if $v[bid]}<a href="javascript:;" onclick="dialog(460,460,'买号信息查看','{rewrite}/dialog/buyerInfo/?id=$v[bid]');return false;" class="comlink">$v[bnickname]</a> $v[bico]{/if}
				</span>
                        {/if}
				<span class="in_block"><a href="javascript:;" onclick="return copyComment('$v[itemurl]')" class="vse3 strong">复制宝贝地址</a>
				</span>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    {if $v[cbxIsTip]}
    <tr>
        <td class="yf_ts1" height="40" colspan="9">
            <span class="yf_mjly"></span>
            <span class="chengse strong" style="color:##FE5500;">$v[tips]</span>
        </td>
    </tr>
    {/if}
    {if $v[isRemark]}
    <tr>
        <td colspan="9" class="yf_ts2" align="right" valign="middle">
            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                <tr>
                    <td style="padding-left:0px; color:#3372A2;"  align="left" width="85%">
                        <span class="yf_gdhp"></span>
                        <span class="chengse strong" style="color:#FE5500;">$v[remark]</span>
                        <span class="chengse strong"></span>
                    </td>
                    <td align="right" width="15%">　

				<span class="in_block"><a href="javascript:;" onclick="return copyComment('$v[remark]')" class="yf_fz1"></a>
				</span>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    {/if}
    {if $v[isAddress]}
    <tr>
    <td colspan="9" class="yf_ts2" align="right" valign="middle">
        <table border="0" cellpadding="0" cellspacing="0" width="100%">
            <tr>
                <td style="padding-left:0px; color:#3372A2;"  align="left" width="85%">
                    <span class="yf_gdsh"></span>
                    <span>姓名：</span>
                    <strong class="orange" style="color:red;">$v[cbxName]</strong>
                    <span class="address-title">地址：</span>
                    <strong class="orange" style="color:red;">$v[cbxAddress]</strong>
                    <span class="address-title">电话：</span>
                    <strong class="orange" style="color:red;">$v[cbxMobile]</strong>
                    <span class="address-title">邮编：</span>
                    <strong class="orange" style="color:red;">$v[cbxcode]</strong>
                    <span class="yf_fzhp"></span>
                </td>
                <td align="right" width="15%">　

				<span class="in_block"><a href="javascript:;" onclick="return copyComment('$v[cbxName],$v[cbxAddress],$v[cbxMobile],$v[cbxcode]')" class="yf_fz2"></a>
				</span>
                </td>
            </tr>
        </table>
    </td></tr>
    {/if}
    {eval $allPrice += $v[price];}
    {eval $allPoint += $v[point];}
    {/loop}
    <div style="padding-top:10px;">本页任务的资金合计：<span class="chengse">$allPrice </span> 元　麦点合计：<span class="chengse">$allPoint</span> 个</div>
    <div class="rwdt_dlm">
        <div id="page" style="margin:0px 10px 10px;">

        </div>
    </div>
    <div class="cle"></div>
    <div id="showtask" style="display:none;">
        <div style=" height:350px;"><iframe name="contentframe" id="contentframe" src="" frameborder="0" height="350" width="540" scrolling="no"></iframe> </div>
    </div>
    </tbody>
</table>

<div class="rwdt_dlm">
    <div id="page" style="float:right;">
        $multipage
    </div>
</div>
