{teval
	$title       = '{webName}-全托刷钻-刷信誉，保证质量 安全高效';
	$title       = common::replaceVars($title);
	$keywords    = common::replaceVars($keywords);
	$description = common::replaceVars($description);
	$cssList     = array(css::getUrl('index', 'index'));
	echo string::getStaticCode(array('title' => $title, 'keywords' => $keywords, 'description' => $description,'cssList'=>$cssList, 'jsList'=>$jsList));
}
{sub ../headerBase}
<link type="text/css" rel="stylesheet" href="{$__tplUrl}daishua/css/" />
<div id="container">
	<div class="b1">
		<h2 class="h2">代刷说明</h2>
		<img src="{$__tplUrl}daishua/images/2.jpg" class="bi"/>
		<ul class="bul">
			<li>◆无风险代刷：少信誉我们补，封店全赔，绝对安全最放心的代刷。</li>
			<li>◆时间短费用低，安全系数高，价格优惠正规代刷，安全可靠。</li>
			<li>◆全国最先进的代刷技术，安全不缺乏真实感。</li>
		</ul>
		<p class="bp">全托代刷淘宝信誉服务。</p>
		<p class="bp">◆ 时间短费用低，安全系数高，只需要您把店铺全权交给我们，一切由我们为您服务。</p>
		<p class="bp">◆ 我们在规定的时间内刷好交还给您一个满意的店铺。</p>
		<p class="bp">◆ 真诚期待您加入收摘网。收摘人和您一起奋斗,加油。</p>
	</div>
	<a href="#"><img src="{$__tplUrl}daishua/images/48.gif" class="ad"/></a>
	<div class="b2">
		<h2 class="h2a">代刷价格</h2>
		<table id="table" summary="">
			<tr>
				<td class="td"><span class="dn">◆ 1钻</span><img src="{$__tplUrl}daishua/images/51.gif" class="d"/></td>
				<td class="td1">250个信誉</td>
				<td class="td2">550元</td>
				<td class="td3">完成周期20天</td>
			</tr>
			<tr>
				<td class="td"><span class="dn">◆ 2钻</span><img src="{$__tplUrl}daishua/images/51.gif" class="d"/><img src="{$__tplUrl}daishua/images/51.gif" class="d"/></td>
				<td class="td1">500个信誉</td>
				<td class="td2">850元</td>
				<td class="td3">完成周期30天</td>
			</tr>
			<tr>
				<td class="td"><span class="dn">◆ 3钻</span><img src="{$__tplUrl}daishua/images/51.gif" class="d"/><img src="{$__tplUrl}daishua/images/51.gif" class="d"/><img src="{$__tplUrl}daishua/images/51.gif" class="d"/></td>
				<td class="td1">1001个信誉</td>
				<td class="td2">1500元</td>
				<td class="td3">完成周期60天</td>
			</tr>
			<tr>
				<td class="td"><span class="dn">◆ 4钻</span><img src="{$__tplUrl}daishua/images/51.gif" class="d"/><img src="{$__tplUrl}daishua/images/51.gif" class="d"/><img src="{$__tplUrl}daishua/images/51.gif" class="d"/><img src="{$__tplUrl}daishua/images/51.gif" class="d"/></td>
				<td class="td1">2001个信誉</td>
				<td class="td2">2500元</td>
				<td class="td3">完成周期100天</td>
			</tr>
		</table>
	</div>
	<div class="b3">
		<h2 class="h2">代刷FAR</h2>
		<p>◆ 代刷审核期间一般需要2到3天，在这个期间禁止登陆店铺。防止异地带来封店的危险。</p>
		<p>◆ 淘宝、支付宝必须关闭第二代保护证书，不关闭则严重影响代刷速度。</p>
		<p>◆ 代刷店铺必须在审核期下架所有商品，防止与代刷冲突。</p>
	</div>
	<div class="b4">
		<h2 class="h2">代刷资料的提交</h2>
		<table class="t1" summary="">
			<tr>
				<td>◆ 提供:淘宝用户名</td>
				<td>◆ 提供:目前信誉个数</td>
			</tr>
			<tr>
				<td>◆ 提供:淘宝登陆密码</td>
				<td>◆ 提供:目标信誉个数</td>
			</tr>
			<tr>
				<td>◆ 提供:支付宝用户名</td>
				<td>◆ 提供:联系电话号码</td>
			</tr>
			<tr>
				<td>◆ 提供:支付宝登陆密码</td>
				<td>◆ 提供:联系QQ号码</td>
			</tr>
			<tr>
				<td>◆ 提供:支付宝登支付密码</td>
				<td></td>
			</tr>
		</table>
	</div>
	<div class="clear"></div>
{sub ../footer}